Repository ansys/pyaedt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys, @jsalant22, @myoung301

.github/CODEOWNERS:

.github/* @MaxJPRey @maxcapodi78 @Samuelopez-ansys

/_unittest/test_26_emit.py @jsalant22 @myoung301
/pyaedt/emit.py @jsalant22 @myoung301
/pyaedt/emit_core/ @jsalant22 @myoung301
/pyaedt/modeler/circuits/PrimitivesEmit.py @jsalant22 @myoung301
/examples/07-EMIT/ @jsalant22 @myoung301

Updated CICD to v232
  .github/workflows/cpython_linux.yml
  _unittest/conftest.py
  _unittest_ironpython/run_unittests_batchmode.cmd
Owners: none

Various improvement to error handler to have much more details on the failed caller method, the method which fails and the inner AEDT calls that failed (#3262)
  _unittest/conftest.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/PrimitivesTwinBuilder.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/Mesh.py
  pyaedt/q3d.py
Owners: none

Apply suggestions from code review
  examples/07-EMIT/interference_gui.py.back
Owners: @jsalant22, @myoung301

add functions for region properties changes
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Owners: none

refactored downloads.py
  pyaedt/downloads.py
Owners: none

fix ut
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Owners: none

moved support code for examples
  examples/07-EMIT/ComputeInterferenceType.py.back
  examples/07-EMIT/ComputeProtectionLevels.py.back
  examples/07-EMIT/interference_gui.py.back
  pyaedt/emit_core/interference_classification.py
Owners: @jsalant22, @myoung301

update
  pyaedt/edb_core/stackup.py
Owners: none

fixed codacy issues
  pyaedt/emit_core/interference_classification.py
Owners: @jsalant22, @myoung301

failing ironpython ut skipped
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_ironpython/run_unittests.py
  pyaedt/desktop.py
Owners: none

refactored downloads.py (#3268)
  pyaedt/downloads.py
Owners: none

delete original face object
  pyaedt/modeler/circuits/object3dcircuit.py
Owners: none

show bitmap image option when creating Nport component
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Owners: none

improve coverage
  _unittest/test_98_Icepak.py
Owners: none

fix ironpy
  _unittest/test_98_Icepak.py
Owners: none

move functions to 3d modeler
  _unittest/test_02_3D_modeler.py
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modeler/modeler3d.py
Owners: none

move functions to 3d modeler
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Owners: none

add docstring
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Owners: none

Bug fix (#3269)
  pyaedt/edb_core/edb_data/nets_data.py
Owners: none

failing ironpython ut skipped
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest_ironpython/run_unittests.py
Owners: none

delete original face object (#3271)
  pyaedt/modeler/circuits/object3dcircuit.py
Owners: none

failing ironpython ut skipped
  _unittest/test_27_Maxwell2D.py
Owners: none

- removed non_graphical, machine and port from settings. They are now in class Desktop - introduced variable Desktop._invoked_from_design and method _init_desktop_from_design
  _unittest/conftest.py
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/generic/desktop_sessions.py
  pyaedt/generic/settings.py
  pyaedt/hfss3dlayout.py
  pyaedt/mechanical.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modules/PostProcessor.py
Owners: none

failing ironpython ut skipped
  _unittest_ironpython/run_unittests.py
  _unittest_ironpython/test_41_3dlayout_modeler.py
Owners: none

show bitmap image option when creating Nport component (#3274)
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Owners: none

Region properties functions (#3267)
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Owners: none

failing ironpython ut skipped
  _unittest/test_01_Design.py
  _unittest_ironpython/run_unittests.py
  _unittest_ironpython/test_01_downloads.py
Owners: none

fixed codacy issues
  pyaedt/emit_core/interference_classification.py
Owners: @jsalant22, @myoung301

minor Example docstrings
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
Owners: none

minor fix
  pyaedt/generic/general_methods.py
Owners: none

Update to v0.6.85
  pyaedt/__init__.py
Owners: none

Refactoring EMIT examples for documentation (#3255)
  examples/07-EMIT/ComputeInterferenceType.py.back
  examples/07-EMIT/ComputeProtectionLevels.py.back
  examples/07-EMIT/interference_gui.py.back
  pyaedt/emit_core/interference_classification.py
Owners: @jsalant22, @myoung301

- created _init_from_design - added test_launch_desktop.py to unittests
  .github/labeler.yml
  _unittest/conftest.py
  _unittest/launch_desktop_tests.py
  _unittest/test_launch_desktop.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys, @jsalant22, @myoung301

padstack def hole range bug fixed
  pyaedt/edb_core/padstack.py
Owners: none

- merged settings.py
  pyaedt/generic/settings.py
Owners: none

- docstring fixed
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/settings.py
  pyaedt/misc/misc.py
Owners: none

update
  _unittest/example_models/TEDB/stackup_laminate.xml
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/stackup.py
Owners: none

update
  _unittest/test_00_EDB.py
  pyaedt/edb_core/stackup.py
Owners: none

update
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/stackup.py
Owners: none

update
  pyaedt/edb_core/stackup.py
Owners: none
