Repository ansys/pyaedt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys, @jsalant22, @myoung301

.github/CODEOWNERS:

.github/* @MaxJPRey @maxcapodi78 @Samuelopez-ansys

/_unittest/test_26_emit.py @jsalant22 @myoung301
/pyaedt/emit.py @jsalant22 @myoung301
/pyaedt/emit_core/ @jsalant22 @myoung301
/pyaedt/modeler/circuits/PrimitivesEmit.py @jsalant22 @myoung301
/examples/07-EMIT/ @jsalant22 @myoung301

improve model_depth getter setter
  pyaedt/maxwell.py
Owners: none

No cover
  pyaedt/modules/MeshIcepak.py
Owners: none

Add UT
  _unittest/test_08_Primitives3D.py
Owners: none

Setter should not return anything
  pyaedt/maxwell.py
Owners: none

Fix/issue 3527: Fix for with virtual mesh region 3D components are not getting meshed. (#3738)
  pyaedt/modules/MeshIcepak.py
Owners: none

Fillet chamfer docstring update (#3768)
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
Owners: none

improve model_depth getter setter (#3771)
  pyaedt/maxwell.py
Owners: none

DOC: force intersphinx to use Python 3.11 docs (#3722)
  doc/source/conf.py
Owners: none

CI: Add edb label to labels.yml
  .github/labels.yml
Owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys

Adds methods to set band start and stop frequencies, and corresponding unit tests.
  _unittest_solvers/test_26_emit.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Owners: @jsalant22, @myoung301

test update edb.py
  pyaedt/edb.py
Owners: none

Docstring edits - parameter type for band_node, added examples
  pyaedt/modeler/circuits/PrimitivesEmit.py
Owners: @jsalant22, @myoung301

fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Owners: none

Disable PDF Documentation
  .github/workflows/full_documentation.yml
Owners: none

Disable PDF Documentation (#3777)
  .github/workflows/full_documentation.yml
Owners: none

Update to 0.7.2
  pyaedt/__init__.py
Owners: none

fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Owners: none

Use ansys fork of pyaedt
  pyproject.toml
Owners: none

fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Owners: none

Add component name
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Owners: none

improve HFSS Spiral example
  examples/02-HFSS/HFSS_Spiral.py
Owners: none

fix export_summary, add filename and enhance variable naming
  pyaedt/icepak.py
Owners: none

add check design type (#3746)
  pyaedt/modeler/cad/Primitives2D.py
Owners: none

Bump to ansys-pythonnet 3.1.0rc3
  pyproject.toml
Owners: none

Add component name (#3781)
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Owners: none

improve export_summary test
  _unittest_solvers/test_00_analyze.py
Owners: none

Deprecation warning
  pyaedt/icepak.py
Owners: none

Add coordinate system
  pyaedt/modeler/cad/component_array.py
Owners: none

clean create_reion method
  pyaedt/modeler/cad/Primitives2D.py
Owners: none

Fix/issue 3260 (#3782)
  _unittest_solvers/test_00_analyze.py
  pyaedt/icepak.py
Owners: none

Add docstring for MeshRegion class.
  pyaedt/modules/MeshIcepak.py
Owners: none

fix
  pyaedt/edb_core/components.py
Owners: none

Add docstring for MeshRegion class. (#3785)
  pyaedt/modules/MeshIcepak.py
Owners: none

clean create_reion method (#3783)
  pyaedt/modeler/cad/Primitives2D.py
Owners: none

improve hfss example
  examples/02-HFSS/HFSS_Spiral.py
Owners: none

Refresh IDs to get port information
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Owners: none

Add radiation option to create_pcb_from_3dlayout
  pyaedt/icepak.py
Owners: none

Fix vale
  doc/styles/Vocab/ANSYS/accept.txt
Owners: none

Improve hfss example (#3786)
  examples/02-HFSS/HFSS_Spiral.py
Owners: none

Fix vale
  doc/source/Getting_started/Quickcode.rst
  doc/source/Getting_started/Troubleshooting.rst
  doc/styles/Vocab/ANSYS/accept.txt
Owners: none
