Repository ansys/pyaedt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys, @jsalant22, @myoung301

.github/CODEOWNERS:

.github/* @MaxJPRey @maxcapodi78 @Samuelopez-ansys

/_unittest/test_26_emit.py @jsalant22 @myoung301
/pyaedt/emit.py @jsalant22 @myoung301
/pyaedt/emit_core/ @jsalant22 @myoung301
/pyaedt/modeler/circuits/PrimitivesEmit.py @jsalant22 @myoung301
/examples/07-EMIT/ @jsalant22 @myoung301

ci: move wheelhouse to nightly build
  .github/workflows/ci_cd.yml
  .github/workflows/ci_cd_night.yml
Owners: none

ci: group tests
  .github/labels.yml
  .github/workflows/ci_cd.yml
Owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys

fix: syntax
  .github/workflows/ci_cd.yml
Owners: none

ci: use label-based workflow
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Owners: none

fix: pwsh multi-line syntax
  .github/workflows/ci_cd.yml
Owners: none

fix: duplicated labeling logic
  .github/labeler.yml
Owners: @MaxJPRey, @maxcapodi78, @Samuelopez-ansys

ci: add main workflow
  .github/workflows/ci_cd_main.yml
Owners: none

ci: group tests
  .github/workflows/ci_cd.yml
Owners: none

improve test
  _unittest/test_34_TwinBuilder.py
  pyaedt/twinbuilder.py
Owners: none

fix arg
  pyaedt/modules/solutions.py
Owners: none

fix: syntax
  .github/workflows/ci_cd_pr.yml
Owners: none

FIX: desktop non graphical flag (#4804)
  doc/source/create_documentation.bat
  examples/01-Modeling-Setup/Optimetrics.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/PostProcessor.py
Owners: none

Add icon
  pyaedt/workflows/project/images/large/aedb.png
Owners: none

improve intrinsics
  pyaedt/modules/solutions.py
Owners: none

FIX: Add icon EDB extension (#4808)
  pyaedt/workflows/project/images/large/aedb.png
Owners: none

reduced matrix create_report
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Owners: none

CHORE: mutable args (#4805)
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modules/solutions.py
Owners: none

Improved context in case of multiple Tx and Rx components
  pyaedt/modules/report_templates.py
Owners: none

Fixed multi
  pyaedt/application/Design.py
  pyaedt/desktop.py
Owners: none

Fixed multi
  pyaedt/workflows/project/images/large/aedb.png
Owners: none

fixed topics
  pyproject.toml
Owners: none

Valid context arguments in case of Statistical Eye and BER contour plots
  pyaedt/modules/report_templates.py
Owners: none

FIX: Project classifier to be PyPI compatible
  pyproject.toml
Owners: none

boundary matrix implementation
  pyaedt/modules/Boundary.py
Owners: none

ef field tangential m2d
  pyaedt/misc/expression_catalog.toml
Owners: none

test
  _unittest_solvers/example_models/T45/m2d_elec_fields_calc.aedtz
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/expression_catalog.toml
Owners: none

test
  _unittest_solvers/test_45_workflows.py
Owners: none

FIX: Project classifier to be PyPI compatible (#4812)
  pyproject.toml
Owners: none

fix: imp module deprecated
  pyaedt/emit_core/__init__.py
Owners: @jsalant22, @myoung301

fix: imp module deprecated
  pyaedt/emit_core/__init__.py
Owners: @jsalant22, @myoung301

FIX: Use of deprecated module impt
  pyaedt/emit_core/__init__.py
Owners: @jsalant22, @myoung301

CHORE: Update warning msg to match other warnings
  pyaedt/modeler/schematic.py
Owners: none

ci: add ci_cd_release.yml
  .github/workflows/ci_cd_release.yml
Owners: none

ci: update ci_cd_release.yml jobgs
  .github/workflows/ci_cd_release.yml
Owners: none

fixed topics
  pyaedt/desktop.py
Owners: none

fix test
  _unittest_solvers/test_45_workflows.py
Owners: none

FIX: Typo
  pyaedt/emit_core/__init__.py
Owners: @jsalant22, @myoung301

Fix global mesh region edit
  pyaedt/modules/MeshIcepak.py
Owners: none

Push transient excitation in 3DLayout extension
  _unittest_solvers/test_45_workflows.py
  pyaedt/generic/general_methods.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/workflows/hfss3dlayout/push_excitation_from_file_3dl.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
Owners: none

Add warning when the key is wrong
  pyaedt/modules/MeshIcepak.py
Owners: none
