Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Fix version issue
  pyaedt/workflows/customize_automation_tab.py
Labels: none

Fix version agnostic
  pyaedt/workflows/customize_automation_tab.py
Labels: none

REFACTOR: Add examples to nightly doc build
  .github/workflows/nightly-docs.yml
Labels: maintenance

Fix version agnostic
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/toolkit_manager.py
Labels: none

Fix version agnostic
  pyaedt/workflows/customize_automation_tab.py
Labels: none

fixed script
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/project/toolkits_catalog.toml
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

improve error handling
  pyaedt/modules/MeshIcepak.py
Labels: none

better error handling for 3d comp
  pyaedt/modeler/modeler3d.py
Labels: none

REFACTOR: Fix installer (#4634)
  _unittest/test_01_Design.py
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Add toolkit manager
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkit_manager_1.png
  doc/source/Resources/toolkit_manager_2.png
  doc/source/Resources/toolkits_ribbon.png
  doc/source/Resources/wheelhouse_installation.png
Labels: none

Import matplotlib if not ironpython
  pyaedt/modules/solutions.py
Labels: none

DOCS: installer documentation (#4635)
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkit_manager_1.png
  doc/source/Resources/toolkit_manager_2.png
  doc/source/Resources/toolkits_ribbon.png
  doc/source/Resources/wheelhouse_installation.png
Labels: none

Update v0.8.11
  pyaedt/__init__.py
Labels: none

fix for mesh region except
  pyaedt/modules/MeshIcepak.py
Labels: none

improve nastran method
  pyaedt/modeler/modeler3d.py
Labels: none

improve nastran method
  pyaedt/modeler/modeler3d.py
Labels: none

improve nastran method
  pyaedt/modeler/modeler3d.py
Labels: none

Update messages
  pyaedt/modules/MeshIcepak.py
Labels: none

Update v0.10.0.dev
  pyaedt/__init__.py
Labels: none

REFACTOR: improve import_nastran method (#4637)
  pyaedt/modeler/modeler3d.py
Labels: none

Update v0.9.0
  pyaedt/__init__.py
Labels: none

CHORE: Bump version into v0.10.dev0 (#4639)
  pyaedt/__init__.py
Labels: none

DOCS: Add download PDF button for release
  doc/source/conf.py
Labels: documentation

DOC: Fix vale report on doc style
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

FIX: Extend accept vocabulary
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

DOC: Add thumbnails manually
  doc/source/_static/thumbnails/icepak_graphic_card_example.png
  doc/source/conf.py
  examples/04-Icepak/Icepak_Example.py
Labels: documentation, examples

improve nastran method. When only solids where present in the model, it was not importing in AEDT.
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

DOCS: Fix vale report on doc style (#4643)
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

CHORE: Update pyedb dependency
  pyproject.toml
Labels: maintenance

FIX: improve nastran method. (#4646)
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

CHORE: Update pyedb dependency (#4648)
  pyproject.toml
Labels: maintenance

CHORE: allow latest PyEDB version
  pyproject.toml
Labels: maintenance

Remove pyedb from test dependencies
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Use RunProgram instead of subprocess
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Fix errors
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Fix indent
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Add template script if use does not pass an script
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/templates/toolkit_template.py
Labels: none

Same CMD file for each toolkit to not create duplicated files
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Test unittest
  .github/workflows/ci_cd.yml
  _unittest/test_12_1_PostProcessing.py
Labels: maintenance
