Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

TESTS: Add tests on utility functions
  _unittest/test_utils.py
Labels: none

improved decimation alghoritm
  _unittest/example_models/T20/sphere.stl
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

Update pyaedt/modeler/modeler3d.py
  pyaedt/modeler/modeler3d.py
Labels: none

Update pyaedt/modeler/modeler3d.py
  pyaedt/modeler/modeler3d.py
Labels: none

Update pyaedt/modeler/modeler3d.py
  pyaedt/modeler/modeler3d.py
Labels: none

reverted change
  pyaedt/desktop.py
Labels: none

CHORE: expose show for plotting
  pyaedt/generic/plot.py
  pyaedt/modules/solutions.py
Labels: none

DOCS: Update readme
  README.md
Labels: documentation

Update _unittest/test_utils.py
  _unittest/test_utils.py
Labels: none

fixed ut
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
Labels: none

Update README.md
  README.md
Labels: documentation

add filtering options
  pyaedt/modules/Boundary.py
Labels: none

fixed ut
  pyaedt/modeler/modeler3d.py
Labels: none

Apply suggestions from code review
  README.md
Labels: documentation

DOCS: Update readme
  README.md
Labels: documentation

CHORE: Update PostProcessor.create_3d_plot
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

Update _unittest/test_utils.py
  _unittest/test_utils.py
Labels: none

fixed _get_primitives_points_per_net since it cannot handle bondwires.
  pyaedt/modules/SolveSetup.py
Labels: none

Prefix dependabot's PR with "CHORE".
  .github/dependabot.yml
Labels: maintenance

TESTS: Extend test with message check
  _unittest/test_utils.py
Labels: none

CHORE: Remove dependency to scikit-learn
  pyproject.toml
Labels: maintenance

CHORE: Update conftest to avoid 'ON_CI'
  _unittest/conftest.py
  pyaedt/generic/plot.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/modules/solutions.py
Labels: testing

Apply suggestions from code review
  pyaedt/generic/plot.py
  pyaedt/modules/solutions.py
Labels: none

CHORE: Update plot.py
  pyaedt/generic/plot.py
Labels: none

Update mirror in components_3d.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

Update mirror in object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

CHORE: Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update pyaedt/generic/plot.py
  pyaedt/generic/plot.py
Labels: none

FIX: Function is_notebook
  pyaedt/generic/plot.py
Labels: none

DOCS: Update readme (#4709)
  README.md
Labels: documentation

Update mirror components_3d.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

Update object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

CHORE: Prefix dependabot's pull requests with "CHORE". (#4711)
  .github/dependabot.yml
Labels: maintenance

Apply suggestions from code review
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

complete refactoring of grpc_plugin modules in a new, pythoning grpc_plugin_dll_class.py This should enable multiple desktop
  _unittest/test_01_Design.py
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin.py
  pyaedt/generic/grpc_plugin_dll.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

create new assign priority function
  pyaedt/modules/MeshIcepak.py
Labels: none

FEAT: added options to decimate and to group when importing nastran file. (#4698)
  _unittest/example_models/T20/sphere.stl
  _unittest/test_20_HFSS.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyproject.toml
Labels: maintenance

CHORE: expose show for plotting (#4708)
  pyaedt/generic/plot.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/solutions.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

Update mirror in components_3d.py
  pyaedt/modeler/cad/components_3d.py
Labels: none
