Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

SPISIM coverage
  _unittest_solvers/test_00_analyze.py
  pyaedt/generic/spisim.py
Labels: none

REFACTOR: Issue launch toolkit from aedt (#4652)
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/installer/create_report.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/toolkit_template.py
Labels: none

FEAT: Add enforce touchstone model passive function.
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

FEAT: added method to tune derivatives value (#4657)
  _unittest/test_20_HFSS.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
Labels: none

Apply suggestions from code review
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

added exception
  pyaedt/modeler/modeler3d.py
Labels: none

Fix Circuit crash due to IBIS Model without diff pin (Issue-4598)
  pyaedt/generic/ibis_reader.py
Labels: none

Add nosec
  pyaedt/modeler/modeler3d.py
Labels: none

Refactor code implementation and add unit test case.
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Change unit test function name.
  _unittest/test_21_Circuit.py
Labels: none

SPISIM Linux fix
  pyaedt/generic/spisim.py
Labels: none

Add nosec
  pyaedt/generic/touchstone_parser.py
Labels: none

Let the method return a value of type bool
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

FIX: grid points import where e letter is already part of the nas file (#4658)
  pyaedt/modeler/modeler3d.py
Labels: none

Update object3dcircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Update _unittest/test_21_Circuit.py
  _unittest/test_21_Circuit.py
Labels: none

Update pyaedt/generic/spisim.py
  pyaedt/generic/spisim.py
Labels: none

Update pyaedt/generic/plot.py
  pyaedt/generic/plot.py
Labels: none

Update ibis_reader.py
  pyaedt/generic/ibis_reader.py
Labels: none

REFACTOR: SPISIM linux subprocess (#4665)
  _unittest_solvers/test_00_analyze.py
  pyaedt/generic/spisim.py
  pyaedt/generic/touchstone_parser.py
Labels: none

Cherry pick
  doc/source/errors.txt
  pyaedt/generic/ibis_reader.py
Labels: documentation

Cherry pick
  doc/source/errors.txt
Labels: documentation

Cherry pick
  _unittest/test_21_Circuit.py
Labels: none

FIX: Circuit crash due to IBIS Model without diff pin (#4667)
  pyaedt/generic/ibis_reader.py
Labels: none

FEAT: Improve antenna array processing and plotting (#4626)
  _unittest/test_12_PostProcessing.py
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

FEAT: enforce touchstone model passive (#4668)
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

CFGFILE call from Windows and Linux
  pyaedt/generic/spisim.py
Labels: none

Update v0.9.1
  pyaedt/__init__.py
Labels: none

refactoring kwargs maxwellcircuit.py, CableModeling.py, report_templates.py, general_methods.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_1_PostProcessing.py
  examples/02-HFSS/Create_3d_Component_and_use_it.py
  examples/02-HFSS/HFSS_Choke.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  examples/07-Circuit/Circuit_Transient.py
  pyaedt/generic/general_methods.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/CableModeling.py
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
Labels: examples

GetGrpcServerPort working from AEDT 2023.2
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Virtual environment created with python version name instead of AEDT version
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/toolkit_manager.py
Labels: none

added new workflow to Hfss to apply push excitation from transient data using fft.
  pyaedt/hfss.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss/toolkits_catalog.toml
Labels: none

Fix design_type in desktop.py
  pyaedt/desktop.py
Labels: none

added new workflow to Hfss to apply push excitation from transient data using fft.
  pyaedt/workflows/hfss/images/large/push.png
  pyaedt/workflows/hfss/push_excitation_from_file.py
Labels: none

Add Process ID for 2023R1 compatibility
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/toolkit_template.py
Labels: none

Fix version issue
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Pass process ID
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Pass process ID
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Fix issue
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Add XML even in previous versions
  pyaedt/workflows/customize_automation_tab.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
