Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

REFACTOR: minor change in GUI
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Fields Calculator moved
  doc/source/API/visualization/advanced.rst
  doc/source/API/visualization/plot.rst
  doc/source/API/visualization/post.rst
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/pyaedt/modules/fields_calculator.py
  src/pyaedt/visualization/post/fields_calculator.py
Labels: none

improve calculator write and add tests
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

pyaedt compatibility
  README.md
Labels: documentation

test: exclude native components from monitor mapping
  _unittest/test_01_configuration_files.py
Labels: none

fix: move user specified settings inside parse_settings_as_args
  src/ansys/aedt/core/modules/mesh_icepak.py
Labels: none

style: remove commented code
  src/ansys/aedt/core/generic/configurations.py
Labels: none

Fix variable override
  src/ansys/aedt/core/application/analysis.py
Labels: none

Simplify project
  _unittest_solvers/test_00_analyze.py
Labels: none

No cover
  src/ansys/aedt/core/application/analysis.py
Labels: none

DOCS: pyaedt compatibility requirements (#5198)
  README.md
Labels: documentation

REFACTOR: minor change in gui (#5197)
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Fix UT Fix vale
  doc/source/API/visualization/plot.rst
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/post_circuit.py
Labels: none

Fix comment
  src/ansys/aedt/core/visualization/post/post_circuit.py
Labels: none

Add GitHub comments
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  src/ansys/aedt/core/visualization/report/common.py
Labels: none

FIX: import_dxf q3d (#5167)
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/q3d.py
Labels: none

FEAT: Create SBR array (#5174)
  _unittest/example_models/T04/Cassegrain.aedt
  _unittest/example_models/T04/Cassegrain_231.aedt
  _unittest/example_models/T04/custom_array.sarr
  _unittest/example_models/T04/freighter_ship.stl
  _unittest/example_models/T04/test.ffd
  _unittest/test_01_configuration_files.py
  _unittest/test_04_SBR.py
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/monitor_icepak.py
Labels: none

Update EvaluatedPropValue 2025.1
  src/ansys/aedt/core/application/variables.py
Labels: none

fix test
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

More efficient unit test
  _unittest_solvers/test_00_analyze.py
Labels: none

Swap check order
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: none

Swap check order
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: none

FEAT: calculator_write implementation (#5165)
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

Fix vale
  doc/source/API/visualization/plot.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

CI: Avoid using self-hosted runners in drafts
  .github/workflows/ci_cd.yml
Labels: maintenance

Update src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: none

FIX: ACF file variable override bug (#5199)
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/application/analysis.py
Labels: none

FIX: Swap object rename order (#5200)
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: none

WIP: Try fix on if statement
  .github/workflows/ci_cd.yml
Labels: maintenance

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Fix EvaluatedValue
  _unittest/test_01_configuration_files.py.back
  _unittest/test_08_Primitives3D.py.back
  src/ansys/aedt/core/application/variables.py
Labels: none

Fix doc style
  doc/source/API/visualization/plot.rst
  src/ansys/aedt/core/visualization/advanced/spisim_com_configuration_files/com_parameters.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
Labels: none

Fix doc style
  src/ansys/aedt/core/visualization/post/compliance.py
Labels: none

Fix pdf
  src/ansys/aedt/core/visualization/plot/pdf.py
Labels: none

Add more documentation
  doc/source/API/visualization/advanced.rst
  doc/source/API/visualization/plot.rst
  doc/source/API/visualization/post.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

Fix doc style
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/plot/pdf.py
Labels: none

Fix typo
  doc/source/API/visualization/advanced.rst
Labels: none

Fix typo
  doc/source/API/visualization/advanced.rst
Labels: none

doc fixes
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none
