Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Fix bug
  src/ansys/aedt/core/hfss.py
Labels: none

added workbench_name list in MatProperties
  src/ansys/aedt/core/modules/material.py
Labels: none

Added first version of class MaterialWorkbench
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

Added first version of class MaterialWorkbench
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

Added first version of class MaterialWorkbench
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

Added docstring
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

Added docstring
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

Added docstring
  src/pyaedt/modules/MaterialWorkbench.py
Labels: none

moved file to ansys.aedt.core
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

fixed typos
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

added class docstring
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

Fix typo
  _unittest/test_20_HFSS.py
  src/ansys/aedt/core/hfss.py
Labels: none

FEAT: ConfigureEdb to support aedb (#5175)
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Revert array
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/hfss.py
Labels: none

WIP: Revert mono dep due to pyedb
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix DevicePropertiesReduced.csv
  _unittest_solvers/example_models/T45/DevicePropertiesReduced.csv
Labels: none

Add evaluated value exception
  _unittest/test_02_2D_modeler.py
  src/ansys/aedt/core/application/variables.py
Labels: none

DOCS: Python version deprecation breaking change
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

DOCS: Rephrase content
  doc/source/release_1_0.rst
Labels: documentation

FEAT: Set export touchstone in HFSS (#5163)
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
Labels: none

WIP: Revert removal of osmnx
  _unittest/test_04_SBR.py
  pyproject.toml
Labels: maintenance

lsf extension
  src/ansys/aedt/core/workflows/project/submit_job_on_cluster.py
Labels: none

Fix test
  _unittest/test_20_HFSS.py
Labels: none

FIX: Commit style
  doc/source/release_1_0.rst
Labels: documentation

Fix test 12
  _unittest/example_models/T12/EMI_RCV_251.aedtz
  _unittest/test_12_PostProcessing.py
Labels: none

DOCS: Fix doc style check
  doc/source/release_1_0.rst
Labels: documentation

added more doumentation added property mat_name_suffix import now returns the list of imported materials
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

added import_materials_from_workbench method to material_lib.py
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

WIP: Add import if required
  _unittest_solvers/conftest.py
Labels: none

fix: 3d components advanced features
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

refactored report_templates.py files and splitted in multiple files for readibility. refactored post_processor.py to better organize different Post classes
  doc/source/API/Post.rst
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_3d_layout.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/analysis_nexxim.py
  src/ansys/aedt/core/application/analysis_r_m_xprt.py
  src/ansys/aedt/core/application/analysis_twin_builder.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/post/advanced_post_processing.py
  src/ansys/aedt/core/post/circuit_post.py
  src/ansys/aedt/core/post/emi_report.py
  src/ansys/aedt/core/post/eye_report.py
  src/ansys/aedt/core/post/field_report.py
  src/ansys/aedt/core/post/field_summary.py
  src/ansys/aedt/core/post/icepak_post.py
  src/ansys/aedt/core/post/post_processor.py
  src/ansys/aedt/core/post/report_templates.py
  src/ansys/aedt/core/post/standard_post.py
  src/ansys/aedt/core/post/standard_report.py
  src/pyaedt/post/AdvancedPostProcessing.py
  src/pyaedt/post/PostProcessor.py
  src/pyaedt/post/report_templates.py
Labels: none

renamed modules
  doc/source/API/Post.rst
  doc/source/release_1_0.rst
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_3d_layout.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/analysis_nexxim.py
  src/ansys/aedt/core/application/analysis_r_m_xprt.py
  src/ansys/aedt/core/application/analysis_twin_builder.py
  src/ansys/aedt/core/post/field_report.py
  src/ansys/aedt/core/post/field_summary.py
  src/ansys/aedt/core/post/post_circuit.py
  src/ansys/aedt/core/post/post_general.py
  src/ansys/aedt/core/post/post_icepak.py
  src/ansys/aedt/core/post/post_standard.py
  src/ansys/aedt/core/post/report_emi.py
  src/ansys/aedt/core/post/report_eye.py
  src/ansys/aedt/core/post/report_standard.py
  src/ansys/aedt/core/post/report_templates.py
  src/ansys/aedt/core/post/solutions.py
  src/pyaedt/post/AdvancedPostProcessing.py
  src/pyaedt/post/PostProcessor.py
  src/pyaedt/post/report_templates.py
Labels: documentation

renamed modules
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/post/post_general.py
  src/ansys/aedt/core/post/report_field.py
  src/ansys/aedt/core/post/report_templates.py
  src/pyaedt/post/report_templates.py
Labels: none

renamed modules
  src/ansys/aedt/core/modeler/cad/elements_3d.py
Labels: none

DOCS: Fix deprecation text
  doc/source/release_1_0.rst
Labels: documentation

Make static method private
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

CHORE: Temporary removal of pyedb 0.28.0
  pyproject.toml
Labels: maintenance

FIX: dependency statement
  pyproject.toml
Labels: maintenance

CHORE: Temporary removal of pyedb 0.28.0 (#5181)
  pyproject.toml
Labels: maintenance

added method normalize_string_format generic\data_handlers
  _unittest/test_01_GeometryOperators.py
  _unittest/test_01_data_handlers.py
  _unittest/test_01_downloads.py
  _unittest/test_01_report_file_parser.py
  _unittest/test_01_toolkit_icons.py
  _unittest/test_37_Genetic_Algorithm.py
  src/ansys/aedt/core/generic/data_handlers.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
