Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

refactored desktop.py
  src/ansys/aedt/core/desktop.py
Labels: none

Add data file
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
Labels: none

fixed broken get_available_toolkits method
  src/ansys/aedt/core/desktop.py
Labels: none

added latest_version method
  _unittest/test_aedt_versions.py
  src/ansys/aedt/core/generic/aedt_versions.py
Labels: none

fix dll_interface.py
  src/ansys/aedt/core/filtersolutions_core/dll_interface.py
Labels: none

added get_version_env_variable to AedtVersions class
  _unittest/test_aedt_versions.py
  src/ansys/aedt/core/generic/aedt_versions.py
Labels: none

added get_version_env_variable to AedtVersions class
  src/ansys/aedt/core/application/design.py
Labels: none

fixed get_available_toolkits in Desktop class
  src/ansys/aedt/core/desktop.py
Labels: none

added unit test for Desktop class
  _unittest/test_desktop.py
Labels: none

optimized unit test avoiding to open Desktop when not necessary
  _unittest/test_generic_filesystem.py
  _unittest/test_utils.py
  _unittest/test_warnings.py
Labels: none

improve doc
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

fix
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

CHORE: update init 0.12.dev0
  src/ansys/aedt/core/__init__.py
Labels: none

FEAT: PyAEDT now open the most recent stable version as default (#5239)
  _unittest/conftest.py
  _unittest/test_aedt_versions.py
  _unittest/test_desktop.py
  _unittest/test_generic_filesystem.py
  _unittest/test_utils.py
  _unittest_solvers/conftest.py
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/common_rpc.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/downloads.py
  src/ansys/aedt/core/filtersolutions_core/dll_interface.py
  src/ansys/aedt/core/generic/aedt_versions.py
  src/ansys/aedt/core/generic/filesystem.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/misc/__init__.py
  src/ansys/aedt/core/misc/misc.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/workflows/misc.py
  src/pyaedt/generic/aedt_versions.py
  src/pyaedt/misc/misc.py
Labels: testing

improve create_fieldplot_volume and test
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

Address comments in pull request.
  _unittest_solvers/test_26_emit.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

improve test
  _unittest/test_12_1_PostProcessing.py
Labels: none

CHORE: Bump dev version into 0.12.dev0 (#5257)
  src/ansys/aedt/core/__init__.py
Labels: none

Export RCS
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

REFACTOR: Populate pyvista Plotter with initial data, enabling further customization before rendering (#5247)
  src/ansys/aedt/core/visualization/plot/pyvista.py
Labels: none

CI: Upgrade artifact actions
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Update typo in step name
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix Twin Builder pin
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
Labels: none

CI: Fix upload artifact names
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix GitHub comments
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
Labels: none

Fix: Reanming filter order filter order is renamed
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
Labels: none

Fix 2024.2 compatibility
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/visualization/post/fields_calculator_files/expression_catalog.toml
Labels: none

CHORE: Fix 2025R1 compatibility (#5261)
  _unittest/example_models/T12/EMI_RCV_251.aedtz
  _unittest/example_models/T40/SMA_RF_Jack.a3dcomp
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_45_FilterSolutions/resources/library_parts_test.cfg
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_launch_desktop.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/misc/expression_catalog.toml
  src/ansys/aedt/core/misc/fields_calculator.schema.json
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modules/layer_stackup.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/post/field_data.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/fields_calculator_files/expression_catalog.toml
  src/ansys/aedt/core/visualization/post/fields_calculator_files/fields_calculator.schema.json
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/pyaedt/misc/expression_catalog.toml
Labels: none

Update primitives_twin_builder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

Update primitives_twin_builder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

Update primitives_twin_builder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

add update_property_value method and test
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

Save RCS data
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

fixed bug when only a prerelease is installed on system
  src/ansys/aedt/core/desktop.py
Labels: none

add method and testing for Twin Builder create_subsheet
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/twinbuilder.py
Labels: none

FIX: Clear function added to multipleband table
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  src/ansys/aedt/core/filtersolutions_core/multiple_bands_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
Labels: none

CI: Upgrade artifact actions (#5260)
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Comments added.
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
Labels: none

FIX: Unittest is updated.
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
