Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Fix SMoraisANSYS comments
  doc/source/API/Visualization.rst
  pyaedt/generic/farfield_visualization.py
Labels: none

Add missed option
  pyaedt/modules/PostProcessor.py
Labels: none

REFACTOR: Add no cover and fix typo
  pyaedt/modules/PostProcessor.py
Labels: none

FIX: properties in rmxprt.py to make it back compatible with 23R2. (#4961)
  pyaedt/modeler/cad/elements3d.py
  pyaedt/rmxprt.py
Labels: none

FEAT: Add missed option in ExportToFile (#4968)
  pyaedt/modules/PostProcessor.py
Labels: none

REFACTOR: Cleanup bandit warnings (#4962)
  pyaedt/modules/PostProcessor.py
  pyaedt/workflows/project/create_report.py
Labels: none

FEAT_FilterSolutions_Test_Crash_Fix: Floating number format update
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
Labels: none

FIX: Sweep type not setted up at creation
  pyaedt/hfss3dlayout.py
Labels: none

REFACTOR: Cleanup modules bandit warning
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/MeshIcepak.py
Labels: none

FIX: Sweep type not setted up at creation (#4971)
  pyaedt/hfss3dlayout.py
Labels: none

implemented new method get_all_report_quantities to get all the report quantities organized by type, solution and category.
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

FIX: GeometryModeler.create_air_region()
  pyaedt/modeler/cad/Primitives.py
Labels: none

REFACTOR: Cleanup bandit warnings in modules (#4969)
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/MeshIcepak.py
Labels: none

implemented suggestion
  pyaedt/modules/PostProcessor.py
Labels: none

Fix pyvista doc no examples issue
  pyproject.toml
Labels: maintenance

implemented suggestion
  pyaedt/modules/PostProcessor.py
Labels: none

Fix doc issues
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
  pyaedt/sbrplus/plot.py
Labels: none

implemented suggestion
  pyaedt/modules/PostProcessor.py
Labels: none

Fix periods
  pyaedt/generic/farfield_visualization.py
  pyaedt/icepak.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/q3d.py
  pyaedt/sbrplus/hdm_parser.py
Labels: none

Fix examples
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Dipole.py
  pyaedt/generic/farfield_visualization.py
Labels: examples

Add get point data from field method
  _unittest/example_models/T12/ipk_markers.aedtz
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: none

Fix examples
  examples/02-HFSS/Array.py
Labels: examples

Fix Array examples
  examples/02-HFSS/Array.py
Labels: examples

Undo pyvista import
  pyproject.toml
Labels: maintenance

Update HDM plotter
  pyaedt/hfss.py
Labels: none

Add pyvista in toml
  pyproject.toml
Labels: maintenance

implemented suggestion
  _unittest/test_20_HFSS.py
  _unittest_solvers/conftest.py
  pyaedt/desktop.py
  pyaedt/generic/configurations.py
  pyaedt/generic/general_methods.py
Labels: none

add svg image
  pyaedt/workflows/icepak/images/large/bitmap.svg
Labels: none

minor fixes
  _unittest/test_20_HFSS.py
  pyaedt/aedt_logger.py
  pyaedt/desktop.py
Labels: none

FIX: Pyvista not included in doc-no-examples dependencies (#4977)
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Dipole.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/q3d.py
  pyaedt/sbrplus/hdm_parser.py
  pyaedt/sbrplus/plot.py
  pyproject.toml
Labels: maintenance, examples

minor fixes
  _unittest/test_14_AedtLogger.py
Labels: none

UPDATE: Unit test
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

minor fixes
  pyaedt/application/Design.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

REFACTOR: Last bandit refact on pyaedt.modules
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/DesignXPloration.py
Labels: none

FEAT: implemented new method get_all_report_quantities (#4976)
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix ut and add note for non graphical mode
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: none

WIP: Add missed 2024.2 changes
  _unittest/test_12_PostProcessing.py
  _unittest_ironpython/run_unittests_batchmode.cmd
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
  examples/07-Circuit/Virtual_Compliance.py
Labels: testing, examples

CI: Update env variables to match 24.2
  .github/workflows/ci_cd.yml
Labels: maintenance

minor fixes
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

minor fixes
  pyaedt/desktop.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
