Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Update object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Update mirror components_3d.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

Update mirror in object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

FIX: Function handler to return False (#4706)
  _unittest/test_utils.py
  pyaedt/generic/general_methods.py
Labels: none

DOCS: Use sphinx img converter extension
  doc/source/conf.py
Labels: documentation

REFACTOR: Update mirror argument from "position" to "origin" (#4715)
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

TESTS: Remove show arg from plot tests
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
Labels: none

FEAT: improve edit_external_circuit (#4696)
  pyaedt/maxwell.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

Revert numpy dep to >=1.20.0
  pyproject.toml
Labels: maintenance

add test
  _unittest/test_98_Icepak.py
Labels: none

add docstring and fixes
  pyaedt/modules/MeshIcepak.py
Labels: none

fix working on Linux
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

fix working on Linux
  pyaedt/desktop.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

fix working on Linux
  pyaedt/desktop.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

Revert "CHORE: expose show for plotting (#4708)"
  pyaedt/generic/plot.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/solutions.py
Labels: none

fix working on Linux
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

DOCS: Remove webp supported img type
  doc/source/conf.py
Labels: documentation

CHORE: Refactoring while lf webp
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

Update pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

Apply suggestions from code review
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

DOCS: Keep removing unused images
  doc/source/Resources/3dlayout.png
  doc/source/Resources/3dlayout_1.png
  doc/source/Resources/5gantenna.png
  doc/source/Resources/Dipole.png
  doc/source/Resources/IronPython2Cpython.png
  doc/source/Resources/Maxwell3DTeam3.png
  doc/source/Resources/Sherlock.png
  doc/source/Resources/aedt_setup.png
  doc/source/Resources/array.png
  doc/source/Resources/busbar.png
  doc/source/Resources/coordinate_system.png
  doc/source/Resources/edb.png
  doc/source/Resources/edb2.png
  doc/source/Resources/edb_intro.png
  doc/source/Resources/icepak.png
  doc/source/Resources/ipc2581.png
  doc/source/Resources/maxwell_losses.png
  doc/source/Resources/mechanical.png
  doc/source/Resources/nde.png
  doc/source/Resources/optimetrics.png
  doc/source/Resources/parametrized_edb.png
  doc/source/Resources/schematic.png
  doc/source/Resources/sherlock_doppler.png
  doc/source/Resources/siwave.png
  doc/source/Resources/spiral.png
  doc/source/Resources/template_ribbon.png
  doc/source/Resources/toolkits.png
  doc/source/Resources/viawizard.png
Labels: none

fix codacy
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

Apply suggestions from code review
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

Add workflow unit test
  _unittest_solvers/example_models/T45/export.aedb/edb.def
  _unittest_solvers/example_models/T45/export.aedt
  _unittest_solvers/example_models/T45/push_excitation.aedt
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/__init__.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/templates/toolkit_template.py
Labels: none

PERF: improve create ellipse 2d/3d (#4700)
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: none

Update doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Installation.rst
Labels: none

TESTS: Add Agg backend in solver tests
  _unittest_solvers/conftest.py
Labels: none

Add common method to get environment variables
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/installer/extension_manager.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

Add security policy.
  SECURITY.md
Labels: none

simplified and renamed the routine
  pyaedt/modeler/cad/Primitives.py
Labels: none

Fix issue with workflow name with "/"
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

fix codacy
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

submit_job improvement to allow the possibility to pass a server path
  pyaedt/desktop.py
Labels: none

removed CloseWindows for linux circuit issue
  pyaedt/application/Design.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none
