Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt

pythonnet linux fixed UT to support pythonnet 3.0
  doc/source/Resources/ClientServer.rst
Labels: documentation

pythonnet linux fixed UT to support pythonnet 3.0
  doc/source/Resources/ClientServer.rst
Labels: documentation

pythonnet linux fixed UT to support pythonnet 3.0
  _unittest_ironpython/run_unittests.py
  pythonnet-2.5.2-cp39-cp39-win_amd64.whl
  requirements.txt
  setup.py
Labels: maintenance, dependencies

pythonnet linux fixed UT to support pythonnet 3.0
  requirements.txt
Labels: dependencies

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  requirements.txt
  setup.py
Labels: maintenance, dependencies

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
  requirements.txt
  setup.py
Labels: maintenance, dependencies

Update pyaedt/hfss.py
  pyaedt/hfss.py
Labels: none

Update examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
Labels: none

Update pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisRMxprt.py
Labels: none

Improve Maxwell2D Nissan Leaf Example (#1321)
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
Labels: none

Implement RMxprt SetThreshold (#1355)
  _unittest/test_32_RMxprt.py
  pyaedt/application/AnalysisRMxprt.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  _setup_common.py
  doc/source/Resources/ClientServer.rst
  doc/source/Resources/Installation.rst
  pyaedt/rpc/rpyc_services.py
  requirements.txt
  setup.py
Labels: documentation, maintenance, dependencies

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/rpc/rpyc_services.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/rpc/rpyc_services.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/rpc/rpyc_services.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/common_rpc.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/common_rpc.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  requirements.txt
  setup.py
Labels: maintenance, dependencies

pythonnet linux fixed UT to support pythonnet 3.0
  .github/workflows/wheelhouse_linux.yml
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/rpc/rpyc_services.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/rpc/rpyc_services.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/common_rpc.py
  pyaedt/rpc/rpyc_services.py
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none
