Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, edb

hfss3dl sweep
  pyaedt/modules/SolveSweeps.py
Labels: none

Linear step sweep (#4158)
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
Labels: none

Convert to md format
  examples/02-HFSS/Array.py
  examples/02-HFSS/Create_3d_Component_and_use_it.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_FSS_unitcell.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-HFSS/Probe_Fed_Patch.py
  examples/02-HFSS/Waveguide_Filter.py
Labels: none

MISC: add fixed 00-EDB examples
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/03_5G_antenna_example_parametrics.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/10_GDS_workflow.py
  examples/00-EDB/11_post_layout_parameterization.py
  examples/00-EDB/12_edb_sma_connector_on_board.py
  examples/00-EDB/15_ac_analysis.py
  examples/00-EDB/index.rst
Labels: edb

Convert to md format
  examples/02-HFSS/Waveguide_Filter.py
  examples/02-HFSS/_static/wgf.png
  examples/02-SBR+/SBR_City_Import.py
  examples/02-SBR+/SBR_Doppler_Example.py
  examples/02-SBR+/SBR_Example.py
  examples/02-SBR+/SBR_Time_Plot.py
Labels: none

simconfig bug fix
  pyaedt/edb_core/edb_data/sources.py
Labels: edb

export field file fix
  pyaedt/modules/PostProcessor.py
Labels: none

export field file tests
  _unittest_solvers/test_00_analyze.py
Labels: none

export field file tests
  _unittest_solvers/test_00_analyze.py
Labels: none

Update pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

Update pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

Update pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

Update pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

Update pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

update readme and broken links
  .pre-commit-config.yaml
  README.md
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/index.rst
  doc/source/User_guide/index.rst
Labels: documentation

Apply suggestions from code review
  examples/00-EDB/00_EDB_Create_VIA.py
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/02_edb_to_ipc2581.py
Labels: edb

Apply suggestions from code review
  examples/00-EDB/03_5G_antenna_example_parametrics.py
  examples/00-EDB/04_edb_parametrized_design.py
Labels: edb

Apply suggestions from code review
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/09_Configuration.py
Labels: edb

Apply suggestions from code review
  examples/00-EDB/10_GDS_workflow.py
  examples/00-EDB/11_post_layout_parameterization.py
  examples/00-EDB/12_edb_sma_connector_on_board.py
Labels: edb

Apply suggestions from code review
  examples/00-EDB/13_edb_create_component.py
  examples/00-EDB/14_edb_create_parametrized_design.py
  examples/00-EDB/15_ac_analysis.py
Labels: edb

MISC: add example 08_CPWG.PY
  examples/00-EDB/08_CPWG.py
Labels: edb

minor fix
  pyaedt/edb.py
Labels: edb

MISC: clean examples and add index.rst files
  examples/01-HFSS3DLayout/Dcir_in_3DLayout.py
  examples/01-HFSS3DLayout/EDB_in_3DLayout.py
  examples/01-HFSS3DLayout/index.rst
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/01-Modeling-Setup/index.rst
  examples/02-HFSS/Advanced_Far_Field.py.back
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_FSS_unitcell.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-HFSS/Probe_Fed_Patch.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/02-HFSS/index.rst
  examples/02-SBR+/SBR_Example.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/02-SBR+/index.rst
Labels: edb

will not raise a list index out of range error at 1294
  pyaedt/modules/Material.py
Labels: none

test design types and boundaries
  _unittest/test_27_Maxwell2D.py
  pyaedt/application/Design.py
Labels: none

update readme and broken links (#4166)
  .pre-commit-config.yaml
  README.md
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/index.rst
  doc/source/User_guide/index.rst
Labels: documentation

fix
  pyaedt/edb.py
Labels: edb

Refactor import_gds_3d replace 3 list with a dictionary Update test_20_HFSS.py/test_68_import_gds_3d Add example section in documentation section
  _unittest/test_20_HFSS.py
  pyaedt/application/Analysis3D.py
Labels: none

Update Analysis3D.py
  pyaedt/application/Analysis3D.py
Labels: none

will not raise a list index out of range error at 1294 (#4174)
  pyaedt/modules/Material.py
Labels: none

check existing sweeps
  pyaedt/modules/PostProcessor.py
Labels: none

Add # pragma: no cover as this function does not work in non graphical mode
  pyaedt/application/Analysis3D.py
Labels: none

DOC: convert 03-Maxwell into md
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/03-Maxwell/Maxwell_Control_Program.py
  examples/03-Maxwell/Maxwell_Magnet.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
Labels: none

test design types and boundaries (#4172)
  _unittest/test_27_Maxwell2D.py
  pyaedt/application/Design.py
Labels: none

Create new function to import GDS file in HFSS (#4142)
  _unittest/test_20_HFSS.py
  pyaedt/application/Analysis3D.py
Labels: none

MISC: convert 04-Icepak into md
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
Labels: none

fix boundary delete
  pyaedt/modules/Boundary.py
Labels: none

MISC: use _static and md format for images
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/04-Icepak/_static/CSV_Import.png
  examples/04-Icepak/_static/bdf.png
  examples/04-Icepak/_static/ldf.png
Labels: none

MISC: convert 05-Q3D into md
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_Example.py
  examples/05-Q3D/Q3D_from_EDB.py
Labels: edb

fix boundary delete (#4175)
  pyaedt/modules/Boundary.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

# TODO : Remove once EDB is extracted from PyAEDT
edb:
- changed-files:
  - any-glob-to-any-file:
    - "examples/00-EDB/*"
    - "examples/01-HFSS3DLayout/EDB_in_3DLayout.py"
    - "examples/01-HFSS3DLayout/Dcir_in_3DLayout.py"
    - "examples/05-Q3D/Q3D_from_EDB.py"
    - "examples/05-Q3D/Q3D_DC_IR.py"
    - "pyaedt/edb_core/**/*"
    - "pyaedt/edb.py"
