Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

fixed docstring suggestion
  pyaedt/application/Analysis.py
Labels: none

fixed method arguments
  pyaedt/circuit.py
Labels: none

Apply suggestions from code review
  pyaedt/circuit.py
Labels: none

Apply suggestions from code review
  pyaedt/hfss3dlayout.py
Labels: none

fixed method arguments
  pyaedt/hfss3dlayout.py
Labels: none

Update pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Update downloads.py (#4543)
  pyaedt/downloads.py
Labels: none

fixed method arguments in Q3d
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  pyaedt/q3d.py
Labels: examples

fixed method arguments in Mechanical
  _unittest/test_29_Mechanical.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  pyaedt/mechanical.py
Labels: examples

recactored Twuinbuilder arguments
  pyaedt/twinbuilder.py
Labels: none

recactored Twuinbuilder arguments
  pyaedt/application/Variables.py
Labels: none

Move detach_faces method from object3d.py to Primitives.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Apply suggestions from code review
  pyaedt/hfss3dlayout.py
Labels: none

Update pyaedt/hfss3dlayout.py
  pyaedt/hfss3dlayout.py
Labels: none

Update pyaedt/hfss3dlayout.py
  pyaedt/hfss3dlayout.py
Labels: none

Refactoring circuit.py Class (#4538)
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  _unittest_solvers/test_00_analyze.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/circuit.py
Labels: examples

Update pyaedt/application/Analysis.py
  pyaedt/application/Analysis.py
Labels: none

fixed method arguments in Q3d (#4544)
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  pyaedt/q3d.py
Labels: examples

improved export_mesh_obj method
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

MAINT: Update time of the nightly-docs (#4540)
  .github/workflows/nightly-docs.yml
Labels: maintenance

recactored Twuinbuilder arguments (#4546)
  pyaedt/twinbuilder.py
Labels: none

fixed method arguments in Mechanical (#4545)
  _unittest/test_29_Mechanical.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  pyaedt/application/Variables.py
  pyaedt/mechanical.py
Labels: examples

Refactoring hfss3dlayout.py Class (#4537)
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  pyaedt/application/Analysis3D.py
  pyaedt/hfss3dlayout.py
Labels: examples

change argument name
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

refactoring SolveSetup.py (#4539)
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_31_Q3D.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/06-Multiphysics/MRI.py
  pyaedt/application/Analysis.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/SolveSetup.py
Labels: examples

Add detach_faces method (#4534)
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/object3d.py
Labels: none

improved export_mesh_obj method (#4548)
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

Update v0.8.9
  pyaedt/__init__.py
Labels: none

WIP: Try making PDF in full doc
  .github/workflows/ci_cd.yml
  doc/source/index.rst
Labels: documentation, maintenance

CI: Add needs to package
  .github/workflows/ci_cd.yml
Labels: maintenance

fixed assignment error
  pyaedt/modules/SolveSetup.py
Labels: none

REFACT: Clean up variables.py file
  pyaedt/application/Variables.py
Labels: none

fixed assignment error (#4553)
  pyaedt/modules/SolveSetup.py
Labels: none

Settings class variable are now private to avoid confusion (the user shoud access the mesh settings class as a dictionary and shouldn't change those dicts)
  pyaedt/modules/MeshIcepak.py
Labels: none

Avoid error logged even with successful method
  pyaedt/modules/MeshIcepak.py
Labels: none

Enhance user interaction with settings
  pyaedt/modules/MeshIcepak.py
Labels: none

Update Contributing.rst
  doc/source/Getting_started/Contributing.rst
Labels: none

Fix example issues
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: examples

Fix example issues
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
Labels: examples

Fix cname typo
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
