Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

FIX: EDB Config layout doc
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/_static/extensions/edb_cofing_setup.png
Labels: none

Apply suggestions from code review
  pyproject.toml
Labels: maintenance

FIX: EDB Config layout doc
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

Apply suggestions from code review
  pyproject.toml
Labels: maintenance

REFACTOR: Icepak Mesh class initialization performance (#4877)
  pyaedt/modules/MeshIcepak.py
Labels: none

added clear_linked_data method to icepak
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: none

Changed the return type of "odesign", to avoid warning in the IDE.
  pyaedt/application/Design.py
Labels: none

FIX: replaced argument output_dir with output_file for method export_field_file (#4898)
  _unittest/test_27_Maxwell2D.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: none

fixed pyaedt_function_handler call
  pyaedt/icepak.py
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

FIX: Kernel final update
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
  doc/source/_static/extensions/converted_files.png
  doc/source/_static/extensions/kernel_convert_ui.png
Labels: none

FIX: edb doc update
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

FEAT: `clear_linked_data` method to Icepak (#4903)
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: none

FIX: kernel
  pyaedt/workflows/project/kernel_converter.py
Labels: none

FIX: kernel
  pyaedt/workflows/project/kernel_converter.py
Labels: none

FIX: EDB Config layout doc (#4902)
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/_static/extensions/edb_cofing_setup.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

removed imageio from requirements. added environment variable in linux extension
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyaedt/workflows/templates/jupyter.py_build
  pyaedt/workflows/templates/pyaedt_console.py_build
  pyaedt/workflows/templates/pyaedt_utils.py
  pyaedt/workflows/templates/run_extension_manager.py_build
  pyaedt/workflows/templates/run_pyaedt_script.py_build
  pyaedt/workflows/templates/run_pyaedt_toolkit_script.py_build
  pyaedt/workflows/templates/run_pyedb_toolkit_script.py_build
  pyproject.toml
Labels: maintenance

WIP: Test new version of pyvista
  .github/workflows/ci_cd.yml
  _unittest/test_04_SBR.py
  _unittest/test_12_PostProcessing.py
  pyproject.toml
Labels: maintenance

added create_external_circuit method and corrected the wording of the create_winding method
  pyaedt/maxwell.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Labels: none

added unit tests
  _unittest/test_03_Materials.py
Labels: none

create_external_circuit method
  pyaedt/maxwell.py
Labels: none

FEAT: set thermal modifier and spatial modifier to None (#4908)
  _unittest/test_03_Materials.py
  pyaedt/modules/Material.py
Labels: none

fixed bug
  pyaedt/generic/plot.py
Labels: none

Added Circuit-HFSS-Icepak-coupling.py
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

style
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

FIX: kernel
  pyaedt/workflows/project/kernel_converter.py
Labels: none

FIX: post doc variables (#4910)
  pyaedt/generic/plot.py
Labels: none

added pyvista[io] to toml file
  pyproject.toml
Labels: maintenance

FIX: kernel
  pyaedt/workflows/project/kernel_converter.py
Labels: none

Completed the example comments
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

grammar
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

FIX: plotter show exiting plotting session
  pyaedt/generic/plot.py
  pyaedt/modules/solutions.py
  pyaedt/sbrplus/plot.py
Labels: none

BUILD: Remove imageio from requirements (#4905)
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyaedt/workflows/templates/jupyter.py_build
  pyaedt/workflows/templates/pyaedt_console.py_build
  pyaedt/workflows/templates/pyaedt_utils.py
  pyaedt/workflows/templates/run_extension_manager.py_build
  pyaedt/workflows/templates/run_pyaedt_script.py_build
  pyaedt/workflows/templates/run_pyaedt_toolkit_script.py_build
  pyaedt/workflows/templates/run_pyedb_toolkit_script.py_build
  pyproject.toml
Labels: maintenance

CI: Remove testing of CPython3.12
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: kernel
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  pyaedt/workflows/project/kernel_converter.py
Labels: none

FIX: kernel
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
Labels: none

FIX: kernel
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
Labels: none

fixing 2 issues: - export_configuration method was failing under certain circumstances - aedt_objects were still referenced after a project was closed and could cause crash in AEDT during debug mode.
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/generic/configurations.py
  pyaedt/modules/monitor_icepak.py
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
Labels: none

Update doc/source/User_guide/extensions.rst
  doc/source/User_guide/extensions.rst
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
