Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

Backend Main to create Power Map
  pyaedt/workflows/icepak/images/large/push.png
  pyaedt/workflows/icepak/power_map_from_csv.py
  pyaedt/workflows/icepak/toolkits_catalog.toml
Labels: none

minor fixes
  _unittest/test_30_Q2D.py
Labels: none

Update argument output_file
  _unittest/test_12_PostProcessing.py
  _unittest/test_46_FarField.py
  _unittest_solvers/test_00_analyze.py
  doc/source/_static/Image.jpg
  doc/source/errors.txt
  doc/source/sg_execution_times.rst
  examples/02-HFSS/Array.py
  examples/02-SBR+/cache/0cc73a2e8b8a754befe1a1bdaf5cd3f2b4771f59.json
  examples/02-SBR+/cache/a13a0317b7cefb6dbfb56ab242f0613eff43fb70.json
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
Labels: documentation, examples

Remove files
  doc/source/_static/Image.jpg
  doc/source/errors.txt
  doc/source/sg_execution_times.rst
  examples/02-SBR+/cache/0cc73a2e8b8a754befe1a1bdaf5cd3f2b4771f59.json
  examples/02-SBR+/cache/a13a0317b7cefb6dbfb56ab242f0613eff43fb70.json
Labels: documentation, examples

Comment 3D plot
  examples/02-HFSS/Array.py
Labels: examples

added docstring to schema
  pyaedt/generic/configurations.py
Labels: none

FIX: GeometryModeler.create_air_region() (#4978)
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

REFACTOR: Last bandit refact on pyaedt.modules (#4982)
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/DesignXPloration.py
Labels: none

added docstring to schema
  pyaedt/desktop.py
Labels: none

Fix env. variable
  .github/workflows/ci_cd.yml
Labels: maintenance

workflow without test case
  pyaedt/workflows/icepak/images/large/power_map.png
  pyaedt/workflows/icepak/images/large/push.png
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

add file for example implementation
  examples/03-Maxwell/Maxwell3D_Fields_Transient.py
Labels: examples

added docstring to schema
  pyaedt/desktop.py
Labels: none

Add transient support
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

FIX: Usage of plot_3d in documentation
  pyaedt/generic/farfield_visualization.py
Labels: none

DOCS: Add plot_3d call after fix
  examples/02-HFSS/Array.py
Labels: examples

Fix ModelPlotter Codacy
  pyaedt/generic/farfield_visualization.py
Labels: none

Fix ModelPlotter Codacy
  pyaedt/generic/farfield_visualization.py
Labels: none

Fix replace 3dcomponent
  _unittest/test_98_Icepak.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  pyaedt/modeler/modeler3d.py
Labels: examples

Fix replace 3dcomponent
  pyaedt/modeler/modeler3d.py
Labels: none

Update docstring
  pyaedt/generic/farfield_visualization.py
Labels: none

added docstring to schema
  _unittest_solvers/conftest.py
Labels: none

Comment 3D plot
  examples/02-HFSS/Array.py
Labels: examples

Update Array example
  examples/02-HFSS/Array.py
Labels: examples

FEAT: Desktop launch (#4980)
  _unittest/test_14_AedtLogger.py
  _unittest/test_20_HFSS.py
  _unittest/test_30_Q2D.py
  pyaedt/aedt_logger.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/generic/configurations.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

workflow with test case
  _unittest_solvers/example_models/T45/icepak_classic_powermap.csv
  _unittest_solvers/test_45_workflows.py
Labels: none

Add close project to test
  _unittest_solvers/test_45_workflows.py
Labels: none

improved _find_free_port method and renamed _check_grpc_port to _is_port_occupied
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

workflow with test case
  _unittest_solvers/test_45_workflows.py
Labels: none

refactored function
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

Fix for ironpython
  pyaedt/modules/solutions.py
Labels: none

documentation for the functions
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

Fix for ironpython
  pyaedt/modules/solutions.py
Labels: none

FIX: Remove duplicate method call
  pyaedt/generic/farfield_visualization.py
Labels: none

FEAT: Add custom close for ModelPlotter
  pyaedt/generic/plot.py
Labels: none

FIX: Close plotter(s) after creating geometry
  pyaedt/generic/farfield_visualization.py
Labels: none

TEST: Comment EMI Receiver
  _unittest/test_12_PostProcessing.py
Labels: none

Fix project name typo
  _unittest/test_12_PostProcessing.py
Labels: none

TEST: Comment overwrite ffd
  _unittest_solvers/test_00_analyze.py
Labels: none

panel title change
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none
