Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Apply suggestions from code review
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/edb_core/stackup.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/rpc/rpyc_services.py
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  _unittest/test_00_EDB.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  _unittest/test_00_EDB.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/general.py
  pyaedt/edb_core/layout.py
  pyaedt/generic/DataHandlers.py
  pyaedt/modeler/Primitives3DLayout.py
  pyaedt/siwave.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

CPython linux support (#1361)
  .github/workflows/wheelhouse_linux.yml
  _setup_common.py
  doc/source/API/ClientServer.rst
  doc/source/Resources/ClientServer.rst
  doc/source/Resources/Installation.rst
  pyaedt/__init__.py
  pyaedt/application/Variables.py
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/general.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/layout.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/siwave.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/DataHandlers.py
  pyaedt/misc/pyaedt.runtimeconfig.json
  pyaedt/modeler/Primitives3DLayout.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/rpc/rpyc_services.py
  pyaedt/siwave.py
  pythonnet-2.5.2-cp39-cp39-win_amd64.whl
  requirements.txt
  setup.py
Labels: documentation, maintenance, dependencies

Deploy of Pyaedt V0.5.0
  pyaedt/version.txt
Labels: none

fixed_wheelhouse 3.10
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

fixed_wheelhouse 3.10
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

Update wheelhouse.yml
  .github/workflows/wheelhouse.yml
Labels: maintenance

fixed_wheelhouse 3.10 (#1364)
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

Change headings to snake case for source/docs folder
  README.rst
  doc/source/API/Application.rst
  doc/source/API/Boundaries.rst
  doc/source/API/ClientServer.rst
  doc/source/API/Common.rst
  doc/source/API/Configuration.rst
  doc/source/API/CoreEdb.rst
  doc/source/API/CoreModules.rst
  doc/source/API/DesktopMessenger.rst
  doc/source/API/MaterialManagement.rst
  doc/source/API/Mesh.rst
  doc/source/API/MultiPartComponent.rst
  doc/source/API/Post.rst
  doc/source/API/Primitives.rst
  doc/source/API/Setup.rst
  doc/source/API/SetupTemplates.rst
  doc/source/API/Stackup3D.rst
  doc/source/API/index.rst
  doc/source/index.rst
Labels: documentation

Fix format errors in RST files
  doc/source/API/Common.rst
  doc/source/API/DesktopMessenger.rst
Labels: documentation

- New User defined component class - Init. UD Component for User Defined Models and 3DComponent
  pyaedt/application/Analysis3D.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/Primitives3D.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

implement assign symmetry method for maxwell 2D/3D (#1362)
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: none

Update doc/source/API/Application.rst
  doc/source/API/Application.rst
Labels: documentation

added new object3d property touching_objects
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/Object3d.py
Labels: none

added new object3d property touching_objects
  pyaedt/desktop.py
Labels: none

add sklearn to requirements
  pyaedt/modeler/stackup_3d.py
Labels: none

Change headings to snake case for source/docs folder (#1365)
  README.rst
  doc/source/API/Application.rst
  doc/source/API/Boundaries.rst
  doc/source/API/ClientServer.rst
  doc/source/API/Common.rst
  doc/source/API/Configuration.rst
  doc/source/API/CoreEdb.rst
  doc/source/API/CoreModules.rst
  doc/source/API/DesktopMessenger.rst
  doc/source/API/MaterialManagement.rst
  doc/source/API/Mesh.rst
  doc/source/API/MultiPartComponent.rst
  doc/source/API/Post.rst
  doc/source/API/Primitives.rst
  doc/source/API/Setup.rst
  doc/source/API/SetupTemplates.rst
  doc/source/API/Stackup3D.rst
  doc/source/API/index.rst
  doc/source/index.rst
Labels: documentation

- New User defined component properties
  pyaedt/modeler/Object3d.py
Labels: none

Update pyaedt/modeler/Object3d.py
  pyaedt/modeler/Object3d.py
Labels: none

Update pyaedt/modeler/Object3d.py
  pyaedt/modeler/Object3d.py
Labels: none

Update pyaedt/modeler/Object3d.py
  pyaedt/modeler/Object3d.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

Fixed Solution Data for time varying sweeps values
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: none

Apply suggestions from code review
  pyaedt/modeler/Object3d.py
Labels: none

added new object3d property touching_objects (#1367)
  pyaedt/desktop.py
Labels: none

Fixed Solution Data for time varying sweeps values
  pyaedt/modules/solutions.py
Labels: none

added new object3d property touching_objects (#1368)
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/Object3d.py
Labels: none

Fixed Solution Data for time varying sweeps values
  pyaedt/application/Design.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  pyaedt/edb_core/EDB_Data.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt
