Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/stackup.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/application/Variables.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  _setup_common.py
Labels: none

Remove plumbum from packages list in setup_common.
  _setup_common.py
Labels: none

Remove zerodeploy.py file in the rpc package.
  pyaedt/third_party/ironpython/rpyc_27/utils/zerodeploy.py
Labels: none

Apply suggestions from code review
  pyaedt/modeler/PrimitivesCircuit.py
Labels: none

Implement HFSS SetSolveInsideThreshold (#1356)
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: none

Implement SetMaterialThreshold (#1351)
  _unittest/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

create graphic line (#1358)
  _unittest/test_21_Circuit.py
  pyaedt/modeler/PrimitivesCircuit.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  doc/source/API/ClientServer.rst
  doc/source/Resources/ClientServer.rst
  pyaedt/common_rpc.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/stackup.py
  pyaedt/rpc/rpyc_services.py
Labels: documentation

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/components.py
Labels: none

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

implement assign symmetry for maxwell
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: none

fix
  pyaedt/maxwell.py
Labels: none

unitest
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/components.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

Update setup.py
  setup.py
Labels: maintenance

Update .github/workflows/wheelhouse_linux.yml
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

unitest
  _unittest/test_00_EDB.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

unitest
  _unittest/test_00_EDB.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

Update .github/workflows/wheelhouse_linux.yml
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

Update doc/source/Resources/ClientServer.rst
  doc/source/Resources/ClientServer.rst
Labels: documentation

update check edge faces id int
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: none

Update pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

Update pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

Update pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

Update pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/stackup.py
Labels: none

unitest
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
Labels: none
