Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Added separation of faces and objects in assign_voltage method
  pyaedt/maxwell.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

Fix bot changes
  pyaedt/maxwell.py
Labels: none

skip if is linux
  _unittest/test_08_Primitives3D.py
Labels: none

Fix linux test
  _unittest/test_08_Primitives3D.py
Labels: none

Fix linux test
  _unittest/test_08_Primitives3D.py
Labels: none

Update doc title extra
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
Labels: none

CHORE: Update pre-commit to v0.4.3
  .gitignore
  .pre-commit-config.yaml
Labels: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Apply suggestions from code review
  README.md
  README_CN.md
  doc/source/Getting_started/ClientServer.rst
Labels: documentation

FEAT: Add discovery link function (#4705)
  _unittest/example_models/T08/input.dsco
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

CHORE: Update pre-commit to v0.4.3 (#5011)
  .gitignore
  .pre-commit-config.yaml
Labels: none

Use the current active design rather than demanding a unique design of that type
  pyaedt/application/Design.py
Labels: none

Check that the design_type matches and if not create a new design
  pyaedt/application/Design.py
Labels: none

Set emissivity value in surface material
  _unittest/test_98_Icepak.py
  pyaedt/modules/MaterialLib.py
Labels: none

CI: Update dependabot configuration
  .github/dependabot.yml
Labels: maintenance

Fix codecov
  _unittest/test_27_Maxwell2D.py
Labels: none

FEAT: Workflows/power map (#4996)
  _unittest_solvers/example_models/T45/icepak_classic_powermap.csv
  _unittest_solvers/test_45_workflows.py
  doc/source/Resources/icepak_classic_powermap.csv
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
  pyaedt/workflows/icepak/images/large/power_map.png
  pyaedt/workflows/icepak/power_map_from_csv.py
  pyaedt/workflows/icepak/toolkits_catalog.toml
Labels: none

Default number of GPUs 0 and number of cores 4.
  pyaedt/application/Analysis.py
  pyaedt/misc/pyaedt_local_config.acf
Labels: none

Apply suggestions from code review
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

Default number of GPUs 0 and number of cores 4.
  pyaedt/application/Analysis.py
Labels: none

Apply suggestions from code review
  doc/source/release_1_0.rst
Labels: documentation

FIX: Set emissivity value in surface material (#5015)
  _unittest/test_98_Icepak.py
  pyaedt/modules/MaterialLib.py
Labels: none

FIX: improved _find_free_port method (#4992)
  pyaedt/desktop.py
  pyaedt/generic/grpc_plugin_dll_class.py
Labels: none

Update pyaedt/modules/Boundary.py
  pyaedt/modules/Boundary.py
Labels: none

Apply suggestions from code review
  pyaedt/modules/Boundary.py
Labels: none

changed the default global log filename to use a unique id
  pyaedt/generic/settings.py
Labels: none

CI: Update dependabot configuration (#5017)
  .github/dependabot.yml
Labels: maintenance

used format instead of f-string for Ironpython (sigh)
  pyaedt/generic/settings.py
Labels: none

fix test and code
  _unittest/test_27_Maxwell2D.py
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: none

fix test
  _unittest/test_27_Maxwell2D.py
Labels: none

FIX: Set default GPUs to 0 (#5018)
  pyaedt/application/Analysis.py
  pyaedt/misc/pyaedt_local_config.acf
Labels: none

increase codecov
  _unittest/test_28_Maxwell3D.py
Labels: none

improve test coverage
  _unittest/example_models/T98/transient_fs.aedtz
  _unittest/test_98_Icepak.py
Labels: none

DOCS: Add v1.0 expected breaking changes (#4843)
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

Update pyaedt/generic/settings.py
  pyaedt/generic/settings.py
Labels: none

Update pyaedt/generic/settings.py
  pyaedt/generic/settings.py
Labels: none

CHORE: Deprecate python 3 7 (#4759)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/ci_cd.yml
  README.md
  README_CN.md
  doc/source/Getting_started/ClientServer.rst
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
Labels: documentation, maintenance

Replace client command to get available increments
  pyaedt/generic/general_methods.py
Labels: none

Update pyaedt/generic/general_methods.py
  pyaedt/generic/general_methods.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
