Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Start with a new design for test_23 in test_26_emit.py
  _unittest_solvers/test_26_emit.py
Labels: none

Install custom toolkit
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss/toolkits_catalog.toml
  pyaedt/workflows/project/toolkit_manager.py
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

DOC: Remove sphinx-jinja dependency
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance

DOC: Reorder item cards
  doc/source/index.rst
Labels: documentation

Update for ant FF post-processing
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

Install toolkit with pip
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss/toolkits_catalog.toml
  pyaedt/workflows/maxwell3d/toolkits_catalog.toml
Labels: none

Fix UT
  _unittest/test_01_Design.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/project/toolkit_manager.py
Labels: none

Make sure a new design is created for test_23_result_categories in test_26_emit.py (#4617)
  _unittest_solvers/test_26_emit.py
Labels: none

Fix Codacy
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/project/pyaedt_installer.py
Labels: none

Fix Codacy
  _unittest/test_01_toolkit_icons.py
  pyaedt/workflows/customize_automation_tab.py
Labels: none

Added examples to Workflows
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/project/create_report.py
Labels: none

Added examples to Workflows
  pyaedt/workflows/hfss3dlayout/images/large/cad3d.png
Labels: none

Fix Codacy
  _unittest/test_01_toolkit_icons.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/project/toolkit_manager.py
Labels: none

Separate installer and project
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/__init__.py
  pyaedt/workflows/installer/console_setup.py
  pyaedt/workflows/installer/create_report.py
  pyaedt/workflows/installer/images/large/console.png
  pyaedt/workflows/installer/images/large/jupyter.png
  pyaedt/workflows/installer/images/large/logo.png
  pyaedt/workflows/installer/images/large/run_script.png
  pyaedt/workflows/installer/images/large/toolkit_manager.png
  pyaedt/workflows/installer/jupyter_template.ipynb
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/installer/toolkits_catalog.toml
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

Transformer leakage inductance calculation example
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: examples

Add workflows as simple scripts
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/toolkit_manager.py
Labels: none

TESTS: Limit skip to AEDT 2024.1
  _unittest_solvers/test_00_analyze.py
Labels: none

Add workflows as simple scripts
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/images/large/logo.png
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/images/large/pdf.png
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

Transformer leakage inductance calculation example (#4623)
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: examples

Add simplorer
  pyaedt/workflows/customize_automation_tab.py
Labels: none

TESTS: Limit skip to AEDT 2024.1 (#4624)
  _unittest_solvers/test_00_analyze.py
Labels: none

Fix Linux issues
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Update Maxwell2D_Transformer_LL.py
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: examples

Codacy skip
  pyaedt/modules/SolveSetup.py
Labels: none

DOC: Fix typo in Maxwell transformer example. (#4625)
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: examples

Added import_nastran to Workflows
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/project/images/large/cad3d.png
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

Fix export to q3d (#4615)
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modules/SolveSetup.py
Labels: examples

Update solutions.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

Fix Q3D example
  examples/05-Q3D/Q2D_Armoured_Cable.py
Labels: examples

Fix Q3D example (#4628)
  examples/05-Q3D/Q2D_Armoured_Cable.py
Labels: examples

Update v0.8.10
  pyaedt/__init__.py
Labels: none

Fix Iron Python comma error
  pyaedt/modules/solutions.py
Labels: none

Fix Iron Python comma error
  pyaedt/modules/solutions.py
Labels: none

REFACTOR: Generic modules to avoid bad pratices
  pyaedt/generic/clr_module.py
  pyaedt/generic/filesystem.py
  pyaedt/generic/general_methods.py
Labels: none

REFACTOR: Remove import to removed variable
  pyaedt/__init__.py
Labels: none

CI: Fix nightly-docs needs
  .github/workflows/nightly-docs.yml
Labels: maintenance

FIX: Use random in IronPython
  pyaedt/generic/general_methods.py
Labels: none

fixed PyAEDTInstallerFromDesktop.py to prevent that it hangs during installation from IronPython
  _unittest/test_01_Design.py
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/installer/toolkit_manager.py
Labels: none

Fix project catalog toml
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

Fix Linux issues
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
