Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

test: adapt tests to branch enhancements
  _unittest/test_98_Icepak.py
Labels: none

style: move import statements to the top
  src/ansys/aedt/core/generic/constants.py
Labels: none

FEAT: FilterSolutions export (#4935)
  .gitignore
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/lumped_termination_impedance_table.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
Labels: examples

Generalize .code-workspace in .gitignore
  .gitignore
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Switched from pyaedt to ansys.core
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
Labels: none

fix: auto() takes no arg in some py version
  src/ansys/aedt/core/generic/constants.py
Labels: none

fix reviewdog
  doc/source/User_guide/extensions.rst
Labels: none

fix and improve test
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: none

docs: add deprecation warnings
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/solutions.py
Labels: none

TBR: Avoid using cached packages
  .github/workflows/ci_cd.yml
Labels: maintenance

reformat images + paragraph position
  doc/source/Getting_started/Installation.rst
  doc/source/User_guide/extensions.rst
Labels: none

improve codecov
  _unittest/test_12_1_PostProcessing.py
Labels: none

fix minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/images/large/arbitrary_wave_port.png
  src/ansys/aedt/core/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

TBR: Use --no-cache option
  .github/workflows/ci_cd.yml
Labels: maintenance

improve code and tests
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: none

TBR: Remove osmnx dependency
  _unittest/test_04_SBR.py
  pyproject.toml
Labels: maintenance

Apply suggestions from code review
  doc/source/User_guide/extensions.rst
Labels: none

Update src/ansys/aedt/core/modules/advanced_post_processing.py
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: none

fix minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

FEAT: Fieldplot folder settings class (#5124)
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/solutions.py
Labels: none

FIX: Use cdouble instead of deprecated complex_
  src/ansys/aedt/core/modules/solutions.py
Labels: none

DOCS: Extensions (#5138)
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/my_custom_extension.png
  doc/source/Resources/my_custom_extension_1.png
  doc/source/Resources/toolkit_manager_1.png
  doc/source/User_guide/extensions.rst
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Export tests update
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

improve test
  _unittest/test_12_1_PostProcessing.py
Labels: none

fix minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Final commit
  src/ansys/aedt/core/workflows/hfss3dlayout/export_layout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

Move images
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: examples

FIX: Allow scale_min and max to be set if not log scale (#5131)
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: none

fix minor
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/_static/extensions/configure_edb.png
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

fix minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Arbitrary wave port refactoring
  _unittest_solvers/example_models/T45/waveport.aedb/edb.def
  _unittest_solvers/test_45_workflows.py
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

Fix doc style
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

fix: if design_found is not checked, the while loop finishes after the key is found in the first design.
  src/ansys/aedt/core/generic/load_aedt_file.py
Labels: none

test: improve testing when multiple design are present in the same project
  _unittest/example_models/T98/transient_fs.aedtz
  _unittest/test_98_Icepak.py
Labels: none

fix: retrieve fieldplots from the correct design
  src/ansys/aedt/core/modules/solutions.py
Labels: none

Skip if Linux
  _unittest_solvers/test_45_workflows.py
Labels: none

Assign two way coupling in Mechanical
  _unittest/test_29_Mechanical.py
  src/ansys/aedt/core/mechanical.py
Labels: none
