Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Apply suggestions from code review
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: none

f-string
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: none

fix string
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: none

Fixed UT
  src/ansys/aedt/core/visualization/plot/matplotlib.py
Labels: none

Unit Tests added for vsin and isin
  _unittest/test_35_MaxwellCircuit.py
Labels: none

DOCS: Fix user guide circuit example (#5305)
  doc/source/User_guide/intro.rst
Labels: none

CHORE: Improve pre-commit PR title (#5301)
  .pre-commit-config.yaml
Labels: none

Fixed UT
  src/ansys/aedt/core/visualization/plot/matplotlib.py
Labels: none

Replaced id with comp_name Renamed create_vsin and create_isin to create_v_sin and create_i_sin
  src/ansys/aedt/core/modeler/circuits/primitives_maxwell_circuit.py
Labels: none

Update src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/application/variables.py
Labels: none

Apply suggestions from code review
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

Update _unittest/test_02_2D_modeler.py
  _unittest/test_02_2D_modeler.py
Labels: none

Update doc/source/Resources/toolkit_installer_from_aedt.py
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Update doc/source/Resources/toolkit_installer_from_aedt.py
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Update doc/source/Resources/toolkit_installer_from_aedt.py
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Fix Pyvista arrow plot
  src/ansys/aedt/core/visualization/plot/pyvista.py
Labels: none

Delete unused function handler from create_page
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
Labels: none

Use component instead of comp_name
  src/ansys/aedt/core/modeler/circuits/primitives_maxwell_circuit.py
Labels: none

Fix dataframe managment
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

fix review comments
  src/ansys/aedt/core/application/analysis.py
Labels: none

Revert changes
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Update v0.11.1
  src/ansys/aedt/core/__init__.py
Labels: none

FEAT: New class ReportPlotter to handle all matplotlib plot (#5297)
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_46_FarField.py
  doc/source/API/visualization/plot.rst
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/solution_data.py
Labels: none

FIX: cutout extension
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
Labels: none

FIX: Replace a function from wrong position
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: none

FIX: Replace a function from wrong position (#5312)
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: none

CI: Focus CI on testing
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Fix call to test-pytests
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Fix wrong arguments
  .github/workflows/ci_cd.yml
Labels: maintenance

TESTS: Add correct marker
  tests/unit/conftest.py
Labels: none

REFACTOR: Avoid logging in some tests
  tests/unit/test_utils.py
Labels: none

FIX: Tests markers
  pyproject.toml
  tests/conftest.py
  tests/system/conftest.py
  tests/unit/conftest.py
Labels: maintenance

Apply suggestions from code review
  _unittest/test_01_configuration_files.py
  src/ansys/aedt/core/filtersolutions_core/__init__.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

CI: Bump ansys actions version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

WIP
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Fix missing steps
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

CI: Use renamed action check-pr-title
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: add project name
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
Labels: none

CI: Add sphinx options to doc-build
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Reverte submit_job changes
  src/ansys/aedt/core/desktop.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
