Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

CHORE: Do not use pass in an except statement. (#4518)
  pyaedt/desktop.py
  pyaedt/generic/ibis_reader.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/hfss.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/MeshIcepak.py
Labels: none

fixing docstrings
  pyaedt/modules/PostProcessor.py
Labels: none

fixing example and docstring
  examples/07-Circuit/Circuit_Example.py
  examples/07-Circuit/Circuit_Transient.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/hfss.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modules/PostProcessor.py
  pyaedt/rpc/rpyc_services.py
Labels: examples

fixing example and docstring
  pyaedt/rpc/rpyc_services.py
Labels: none

fixing example and docstring
  pyaedt/modules/monitor_icepak.py
Labels: none

fixing example and docstring
  pyaedt/modules/SolveSetup.py
Labels: none

fixing example and docstring
  pyaedt/modules/PostProcessor.py
Labels: none

Match headings in left nav pane and card titles (#4525)
  doc/source/User_guide/index.rst
  doc/source/User_guide/intro.rst
Labels: none

fixing example and docstring
  pyaedt/icepak.py
Labels: none

fixing example and docstring
  pyaedt/modeler/advanced_cad/parts.py
Labels: none

fixing docstring
  pyaedt/modules/PostProcessor.py
Labels: none

Added ic_mode flag in hfss3dlayout.py initialization and as a property with getter and setter (#4521)
  _unittest/test_launch_desktop.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: none

DOC: Update scripts
  doc/Makefile
  doc/make.bat
Labels: none

MAINT: Update do-no-examples install target
  pyproject.toml
Labels: maintenance

minor documentation fix
  doc/source/API/Primitives2D.rst
  doc/source/API/Primitives3D.rst
  doc/source/Getting_started/Contributing.rst
  doc/source/User_guide/modeler.rst
Labels: none

Add detach_faces method and tests
  _unittest/test_07_Object3D.py
  pyaedt/modeler/cad/object3d.py
Labels: none

TO BE UPDATED: Trigger full doc on release
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Remove full_doc workflow
  .github/workflows/full_documentation.yml
Labels: maintenance

CI: Update nightly doc
  .github/workflows/nightly-docs.yml
Labels: maintenance

Refactoring arguments in Material Class
  _unittest/test_13_LoadAEDTFile.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modules/MaterialLib.py
Labels: none

Refactoring arguments in Material Class
  _unittest/test_03_Materials.py
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  pyaedt/modules/Material.py
Labels: examples

Refactoring Boundary Class
  _unittest/test_98_Icepak.py
  pyaedt/modules/Boundary.py
Labels: none

Fix Codacy
  pyaedt/modeler/pcb/object3dlayout.py
Labels: none

Refactoring hfss3dlayout.py Class
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  pyaedt/application/Analysis3D.py
  pyaedt/hfss3dlayout.py
Labels: examples

Plot on layers (#4531)
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

Refactoring circuit.py Class
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  _unittest_solvers/test_00_analyze.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/circuit.py
Labels: examples

refactoring and standardizing set_differential_pairs
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
Labels: none

refactoring and standardizing set_differential_pairs
  pyaedt/hfss3dlayout.py
Labels: none

refactoring SolveSetup.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_31_Q3D.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/06-Multiphysics/MRI.py
  pyaedt/application/Analysis.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/SolveSetup.py
Labels: examples

Refactoring Boundary Class (#4536)
  _unittest/test_98_Icepak.py
  pyaedt/modules/Boundary.py
Labels: none

fixed ut
  _unittest/test_03_Materials.py
  pyaedt/modules/Material.py
Labels: none

fixed ut
  pyaedt/circuit.py
Labels: none

fixed ut
  pyaedt/circuit.py
Labels: none

Refactoring arguments in Material Class (#4535)
  _unittest/test_03_Materials.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modules/Material.py
  pyaedt/modules/MaterialLib.py
Labels: examples

Update time of the nightly-docs.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

Update .github/workflows/nightly-docs.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

Update downloads.py
  pyaedt/downloads.py
Labels: none

Apply suggestions from code review
  examples/02-HFSS/Waveguide_Filter.py
  examples/06-Multiphysics/MRI.py
  pyaedt/application/Analysis.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/SolveSetup.py
Labels: examples

Update pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSetup.py
Labels: none

fixed docstring suggestion
  pyaedt/modules/SolveSetup.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
