Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

TEST: increase coverage
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

FIX: remove sanity check not needed
  src/ansys/aedt/core/modules/boundary.py
Labels: none

FEAT: Plane wave (#5051)
  _unittest/test_20_HFSS.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

WIP: Testing doc build without cache
  .github/workflows/ci_cd.yml
Labels: maintenance

Update v0.10.0
  src/ansys/aedt/core/__init__.py
Labels: none

Update v0.11.dev0
  src/ansys/aedt/core/__init__.py
Labels: none

FEAT_Filtersolutions_Export: Comments are applied
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/export_to_aedt.py
  pyaedt/filtersolutions_core/optimization_goals_table.py
Labels: examples

Update typo
  doc/source/release_1_0.rst
Labels: documentation

FEAT: Assign floating excitation for m2d and m3d (#5044)
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

Fix new object name in PyEDB
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

Fix new object name in PyEDB
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

Fix new object in PyEDB
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

REFACTOR: PCB Component (#4864)
  _unittest/test_98_Icepak.py
  doc/source/API/Boundaries.rst
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

TESTS: Fix alias deprecation warning
  _unittest/test_warnings.py
  src/ansys/aedt/core/__init__.py
  src/pyaedt/__init__.py
Labels: none

FIX: PyEDB Path class name refactor (#5069)
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

CHORE: Update pyedb dependency
  pyproject.toml
Labels: maintenance

improve method
  src/ansys/aedt/core/modules/mesh.py
Labels: none

CHORE: Update pyedb dependency (#5074)
  pyproject.toml
Labels: maintenance

TEST: Fix alias deprecation warning (#5073)
  _unittest/test_warnings.py
  src/ansys/aedt/core/__init__.py
  src/pyaedt/__init__.py
Labels: none

Update python version
  README.md
Labels: documentation

TEST: Improve test delegation warning
  _unittest/test_warnings.py
  src/pyaedt/__init__.py
Labels: none

Update python versions
  README_CN.md
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

CHORE: Update v0.11.dev0 (#5063)
  doc/source/release_1_0.rst
  src/ansys/aedt/core/__init__.py
Labels: documentation

FEAT: add mesh skin depth for maxwell 2d (#5041)
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  src/ansys/aedt/core/modules/mesh.py
Labels: none

TEST: Improve test delegation warning (#5077)
  _unittest/test_warnings.py
  src/pyaedt/__init__.py
Labels: none

DOCS: Update python version (#5076)
  README.md
  README_CN.md
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Update docstring
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

Add comment for the delete pcb object command
  examples/04-Icepak/Sherlock_Example.py
Labels: examples

CI: Fix deploy stable docs index
  .github/workflows/ci_cd.yml
Labels: maintenance

Update docstring
  src/ansys/aedt/core/q3d.py
Labels: none

FEAT: Unite option in export Q3D and HFSS (#5054)
  _unittest/test_41_3dlayout_modeler.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

DOCS: remove pp, fix a few descriptions
  examples/04-Icepak/Sherlock_Example.py
Labels: examples

Import tomllib from python 3.12
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
Labels: maintenance

FIX: Reduce run-time of Sherlock example (#5043)
  examples/04-Icepak/Sherlock_Example.py
Labels: examples

CI: Fix deploy stable docs index (#5081)
  .github/workflows/ci_cd.yml
Labels: maintenance

FEAT_Filtersolutions_Export_Updated: added impor, load and save functions
  _unittest/test_45_FilterSolutions/test_lumped_export/__init__.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: examples

CHORE: Import tomllib from python 3.12 (#5084)
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
Labels: maintenance

FIX: h3d plot dc field
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

FEAT_Filtersolutions_Export: Comments applied
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: none

FIX: h3d plot dc field (#5086)
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
