Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Increase coverage
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

FIX: bug on multidesktop in case of connection to existing sessions. (#4743)
  pyaedt/desktop.py
Labels: none

feat/draft_filtersolutions: example updated.
  examples/02-HFSS/HFSS_Dipole.py
  examples/08-Filtersolutions/filltersolutionsexample.py
  pyaedt.code-workspace
Labels: examples

Fix duplicate step
  .github/workflows/ci_cd.yml
Labels: maintenance

Test
  .github/workflows/ci_cd.yml
Labels: maintenance

Revert changes
  .github/workflows/ci_cd.yml
Labels: maintenance

TEST: Improve workflow coverage (#4736)
  _unittest/test_01_Design.py
  _unittest_solvers/example_models/T45/export.aedb/edb.def
  _unittest_solvers/example_models/T45/export.aedt
  _unittest_solvers/example_models/T45/push_excitation.aedt
  _unittest_solvers/example_models/T45/twin_circuit.aedt
  _unittest_solvers/test_45_workflows.py
  codecov.yml
  pyaedt/emit_core/results/revision.py
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/installer/create_report.py
  pyaedt/workflows/installer/extension_manager.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/templates/extension_template.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

Fix push excitation tkinter issue
  pyaedt/workflows/hfss/push_excitation_from_file.py
Labels: none

Fix export 3d tkinter issue
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
Labels: none

Fix import nastran tkinter issue
  pyaedt/workflows/project/import_nastran.py
Labels: none

Improve coverage
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

Improve coverage
  _unittest_solvers/example_models/T45/report.aedtz
  _unittest_solvers/test_45_workflows.py
Labels: none

No cover common_rpc
  codecov.yml
Labels: none

Add pragma no cover in tests not possible to cover unittests
  _unittest/test_01_Design.py
  _unittest/test_06_MessageManager.py
  _unittest/test_launch_desktop.py
  pyaedt/desktop.py
  pyaedt/icepak.py
Labels: none

Add better TB example
  _unittest_solvers/example_models/T45/TB_test.aedt
  _unittest_solvers/example_models/T45/twin_circuit.aedt
  _unittest_solvers/test_45_workflows.py
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Fix Codacy
  pyaedt/desktop.py
  pyaedt/icepak.py
Labels: none

CHORE: Extend wheelhouse with installer target (#4742)
  .github/workflows/ci_cd.yml
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
Labels: maintenance

Twin builder not compatible in Linux
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

Added preview to stl files.
  pyaedt/workflows/project/import_nastran.py
Labels: none

pyansys GitHub org was renamed ansys.
  pyaedt/downloads.py
Labels: none

FIX: Tkinter issue (#4747)
  _unittest/test_01_Design.py
  _unittest/test_06_MessageManager.py
  _unittest/test_launch_desktop.py
  _unittest_solvers/example_models/T45/TB_test.aedt
  _unittest_solvers/example_models/T45/report.aedtz
  _unittest_solvers/example_models/T45/twin_circuit.aedt
  _unittest_solvers/test_45_workflows.py
  codecov.yml
  pyaedt/desktop.py
  pyaedt/icepak.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

fixed sampling points
  pyaedt/generic/general_methods.py
Labels: none

- changed name of the function - corrected Discovery version check - added link disconnection
  pyaedt/modeler/cad/Primitives.py
Labels: none

Create rings around cone shape
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Labels: none

feat/draft_filtersolutions: Test skip for current release
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  _unittest/test_45_FilterSolutions/test_raise_error.py
Labels: none

initial commits for twinbuilder add excitation model
  pyaedt/modules/SolveSetup.py
  pyaedt/twinbuilder.py
Labels: none

merge master
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
Labels: none

feat/draft_filtersolutions: docstring error is fixed.
  pyaedt/filtersolutions_core/lumped_topology.py
Labels: none

CHORE: pyansys GitHub org was renamed ansys. (#4750)
  pyaedt/downloads.py
Labels: none

FEAT: Added preview to stl files in import_nastran extension (#4749)
  pyaedt/generic/general_methods.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

Updated to v0.9.3
  pyaedt/__init__.py
Labels: none

FEAT: Create rings on cone shape (#4751)
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Labels: none

AEDT installed in client and server
  doc/source/Getting_started/ClientServer.rst
Labels: none

fix tests
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
Labels: none

If no condcutor, do not call autoidentifynet Improve coverage edit_source
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

Improve coverage
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

Fix issue
  _unittest_solvers/test_31_Q3D.py
Labels: none

Add UT
  _unittest/example_models/T35/netlist.sph
  _unittest/test_35_MaxwellCircuit.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Labels: none

FEAT: Auto Identify Net only if conductor exist (#4756)
  _unittest_solvers/test_31_Q3D.py
  doc/source/Getting_started/ClientServer.rst
  pyaedt/q3d.py
Labels: none
