Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Fix precommit
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Fix Unit test
  _unittest/test_45_FarField.py
Labels: none

Update pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Update stackup_3d.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Fix example
  examples/02-HFSS/Array.py
  pyaedt/hfss.py
Labels: examples

Fix doc
  pyaedt/generic/touchstone_parser.py
Labels: none

DOC: Fix Docstring and Examples for stackup_3d loc advanced_cad (#4885)
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Fix example
  examples/02-HFSS/Array.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
Labels: examples

Fix doc style
  pyaedt/generic/touchstone_parser.py
Labels: none

Fix example
  examples/02-HFSS/Array.py
Labels: examples

REFACTOR: added missing images (#4874)
  doc/source/API/Visualization.rst
  doc/source/_static/extensions/configure_edb.png
  doc/source/_static/extensions/configure_edb_way_of_work.png
  examples/07-Circuit/Reports.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/workflows/project/create_report.py
Labels: examples

Add doc
  doc/source/API/Visualization.rst
Labels: none

Update v0.9.8
  pyaedt/__init__.py
Labels: none

FIX: Kernel Converter script and doc
  .venv/Lib/site-packages/pyaedt/workflows/project/kernel_converter.py
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert_ui.png
Labels: none

FIX: Kernel Converter script and doc
  doc/source/User_guide/pyaedt_extensions_doc/converted_files.png
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

FIX: Kernel Converter script and doc
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

FIX: Kernel Converter script and doc
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

add class docstring
  pyaedt/modules/Boundary.py
Labels: none

fix unittest (modelling -> modeling)
  _unittest/conftest.py
Labels: testing

fix unittest (modelling -> modeling)
  _unittest/test_98_Icepak.py
Labels: none

Revert commit on conftest.py
  _unittest/conftest.py
Labels: testing

Add fafield diagrams
  doc/source/API/Visualization.rst
  doc/source/_static/farfield_visualization_aedt.png
  doc/source/_static/farfield_visualization_pyaedt.png
Labels: none

Modify farfield visualization methods
  _unittest/test_45_FarField.py
  _unittest_solvers/test_00_analyze.py
  doc/source/API/Visualization.rst
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Dipole.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
Labels: examples

Modify pictures
  doc/source/API/Visualization.rst
  doc/source/_static/farfield_visualization_aedt.png
  doc/source/_static/farfield_visualization_pyaedt.png
  pyaedt/generic/farfield_visualization.py
Labels: none

Remove example
  pyaedt/modules/Boundary.py
Labels: none

Fix unit test
  _unittest_solvers/test_00_analyze.py
Labels: none

Fix doc style
  doc/source/API/Visualization.rst
Labels: none

Fix codacy
  pyaedt/generic/farfield_visualization.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

FIX: Kernel Converter script and doc
  .venv/Lib/site-packages/pyaedt/workflows/project/kernel_converter.py
Labels: none

Fix UT
  _unittest/test_45_FarField.py
Labels: none

FIX: Kernel Converter script and doc
  .venv/Lib/site-packages/pyaedt/workflows/project/kernel_converter.py
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

FIX: Kernel Converter script and doc
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

FIX: Kernel Converter script and doc
  doc/source/User_guide/pyaedt_extensions_doc/kernel_convert.rst
Labels: none

FIX: Kernel Converter script and doc
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

FIX: Kernel Converter script and doc
  .venv/Lib/site-packages/pyaedt/workflows/project/kernel_converter.py
Labels: none

FEAT: change symbol pin locations
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

replaced argument output_dir with output_file for mrthod export_field_file
  _unittest/test_27_Maxwell2D.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: none

Rename .venv/Lib/site-packages/pyaedt/workflows/project/kernel_converter.py to workflows/project/kernel_converter.py
  workflows/project/kernel_converter.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
