Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.md
- README_CN.md
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements/**/*
testing:
- _unittest/conftest.py
- _unittest_ironpython/run_unittests.py
- _unittest_ironpython/run_unittests_batchmode.cmd

update
  pyaedt/edb_core/edb_data/nets_data.py
Labels: none

Update doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Update doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Update doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Update doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Clarification
  doc/source/Getting_started/Troubleshooting.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

fix documentation
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
Labels: none

fix documentation
  pyaedt/edb_core/edb_data/nets_data.py
Labels: none

fixed enable logger
  pyaedt/aedt_logger.py
  pyaedt/generic/general_methods.py
Labels: none

Added test-class retry
  .github/workflows/unit_tests.yml
  pyproject.toml
Labels: maintenance

Fixed documentation
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/dotnet/layout.py
Labels: none

update
  doc/source/EDBAPI/NetsEdb.rst
  pyaedt/edb.py
  pyaedt/edb_core/__init__.py
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
Labels: documentation

Fix typo in the example Maxwell2D_DCConduction (#3361)
  examples/03-Maxwell/Maxwell2D_DCConduction.py
Labels: none

improved IronPython tests
  _unittest_ironpython/run_unittests.py
Labels: testing

Update pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/edb_data/nets_data.py
Labels: none

added docs suggestions
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

update
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
Labels: none

docs suggestions
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

Improved logger and desktop initialization
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/PostProcessor.py
Labels: none

Update doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Typo fix
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

FEAT: add actions for indexing the docs
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

doc: adapt the doce with version compactible
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

fix: remove typo
  doc/source/conf.py
Labels: documentation

fixed UT
  _unittest/test_14_AedtLogger.py
Labels: none

doc: update the dev scraping
  .github/workflows/full_documentation.yml
Labels: maintenance

removed ironpython references in the unittests
  _unittest/conftest.py
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_3dlayout_modeler.py
  _unittest/test_01_Design.py
  _unittest/test_01_GeometryOperators.py
  _unittest/test_01_configuration_files.py
  _unittest/test_01_downloads.py
  _unittest/test_01_pdf.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_03_Materials.py
  _unittest/test_04_SBR.py
  _unittest/test_05_Mesh.py
  _unittest/test_06_MessageManager.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_14_AedtLogger.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_26_emit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_29_Mechanical.py
  _unittest/test_32_RMxprt.py
  _unittest/test_34_TwinBuilder.py
  _unittest/test_43_CableModeling.py
  _unittest/test_44_TouchstoneParser.py
  _unittest/test_98_Icepak.py
  _unittest/test_launch_desktop.py
Labels: testing

set CI_Ironpython for new IronPython unit tests
  .github/workflows/ironpython.yml
Labels: maintenance

added pytest-timeout
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_3dlayout_modeler.py
  _unittest/test_04_SBR.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_26_emit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_98_Icepak.py
  pyproject.toml
  pytest.ini
Labels: none

fixed bugs in ironpython.yml set option for --timeout in unit_tests.yml
  .github/workflows/ironpython.yml
  .github/workflows/unit_tests.yml
Labels: maintenance

set option for --timeout in unit_tests.yml
  .github/workflows/unit_tests.yml
Labels: maintenance

set option for --timeout in unit_tests.yml
  .github/workflows/unit_tests.yml
  pytest.ini
Labels: maintenance

set "-n 6" instead of "--tx 6*popen"
  .github/workflows/unit_tests.yml
Labels: maintenance

restored "--tx 6*popen" removed timeout
  .github/workflows/unit_tests.yml
  pytest.ini
Labels: maintenance

doc: update the docstring comments
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

Re-added Channel Separation Example (#3358)
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

fixed UT
  pyaedt/edb_core/edb_data/nets_data.py
Labels: none

set "--tx 3*popen" removed "--maxretry 2"
  .github/workflows/unit_tests.yml
Labels: maintenance

fixed vale error
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

removed from pytest.ini: doctest_optionflags = ELLIPSIS addopts = --doctest-modules -p no:faulthandler
  .github/workflows/unit_tests.yml
  pytest.ini
Labels: maintenance
