Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

DOCS: Update ansys-sphinx-theme version
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

Fix bug
  src/ansys/aedt/core/application/analysis.py
Labels: none

Add UT
  _unittest_solvers/test_00_analyze.py
Labels: none

FIX: Solve setup in optimetrics (#5090)
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/application/analysis.py
Labels: none

DOCS: Use new ansys-sphinx-theme (#5089)
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

FEAT_Filtersolutions_Export_Modelithics: type fixed
  pyaedt/filtersolutions_core/attributes.py
Labels: none

Circuit netlist class
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/design_solutions.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/circuit_netlist.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

Close all windows
  _unittest/test_21_Circuit.py
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modeler/schematic.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

REFACTOR: Settings management
  src/ansys/aedt/core/generic/settings.py
Labels: none

MISC: Clean up settings file
  src/ansys/aedt/core/generic/settings.py
Labels: none

REFACTOR: Apply inner settings changes
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/desktop.py
Labels: none

DOCS: Update documentation
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
Labels: none

REFACTOR: Import settings before other modules
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

DOCS: Fix doc style
  doc/source/User_guide/settings.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

FIX: Type hint prior CPython 3.11
  src/ansys/aedt/core/generic/settings.py
Labels: none

FIX: Type hint prior CPython3.11
  src/ansys/aedt/core/generic/settings.py
Labels: none

CHORE: Add pyyaml dependency
  pyproject.toml
Labels: maintenance

FIX: Wrong property setters
  src/ansys/aedt/core/generic/settings.py
Labels: none

REFACTOR: Move pyaedt server path to general
  src/ansys/aedt/core/generic/settings.py
Labels: none

FEATURE: Add aedt log file getter and setter
  src/ansys/aedt/core/generic/settings.py
Labels: none

DOCS: Cleanup docstring
  src/ansys/aedt/core/generic/settings.py
Labels: none

DOCS: Add aedt log file to YAML file
  doc/source/Resources/pyaedt_settings.yaml
Labels: none

FEATURE: Dump settings into file
  src/ansys/aedt/core/generic/settings.py
Labels: none

Apply suggestions from code review
  doc/source/User_guide/settings.rst
  src/ansys/aedt/core/__init__.py
Labels: none

DOCS: Update YAML configuration file comments
  doc/source/Resources/pyaedt_settings.yaml
Labels: none

Circuit net list class
  _unittest/conftest.py
  _unittest/test_47_CircuitNetlist.py
  _unittest/test_launch_desktop.py
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/circuit_netlist.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: testing

FEATURE: Add strong/soft keys checking
  src/ansys/aedt/core/generic/settings.py
Labels: none

TESTS: Settings refactoring
  _unittest/test_utils.py
Labels: none

FIX: Add new feature as allowed key
  src/ansys/aedt/core/generic/settings.py
Labels: none

CHORE: Add git blame ignore revs file
  .git-blame-ignore-revs
Labels: none

Revert hassattr in AEDT API objects
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

REFACTOR: Settings from YAML configuration file (#5092)
  _unittest/test_utils.py
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/settings.py
Labels: maintenance

FEAT_Filtersolutions_Export: Reverted changes to pass the export tests.
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: none

Pragma no cover because it can not be tested in non graphical mode
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/circuit_netlist.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

GetChildNames("Groups") was returning a tuple in previous versions. Casting to list to have consistent results.
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

Add ApplyReportTemplate
  _unittest/example_models/T12/template.rpt
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: none

Skip get plot object if Circuit Netlist in non graphical mode
  _unittest/test_47_CircuitNetlist.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

CHORE: Add git blame ignore revs file (#5095)
  .git-blame-ignore-revs
Labels: none

Method working only in graphical mode
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: none

Add unit test project
  _unittest/example_models/T47/netlist.aedtz
Labels: none
