Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Add examples section
  doc/source/User_guide/index.rst
Labels: none

modified current_version and current_student_version methods
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/misc/misc.py
Labels: none

added is_safe_path to ansys.aedt.core.misc namespace
  src/ansys/aedt/core/misc/__init__.py
  src/ansys/aedt/core/rpc/rpyc_services.py
Labels: none

added unit tests for ansys.aedt.core.misc
  _unittest/test_misc.py
Labels: none

Fix return
  src/ansys/aedt/core/application/design.py
Labels: none

FIX_Defining_Modelithics_attributes_change_: Tests updated for Modelithics error
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

CI: Trigger workflow on ready for review event (#5224)
  .github/workflows/ci_cd.yml
Labels: maintenance

fix export fields
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

Improved coverage
  _unittest_solvers/test_01_pdf.py
Labels: none

Fixed Example
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/eye.py
Labels: examples

moved is_safe_path method under generic.filesystem
  _unittest/test_generic_filesystem.py
  _unittest/test_misc.py
  src/ansys/aedt/core/generic/filesystem.py
  src/ansys/aedt/core/misc/misc.py
  src/ansys/aedt/core/rpc/rpyc_services.py
Labels: none

fix sweep set_variable
  _unittest/test_09_VariableManager.py
  src/ansys/aedt/core/application/variables.py
Labels: none

Create SML component in Twin Builder
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

Update doc deps
  pyproject.toml
Labels: maintenance

Update Makefile
  doc/Makefile
Labels: none

Update unit test
  _unittest/example_models/T34/Thermal_ROM_SML.sml
  _unittest/test_34_TwinBuilder.py
Labels: none

adapt arguments description for create_component_from_sml
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

Update test_34_TwinBuilder.py
  _unittest/test_34_TwinBuilder.py
Labels: none

fix docstrings of update_quantity_value
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

fix pre-commit issue
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

FIX: Get variables with "sweep" enabled (#5230)
  _unittest/test_09_VariableManager.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

Update SBR settings
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

FEAT: New class to create Virtual Compliance file from existing reports configuration files. (#5237)
  _unittest_solvers/test_01_pdf.py
  doc/source/API/visualization/post.rst
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/eye.py
  src/ansys/aedt/core/visualization/report/standard.py
Labels: examples

Fixed Example
  examples/07-Circuit/Virtual_Compliance.py
Labels: examples

BUILD: Add required dependency
  pyproject.toml
Labels: maintenance

Save RCS data
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
Labels: none

feat: Populate pyvista Plotter with initial data, enabling further customization before rendering
  src/ansys/aedt/core/visualization/plot/pyvista.py
Labels: none

Update src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

FIX: Defining Modelithics attributes change (#5233)
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

DOCS: added Readme file to the FilterSolutions example directory.
  examples/08-FilterSolutions/Readme.txt
Labels: examples

Prepare for EMIT Python 3.12 support.
  _unittest_solvers/test_26_emit.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

Address precommit issues
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

removed obsolete code
  _unittest/conftest.py
  _unittest_solvers/conftest.py
Labels: testing

Change argument type
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

FEAT: Add SML component in Twin Builder (#5245)
  _unittest/example_models/T34/Thermal_ROM_SML.sml
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

update version 0.11.0
  src/ansys/aedt/core/__init__.py
Labels: none

refactored aedt_versions
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/common_rpc.py
  src/ansys/aedt/core/downloads.py
  src/ansys/aedt/core/generic/aedt_versions.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/misc/__init__.py
  src/ansys/aedt/core/misc/misc.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/workflows/misc.py
Labels: none

added unit tests for aedt_versions
  _unittest/test_aedt_versions.py
Labels: none

removed unused misc.py
  src/ansys/aedt/core/misc/misc.py
Labels: none

replicating structure under pyaedt
  src/pyaedt/generic/aedt_versions.py
  src/pyaedt/misc/misc.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
