Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, edb

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

# TODO : Remove once EDB is extracted from PyAEDT
edb:
- changed-files:
  - any-glob-to-any-file:
    - "examples/00-EDB/*"
    - "examples/01-HFSS3DLayout/EDB_in_3DLayout.py"
    - "examples/01-HFSS3DLayout/Dcir_in_3DLayout.py"
    - "examples/05-Q3D/Q3D_from_EDB.py"
    - "examples/05-Q3D/Q3D_DC_IR.py"
    - "pyaedt/edb_core/**/*"
    - "pyaedt/edb.py"

add unit test test_68_import_gds_3d
  _unittest/test_20_HFSS.py
Labels: none

DOC: fix EDB in 3D layout example
  examples/01-HFSS3DLayout/EDB_in_3DLayout.py
Labels: edb

fixed UT
  pyaedt/misc/misc.py
Labels: none

TEST: add test on log message
  _unittest/test_14_AedtLogger.py
Labels: none

Update _unittest/test_14_AedtLogger.py
  _unittest/test_14_AedtLogger.py
Labels: none

add more test in test test_68_import_gds_3d
  _unittest/test_20_HFSS.py
Labels: none

fix close project in test test_68_import_gds_3d
  _unittest/test_20_HFSS.py
Labels: none

rework test test_68_import_gds_3d
  _unittest/test_20_HFSS.py
  pyaedt/application/Analysis3D.py
Labels: none

rework test test_68_import_gds_3d
  _unittest/test_20_HFSS.py
Labels: none

Add pandoc installation
  .github/workflows/build_documentation.yml
  .github/workflows/full_documentation.yml
  .gitignore
Labels: maintenance

Removed unnecessary variable in test_20_HFSS Fixed typo and improve clarity of commenst
  _unittest/test_20_HFSS.py
  pyaedt/application/Analysis3D.py
Labels: none

improve code format line 1372
  pyaedt/application/Analysis3D.py
Labels: none

improve doc string format
  pyaedt/application/Analysis3D.py
Labels: none

improve code format
  pyaedt/application/Analysis3D.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Add # pragma: no cover
  pyaedt/application/Analysis3D.py
Labels: none

FIX: doc build-finished doctree cleaning
  doc/source/conf.py
Labels: documentation

modify for loop Improve doc string format
  pyaedt/application/Analysis3D.py
Labels: none

FIX: revert action changes
  .github/workflows/full_documentation.yml
Labels: maintenance

MISC: temporary remove actions to focus on fulldoc
  .github/workflows/cpython_linux.yml
  .github/workflows/ironpython.yml
  .github/workflows/nightly-docs.yml
  .github/workflows/unit_test_prerelease.yml
  .github/workflows/unit_tests.yml
  .github/workflows/unit_tests_solvers.bkp
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

MISC: temporary update workflow trigger
  .github/workflows/full_documentation.yml
Labels: maintenance

fix typo in doc string
  pyaedt/application/Analysis3D.py
Labels: none

TEST: Updated JSON to include Box and updated test case
  _unittest/example_models/T08/primitives_file.json
  _unittest/test_08_Primitives3D.py
Labels: none

pragma no cover
  pyaedt/application/Analysis3D.py
Labels: none

TEST: Import JSON Test case update
  _unittest/test_08_Primitives3D.py
Labels: none

FIX: rename and refact example index
  examples/index.rst
Labels: none

fix typo in doc string
  pyaedt/application/Analysis3D.py
Labels: none

FIX: examples removal on build error
  doc/source/conf.py
Labels: documentation

FEAT: add example documentation build check
  doc/source/conf.py
Labels: documentation

DOC: fix code-block format
  doc/source/User_guide/pyaedt_file_data/project.rst
Labels: none

fixed References
  pyaedt/application/Analysis3D.py
Labels: none

Update following code review
  .github/workflows/build_documentation.yml
Labels: maintenance

Update _unittest/test_20_HFSS.py
  _unittest/test_20_HFSS.py
Labels: none

Convert to md format
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/03_5G_antenna_example_parametrics.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/09_Configuration.py
  examples/00-EDB/10_GDS_workflow.py
  examples/00-EDB/11_post_layout_parameterization.py
  examples/00-EDB/12_edb_sma_connector_on_board.py
  examples/00-EDB/13_edb_create_component.py
  examples/00-EDB/14_edb_create_parametrized_design.py
  examples/00-EDB/15_ac_analysis.py
  examples/01-HFSS3DLayout/Dcir_in_3DLayout.py
  examples/01-HFSS3DLayout/EDB_in_3DLayout.py
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
Labels: edb

Convert to md format
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
Labels: none

Convert to md format
  examples/01-Modeling-Setup/Optimetrics.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
Labels: none

Update pyaedt/edb_core/ipc2581/ipc2581.py
  pyaedt/edb_core/ipc2581/ipc2581.py
Labels: edb

Update AUTHORS
  AUTHORS
Labels: none

DOC: Resources and doc for primitive json import
  doc/source/Resources/primitive_example.json
  doc/source/User_guide/pyaedt_file_data/primitives.rst
Labels: none

pragma no cover
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
Labels: none
