Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Fix existing usage of BasisOrder.single
  pyaedt/edb_core/EDB_Data.py
Labels: none

Fix bounding box extent (#1314)
  _unittest/example_models/test_107.aedb/edb.def
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/hfss.py
  pyaedt/generic/constants.py
Labels: none

style fix (#1349)
  pyaedt/edb_core/components.py
Labels: none

Implement SetMaterialThreshold
  _unittest/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

advanced net query
  _unittest/test_00_EDB.py
  pyaedt/edb_core/nets.py
Labels: none

advanced net query
  _unittest/test_00_EDB.py
Labels: none

advanced net query (#1352)
  _unittest/test_00_EDB.py
  pyaedt/edb_core/nets.py
Labels: none

Implement RMxprt SetThreshold
  _unittest/test_32_RMxprt.py
  pyaedt/application/AnalysisRMxprt.py
Labels: none

pythonnet linux
  pyaedt/__init__.py
  pyaedt/edb.py
  pyaedt/misc/pyaedt.runtimeconfig.json
  setup.py
Labels: maintenance

pythonnet linux
  setup.py
Labels: maintenance

pythonnet linux
  pyaedt/edb.py
Labels: none

pythonnet linux
  pyaedt/edb.py
Labels: none

pythonnet linux
  pyaedt/edb.py
Labels: none

Update _unittest/test_32_RMxprt.py
  _unittest/test_32_RMxprt.py
Labels: none

pythonnet linux
  pyaedt/__init__.py
  pyaedt/edb.py
Labels: none

Implement HFSS SetSolveInsideThreshold
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb_core/components.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  _unittest_ironpython/run_unittests.py
  setup.py
Labels: maintenance

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/edb.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

unitest
  _unittest/test_21_Circuit.py
  pyaedt/modeler/PrimitivesCircuit.py
Labels: none

fix docstring
  pyaedt/hfss.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/desktop.py
Labels: none

unitest
  pyaedt/modeler/PrimitivesCircuit.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  pyaedt/__init__.py
Labels: none

pythonnet linux fixed UT to support pythonnet 3.0
  doc/source/Resources/Installation.rst
Labels: documentation

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt
