Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Update Contributing.rst
  doc/source/Getting_started/Contributing.rst
Labels: none

REFACT: fIX issue in examples (#4558)
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: examples

CI: Fix linux venv activation
  .github/workflows/ci_cd.yml
Labels: maintenance

DOC: Fix make.bat target
  doc/make.bat
Labels: none

DOC: Fix make.bat
  doc/make.bat
Labels: none

REFACT: Clean up design solutions
  pyaedt/application/design_solutions.py
Labels: none

REFACT: Clean up circuit
  pyaedt/circuit.py
Labels: none

REFACT: Clean design solution and circuit (#4561)
  pyaedt/application/design_solutions.py
  pyaedt/circuit.py
Labels: none

Fix input arguments
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

Deprecation warning
  pyaedt/q3d.py
Labels: none

Fix matrix name
  pyaedt/q3d.py
Labels: none

Fix and improve setup templates.
  pyaedt/modules/SetupTemplates.py
Labels: none

Enhance documentation listing available turbulent options (and how they should be written).
  doc/source/API/SetupTemplatesIcepak.rst
Labels: none

Enhance documentation listing available turbulent options (and how they should be written).
  doc/source/API/SetupTemplatesIcepak.rst
Labels: none

WIP: Fix pdf without examples
  .github/workflows/ci_cd.yml
  doc/make.bat
Labels: maintenance

REFACT: Add deprecation waning in Q3D sink methods (#4562)
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

fixed plot vectors
  pyaedt/generic/general_methods.py
  pyaedt/generic/plot.py
Labels: none

fixed plot vectors
  pyaedt/generic/plot.py
Labels: none

Add IcepakDesignSettings class
  pyaedt/icepak.py
Labels: none

Update Contributing.rst
  doc/source/Getting_started/Contributing.rst
Labels: none

fixed plot vectors
  pyaedt/generic/plot.py
Labels: none

fixed plot vectors (#4570)
  pyaedt/generic/general_methods.py
  pyaedt/generic/plot.py
Labels: none

Update the doc landing page per Issue #4524
  doc/source/index.rst
Labels: documentation

fix mesh region failing test
  pyaedt/modules/MeshIcepak.py
Labels: none

fixed creater_fieldplot_layers on dielectric plots
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix default setups (#4564)
  doc/source/API/SetupTemplatesIcepak.rst
  pyaedt/modules/SetupTemplates.py
Labels: none

Update the doc landing page per Issue #4524 (#4573)
  doc/source/index.rst
Labels: documentation

fixed creater_fieldplot_layers on dielectric plots (#4576)
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: none

Mesh region enhancements (#4566)
  pyaedt/modules/MeshIcepak.py
Labels: none

Fix toolkit manager
  pyaedt/desktop.py
  pyaedt/misc/toolkit_manager.py
Labels: none

Add SurfaceOnly Add intrinsics in DCIR example
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modules/solutions.py
Labels: examples

REFACT: Add SurfaceOnly (#4578)
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modules/solutions.py
Labels: examples

TESTS: Fix expected error type raised
  _unittest/test_09_VariableManager.py
Labels: none

Update pyaedt/application/Variables.py
  pyaedt/application/Variables.py
Labels: none

Apply suggestions from code review
  pyaedt/application/Variables.py
Labels: none

Install wheelhouse
  pyaedt/desktop.py
  pyaedt/misc/images/large/antenna.png
  pyaedt/misc/images/large/magnet_segmentation.png
  pyaedt/misc/toolkit_manager.py
Labels: none

Add DesignSettingsClass
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: none

fix export field plot streamline + test displacement current
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: examples

Revert "Add IcepakDesignSettings class"
  pyaedt/icepak.py
Labels: none

fix export field plot streamline (#4579)
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: examples
