Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

Fix flatten_3d_components
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

FIX: make more robust material read when binary info are stored. (#5211)
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

FEAT: Added method to plot nets in Hfss 3d Layout which uses Edb Plot (#5210)
  _unittest/test_01_3dlayout_edb.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
Labels: none

Replace deprecated argument
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/advanced_cad/parts.py
Labels: none

fix: remove native components from some operations
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

Fix deprecated arg
  src/ansys/aedt/core/circuit.py
Labels: none

CI: Avoid using self-hosted runners in drafts (#5203)
  .github/workflows/ci_cd.yml
  .github/workflows/manual_draft.yml
Labels: maintenance

Fix copy solids efficiency
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

settings.enable_debug_grpc_api_logger = True will log all methods to the log as debug lines.
  examples/04-Icepak/Icepak_ECAD_Import.py
  src/ansys/aedt/core/aedt_logger.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/grpc_plugin_dll_class.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
Labels: examples

Fix flatten
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

Fix flatten
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

Fix codacy
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

FIX: Examples repo compatibility (#5219)
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/advanced_cad/parts.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/eye.py
Labels: examples

BUILD: Clean up dependencies
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Issue error when material parsing fails
  _unittest/example_models/T03/mats_missing_rgb.json
  _unittest/test_03_Materials.py
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

Re-raise the exception after logging the error message
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

Test for exception in test
  _unittest/test_03_Materials.py
Labels: none

Remove introduced but unused argument
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

Mock test data by patching open
  _unittest/example_models/T03/mats_missing_rgb.json
  _unittest/test_03_Materials.py
Labels: none

TBR: Log github info
  .github/workflows/ci_cd.yml
Labels: maintenance

Revert "TBR: Log github info"
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Trigger workflow when ready for review
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Add missing step in linux solver testing
  .github/workflows/ci_cd.yml
Labels: maintenance

update existing examples + new example
  examples/07-TwinBuilder/03-Dynamic_ROM_Creation_And_Visualization.py
  examples/07-TwinBuilder/04-Static_ROM_Creation_And_Visualization.py
  examples/07-TwinBuilder/05-LTI_ROM_Creation_And_Simulation.py
Labels: examples

TBR: Test on toolkit machine
  .github/workflows/ci_cd.yml
Labels: maintenance

TBR: Test on VM after upgrade
  .github/workflows/ci_cd.yml
Labels: maintenance

TBR: Remove step env var
  .github/workflows/ci_cd.yml
Labels: maintenance

TBR: VM testing after remove LD
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Test in parallel
  .github/workflows/ci_cd.yml
Labels: maintenance

WIP: extend LD_LIBRARY_PATH
  .github/workflows/ci_cd.yml
Labels: maintenance

WIP: Test using early import
  _unittest_solvers/conftest.py
Labels: none

WIP: Test other setting
  _unittest_solvers/conftest.py
Labels: none

Update 05-LTI_ROM_Creation_And_Simulation.py
  examples/07-TwinBuilder/05-LTI_ROM_Creation_And_Simulation.py
Labels: examples

Update 05-LTI_ROM_Creation_And_Simulation.py
  examples/07-TwinBuilder/05-LTI_ROM_Creation_And_Simulation.py
Labels: examples

Delete dyn_exportFromDynToFMU.err
  examples/07-TwinBuilder/dyn_exportFromDynToFMU.err
Labels: examples

WIP: Test simon fix
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Issue error and skip material on parse error (#5217)
  _unittest/test_03_Materials.py
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

AMI reports are not working in all cases. This is due to expressions and primary/secondary sweeps assignment
  src/ansys/aedt/core/visualization/report/eye.py
Labels: none

WIP
  .github/workflows/ci_cd.yml
Labels: maintenance
