Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

REFACTOR: Encryption password handling (#4771)
  pyaedt/application/Analysis3D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/modeler3d.py
Labels: none

improve readability of error messages
  pyaedt/generic/general_methods.py
Labels: none

WIP
  .github/workflows/ci_cd.yml
  _unittest/test_12_PostProcessing.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/generic/filesystem.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: maintenance

FEAT: Added chamfers and fillet methods to Object3d (#4763)
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_14_AedtLogger.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/object3d.py
Labels: none

FIX: Update desktop.py
  pyaedt/desktop.py
Labels: none

FIX: Update desktop.py
  pyaedt/desktop.py
Labels: none

Fields calculator class
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/fields_calculator.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

Expose available calculation only
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

WIP: Print cad path
  pyaedt/generic/plot.py
Labels: none

WIP: shorten CICD to failing tests
  .github/workflows/ci_cd.yml
Labels: maintenance

improved color method
  pyaedt/modeler/modeler3d.py
Labels: none

WIP
  .github/workflows/ci_cd.yml
  pyaedt/generic/plot.py
Labels: maintenance

refacto args Design
  _unittest/test_01_Design.py
  _unittest/test_01_configuration_files.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_20_HFSS.py
  _unittest/test_30_Q2D.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_31_Q3D.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/04-Icepak/Sherlock_Example.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/generic/configurations.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/SolveSetup.py
  pyaedt/twinbuilder.py
Labels: examples

refacto args Variables.py
  _unittest/test_09_VariableManager.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/generic/configurations.py
  pyaedt/modeler/advanced_cad/actors.py
  pyaedt/modeler/advanced_cad/multiparts.py
  pyaedt/modeler/geometry_operators.py
Labels: examples

First committment
  pyaedt/circuit.py
  pyaedt/generic/configurations.py
  pyaedt/generic/design_types.py
  pyaedt/generic/settings.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modules/Boundary.py
Labels: none

fix Design test
  pyaedt/application/Design.py
Labels: none

fix post_processing tests
  pyaedt/application/Design.py
Labels: none

improved UT added additional check on CreateAedtApplication to reduce failures on connect
  _unittest/test_20_HFSS.py
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/modeler/modeler3d.py
Labels: none

fixed docstrings
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/Design.py
Labels: none

fixed docstrings
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Labels: none

add desktop config
  pyaedt/twinbuilder.py
Labels: none

REFACTOR: improve readability of error messages (#4773)
  pyaedt/generic/general_methods.py
Labels: none

avoid built in type
  pyaedt/application/Design.py
Labels: none

added remove_lock argument to application load. Default is False to preserve current way of working
  pyaedt/application/Design.py
Labels: none

Update pyaedt/desktop.py
  pyaedt/desktop.py
Labels: none

Update pyaedt/desktop.py
  pyaedt/desktop.py
Labels: none

added file to coverage
  _unittest/example_models/T20/assembly1.key
  _unittest/example_models/T20/assembly2.key
  _unittest/example_models/T20/test_cad.nas
  _unittest/test_20_HFSS.py
  codecov.yml
  pyaedt/modeler/modeler3d.py
Labels: none

added file to coverage
  _unittest/example_models/T20/test_cad_2.nas
  pyaedt/modeler/modeler3d.py
Labels: none

General method to create plots
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/fields_calculator.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

Update Antenna wizard pipy
  pyaedt/workflows/hfss/toolkits_catalog.toml
Labels: none

added file to coverage
  pyaedt/modeler/modeler3d.py
Labels: none

No cover Settings
  pyaedt/desktop.py
  pyaedt/generic/settings.py
Labels: none

FEAT: Update Antenna wizard pipy (#4780)
  pyaedt/workflows/hfss/toolkits_catalog.toml
Labels: none

added CROD*
  _unittest/example_models/T20/test_cad_2.nas
  pyaedt/modeler/modeler3d.py
Labels: none

FIX: LSF (#4767)
  pyaedt/desktop.py
  pyaedt/generic/settings.py
Labels: none

added missing file to UT
  _unittest_solvers/test_45_workflows.py
Labels: none

FEAT: Add "INCLUDE" to import_nastran (#4772)
  _unittest/example_models/T20/assembly1.key
  _unittest/example_models/T20/assembly2.key
  _unittest/example_models/T20/test_cad.nas
  _unittest/example_models/T20/test_cad_2.nas
  _unittest/test_20_HFSS.py
  _unittest_solvers/test_45_workflows.py
  codecov.yml
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
Labels: none

fix: metadata in pyproject.toml
  pyproject.toml
Labels: maintenance

Unit tests
  _unittest_solvers/test_45_workflows.py
  pyaedt/modules/fields_calculator.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

Non general expression add rectangular plot
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/fields_calculator.py
Labels: none
