Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Jupyter refactoring
  pyaedt/workflows/templates/Jupyter.py_build
  pyaedt/workflows/templates/PyAEDT_Console.py_build
  pyaedt/workflows/templates/PyAEDT_utils.py
  pyaedt/workflows/templates/Run_Extension_Manager.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

When user select custom or internal workflow, label is Extension, otherwise Toolkit
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/installer/extension_manager.py
  pyaedt/workflows/templates/Jupyter.py_build
  pyaedt/workflows/templates/PyAEDT_Console.py_build
  pyaedt/workflows/templates/PyAEDT_utils.py
  pyaedt/workflows/templates/Run_Extension_Manager.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: none

Remove unused variable
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: none

fix tests
  pyaedt/application/Design.py
Labels: none

Remove unused variable
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
Labels: none

Fix Codacy issues
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/templates/PyAEDT_utils.py
Labels: none

FIX: improved the way wires are mapped and managed in Circuit (#4679)
  _unittest/test_21_Circuit.py
  pyaedt/application/Analysis.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

added new workflow to export from Twinbuilder
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

fix tests
  _unittest/test_12_1_PostProcessing.py
Labels: none

Fix bug
  pyaedt/modules/Mesh.py
Labels: none

added units to export_to_csv method
  pyaedt/modules/solutions.py
Labels: none

FEAT: Added new workflow to export from Twinbuilder (#4688)
  pyaedt/misc/tb_nexxim_mapping.toml
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/twinbuilder/__init__.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
  pyaedt/workflows/twinbuilder/images/large/export_to_circuit.png
  pyaedt/workflows/twinbuilder/toolkits_catalog.toml
Labels: none

TwinBuilder fix
  doc/source/Getting_started/Installation.rst
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/installer/extension_manager.py
Labels: none

Fix version extension manager
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/installer/extension_manager.py
Labels: none

FIX: Skin depth deprecation warning bug (#4690)
  pyaedt/modules/Mesh.py
Labels: none

fix tests
  pyaedt/aedt_logger.py
  pyaedt/generic/general_methods.py
Labels: none

FEAT: added units to export_to_csv method (#4691)
  pyaedt/modules/solutions.py
Labels: none

feat/changed folder to pyaedt
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_filter_design.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_implementation.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  _unittest/test_45_FilterSolutions/test_raise_error.py
  examples/08-Filtersolutions/filltersolutionsexample.py
  pyaedt/filtersolutions_core/__init__.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/graph_setup.py
  pyaedt/filtersolutions_core/ideal_response.py
  pyaedt/filtersolutions_core/lumped_nodes_and_leads.py
  pyaedt/filtersolutions_core/lumped_parasitics.py
  pyaedt/filtersolutions_core/lumped_termination_impedance.py
  pyaedt/filtersolutions_core/lumped_topology.py
  pyaedt/filtersolutions_core/multiple_bands_table.py
  pyaedt/filtersolutions_core/transmission_zeros.py
Labels: examples

Fix default rad material on conducting plate BC
  pyaedt/icepak.py
Labels: none

Update numpy version because matplotlib change the minimum release to v1.23
  pyproject.toml
Labels: maintenance

fix tests
  _unittest/test_12_PostProcessing.py
Labels: none

fix tests
  pyaedt/maxwell.py
Labels: none

FIX: Assign conducting plate bug (#4695)
  pyaedt/icepak.py
Labels: none

added options to decimate and to group when importing nastran file. Added options to PyaEDT workflow to import as lightweight and choose the decimation
  pyaedt/desktop.py
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

Pragma no cover
  _unittest/test_01_Design.py
  pyaedt/workflows/customize_automation_tab.py
Labels: none

added requirements
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
  pyproject.toml
Labels: maintenance

fix tests
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

comment line in 41_3dlayout_modeler_test
  _unittest/test_41_3dlayout_modeler.py
Labels: none

commit suggestions
  pyaedt/maxwell.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

create ellipse 2d/3d
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none

CHORE: Matplotlib use Agg backend in CI
  pyaedt/generic/plot.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/modules/solutions.py
Labels: none

DOC: Extend filter warnings with FigureCanvasAgg
  doc/source/conf.py
Labels: documentation

improved decimation alghoritm
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
Labels: none

improved decimation alghoritm
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
Labels: none

improved decimation alghoritm
  pyaedt/modeler/modeler3d.py
Labels: none

Add discovery link function
  pyaedt/modeler/cad/Primitives.py
Labels: none

improved decimation alghoritm
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
Labels: none

FIX: Function handler to return False
  pyaedt/generic/general_methods.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
