Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

FIX: Trap topology condition update for multiband filters (#5266)
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  src/ansys/aedt/core/filtersolutions_core/multiple_bands_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
Labels: none

FIX: Case where only a prerelease is installed on system (#5264)
  src/ansys/aedt/core/desktop.py
Labels: none

CI: Update artifact action on every workflows
  .github/workflows/manual_draft.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

CHORE: Match CONTRIBUTORS.md template files
  CONTRIBUTORS.md
Labels: none

improve intrinsics
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

CHORE: Match CONTRIBUTORS.md template files (#5267)
  CONTRIBUTORS.md
Labels: none

Range profile
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
Labels: none

remove sweep from aedt file
  _unittest/test_12_1_PostProcessing.py
Labels: none

Fix invalidate design
  _unittest/test_12_1_PostProcessing.py
Labels: none

Remove comment
  _unittest/test_12_1_PostProcessing.py
Labels: none

Fix UT
  _unittest/test_34_TwinBuilder.py
Labels: none

Fix UT
  _unittest/test_34_TwinBuilder.py
Labels: none

Fix UT
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/twinbuilder.py
Labels: none

Retrigger actions
  _unittest/test_12_1_PostProcessing.py
Labels: none

removing update_property_value as covered by other api
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: none

FIX: check solve_inside in create_fieldplot_volume (#5256)
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

FEAT: add twinbuilder apis (#5265)
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
  src/ansys/aedt/core/twinbuilder.py
Labels: none

FIX:_FilterSolutions_unittest_typo_update
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

CI: Update artifact action on every workflows (#5268)
  .github/workflows/manual_draft.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

Address second round of PR feedback
  _unittest_solvers/test_26_emit.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

new method to add notes on design plus unit test to test it
  _unittest/test_01_Design.py
  src/ansys/aedt/core/application/design.py
Labels: none

REFACTOR: Renaming filter into filter_order (#5262)
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
Labels: none

FIX: Comment is applied.
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

FIX: FilterSolutions unittest typo update (#5270)
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

Update src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/design.py
Labels: none

Update src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/design.py
Labels: none

use f-strings instead of .format
  _unittest/conftest.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_configuration_files.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_11_Setup.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_46_FarField.py
  _unittest/test_98_Icepak.py
  _unittest_ironpython/run_unittests.py
  _unittest_solvers/conftest.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_26_emit.py
  doc/source/Resources/pyaedt_installer_from_aedt.py
  doc/source/User_guide/emit_modeler.rst
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/aedt_logger.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/common_rpc.py
  src/ansys/aedt/core/desktop.py
Labels: testing

documentation: added description of the method, reference and example
  src/ansys/aedt/core/application/design.py
Labels: none

FEAT: Prepare for EMIT Python 3.12 support. (#5248)
  _unittest_solvers/test_26_emit.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: none

doc: Remove confusing/erroneous info message
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

fix: select user specified settings more reliably
  src/ansys/aedt/core/modules/mesh_icepak.py
Labels: none

FIX: Graph settings and dll version fix
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  src/ansys/aedt/core/filtersolutions_core/dll_interface.py
  src/ansys/aedt/core/filtersolutions_core/ideal_response.py
Labels: none

use f-strings instead of .format
  _unittest/conftest.py
  src/ansys/aedt/core/downloads.py
  src/ansys/aedt/core/emit.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/generic/filesystem.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/grpc_plugin_dll_class.py
  src/ansys/aedt/core/generic/ibis_reader.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/maxwell.py
Labels: testing

fix review comments
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

FIX: Remove confusing/erroneous info message (#5274)
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

apply codacity suggestion
  src/ansys/aedt/core/modules/mesh_icepak.py
Labels: none

CI: Fix conflict in artifact action version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

Create SceneMeshObject
  pyproject.toml
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: maintenance

Create SceneMeshObject
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

CI: Fix conflict in artifact action version (#5279)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
