Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

FEAT: Improve create_schematic_from_netlist coverage (#4757)
  _unittest/example_models/T35/netlist.sph
  _unittest/test_35_MaxwellCircuit.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Labels: none

Python 3.7 deprecation
  .github/ISSUE_TEMPLATE/bug.yml
  README.md
  README_CN.md
  doc/source/Getting_started/ClientServer.rst
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
Labels: documentation, maintenance

Python 3.7 deprecation
  .github/workflows/ci_cd.yml
Labels: maintenance

Increment retries of ERL in unittests
  pyaedt/generic/spisim.py
Labels: none

Increment retries of ERL in unittests
  pyaedt/generic/spisim.py
Labels: none

Skip edb from coverage
  codecov.yml
Labels: none

Update codecov.yml
  codecov.yml
Labels: none

Add fields calculator
  pyaedt/workflows/project/advanced_fields_calculator.py
  pyaedt/workflows/project/images/large/fields.png
  pyaedt/workflows/project/toolkits_catalog.toml
Labels: none

FEAT: Increment retries of ERL in unittests (#4760)
  codecov.yml
  pyaedt/generic/spisim.py
Labels: none

Add hasfields property
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

feat/draft_filtersolutions: comments are applied, delay filter is added, linux tests skipped.
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  _unittest/test_45_FilterSolutions/test_raise_error.py
  pyaedt/filtersolutions.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/generic/design_types.py
Labels: none

FIX: Use env variable for encrypted password
  pyaedt/application/Analysis3D.py
Labels: none

Remove hasfields
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

Fix issue in HFSS 3D Layout
  pyaedt/application/Design.py
Labels: none

FIX: LSF Command in desktop.py
  pyaedt/desktop.py
Labels: none

Fix issue in HFSS 3D Layout
  pyaedt/application/Design.py
  pyaedt/workflows/project/advanced_fields_calculator.py
Labels: none

Added chamfers and fillet method to Object3d to apply to more than one edge/vertice at the same time
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  pyaedt/modeler/cad/object3d.py
Labels: none

added wheelhouse
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: LSF Command in desktop.py
  pyaedt/desktop.py
Labels: none

Ignore coverage output
  .gitignore
Labels: none

improved modeler getitem. Draft
  pyaedt/modeler/cad/Primitives.py
Labels: none

Only set design mode if explicitly requested
  _unittest/example_models/T40/ic_mode_design.aedb/edb.def
  _unittest/example_models/T40/ic_mode_design.aedb/stride/model.index
  _unittest/example_models/T40/ic_mode_design.aedt
  _unittest/test_01_3dlayout_edb.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: none

FIX: LSF Commands
  pyaedt/generic/settings.py
Labels: none

improved modeler getitem. Draft
  _unittest/test_14_AedtLogger.py
Labels: none

Update pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Update pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Update pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/object3d.py
Labels: none

Added support to include files into import_nastran method
  pyaedt/modeler/modeler3d.py
Labels: none

push
  _unittest/test_12_PostProcessing.py
Labels: none

Improved code coverage
  _unittest/test_07_Object3D.py
  _unittest/test_09_Primitives2D.py
  pyaedt/modeler/cad/object3d.py
Labels: none

WIP: Python 3.12 testing
  .github/workflows/ci_cd.yml
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_26_emit.py
  doc/Makefile
  doc/make.bat
  pyaedt/modeler/schematic.py
  pyproject.toml
Labels: maintenance

CI: Apply setup-python workaround
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Module imp is removed in python3.12
  pyaedt/emit_core/__init__.py
Labels: none

DOCS: Avoid emit documentation if required
  doc/source/API/Application.rst
  doc/source/conf.py
Labels: documentation

DOCS: Disable avoiding emit documentation
  doc/source/API/Application.rst
  doc/source/conf.py
Labels: documentation

REFACTOR: Encryption password handling
  pyaedt/application/Analysis3D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/modeler3d.py
Labels: none

Added nastran include support
  _unittest/example_models/T20/assembly1.key
  _unittest/example_models/T20/test_cad.nas
  _unittest/test_20_HFSS.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
Labels: none

FIX: Only set design mode (General or IC) when explicitly requested (#4766)
  .gitignore
  _unittest/example_models/T40/ic_mode_design.aedb/edb.def
  _unittest/example_models/T40/ic_mode_design.aedb/stride/model.index
  _unittest/example_models/T40/ic_mode_design.aedt
  _unittest/test_01_3dlayout_edb.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: none

- fixed unit test
  _unittest/test_08_Primitives3D.py
Labels: none

fixed UT
  _unittest_solvers/test_45_workflows.py
Labels: none
