Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

fixed typo
  doc/source/_static/extensions/edb_config_setup.png
Labels: none

ignoring file in coverage
  codecov.yml
Labels: none

fixing UT
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

fixing UT
  pyaedt/application/Design.py
Labels: none

FIX: pre commit flake8
  _unittest/test_04_SBR.py
Labels: none

fixing UT
  pyaedt/application/Design.py
  pyaedt/modules/SolveSetup.py
  pyproject.toml
Labels: maintenance

fixing UT
  pyproject.toml
Labels: maintenance

FIX: plotter show exiting plotting session (#4912)
  pyaedt/generic/plot.py
  pyaedt/modules/solutions.py
  pyaedt/sbrplus/plot.py
Labels: none

BUILD: Update version of pyvista (#4906)
  .github/workflows/ci_cd.yml
  _unittest/test_04_SBR.py
  _unittest/test_12_PostProcessing.py
  pyproject.toml
Labels: maintenance

rerformatted the example
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

fixing UT
  pyaedt/application/Design.py
Labels: none

FIX: Kernel Converter script and doc (#4892)
  codecov.yml
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/source/_static/extensions/converted_files.png
  doc/source/_static/extensions/kernel_convert_ui.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyaedt/workflows/project/kernel_converter.py
Labels: none

fixing UT
  _unittest/test_08_Primitives3D.py
Labels: none

DOCS: Adding Circuit-HFSS-Icepak coupling example (#4914)
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples

fixing UT
  _unittest/test_98_Icepak.py
Labels: none

FIX: Export configuration and AEDT crash (#4913)
  _unittest/test_01_Design.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_98_Icepak.py
  doc/source/_static/extensions/edb_config_setup.png
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/generic/configurations.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/monitor_icepak.py
  pyproject.toml
Labels: maintenance

update to v0.9.9
  pyaedt/__init__.py
Labels: none

optimize code
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Fix line 955 too long
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

fix
  pyaedt/maxwell.py
Labels: none

improve
  pyaedt/maxwell.py
Labels: none

fix doc
  pyaedt/maxwell.py
Labels: none

fix doc
  pyaedt/maxwell.py
Labels: none

add test
  _unittest/example_models/TMaxwell/External_Circuit.aedt
  _unittest/test_27_Maxwell2D.py
  pyaedt/maxwell.py
Labels: none

aligned intrinsics argument to be a dict for all methods. Add an internal method (_check_intrinsics) to check and populate the dictionary
  _unittest_solvers/test_00_analyze.py
  pyaedt/application/Analysis.py
  pyaedt/modules/PostProcessor.py
Labels: none

aligned intrinsics argument to be a dict for all methods. Add an internal method (_check_intrinsics) to check and populate the dictionary
  pyaedt/application/Analysis.py
Labels: none

Added example and docstrings
  pyaedt/application/Analysis.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

Improve coverage
  _unittest/test_98_Icepak.py
  pyaedt/modules/Boundary.py
Labels: none

fix read mesh settings
  pyaedt/modules/MeshIcepak.py
Labels: none

fix docstrings and improve test
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

improve test
  _unittest_solvers/test_00_analyze.py
Labels: none

Added new extension to parametrize edb
  _unittest_solvers/test_45_workflows.py
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/parametrize_edb.rst
  pyaedt/workflows/hfss3dlayout/parametrize_edb.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

Update doc/source/User_guide/extensions.rst
  doc/source/User_guide/extensions.rst
Labels: none

Update parametrize_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/parametrize_edb.rst
Labels: none

FIX: read mesh settings (#4923)
  pyaedt/modules/MeshIcepak.py
Labels: none

FEAT: Maxwell create_external_circuit (#4907)
  _unittest/example_models/TMaxwell/External_Circuit.aedt
  _unittest/test_27_Maxwell2D.py
  pyaedt/maxwell.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Labels: none

fix object field summary method
  pyaedt/modules/AdvancedPostProcessing.py
Labels: none

Update codecov.yml for filtersolutins coverage till 2025R1
  codecov.yml
Labels: none

add option to change scale
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

refacto modeler and parametrics args
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_11_Setup.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_98_Icepak.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/solutions.py
  pyaedt/workflows/project/kernel_converter.py
Labels: examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
