Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

FIX: Update jupyter_template.ipynb (#5121)
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
Labels: none

feat: add fieldplot folder settings classes
  src/ansys/aedt/core/modules/solutions.py
Labels: none

test: add tests for fieldplot folder settings classes
  _unittest/test_98_Icepak.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

docs: add documentation for fieldplot folder settings classes
  src/ansys/aedt/core/modules/solutions.py
Labels: none

improve for conditional design vars
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

docs: fix error logging checked message
  _unittest/test_98_Icepak.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

added method to enable matrix convergence
  _unittest/test_11_Setup.py
  _unittest/test_41_3dlayout_modeler.py
  examples/07-Circuit/Reports.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: examples

improve test
  _unittest/test_02_2D_modeler.py
Labels: none

REFACTOR new file
  src/ansys/aedt/core/workflows/project/configure_edb.py
  src/ansys/aedt/core/workflows/project/configure_edb_bak.py
Labels: none

REFACTOR unittest
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

removed all OrderedDict
  _unittest/test_27_Maxwell2D.py
  doc/source/conf.py
  examples/04-Icepak/Icepak_CSV_Import.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/farfield_visualization.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/spisim.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/design_xploration.py
  src/ansys/aedt/core/modules/layer_stackup.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_3d_layout.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/optimetrics_templates.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solutions.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/modules/solve_sweeps.py
  src/ansys/aedt/core/q3d.py
Labels: documentation, examples

fixed docstring
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

FIX desktop
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/workflows/project/configure_edb.py
  src/ansys/aedt/core/workflows/project/configure_edb_bak.py
Labels: none

fixed docstring
  _unittest/test_11_Setup.py
Labels: none

FIX minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

FIX minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
Labels: none

FIX minor
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

FIX minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

fix minor
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

tests: improve coverage
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/modules/solutions.py
Labels: none

fixed transparency when changing solution type in maxwell
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: none

FEAT: added method to enable matrix convergence (#5126)
  _unittest/test_11_Setup.py
  _unittest/test_41_3dlayout_modeler.py
  examples/07-Circuit/Reports.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: examples

Allow scale_min and max to be set if not log scale
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: none

REFACTOR: removed all OrderedDict (#5127)
  _unittest/test_27_Maxwell2D.py
  doc/source/conf.py
  examples/04-Icepak/Icepak_CSV_Import.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/farfield_visualization.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/spisim.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/design_xploration.py
  src/ansys/aedt/core/modules/layer_stackup.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_3d_layout.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/optimetrics_templates.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solutions.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/modules/solve_sweeps.py
  src/ansys/aedt/core/q3d.py
Labels: documentation, examples

add doc custom extension
  doc/source/User_guide/extensions.rst
Labels: none

remove comment
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

arbitrary wave port extension
  src/ansys/aedt/core/workflows/hfss3dlayout/export_layout.py
Labels: none

Update src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

fix minor
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/_static/extensions/configure_edb.png
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

fix minor
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

fix minor
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

refactor extensions doc
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/my_custom_extension.png
  doc/source/Resources/my_custom_extension_1.png
  doc/source/Resources/toolkit_manager_1.png
  doc/source/User_guide/extensions.rst
Labels: none

REFACTOR: Check if material is a parametric design var (#5117)
  _unittest/test_02_2D_modeler.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

fix minor
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

feat: add unit enumeration doc: add classes documentation
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/modules/solutions.py
Labels: none
