Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Apply suggestions from code review
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
Labels: none

DOC: Add skip on the last exampel GIF related
  doc/source/conf.py
Labels: documentation

Fix venv issue
  pyaedt/desktop.py
  pyaedt/misc/Run_Toolkit_Manager.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/toolkit_manager.py
Labels: none

Last jsonschema python 3.7 compatible add
  pyproject.toml
Labels: maintenance

Add desktop dir to environment variables
  _unittest_solvers/test_00_analyze.py
  pyaedt/generic/spisim.py
Labels: none

Change PyAEDT icons
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/images/gallery/PyAEDT.png
  pyaedt/misc/images/gallery/console.png
  pyaedt/misc/images/gallery/jupyter.png
  pyaedt/misc/images/gallery/run_script.png
  pyaedt/misc/images/gallery/toolkit_manager.png
Labels: none

Fix Codacy
  pyaedt/desktop.py
  pyaedt/misc/toolkit_manager.py
Labels: none

Enhance docstring+fix backward compatiblity manipulation (#4585)
  _unittest/test_09_Primitives2D.py
  pyaedt/generic/configurations.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Fix UT
  _unittest/test_01_toolkit_icons.py
Labels: none

FIX: HFSS keyword argument deprecation
  pyaedt/hfss.py
Labels: none

FIX: HFSS keyword argument deprecation (#4594)
  pyaedt/hfss.py
Labels: none

Use a new EMIT design for unit tests that require it
  _unittest_solvers/test_26_emit.py
Labels: none

Convert relevant columns from str to floats
  pyaedt/modules/PostProcessor.py
Labels: none

Fix active design selection behavior for Emit designs (#4587)
  _unittest_solvers/test_26_emit.py
  pyaedt/emit.py
Labels: none

Tests fixes
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
Labels: none

Remove Area/Volume conversion
  pyaedt/modules/PostProcessor.py
Labels: none

Fix ironpy ut
  pyaedt/icepak.py
Labels: none

Fix ironpy ut
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: none

Add PyAEDT Console
  pyaedt/misc/aedtlib_personalib_install.py
Labels: none

Add suggestion
  pyaedt/misc/Console.py_build
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/misc/Run_Toolkit_Manager.py_build
Labels: none

Add suggestion
  pyaedt/misc/toolkit_manager.py
Labels: none

Apply suggestions from code review
  pyaedt/misc/Run_Toolkit_Manager.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/toolkit_manager.py
Labels: none

Active design more general
  pyaedt/desktop.py
Labels: none

FIx save_project issues in UT
  _unittest/test_21_Circuit.py
Labels: none

FIx save_project issues in UT
  _unittest/test_21_Circuit.py
Labels: none

add transient support
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: none

added docstring examples to assign_vector_potential and assign_balloon functions
  pyaedt/maxwell.py
Labels: none

Add TK and TCK env variables in Linux
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
Labels: none

Add TK and TCK env variables in Linux
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
Labels: none

Fix Linux logo
  pyaedt/desktop.py
  pyaedt/misc/toolkit_manager.py
Labels: none

add sherlock option
  pyaedt/icepak.py
Labels: none

fix documentation
  pyaedt/icepak.py
Labels: none

fix tests
  _unittest/test_98_Icepak.py
Labels: none

Update pyaedt/application/Design.py
  pyaedt/application/Design.py
Labels: none

export_keeping_net_name_reverting
  pyaedt/modules/SolveSetup.py
Labels: none

CI: Refact full documentation
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Refact github release
  .github/workflows/ci_cd.yml
Labels: maintenance

CHORE: Remove code duplicate
  .github/workflows/nightly-docs.yml
Labels: maintenance

improved wording
  pyaedt/maxwell.py
Labels: none

Linux compatibility
  pyaedt/desktop.py
  pyaedt/misc/Run_Toolkit_Manager.py_build
Labels: none
