Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

panel with logo
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

TEST: Comment overwrite ffd
  _unittest_solvers/test_00_analyze.py
Labels: none

FIX: Matplotlib version bound
  pyproject.toml
Labels: maintenance

UnComment overwrite ffd
  _unittest_solvers/test_00_analyze.py
Labels: none

adding test case from main to avoid conflict
  _unittest_solvers/test_45_workflows.py
Labels: none

add_expression as a dict
  _unittest_solvers/test_45_workflows.py
  pyaedt/modules/fields_calculator.py
Labels: none

add constant class for expressions
  pyaedt/generic/constants.py
  pyaedt/modules/fields_calculator.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Skip failing tests in Linux 2024R2
  _unittest_solvers/test_45_workflows.py
Labels: none

FIX; Rendering issues with off_screen
  pyaedt/generic/farfield_visualization.py
  pyaedt/generic/plot.py
  pyaedt/sbrplus/plot.py
Labels: none

REFACTOR: Either plot or save with pyvista
  pyaedt/generic/farfield_visualization.py
Labels: none

Fields Calculator schema
  pyaedt/generic/constants.py
  pyaedt/misc/fields_calculator.schema.json
  pyaedt/modules/fields_calculator.py
Labels: none

Test review flag
  _unittest_solvers/test_45_workflows.py
Labels: none

Use JSONSCHEMA in FieldsCalculator
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/fields_calculator.schema.json
  pyaedt/modules/fields_calculator.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Test review flag
  _unittest_solvers/test_45_workflows.py
Labels: none

FEAT_Filtersolutions_Export: Reviewer comments applied
  .gitignore
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/export_to_aedt.py
  pyaedt/filtersolutions_core/optimization_goals_table.py
Labels: examples

FEAT_Filtersolutions_Export: DLL path update
  pyaedt/filtersolutions_core/dll_interface.py
Labels: none

FIX: Test wrong argument usage
  _unittest_solvers/test_00_analyze.py
Labels: none

Update pyaedt/modules/fields_calculator.py
  pyaedt/modules/fields_calculator.py
Labels: none

Update pyaedt/modules/fields_calculator.py
  pyaedt/modules/fields_calculator.py
Labels: none

REFACTOR: Pyvista plotter usage (#4984)
  _unittest/test_12_PostProcessing.py
  _unittest/test_46_FarField.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  examples/02-HFSS/Array.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler3d.py
  pyaedt/sbrplus/plot.py
Labels: examples

FEAT_Filtersolutions_Export_InterConnect: Substrate parameters added.
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: none

Fix codacy
  pyaedt/modules/fields_calculator.py
Labels: none

Update pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

Update pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

Add input_dir to method
  pyaedt/generic/general_methods.py
Labels: none

Update pyaedt/workflows/icepak/power_map_from_csv.py
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

Update pyaedt/workflows/icepak/power_map_from_csv.py
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

Update pyaedt/workflows/icepak/power_map_from_csv.py
  pyaedt/workflows/icepak/power_map_from_csv.py
Labels: none

fix create_external_circuit method: using excitation type "winding" instead of "winding group"
  pyaedt/maxwell.py
Labels: none

Add Linux not support on Linux
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

FEAT: Add expression as a dict [Fields calculator] (#4998)
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/fields_calculator.schema.json
  pyaedt/modules/fields_calculator.py
Labels: none

Added separation of faces and objects in assign_voltage method
  pyaedt/maxwell.py
Labels: none

FEAT: Add input_dir to License Feature method (#5005)
  pyaedt/generic/general_methods.py
Labels: none

fix create_external_circuit method
  pyaedt/maxwell.py
Labels: none

Documentation with sample csv file
  _unittest_solvers/test_45_workflows.py
  doc/source/Resources/icepak_classic_powermap.csv
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
Labels: none

Documentation error fix
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
Labels: none

Documentation error fix: more underlines
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
Labels: none

Update pyaedt/maxwell.py
  pyaedt/maxwell.py
Labels: none
