Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

REFACTOR: Intrinsics management (#4921)
  _unittest_solvers/test_00_analyze.py
  pyaedt/application/Analysis.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

fix review comments and merge main
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Labels: none

Temporary test
  _unittest_solvers/test_45_workflows.py
Labels: none

FEAT: Added new method for creating ibis circuit schematic starting from a list of pins in the schematic (#4937)
  _unittest/test_21_Circuit.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/circuit.py
  pyaedt/generic/ibis_reader.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/schematic.py
Labels: examples

remove blank line in aedt_logger
  pyaedt/aedt_logger.py
Labels: none

REFACTOR: Refacto args (#4929)
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_11_Setup.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_98_Icepak.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/solutions.py
  pyaedt/workflows/project/kernel_converter.py
Labels: examples

Improved rmxprt robustness Added rmxprt example
  _unittest/example_models/T32/assm_test.aedt
  _unittest/test_32_RMxprt.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/application/Analysis.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/Design.py
  pyaedt/rmxprt.py
Labels: examples

Fix Doc
  pyaedt/application/AnalysisRMxprt.py
Labels: none

Fix Doc Cleanup
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/rmxprt.py
Labels: none

Update examples/03-Maxwell/RMxprt.py
  examples/03-Maxwell/RMxprt.py
Labels: examples

Update examples/03-Maxwell/RMxprt.py
  examples/03-Maxwell/RMxprt.py
Labels: examples

Improved coverage
  _unittest/test_32_RMxprt.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/application/Analysis.py
Labels: examples

FEAT: Improved rmxprt robustness (#4948)
  _unittest/example_models/T32/assm_test.aedt
  _unittest/test_32_RMxprt.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/application/Analysis.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/Design.py
  pyaedt/rmxprt.py
Labels: examples

added import and export method to Rmxprt class
  _unittest/test_32_RMxprt.py
  pyaedt/rmxprt.py
Labels: none

added import and export method to Rmxprt class
  examples/03-Maxwell/RMxprt.py
  pyaedt/rmxprt.py
Labels: examples

added import and export method to Rmxprt class
  examples/03-Maxwell/RMxprt.py
  pyaedt/rmxprt.py
Labels: examples

moved test to _unittest_solvers
  _unittest/test_32_RMxprt.py
  _unittest_solvers/example_models/T00/assm_test.aedt
  _unittest_solvers/test_00_analyze.py
Labels: none

Update pyaedt/rmxprt.py
  pyaedt/rmxprt.py
Labels: none

moved test to _unittest_solvers
  pyaedt/rmxprt.py
Labels: none

added check in desktop_release
  pyaedt/desktop.py
Labels: none

FEAT: added import and export method to Rmxprt class (#4951)
  _unittest/test_32_RMxprt.py
  _unittest_solvers/example_models/T00/assm_test.aedt
  _unittest_solvers/test_00_analyze.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/rmxprt.py
Labels: examples

FIX: added check in desktop_release (#4952)
  pyaedt/desktop.py
Labels: none

Update to v0.9.10
  pyaedt/__init__.py
Labels: none

Update to v0.9.10
  examples/08-FilterSolutions/Lumped_Element_Response.py
Labels: examples

FEAT: change symbol pin locations
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

optimize code
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Fix line 955 too long
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Fix docstring
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Add UT
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Symbolic link removed it, it is not needed anymore
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

Add new expression
  pyaedt/misc/expression_catalog.toml
Labels: none

FEAT: Change symbol pin (#4956)
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

remove blank line in maxwell.py
  pyaedt/maxwell.py
Labels: none

Improve coverage
  _unittest/example_models/T46/array_simple_231.aedtz
  _unittest/example_models/T46/eep/eep.txt
  _unittest/example_models/T46/eep/element_1_1.ffd
  _unittest/example_models/T46/eep/element_1_10.ffd
  _unittest/example_models/T46/eep/element_1_11.ffd
  _unittest/example_models/T46/eep/element_1_12.ffd
  _unittest/example_models/T46/eep/element_1_13.ffd
  _unittest/example_models/T46/eep/element_1_14.ffd
  _unittest/example_models/T46/eep/element_1_15.ffd
  _unittest/example_models/T46/eep/element_1_16.ffd
  _unittest/example_models/T46/eep/element_1_17.ffd
  _unittest/example_models/T46/eep/element_1_18.ffd
  _unittest/example_models/T46/eep/element_1_19.ffd
  _unittest/example_models/T46/eep/element_1_2.ffd
  _unittest/example_models/T46/eep/element_1_20.ffd
  _unittest/example_models/T46/eep/element_1_3.ffd
  _unittest/example_models/T46/eep/element_1_4.ffd
  _unittest/example_models/T46/eep/element_1_5.ffd
  _unittest/example_models/T46/eep/element_1_6.ffd
  _unittest/example_models/T46/eep/element_1_7.ffd
  _unittest/example_models/T46/eep/element_1_8.ffd
  _unittest/example_models/T46/eep/element_1_9.ffd
  _unittest/example_models/T46/metadata/Sweep_DV231.s4p
  _unittest/example_models/T46/metadata/hfss_metadata.xml
  _unittest/example_models/T46/pyaedt_metadata/Sweep_DV8806.s40p
  _unittest/example_models/T46/pyaedt_metadata/pyaedt_antenna_metadata.json
  _unittest/test_20_HFSS.py
  _unittest/test_46_FarField.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/generic/touchstone_parser.py
Labels: none

Fix conflict and update Python 3.12
  pyproject.toml
Labels: maintenance

FEAT: Minimum magnetic field position (#4959)
  pyaedt/misc/expression_catalog.toml
Labels: none

fix properties in rmxprt.py to make it back compatible with 23R2.
  pyaedt/modeler/cad/elements3d.py
  pyaedt/rmxprt.py
Labels: none

CHORE: Cleanup bandit warnings
  pyaedt/modules/PostProcessor.py
  pyaedt/workflows/project/create_report.py
Labels: none

FEAT: Symbolic link removed it (#4957)
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

improved coverage
  pyaedt/modeler/cad/elements3d.py
Labels: none
