Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Fix export to 3d
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
Labels: none

Twin builder not compatible with Linux
  _unittest_solvers/test_45_workflows.py
Labels: none

Create report fix
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/project/create_report.py
Labels: none

replaced fast-simplification with decimate_pro alghoritm from pyvista
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
  pyproject.toml
Labels: maintenance

Fix import nastran
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

Fix twin builder extension
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

replaced fast-simplification with decimate_pro alghoritm from pyvista added pyvista preview to the importer added pyvista preview to simplify_mesh method
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
Labels: none

replaced fast-simplification with decimate_pro alghoritm from pyvista added pyvista preview to the importer added pyvista preview to simplify_mesh method
  pyaedt/modeler/modeler3d.py
Labels: none

Fix UT
  _unittest_solvers/example_models/T45/box.stl
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/misc.py
Labels: none

FEAT: PCB component (#4727)
  _unittest/conftest.py
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modules/Boundary.py
Labels: testing

replaced fast-simplification with decimate_pro alghoritm from pyvista added pyvista preview to the importer added pyvista preview to simplify_mesh method
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

Pragma no cover for 2 EMIT method that are not tested temporaly
  pyaedt/emit_core/results/revision.py
Labels: none

FEAT: added method assign_thin_conductor to Q3D (#4738)
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: none

replaced fast-simplification with decimate_pro alghoritm from pyvista added pyvista preview to the importer added pyvista preview to simplify_mesh method
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
Labels: none

FEAT: replaced fast-simplification with decimate_pro alghoritm from pyvista (#4739)
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
  pyproject.toml
Labels: maintenance

create_conical_rings
  pyaedt/modeler/modeler3d.py
Labels: none

Pass argument in unit test
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/misc.py
Labels: none

Pass argument in unit test
  _unittest_solvers/test_45_workflows.py
Labels: none

added preview to import_nastran.py fixed issue in compute_fft
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

added preview to import_nastran.py fixed issue in compute_fft
  pyaedt/hfss.py
Labels: none

added preview to import_nastran.py fixed issue in compute_fft
  pyaedt/generic/general_methods.py
  pyaedt/hfss.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

CHORE: Add install target for pyaedt installer
  pyproject.toml
Labels: maintenance

CI: Extend wheelhouse with installer target
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove subprocess
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/__init__.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/templates/extension_template.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: none

Return dictionary in UI
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

Fix import nastran bug
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/project/import_nastran.py
Labels: none

CHORE: Fix target dependency in Python3.7
  pyproject.toml
Labels: maintenance

REFACTOR: Use installer target in script
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

Fix codacy
  _unittest_solvers/test_45_workflows.py
Labels: none

REFACTOR: Extend case with existing venv
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

FIX: Script use of target installer
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

Rings over cone
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Labels: none

fixed bug on multidesktop in case of connection to existing sessions.
  pyaedt/desktop.py
Labels: none

CI: Avoid wheelhouse for py3.7 and installer
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: CI avoid specific matrix
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: CI avoid specific matrix
  .github/workflows/ci_cd.yml
Labels: maintenance

fixed bug on multidesktop in case of connection to existing sessions.
  _unittest_solvers/test_45_workflows.py
Labels: none

Update EDB
  _unittest_solvers/example_models/T45/export.aedb/edb.def
  _unittest_solvers/example_models/T45/export.aedt
Labels: none

Fix script to run in 2023R1
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none

Fix script to run in 2023R1
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: none
