Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

CHORE: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Apply suggestions from code review
  doc/source/conf.py
Labels: documentation

Fix Maxwell name
  pyaedt/misc/install_extra_toolkits.py
Labels: none

Revert constant
  pyaedt/modules/SolveSetup.py
Labels: none

added docstring examples to assign_vector_potential and assign_balloo… (#4599)
  pyaedt/maxwell.py
Labels: none

fix get_obj_material
  pyaedt/modeler/cad/Primitives.py
Labels: none

refactor mesh settings
  pyaedt/modules/MeshIcepak.py
Labels: none

add options for fieldplot image export
  pyaedt/modules/solutions.py
Labels: none

REFACT: Revert constant (#4602)
  pyaedt/modules/SolveSetup.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Remove skip not required anymore (see #4589)
  _unittest_solvers/test_00_analyze.py
Labels: none

fix for ironpython support
  pyaedt/modules/MeshIcepak.py
Labels: none

DOC: Fix blank area
  doc/source/index.rst
Labels: documentation

DOC: Fix docstring typo
  pyaedt/modules/solutions.py
Labels: none

FEAT: Convert relevant columns of fields summary pandas data from str to floats (#4595)
  pyaedt/modules/PostProcessor.py
Labels: none

FIX: Comparison with found material
  pyaedt/modeler/cad/Primitives.py
Labels: none

FEAT: add options for fieldplot image export (#4605)
  pyaedt/modules/solutions.py
Labels: none

Workflows directory
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/workflows/__init__.py
  pyaedt/workflows/circuit/__init__.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/emit/__init__.py
  pyaedt/workflows/hfss/__init__.py
  pyaedt/workflows/hfss3dlayout/__init__.py
  pyaedt/workflows/icepak/__init__.py
  pyaedt/workflows/images/large/pyansys.png
  pyaedt/workflows/maxwell2d/__init__.py
  pyaedt/workflows/maxwell3d/__init__.py
  pyaedt/workflows/mechanical/__init__.py
  pyaedt/workflows/project/__init__.py
  pyaedt/workflows/project/console_setup.py
  pyaedt/workflows/project/images/large/console.png
  pyaedt/workflows/project/images/large/jupyter.png
  pyaedt/workflows/project/images/large/run_script.png
  pyaedt/workflows/project/images/large/toolkit_manager.png
  pyaedt/workflows/project/pyaedt_installer.py
  pyaedt/workflows/q2d/__init__.py
  pyaedt/workflows/q3d/__init__.py
  pyaedt/workflows/simplorer/__init__.py
  pyaedt/workflows/templates/Jupyter.py_build
  pyaedt/workflows/templates/PyAEDT_Console.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
  pyaedt/workflows/templates/__init__.py
  pyaedt/workflows/toolkit_manager.py
Labels: none

DOC: Fix item card
  doc/source/index.rst
Labels: documentation

Workflows directory
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/project/jupyter_template.ipynb
  pyaedt/workflows/project/pyaedt_installer.py
  pyaedt/workflows/project/toolkit_manager.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

FIX: Method get_obj_material (#4603)
  pyaedt/modeler/cad/Primitives.py
Labels: none

Remove old scripts
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/install_extra_toolkits.py
Labels: none

fixed method export_to_q3d and export_to_hfss
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/SolveSetup.py
Labels: examples

Remove old scripts
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

Remove toolkit manager env
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
Labels: none

improve architecture
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: none

fixed method export_to_q3d and export_to_hfss
  pyaedt/modeler/modelerpcb.py
  pyaedt/modules/SolveSetup.py
Labels: none

fixed method export_to_q3d and export_to_hfss
  pyaedt/modeler/modelerpcb.py
Labels: none

Install custom toolkit
  pyaedt/desktop.py
  pyaedt/misc/images/gallery/console.png
  pyaedt/misc/images/gallery/jupyter.png
  pyaedt/misc/images/gallery/run_script.png
  pyaedt/misc/images/gallery/toolkit_manager.png
  pyaedt/misc/images/large/pyansys.png
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss/images/large/antenna.png
  pyaedt/workflows/hfss/toolkits_catalog.toml
  pyaedt/workflows/maxwell3d/images/large/magnet_segmentation.png
  pyaedt/workflows/maxwell3d/toolkits_catalog.toml
  pyaedt/workflows/project/images/large/logo.png
  pyaedt/workflows/project/toolkit_manager.py
Labels: none

Revert "Fix active design selection behavior for Emit designs (#4587)"
  _unittest_solvers/test_26_emit.py
  pyaedt/emit.py
Labels: none

Update test_26_emit.py
  _unittest_solvers/test_26_emit.py
Labels: none

Apply suggestions from code review
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: none

add abstract class
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: none

add app attribute
  pyaedt/icepak.py
Labels: none

ironpy compatibility
  pyaedt/application/Design.py
Labels: none

Apply suggestions from code review
  pyaedt/modules/MeshIcepak.py
Labels: none

fix
  pyaedt/application/Design.py
Labels: none

REFACT: mesh region settings (#4604)
  pyaedt/modules/MeshIcepak.py
Labels: none

TESTS: Temporary disabling SPISIM test with linux
  _unittest_solvers/test_00_analyze.py
Labels: none

FEAT: Transient ambient temperature in design settings & Design settings class (#4580)
  _unittest/test_01_Design.py
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
