Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

CHORE: Update Makefile
  doc/Makefile
Labels: none

FIX: Test markers
  tests/conftest.py
  tests/system/solvers/conftest.py
Labels: none

REFACTOR: Regular code improvement
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/report/common.py
Labels: none

CI: Disable check links
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: cutout extension (#5311)
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
Labels: none

Apply suggestions from code review
  pyaedt/twinbuilder.py
Labels: none

Fix plot RCS 3D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
Labels: none

CI: Bump ansys actions version (#5315)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/Makefile
  doc/source/conf.py
Labels: documentation, maintenance

excitation model implementation
  _unittest/example_models/T34/Q2D_ArmouredCableExample_CopyImport.aedt
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/twinbuilder.py
Labels: none

Fix plot Range profile 3D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

add .aedt test file
  _unittest/example_models/T34/TB_excitation_model.aedt
Labels: none

skipif v < 2025.1
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/twinbuilder.py
Labels: none

Fix plot waterfall
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

fixed typo in output_dir argument of method hfss\validate_full_design
  src/ansys/aedt/core/hfss.py
Labels: none

Fix plot waterfall
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

use dkp class
  src/ansys/aedt/core/twinbuilder.py
Labels: none

Add ISAR 2D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

Update v0.11.2
  src/ansys/aedt/core/__init__.py
Labels: none

FIX: typo in output_dir argument of method hfss\validate_full_design (#5321)
  src/ansys/aedt/core/hfss.py
Labels: none

ISAR 2D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

ISAR 2D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

ISAR 2D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

ISAR 2D
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

Use subprocess
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Use subprocess
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

FIx subprocess
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Use subprocess in Ironpython
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

Use subprocess in Ironpython
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: none

WIP: Move unit test into correct folder
  .pre-commit-config.yaml
  tests/unit/test_hdm_parser.py
Labels: none

Fix Eigenmode Edit source issue
  _unittest/example_models/T20/source_eigen.csv
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/workflows/hfss/push_excitation_from_file.py
  src/ansys/aedt/core/workflows/hfss3dlayout/push_excitation_from_file_3dl.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
