Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

Update _unittest/conftest.py
  _unittest/conftest.py
Labels: testing

Add wait for license
  _unittest/conftest.py
  _unittest_solvers/conftest.py
Labels: testing

Apply suggestions from code review
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: none

FIX: Cast GetChildNames("Groups") to list (#5098)
  _unittest/example_models/T12/template.rpt
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: none

FEAT: Circuit Netlist class (#5094)
  _unittest/conftest.py
  _unittest/example_models/T47/netlist.aedtz
  _unittest/test_21_Circuit.py
  _unittest/test_47_CircuitNetlist.py
  _unittest/test_launch_desktop.py
  _unittest_solvers/conftest.py
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/design_solutions.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/circuit_netlist.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modeler/schematic.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: testing

Add CreateReportFromTemplate
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

Add UT
  _unittest/test_12_PostProcessing.py
Labels: none

Add paste option
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

Update docstring
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

FEAT: Q3D mutual coupling (#5045)
  _unittest_solvers/example_models/T31/coupling.aedtz
  _unittest_solvers/test_31_Q3D.py
  src/ansys/aedt/core/q3d.py
Labels: none

FEAT: CreateReportFromTemplate inside create_report_from_configuration (#5102)
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

Added support to asc files Added extension to AEDT
  _unittest/example_models/T21/butter.asc
  _unittest/example_models/T21/colpits.asc
  _unittest/test_21_Circuit.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/misc/lt_spice_converter.json
  src/ansys/aedt/core/workflows/circuit/import_schematic.py
  src/ansys/aedt/core/workflows/circuit/toolkits_catalog.toml
Labels: none

FEAT: Add paste option (#5103)
  src/ansys/aedt/core/modules/post_processor.py
Labels: none

add image
  src/ansys/aedt/core/workflows/circuit/images/large/schematic.png
Labels: none

refactored the name
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/misc/asc_circuit_mapping.json
Labels: none

FEAT_Filtersolutions_Export: Updated with main branch
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
  pyaedt/filtersolutions_core/lumped_termination_impedance.py
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/lumped_termination_impedance.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
Labels: none

FEAT_Filtersolutions_Export: Adding precommit
  examples/08-FilterSolutions/Lumped_Element_Response.py
Labels: examples

D1119464: Override Emit class's save_project(), and call new method instead of _emit_api.save_project()
  src/ansys/aedt/core/emit.py
  src/ansys/aedt/core/emit_core/results/revision.py
Labels: none

added UT
  _unittest_solvers/test_45_workflows.py
Labels: none

FEAT_Filtersolutions_Export: License headers
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: none

Fix codacy
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/workflows/circuit/import_schematic.py
Labels: none

Update src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/circuit.py
Labels: none

DOCS: Add missing settings section
  doc/source/User_guide/index.rst
Labels: none

FEAT: Added support to asc files (#5104)
  _unittest/example_models/T21/butter.asc
  _unittest/example_models/T21/colpits.asc
  _unittest/test_21_Circuit.py
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/misc/asc_circuit_mapping.json
  src/ansys/aedt/core/workflows/circuit/images/large/schematic.png
  src/ansys/aedt/core/workflows/circuit/import_schematic.py
  src/ansys/aedt/core/workflows/circuit/toolkits_catalog.toml
Labels: none

DOCS: Add missing settings section (#5105)
  doc/source/User_guide/index.rst
Labels: none

added UT
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/misc/asc_circuit_mapping.json
Labels: none

added UT
  src/ansys/aedt/core/circuit.py
Labels: none

FIX: Ltspice (#5107)
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/misc/asc_circuit_mapping.json
Labels: none

Update v0.10.1
  src/ansys/aedt/core/__init__.py
Labels: none

fix release_1_0.rst
  doc/source/release_1_0.rst
Labels: documentation

DOCS: Fix release_1_0.rst (#5108)
  doc/source/release_1_0.rst
Labels: documentation

DOCS: Add aedt log file in settings
  doc/source/User_guide/settings.rst
Labels: none

BUILD: Update numpy requirement to >=1.20.0,<2.2
  pyproject.toml
Labels: maintenance

DOCS: Add aedt log file in settings (#5115)
  doc/source/User_guide/settings.rst
Labels: none

add check for design variable mat array
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

fix
  _unittest/test_02_2D_modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

fix typos
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

Update jupyter_template.ipynb
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
Labels: none

Update jupyter_template.ipynb
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
Labels: none

improvements
  _unittest/test_02_2D_modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none
