Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

Update documentation
  doc/source/API/Boundaries.rst
Labels: none

Apply suggestions from code review
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/advanced_fields_calculator.rst
Labels: none

fix comments review
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/advanced_fields_calculator.rst
Labels: none

Update pyaedt/mechanical.py
  pyaedt/mechanical.py
Labels: none

CHORE: Upgrade code style action
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: maintenance

TBR: Reduce CICD workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix pyvista UT
  _unittest/example_models/T12/array_simple.aedtz
  _unittest/example_models/T12/eep/eep.json
  _unittest/example_models/T45/array_simple_231.aedtz
  _unittest/example_models/T45/eep/eep.txt
  _unittest/example_models/T45/eep/eep_1.ffd
  _unittest/example_models/T45/eep/eep_10.ffd
  _unittest/example_models/T45/eep/eep_11.ffd
  _unittest/example_models/T45/eep/eep_12.ffd
  _unittest/example_models/T45/eep/eep_13.ffd
  _unittest/example_models/T45/eep/eep_14.ffd
  _unittest/example_models/T45/eep/eep_15.ffd
  _unittest/example_models/T45/eep/eep_16.ffd
  _unittest/example_models/T45/eep/eep_2.ffd
  _unittest/example_models/T45/eep/eep_3.ffd
  _unittest/example_models/T45/eep/eep_4.ffd
  _unittest/example_models/T45/eep/eep_5.ffd
  _unittest/example_models/T45/eep/eep_6.ffd
  _unittest/example_models/T45/eep/eep_7.ffd
  _unittest/example_models/T45/eep/eep_8.ffd
  _unittest/example_models/T45/eep/eep_9.ffd
  _unittest/example_models/T45/metadata/hfss_metadata.xml
  _unittest/example_models/T45/pyaedt_metadata/Sweep_DV231.s4p
  _unittest/example_models/T45/pyaedt_metadata/exportfield_0.ffd
  _unittest/example_models/T45/pyaedt_metadata/exportfield_1.ffd
  _unittest/example_models/T45/pyaedt_metadata/exportfield_2.ffd
  _unittest/example_models/T45/pyaedt_metadata/exportfield_3.ffd
  _unittest/example_models/T45/pyaedt_metadata/pyaedt_antenna_metadata.json
  _unittest/test_12_PostProcessing.py
  _unittest/test_45_FarField.py
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
Labels: none

Apply suggestions from code review
  doc/source/User_guide/pyaedt_extensions_doc/project/advanced_fields_calculator.rst
Labels: none

exclude from test cov stats, lines for version 23R2 or lower
  pyaedt/modules/MeshIcepak.py
Labels: none

Fix docstrings
  pyaedt/modules/Boundary.py
Labels: none

WIP
  doc/.vale.ini
  doc/styles/Google/AMPM.yml
  doc/styles/Google/Acronyms.yml
  doc/styles/Google/Colons.yml
  doc/styles/Google/Contractions.yml
  doc/styles/Google/DateFormat.yml
  doc/styles/Google/Ellipses.yml
  doc/styles/Google/EmDash.yml
  doc/styles/Google/EnDash.yml
  doc/styles/Google/Exclamation.yml
  doc/styles/Google/FirstPerson.yml
  doc/styles/Google/Gender.yml
  doc/styles/Google/GenderBias.yml
  doc/styles/Google/HeadingPunctuation.yml
  doc/styles/Google/Headings.yml
  doc/styles/Google/Latin.yml
  doc/styles/Google/LyHyphens.yml
  doc/styles/Google/OptionalPlurals.yml
  doc/styles/Google/Ordinal.yml
  doc/styles/Google/OxfordComma.yml
  doc/styles/Google/Parens.yml
  doc/styles/Google/Passive.yml
  doc/styles/Google/Periods.yml
  doc/styles/Google/Quotes.yml
  doc/styles/Google/Ranges.yml
  doc/styles/Google/Semicolons.yml
  doc/styles/Google/Slang.yml
  doc/styles/Google/Spacing.yml
  doc/styles/Google/Spelling.yml
  doc/styles/Google/Units.yml
  doc/styles/Google/We.yml
  doc/styles/Google/Will.yml
  doc/styles/Google/WordList.yml
  doc/styles/Google/meta.json
  doc/styles/Google/vocab.txt
Labels: none

WIP: Fix handling of suggestion
  doc/.vale.ini
Labels: none

DOCS: add advanced fields calc doc (#4875)
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/advanced_fields_calculator.rst
  doc/source/_static/extensions/advanced_fields_calc_1.png
  doc/source/_static/extensions/expressions_catalog.png
  doc/source/_static/extensions/tang_stress_tensor.png
  doc/source/_static/extensions/voltage_drop_line.png
Labels: none

WIP: Update accept.txt and fix headings
  _unittest/test_01_configuration_files.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_98_Icepak.py
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyaedt/modules/Boundary.py
  pyaedt/workflows/installer/console_setup.py
  pyaedt/workflows/misc.py
Labels: none

WIP
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

Update pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/create_report.py
Labels: none

Update pyaedt/modules/PostProcessor.py
  pyaedt/modules/PostProcessor.py
Labels: none

Update pyaedt/modules/PostProcessor.py
  pyaedt/modules/PostProcessor.py
Labels: none

CHORE: Add missed warning to error
  doc/.vale.ini
Labels: none

CI: Add removed jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

fix Docstring and Examples for stackup_3d loc advanced_cad
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Added visualization to documentation
  doc/source/API/Post.rst
  doc/source/API/Visualization.rst
  doc/source/API/index.rst
  pyaedt/generic/plot.py
  pyaedt/generic/touchstone_parser.py
Labels: none

Added visualization to documentation
  doc/source/API/Visualization.rst
Labels: none

Added visualization to documentation
  pyproject.toml
Labels: maintenance

Added visualization to documentation
  doc/source/API/Visualization.rst
Labels: none

Added visualization to documentation
  doc/source/API/Visualization.rst
Labels: none

Added visualization to documentation
  doc/source/API/Visualization.rst
Labels: none

DOCS: Added visualization to documentation (#4884)
  doc/source/API/Post.rst
  doc/source/API/Visualization.rst
  doc/source/API/index.rst
  pyaedt/generic/plot.py
  pyaedt/generic/touchstone_parser.py
  pyproject.toml
Labels: maintenance

Do not open file if test
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  pyaedt/workflows/project/create_report.py
Labels: none

fix Docstring and Examples for stackup_3d loc advanced_cad
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: none

Change file name
  _unittest/test_45_FarField.py
  examples/02-HFSS/Array.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
Labels: examples

WIP: Fix CICD line removed typos
  .github/workflows/ci_cd.yml
Labels: maintenance

WIP: Fix CICD line removed typos
  .github/workflows/ci_cd.yml
Labels: maintenance

fix documentation
  doc/source/API/Visualization.rst
  pyaedt/modules/PostProcessor.py
Labels: none

fix documentation
  doc/source/API/Visualization.rst
Labels: none

Interactive mode off in decorator
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
Labels: none

Unit test
  _unittest/test_45_FarField.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/generic/plot.py
Labels: none

Fix doc issues
  pyaedt/generic/touchstone_parser.py
Labels: none

Fix doc issues
  pyaedt/workflows/project/create_report.py
Labels: none

Fix doc issues
  pyaedt/generic/touchstone_parser.py
Labels: none
