Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

copy all files from pyLayout
  pyaedt/workflows/hfss3dlayout/export_layout.py
Labels: none

Update examples/08-FilterSolutions/Lumped_Element_Response.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
Labels: examples

Update examples/08-FilterSolutions/Lumped_Element_Response.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
Labels: examples

Apply suggestions from code review
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions.py
  pyaedt/filtersolutions_core/__init__.py
Labels: examples

Address the comments about the Enum doc strings.
  pyaedt/filtersolutions_core/attributes.py
Labels: none

Update pyaedt/application/Design.py
  pyaedt/application/Design.py
Labels: none

Create parent dir using remote_rpc_session filemanager
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

specify not remote_rpc_session
  pyaedt/application/Design.py
Labels: none

WIP: Fix title
  doc/source/User_guide/extensions.rst
Labels: none

WIP: Add exceptions to Google title headings
  doc/styles/Google/Headings.yml
Labels: none

WIP: Add exceptions to Google title headings
  doc/styles/Google/Headings.yml
Labels: none

WIP: Fix title
  doc/source/User_guide/extensions.rst
Labels: none

Refactor PCB component class to be more object oriented
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modules/Boundary.py
Labels: none

Get powers from HFSS
  pyaedt/application/analysis_hf.py
  pyaedt/hfss.py
Labels: none

Get powers from HFSS
  pyaedt/application/analysis_hf.py
Labels: none

improve MaxwellMatrix class and add tests
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Boundary.py
Labels: none

WIP
  doc/source/User_guide/extensions.rst
  doc/styles/Google/Headings.yml
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

make sure project exists in test
  _unittest/test_01_Design.py
Labels: none

TBR: Simply github workflow to test
  .github/workflows/ci_cd.yml
Labels: maintenance

WIP
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

WIP
  doc/source/User_guide/extensions.rst
  doc/styles/Google/Headings.yml
Labels: none

Revert "TBR: Simply github workflow to test"
  .github/workflows/ci_cd.yml
Labels: maintenance

angle property getter in aedt 2023.2 and below is broken in GRPC and has to be bypassed. This is correctly working in 2024.1
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Apply suggestions from code review
  pyaedt/modules/Boundary.py
Labels: none

Update pyaedt/modules/Boundary.py
  pyaedt/modules/Boundary.py
Labels: none

DOCS: Fix title to follow google headings (#4863)
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

REFACTOR: Cleanup rmxprt and pyaedt.modules files
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
  pyaedt/rmxprt.py
Labels: none

improve tests
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Boundary.py
Labels: none

review fixes
  pyaedt/modules/Boundary.py
Labels: none

FIX: typo in log message
  pyaedt/modules/report_templates.py
Labels: none

Fix design save_project when parent dir does not exist. Make its creation optional
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

Update pyaedt/application/Design.py
  pyaedt/application/Design.py
Labels: none

added log message
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Create parent dir using remote_rpc_session filemanager
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

specify not remote_rpc_session
  pyaedt/application/Design.py
Labels: none

make sure project exists in test
  _unittest/test_01_Design.py
Labels: none

REFACTOR: export bom (#4859)
  pyaedt/workflows/hfss3dlayout/export_layout.py
Labels: none

DOC: move import_nastran_ui.png
  doc/source/Resources/import_nastran_ui.png
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
Labels: none

WIP: Fix AEDT port value in create_session
  pyaedt/common_rpc.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
