Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.md
- README_CN.md
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements/**/*
testing:
- _unittest/conftest.py
- _unittest_ironpython/run_unittests.py
- _unittest_ironpython/run_unittests_batchmode.cmd

fix examples and update to 2023 R2
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
  pyaedt/generic/general_methods.py
  pyaedt/modules/monitor_icepak.py
Labels: none

fix examples and update to 2023 R2
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/05-Q3D/Q3D_Example.py
Labels: none

-n 4 option
  .github/workflows/unit_tests.yml
Labels: maintenance

update
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: none

fix examples and update to 2023 R2
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  examples/07-EMIT/ComputeChannelSeparation.py
  examples/07-EMIT/ComputeInterferenceType.py
  examples/07-EMIT/ComputeProtectionLevels.py
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
Labels: none

update
  pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: none

update
  _unittest/test_00_EDB.py
Labels: none

fix examples and update to 2023 R2
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  pyaedt/generic/plot.py
Labels: none

added num_cores=6 to all analyze methods
  _unittest_solvers/test_20_HFSS.py
  _unittest_solvers/test_31_Q3D.py
  _unittest_solvers/test_41_3dlayout_modeler.py
  _unittest_solvers/test_98_Icepak.py
Labels: none

fixed test_result_categories in test_26_emit.py
  _unittest_solvers/test_26_emit.py
Labels: none

Update pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: none

Update pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: none

Update pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: none

Update pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: none

Update to v0.6.89
  pyaedt/__init__.py
Labels: none

Update pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: none

fixed bug in test_41_3dlayout_modeler.py
  _unittest/test_41_3dlayout_modeler.py
Labels: none

refacto heal objects
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  _unittest/test_98_Icepak.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Modeler.py
Labels: none

fixed test_00_analyze.py
  _unittest_solvers/test_00_analyze.py
Labels: none

merge from main
  pyaedt/desktop.py
  pyaedt/generic/settings.py
Labels: none

-n 6 option
  .github/workflows/unit_tests.yml
Labels: maintenance

moved sbr_create_vrt and sbr_create_vrt_creeping to test_00_analyze.py
  _unittest/test_04_SBR.py
  _unittest_solvers/test_00_analyze.py
Labels: none

removed comments
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_04_SBR.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_26_emit.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
Labels: none

removed comments and unused files
  _unittest/conftest.py
  _unittest_ironpython/conf_unittest.py
  _unittest_solvers/conftest.py
Labels: testing

moved cad files for test_41_3dlayout_modeler.py to _unittest folder
  _unittest/example_models/cad/GDS/gds1.gds
  _unittest/example_models/cad/GDS/gds1.tech
  _unittest/example_models/cad/Gerber/gerber1.xml
  _unittest/example_models/cad/Gerber/gerber1.zip
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/example_models/cad/DXF/dxf1.dxf
  _unittest_solvers/example_models/cad/DXF/dxf1.xml
Labels: none

-n 4 option
  .github/workflows/unit_tests.yml
Labels: maintenance

Efficiency enhancement (#3375)
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: none

Remove failing example
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

Support perfect 'E' and 'H' with eigenmode.
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: none

refacto model preparation options
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  _unittest/test_98_Icepak.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Modeler.py
Labels: none

refresh pyaedt ids when component is updated
  pyaedt/modeler/cad/components_3d.py
Labels: none

Support perfect 'E' and 'H' with eigenmode. (#3380)
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: none

Add refresh to update 3d component (#3381)
  pyaedt/modeler/cad/components_3d.py
Labels: none

Updated to 8 cores
  .github/workflows/unit_tests.yml
Labels: maintenance
