Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt

Fixed Circuit Issue on linux
  pyaedt/application/aedt_objects.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/aedt_objects.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/aedt_objects.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/aedt_objects.py
Labels: none

black fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/siwave.py
Labels: none

siwave setup fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/siwave.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/Design.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
Labels: none

Edit remaining HFSS examples
  doc/source/Resources/Installation.rst
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/02-HFSS/SBR_Doppler_Example.py
  examples/02-HFSS/SBR_Example.py
  examples/02-HFSS/SBR_Time_Plot.py
Labels: documentation

Fixed Circuit Issue on linux
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
Labels: none

Edits made based on local doc build
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/02-HFSS/Advanced_Far_Field.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS3DLayout_Via.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/02-HFSS/SBR_Doppler_Example.py
  examples/02-HFSS/SBR_Time_Plot.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/desktop.py
Labels: none

Doc/edit HFSS examples (#1408)
  README.rst
  doc/source/Resources/Code_Guidelines.rst
  doc/source/Resources/Contributing.rst
  doc/source/Resources/Installation.rst
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/02-HFSS/Advanced_Far_Field.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/EDB_in_3DLayout.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS3DLayout_Via.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/02-HFSS/SBR_Doppler_Example.py
  examples/02-HFSS/SBR_Example.py
  examples/02-HFSS/SBR_Time_Plot.py
Labels: documentation

Fix wavelength typo (#1403)
  pyaedt/hfss.py
Labels: none

Fixed Circuit Issue on linux
  pyaedt/application/aedt_objects.py
Labels: none

Edits to first few Maxwell examples
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell2D_Transient.py
  examples/02-Maxwell/Maxwell3D_Choke.py
  examples/02-Maxwell/Maxwell_Magnet.py
Labels: none

Commit remaining Maxwell examples
  examples/02-HFSS/HFSS_Choke.py
  examples/02-Maxwell/Maxwell3DTeam3.py
  examples/02-Maxwell/Maxwell3DTeam7.py
  examples/02-Maxwell/Maxwell3D_Choke.py
Labels: none

Doc/edits to maxwell examples (#1414)
  examples/02-HFSS/HFSS_Choke.py
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell2D_Transient.py
  examples/02-Maxwell/Maxwell3DTeam3.py
  examples/02-Maxwell/Maxwell3DTeam7.py
  examples/02-Maxwell/Maxwell3D_Choke.py
  examples/02-Maxwell/Maxwell_Magnet.py
Labels: none

Fixed Circuit Issue on linux (#1405)
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/desktop.py
  pyaedt/modeler/Modeler.py
  pyaedt/modules/MaterialLib.py
Labels: none

Updated to v0.5.5
  pyaedt/version.txt
Labels: none

rollback to 1.15.0
  setup.py
Labels: maintenance

update to 0.5.6
  pyaedt/version.txt
Labels: none

fix nissan example
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
Labels: none

Fix #1400
  pyaedt/modeler/Modeler.py
Labels: none

Fix causality enforcement
  _unittest/example_models/lam_for_top_place_no_setups.aedb/edb.def
  _unittest/example_models/lam_for_top_place_no_setups.aedb/stride/model.index
  _unittest/test_00_EDB.py
  pyaedt/edb_core/hfss.py
Labels: none

unitest
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
Labels: none

unitest
  examples/00-EDB/08_CPWG.py
Labels: none

unitest
  pyaedt/hfss3dlayout.py
Labels: none

Update pyaedt/hfss3dlayout.py
  pyaedt/hfss3dlayout.py
Labels: none

Fix create_fieldplot_surface
  _unittest/test_12_PostProcessing.py
  pyaedt/generic/constants.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

Fix create_fieldplot_surface
  _unittest/test_12_PostProcessing.py
Labels: none

unitest
  pyaedt/hfss3dlayout.py
Labels: none

unitest
  pyaedt/hfss3dlayout.py
Labels: none

Fix create_fieldplot_surface
  _unittest/test_12_PostProcessing.py
Labels: none

rollback
  _unittest/test_12_PostProcessing.py
Labels: none

rollback
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

UT
  _unittest/test_12_PostProcessing.py
Labels: none

UT
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

fix nissan example (#1418)
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
Labels: none
