Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

Fix typo sbrplus
  _unittest/test_04_SBR.py
  doc/source/API/visualization/advanced.rst
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/hdm_plot.py
  src/ansys/aedt/core/visualization/advanced/sbrplus/__init__.py
  src/ansys/aedt/core/visualization/advanced/sbrplus/hdm_parser.py
  src/ansys/aedt/core/visualization/advanced/sbrplus/hdm_utils.py
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/HdmObject.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/README.md
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/SbrBounceType.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/StopWatch.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/add_3dlight.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/amp2db.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/draw_rays1.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/draw_wfobj.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/filter_rays1.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/filtered_tracks.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/ld_sbrplushdm.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/ld_wfobj.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/pwr2db.m
  src/ansys/aedt/core/visualization/advanced/sbrplus/matlab/validate_sfields.m
  src/pyaedt/visualization/advanced/sprplus/__init__.py
  src/pyaedt/visualization/advanced/sprplus/hdm_parser.py
  src/pyaedt/visualization/advanced/sprplus/hdm_utils.py
Labels: none

Add docstring
  src/ansys/aedt/core/visualization/plot/matplotlib.py
Labels: none

refactored post properties
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_3d_layout.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/analysis_nexxim.py
  src/ansys/aedt/core/application/analysis_r_m_xprt.py
  src/ansys/aedt/core/application/analysis_twin_builder.py
  src/ansys/aedt/core/visualization/post/__init__.py
Labels: none

Added method to plot nets in Hfss 3d Layout which uses Edb Plot
  _unittest/test_01_3dlayout_edb.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
Labels: none

Fix docstring
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
Labels: none

Fix docstring
  src/ansys/aedt/core/visualization/post/post_icepak.py
Labels: none

Fix docstring
  src/ansys/aedt/core/visualization/plot/pdf.py
Labels: none

doc fixes fields calc
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: none

Fix back compatibility
  src/pyaedt/generic/com_parameters.py
  src/pyaedt/generic/compliance.py
  src/pyaedt/generic/farfield_visualization.py
  src/pyaedt/generic/near_field_import.py
  src/pyaedt/generic/pdf.py
  src/pyaedt/generic/report_file_parser.py
  src/pyaedt/generic/spisim.py
  src/pyaedt/generic/touchstone_parser.py
  src/pyaedt/modules/fields_calculator.py
  src/pyaedt/sbrplus/hdm_parser.py
  src/pyaedt/sbrplus/hdm_utils.py
  src/pyaedt/sbrplus/plot.py
Labels: none

WIP: print github info
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Add additional workflow
  .github/workflows/manual_draft.yml
Labels: maintenance

fix unit test
  _unittest/test_01_3dlayout_edb.py
Labels: none

Fix docstring
  src/ansys/aedt/core/visualization/post/post_icepak.py
Labels: none

Move SpiSim configuration directory
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/__init__.py
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_120d_8.json
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_93_8.json
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_94_17.json
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_parameters.py
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_settings_mapping.py
  src/pyaedt/generic/com_parameters.py
  src/pyaedt/visualization/advanced/spisim_com_configuration_files/com_parameters.py
  src/pyaedt/visualization/advanced/spisim_com_configuration_files/com_settings_mapping.py
Labels: none

fix unit test
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_parameters.py
Labels: none

fix doc
  doc/source/API/visualization/advanced.rst
  doc/source/API/visualization/post.rst
Labels: none

make more robust material read when binary info are stored.
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

WIP: Use workflow_dispatch
  .github/workflows/ci_cd.yml
  .github/workflows/manual_draft.yml
Labels: maintenance

FIX: Remove draft testing
  .github/workflows/manual_draft.yml
Labels: maintenance

Fix docstring
  doc/source/_static/extensions/create_power_map_ui.png
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

Update v0.10.4
  src/ansys/aedt/core/__init__.py
Labels: none

Fix doc
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/index.rst
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

Move SPISIM conf
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_parameters.py
  src/pyaedt/visualization/post/spisim_com_configuration_files/__init__.py
  src/pyaedt/visualization/post/spisim_com_configuration_files/com_120d_8.json
  src/pyaedt/visualization/post/spisim_com_configuration_files/com_93_8.json
  src/pyaedt/visualization/post/spisim_com_configuration_files/com_94_17.json
  src/pyaedt/visualization/post/spisim_com_configuration_files/com_parameters.py
  src/pyaedt/visualization/post/spisim_com_configuration_files/com_settings_mapping.py
Labels: none

Fix documentation
  doc/source/User_guide/extensions.rst
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
Labels: none

Fix documentation
  doc/source/API/visualization/advanced.rst
  doc/source/User_guide/postprocessing.rst
Labels: none

CI: Update manual draft settings
  .github/workflows/manual_draft.yml
Labels: maintenance

Fix documentation
  examples/02-HFSS/Array.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: examples

Fix documentation
  _unittest/test_01_configuration_files.py
Labels: none

Remove matplotlib decorator
  doc/source/API/visualization/plot.rst
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
  src/ansys/aedt/core/visualization/plot/matplotlib.py
Labels: none

Fix COM path
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_parameters.py
Labels: none

FIX: wrong call to logging atexit
  src/ansys/aedt/core/desktop.py
Labels: none

FIX: Call to closed/deleted log handler
  src/ansys/aedt/core/desktop.py
Labels: none

Fixed few 25R1 Bugs
  _unittest/test_01_configuration_files.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_45_FilterSolutions/resources/library_parts_test.cfg
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

Fixed Duplicate test
  _unittest/test_41_3dlayout_modeler.py
Labels: none

Update deprecated PyVista method
  src/ansys/aedt/core/visualization/plot/pyvista.py
Labels: none

FIX: Wrong call to logging atexit (#5214)
  src/ansys/aedt/core/desktop.py
Labels: none

Apply suggestions from code review
  .github/workflows/manual_draft.yml
Labels: maintenance

Fixed Virtual Compliance example
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/eye.py
Labels: examples

Fixed Virtual Compliance example
  src/ansys/aedt/core/visualization/post/common.py
Labels: none

Fix flatten component bug
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
