Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

WIP: Use autoapi
  doc/source/API/index.rst
  doc/source/conf.py
Labels: documentation

REFACTOR: Change flint to setuptools
  pyproject.toml
Labels: maintenance

REFACTOR: Clean up
  src/__init__.py
Labels: none

REFACTOR: Add futur warning
  src/pyaedt/__init__.py
Labels: none

WIP: Fix vale warning
  doc/source/release_1_0.rst
Labels: documentation

FIX: Import issue
  src/pyaedt/__init__.py
Labels: none

Farfield explorer
  pyaedt/application/Analysis3D.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

Remove create_documentation.bat
  doc/source/create_documentation.bat
Labels: documentation

Update src/pyaedt/__init__.py
  src/pyaedt/__init__.py
Labels: none

Update src/pyaedt/hfss.py
  src/pyaedt/hfss.py
Labels: none

Add extension documentation
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkits_ribbon.png
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/import_nastran_ui.png
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
Labels: none

FIX: Update pyaedt install path
  src/ansys/aedt/core/generic/configurations.py
Labels: none

Far field solution data class
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

Add words to accept.txt
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Apply suggestions from code review
  doc/source/Getting_started/Installation.rst
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
Labels: none

Fix comments
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
Labels: none

DOCS: Add extensions documentation (#4850)
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkits_ribbon.png
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/import_nastran_ui.png
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
  doc/source/create_documentation.bat
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

enhance icepak mesh documentation
  doc/source/Resources/icepak_global_mesh_region_objects.png
  doc/source/User_guide/mesh.rst
Labels: none

improve documentation syntax
  doc/source/User_guide/mesh.rst
Labels: none

improve export_field_file
  pyaedt/modules/PostProcessor.py
Labels: none

Fixes and new tests for global mesh region
  _unittest/test_98_Icepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Fix docstyle
  doc/source/User_guide/mesh.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Add api documentation
  doc/source/API/Mesh.rst
Labels: none

use for example instead of e.g.
  doc/source/User_guide/mesh.rst
Labels: none

improve test
  _unittest/example_models/TMaxwell/maxwell_e_line_export_field.aedtz
  _unittest/test_27_Maxwell2D.py
Labels: none

Add docstrings
  pyaedt/modules/MeshIcepak.py
Labels: none

fix test
  _unittest/test_27_Maxwell2D.py
Labels: none

FIX: IronPython compatibility
  _unittest_ironpython/run_unittests.py
Labels: testing

add MaxwellMatrix class
  pyaedt/modules/Boundary.py
Labels: none

feat/draft_filtersolutions: comments are applied.
  _unittest/test_45_FilterSolutions/__init__.py
  _unittest/test_45_FilterSolutions/resources/__init__.py
  _unittest/test_45_FilterSolutions/resources/resources.py
  _unittest/test_45_FilterSolutions/test_filter/__init__.py
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/__init__.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  _unittest/test_45_FilterSolutions/test_raise_error.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/graph_setup.py
  pyaedt/filtersolutions_core/ideal_response.py
  pyaedt/filtersolutions_core/lumped_nodes_and_leads.py
  pyaedt/filtersolutions_core/lumped_parasitics.py
  pyaedt/filtersolutions_core/lumped_termination_impedance.py
  pyaedt/filtersolutions_core/lumped_topology.py
  pyaedt/filtersolutions_core/multiple_bands_table.py
  pyaedt/filtersolutions_core/transmission_zeros.py
  pyaedt/generic/design_types.py
Labels: examples

PERF: Export fields file (#4853)
  _unittest/example_models/TMaxwell/maxwell_e_line_export_field.aedtz
  _unittest/test_27_Maxwell2D.py
  pyaedt/modules/PostProcessor.py
Labels: none

Apply suggestions from code review
  doc/source/API/Mesh.rst
  doc/source/User_guide/mesh.rst
Labels: none

Spelling fixes (vale)
  doc/source/User_guide/mesh.rst
Labels: none

replace function with method
  doc/source/User_guide/mesh.rst
Labels: none

WIP: Include data files
  MANIFEST.in
Labels: none

Fix design save_project when parent dir does not exist. Make its creation optional
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

Feat Filtersolutions: Version check updated.
  pyaedt/filtersolutions_core/__init__.py
  pyaedt/filtersolutions_core/dll_interface.py
Labels: none

FIX: Global mesh region + doc updates (#4854)
  _unittest/test_98_Icepak.py
  doc/source/API/Mesh.rst
  doc/source/Resources/icepak_global_mesh_region_objects.png
  doc/source/User_guide/mesh.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyaedt/modules/MeshIcepak.py
Labels: none

Active S parameters
  _unittest/test_12_PostProcessing.py
  _unittest/test_44_TouchstoneParser.py
  doc/source/API/Post.rst
  examples/02-HFSS/Array.py
  pyaedt/application/analysis_hf.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: examples

Update v0.9.7
  pyaedt/__init__.py
Labels: none
