Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

WIP
  _unittest_solvers/conftest.py
Labels: none

Remove unused lines
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

In 2025.1, field plot is not raising exception
  src/ansys/aedt/core/visualization/post/field_data.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

fix pyvista plot
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
Labels: none

DRAFT modification to current_version
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/misc/misc.py
Labels: none

Get variables with "sweep" enabled
  src/ansys/aedt/core/application/variables.py
Labels: none

Add fixed AEDT bugs
  _unittest/test_20_HFSS.py
  _unittest/test_launch_desktop.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: none

remove comment
  src/ansys/aedt/core/application/variables.py
Labels: none

Fix Fields Calculator
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/fields_calculator_files/expression_catalog.toml
  src/ansys/aedt/core/visualization/post/fields_calculator_files/fields_calculator.schema.json
  src/pyaedt/misc/expression_catalog.toml
Labels: none

Remove duplicated method Add HFSS 3DLayout equivalent method available in 2025R1
  _unittest/test_20_HFSS.py
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
Labels: none

Merge main into branch
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
Labels: none

test
  _unittest_solvers/test_45_workflows.py
Labels: none

Fix RCS class
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
Labels: none

test
  _unittest_solvers/test_45_workflows.py
Labels: none

test 0.27
  pyproject.toml
Labels: maintenance

FIX: Defining Modelithics attributes change
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: none

Skip test until it is fixed
  _unittest_solvers/test_45_workflows.py
Labels: none

add sweep property + improve get variables
  src/ansys/aedt/core/application/variables.py
Labels: none

typo docstring
  src/ansys/aedt/core/application/variables.py
Labels: none

FIX: Skip test until it is fixed (#5235)
  _unittest_solvers/test_45_workflows.py
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update test_45_workflows.py
  _unittest_solvers/test_45_workflows.py
Labels: none

FIX: AMI reports are not working in all cases. (#5228)
  src/ansys/aedt/core/visualization/report/eye.py
Labels: none

FEAT: LOG messages (#5218)
  examples/04-Icepak/Icepak_ECAD_Import.py
  src/ansys/aedt/core/aedt_logger.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/grpc_plugin_dll_class.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
Labels: examples

New class to create Virtual Compliance file from existing reports configuration files.
  _unittest_solvers/test_01_pdf.py
  doc/source/API/visualization/post.rst
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/eye.py
  src/ansys/aedt/core/visualization/report/standard.py
Labels: examples

FIX: Remove unused lines (#5229)
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

New class to create Virtual Compliance file from existing reports configuration files.
  src/ansys/aedt/core/modeler/cad/elements_3d.py
Labels: none

New class to create Virtual Compliance file from existing reports configuration files.
  _unittest_solvers/test_01_pdf.py
  src/ansys/aedt/core/visualization/post/compliance.py
Labels: none

Remove Delcross env variable
  src/ansys/aedt/core/workflows/templates/pyaedt_utils.py
Labels: none

Remove Delcross env variable
  src/ansys/aedt/core/workflows/templates/pyaedt_utils.py
Labels: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

check on export field
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/variables.py
Labels: none

check on export field
  src/ansys/aedt/core/application/analysis.py
Labels: none

change var name
  src/ansys/aedt/core/application/variables.py
Labels: none

fix linux test
  _unittest_solvers/test_01_pdf.py
Labels: none

Remove doc examples
  .github/workflows/ci_cd.yml
  doc/make.bat
  pyproject.toml
Labels: maintenance

refactoring in post processing
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: none

fix linux test
  _unittest_solvers/test_01_pdf.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

Add examples section
  doc/source/index.rst
Labels: documentation
