Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

CI: Remove assets to avoid 100Mb size limit
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

DOC: Remove PDF download button
  doc/source/conf.py
Labels: documentation

CI: Cleanup nightly docs
  .github/workflows/nightly-docs.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

feat/draft_filtersolutions: diplexer parameters and version added.
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  examples/08-Filtersolutions/filltersolutionsexample.py
  pyaedt/filtersolutions.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/generic/design_types.py
Labels: examples

CI: Temporary remove assets (#4835)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

Add mesh reuse function
  pyaedt/modules/MeshIcepak.py
Labels: none

stress tensor maxwell
  _unittest_solvers/example_models/T45/m2d_elec_fields_calc.aedtz
  _unittest_solvers/example_models/T45/maxwell_fields_calculator.aedtz
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/fields_calculator.py
Labels: none

Remove frequency input from FfdSolutionData
  _unittest/test_12_PostProcessing.py
  examples/02-HFSS/Array.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: examples

added images
  pyaedt/workflows/hfss3dlayout/images/large/cutout.png
  pyaedt/workflows/hfss3dlayout/images/large/export.png
Labels: none

added 2 new extensions
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/workflows/hfss3dlayout/cutout.py
  pyaedt/workflows/hfss3dlayout/export_layout.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

Fix Missed deprecation warning
  pyaedt/circuit.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Labels: none

FEAT: stress tensor maxwell (#4836)
  _unittest_solvers/example_models/T45/m2d_elec_fields_calc.aedtz
  _unittest_solvers/example_models/T45/maxwell_fields_calculator.aedtz
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/fields_calculator.py
Labels: none

REFACTOR: Rpyc services (#4833)
  pyaedt/misc/misc.py
  pyaedt/rpc/rpyc_services.py
  pyproject.toml
Labels: maintenance

added file to commit
  _unittest_solvers/example_models/T45/ANSYS-HSD_V1.aedt
Labels: none

added unit_tests
  _unittest_solvers/test_45_workflows.py
  pyaedt/workflows/hfss3dlayout/cutout.py
Labels: none

Fix Maxwell issue with create_report and get_solution_data with polylines.
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  pyaedt/modules/PostProcessor.py
Labels: examples

changed number of parallel tests to 2 in linux
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix polar applied for cartesian plot
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  pyaedt/generic/plot.py
Labels: examples

Add legend correctly
  pyaedt/generic/plot.py
Labels: none

Update pyaedt/generic/plot.py
  pyaedt/generic/plot.py
Labels: none

FIX: context maxwell (#4839)
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  pyaedt/generic/plot.py
  pyaedt/modules/PostProcessor.py
Labels: examples

FIX: Missed deprecation warning (#4837)
  .github/workflows/ci_cd.yml
  pyaedt/emit.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Labels: maintenance

FEAT: new edb extensions (#4838)
  _unittest_solvers/example_models/T45/ANSYS-HSD_V1.aedt
  _unittest_solvers/test_45_workflows.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/workflows/hfss3dlayout/cutout.py
  pyaedt/workflows/hfss3dlayout/export_layout.py
  pyaedt/workflows/hfss3dlayout/images/large/cutout.png
  pyaedt/workflows/hfss3dlayout/images/large/export.png
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: none

Export multifrequency I
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

Update v0.9.6
  pyaedt/__init__.py
Labels: none

feat/draft_filtersolutions: added diplexer parameters are reverted
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  pyaedt/filtersolutions_core/attributes.py
Labels: none

Add mesh file
  _unittest/example_models/T98/cylinder_mesh.msh
Labels: none

rename default name
  pyaedt/modules/MeshIcepak.py
Labels: none

add mesh test
  _unittest/test_98_Icepak.py
Labels: none

Fix plot 3d
  examples/02-HFSS/Array.py
  pyaedt/desktop.py
  pyaedt/hfss.py
  pyaedt/misc/spisim_com_configuration_files/com_parameters.py
  pyaedt/misc/spisim_com_configuration_files/com_settings_mapping.py
  pyaedt/modules/solutions.py
Labels: examples

improve coverage
  _unittest/test_98_Icepak.py
Labels: none

Export metadata
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: none

FEAT: Add mesh reuse function (#4842)
  _unittest/example_models/T98/cylinder_mesh.msh
  _unittest/test_98_Icepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

All sources
  pyaedt/modules/solutions.py
Labels: none

Fix extra spaces
  _unittest_solvers/test_45_workflows.py
Labels: none

code improvements + tests
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

DOCS: Add v1.0 expected breaking changes
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

WIP: Fix vale doc warnings
  doc/source/release_1_0.rst
Labels: documentation

WIP: Fix vale warnings
  doc/source/release_1_0.rst
Labels: documentation
