Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

Improve converage
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix/examples (#4506)
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/07-Circuit/Circuit_AMI.py
  pyaedt/circuit.py
Labels: examples

DOC: Update latex target
  doc/source/User_guide/modeler.rst
Labels: none

FIX: doc-deploy action expects specific name
  .github/workflows/nightly-docs.yml
Labels: maintenance

CI: Move add assets before upload
  .github/workflows/nightly-docs.yml
Labels: maintenance

CI: Create PDF before adding it to HTML
  .github/workflows/nightly-docs.yml
Labels: maintenance

DOC: Add line break at EOF
  doc/source/User_guide/modeler.rst
Labels: none

Update pyaedt/modules/PostProcessor.py
  pyaedt/modules/PostProcessor.py
Labels: none

CI: Fix nightly docs (#4508)
  .github/workflows/nightly-docs.yml
Labels: maintenance

Update pyaedt/modules/PostProcessor.py
  pyaedt/modules/PostProcessor.py
Labels: none

Add Edb object in layout component
  _unittest/test_08_Primitives3D.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

Apply suggestions from code review
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: none

FIX: Only html not working
  doc/source/User_guide/modeler.rst
Labels: none

import pyaedt Edb class
  pyaedt/modeler/cad/components_3d.py
Labels: none

EMI Receiver first commit (#4247)
  _unittest/example_models/T12/EMI_RCV_241.aedtz
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: none

DOC: Use GIF in documentation (#4500)
  doc/source/User_guide/modeler.rst
Labels: none

REFACT: AEDT logger
  pyaedt/aedt_logger.py
Labels: none

import pyaedt Edb class
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

refactored Modeler3d Modeler2d
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest_solvers/test_31_Q3D.py
  doc/source/conf.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Sherlock_Example.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  examples/05-Q3D/Q3D_from_EDB.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  examples/07-EMIT/interference_gui.py
  pyaedt/hfss.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/modeler3d.py
Labels: documentation, examples

REFACT: Update exception type
  pyaedt/aedt_logger.py
Labels: none

Update downloads.py
  pyaedt/downloads.py
Labels: none

REFACT: Analysis code lines
  pyaedt/application/Analysis.py
Labels: none

refactored Primitives and Object3d
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_configuration_files.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_98_Icepak.py
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
  examples/07-Circuit/Circuit_Example.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  examples/07-Circuit/Circuit_Transient.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  pyaedt/circuit.py
  pyaedt/generic/configurations.py
  pyaedt/generic/ibis_reader.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/component_array.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/PrimitivesTwinBuilder.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/SolveSetup.py
Labels: examples

refactored Primitives and Object3d
  _unittest/test_02_2D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_98_Icepak.py
  examples/02-HFSS/HFSS_Choke.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modules/monitor_icepak.py
  pyaedt/q3d.py
Labels: examples

refactored Primitives and Object3d
  doc/source/conf.py
Labels: documentation

refactored Primitives and Object3d
  pyaedt/modeler/pcb/Primitives3DLayout.py
Labels: none

refactored Primitives and Object3d
  _unittest_solvers/test_00_analyze.py
Labels: none

Import more than one layout component
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

Import more than one layout component
  pyaedt/modeler/cad/components_3d.py
Labels: none

Add _edb_sessions
  pyaedt/desktop.py
  pyaedt/generic/desktop_sessions.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

REFACT: Analysis3D code lines
  pyaedt/application/Analysis3D.py
Labels: none

REFACT: Design code lines
  pyaedt/application/Design.py
Labels: none

Update downloads.py (#4511)
  pyaedt/downloads.py
Labels: none

Feat/edb component (#4509)
  _unittest/test_08_Primitives3D.py
  pyaedt/desktop.py
  pyaedt/generic/desktop_sessions.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: none

refactored Primitives and Object3d
  pyaedt/modules/LayerStackup.py
Labels: none

refactored Primitives and Object3d
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/q3d.py
Labels: none

refactored Primitives and Object3d
  pyaedt/modeler/cad/Primitives.py
Labels: none

Fix example
  examples/07-Circuit/Circuit_AMI.py
Labels: examples

Fix example (#4513)
  examples/07-Circuit/Circuit_AMI.py
Labels: examples

Update v0.8.8
  pyaedt/__init__.py
Labels: none
