Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

REFACTOR: configure edb extension (#5128)
  _unittest_solvers/test_45_workflows.py
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/_static/extensions/configure_edb.png
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

FIX: numpy + pytomlpp + libPyDesktopPlugin.so
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

improve advanced fields calc doc
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

Cone could have same inner and outer radius. It is allowed in AEDT modeler
  _unittest/test_08_Primitives3D.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

Cone could have same inner and outer radius. It is allowed in AEDT modeler
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

FEAT: Arbitrary wave port extension (#5122)
  _unittest_solvers/example_models/T45/waveport.aedb/edb.def
  _unittest_solvers/test_45_workflows.py
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/04-Icepak/Icepak_ECAD_Import.py
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
  src/ansys/aedt/core/workflows/hfss3dlayout/images/large/arbitrary_wave_port.png
  src/ansys/aedt/core/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: examples

Add missed parameter "pass"
  src/ansys/aedt/core/q3d.py
Labels: none

Update src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/mechanical.py
Labels: none

Fix example
  src/ansys/aedt/core/mechanical.py
Labels: none

FIX: Create cone with same inner and outer radius (#5149)
  _unittest/test_08_Primitives3D.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: none

FIX: Issue with pytomlpp
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
Labels: maintenance

FIX: TOML related problem
  pyproject.toml
Labels: maintenance

FIX: TOML problem with common dependency
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

improve advanced fields calc doc
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

DOCS: Improve advanced fields calc doc (#5146)
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

DOCS: Fix pypi landing page
  README.md
Labels: documentation

add advanced fields calc API
  doc/source/API/Post.rst
Labels: none

Create SARR file
  src/ansys/aedt/core/hfss.py
Labels: none

fix reviewdog
  doc/source/API/Post.rst
Labels: none

Test
  _unittest/test_04_SBR.py
Labels: none

export_ac_dc_res is not part of Q2D. It was a bug too
  src/ansys/aedt/core/q3d.py
Labels: none

BUILD: Change to toml for dump feature
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
Labels: maintenance

DOCS: Fix pypi landing page (#5154)
  README.md
Labels: documentation

FEAT_Filtersolutions_Export_Modelithics: Import tuned and comments
  _unittest/test_45_FilterSolutions/resources/imported_netlist.ckt
  _unittest/test_45_FilterSolutions/resources/library_parts_test.cfg
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
Labels: examples

FIX: Add missed parameter "pass" (#5151)
  src/ansys/aedt/core/q3d.py
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Minor document fixes
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: none

FEAT: Assign two way coupling in Mechanical (#5145)
  _unittest/test_29_Mechanical.py
  src/ansys/aedt/core/mechanical.py
Labels: none

FIX: toml load call
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

Fix docstring
  src/ansys/aedt/core/hfss.py
Labels: none

Fix installer
  _unittest/conftest.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_02_3D_modeler.py
  doc/source/Resources/pyaedt_installer_from_aedt.py
  src/ansys/aedt/core/workflows/installer/console_setup.py
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
  src/pyaedt/workflows/installer/pyaedt_installer.py
Labels: testing

build doc fix in docstring
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

Add export on completion
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
Labels: none

doc: fix margit to be consistent with the rest of the documentation
  doc/source/User_guide/extensions.rst
Labels: none

feat: add ecad import extension
  src/ansys/aedt/core/workflows/icepak/ecad_importer.py
  src/ansys/aedt/core/workflows/icepak/images/large/ecad.png
  src/ansys/aedt/core/workflows/icepak/images/large/ecad_original.svg
  src/ansys/aedt/core/workflows/icepak/toolkits_catalog.toml
Labels: none

doc: add extension documentation
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/icepak/ecad_advanced_import.rst
  doc/source/_static/extensions/ecad_importer.png
Labels: none

test: add extension testing
  _unittest_solvers/example_models/T45/DevicePropertiesReduced.csv
  _unittest_solvers/test_45_workflows.py
Labels: none

DOCS: add advanced fields calc API (#5155)
  doc/source/API/Post.rst
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

FIX: Get scale settings with multiple designs in the same project (#5144)
  _unittest/example_models/T98/transient_fs.aedtz
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/generic/load_aedt_file.py
  src/ansys/aedt/core/modules/solutions.py
Labels: none

Add set export touchstone
  _unittest/test_20_HFSS.py
  src/ansys/aedt/core/hfss.py
Labels: none

FIX: PyAEDT installer compatible from 2022R2 (#5159)
  _unittest/conftest.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_02_3D_modeler.py
  doc/source/Resources/pyaedt_installer_from_aedt.py
  src/ansys/aedt/core/workflows/installer/console_setup.py
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
  src/pyaedt/workflows/installer/pyaedt_installer.py
Labels: testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']
