Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

refactored Primitives and Object3d
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_98_Icepak.py
  pyaedt/generic/configurations.py
  pyaedt/icepak.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modules/monitor_icepak.py
Labels: none

refactored Primitives and Object3d
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
Labels: examples

refactored Primitives and Object3d
  examples/01-HFSS3DLayout/Hfss3DComponent.py
Labels: examples

refactored Primitives and Object3d
  examples/01-HFSS3DLayout/Hfss3DComponent.py
Labels: examples

refactored Primitives and Object3d
  examples/02-HFSS/HFSS_Dipole.py
Labels: examples

refactored Primitives and Object3d
  _unittest/test_44_TouchstoneParser.py
  examples/07-Circuit/Circuit_Example.py
Labels: examples

corrected examples
  _unittest/test_02_2D_modeler.py
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/07-Circuit/Circuit_Example.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: examples

corrected examples
  examples/02-HFSS/HFSS_Dipole.py
Labels: examples

DOC: Remove download button from release
  doc/source/conf.py
Labels: documentation

REFACT: Extend handler exception handling
  pyaedt/generic/general_methods.py
Labels: none

Replace variable named 'l'.
  pyaedt/hfss.py
Labels: none

Update pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

Update pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives.py
Labels: none

Rename variables.
  pyaedt/hfss.py
Labels: none

fixed minor issue
  pyaedt/circuit.py
Labels: none

Added support for all nets and all layers in create_fieldplot_layers_nets method
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: none

DOC: Remove download button from release (#4517)
  doc/source/conf.py
Labels: documentation

Update documentation for touchstone parser.
  pyaedt/generic/touchstone_parser.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Added support for all nets and all layers in create_fieldplot_layers_nets method (#4520)
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: none

Added ic_mode flag in hfss3dlayout.py initialization and as a property with getter and setter
  _unittest/test_launch_desktop.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: none

added the missing 3D solution types in the assign_insulating function
  pyaedt/maxwell.py
Labels: none

plot fields on layers
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: none

FIX: Wrong if statement
  pyaedt/application/Design.py
Labels: none

Update pyaedt/generic/general_methods.py
  pyaedt/generic/general_methods.py
Labels: none

Match headings in left nav pane and card titles
  doc/source/User_guide/index.rst
  doc/source/User_guide/intro.rst
Labels: none

Apply suggestions from code review
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/hfss3dlayout.py
Labels: none

Update pyaedt/generic/touchstone_parser.py
  pyaedt/generic/touchstone_parser.py
Labels: none

Update pyaedt/generic/touchstone_parser.py
  pyaedt/generic/touchstone_parser.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Update pyaedt/desktop.py
  pyaedt/desktop.py
Labels: none

Apply suggestions from code review
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
Labels: none

remove desktop object from logger during release phase
  pyaedt/desktop.py
Labels: none

remove desktop object from logger during release phase (#4530)
  pyaedt/desktop.py
Labels: none

CHORE: Unify log messages
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Added new method create_fieldplot_layers
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: none

Added new method create_fieldplot_layers
  pyaedt/modules/PostProcessor.py
Labels: none

REFACT: Avoid assert calls and try except pass pattern (#4516)
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
Labels: none

setting IC mode in any case
  pyaedt/application/Design.py
Labels: none

fixing docstrings
  pyaedt/modules/PostProcessor.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"
