Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.md
- README_CN.md
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements/**/*
testing:
- _unittest/conftest.py
- _unittest_ironpython/run_unittests.py
- _unittest_ironpython/run_unittests_batchmode.cmd

removed @pytest.mark.timeout decorator
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_3dlayout_modeler.py
  _unittest/test_04_SBR.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_26_emit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_98_Icepak.py
Labels: none

removed "pytest-retry-class==0.1", "pytest-timeout==2.1.0", from pyproject.toml
  pyproject.toml
Labels: none

EMIT: get/set emi result category filters (#3341)
  _unittest/test_26_emit.py
  pyaedt/emit_core/__init__.py
  pyaedt/emit_core/emit_constants.py
  pyaedt/emit_core/interference_classification.py
  pyaedt/emit_core/results/revision.py
Labels: none

increased to 4
  .github/workflows/unit_tests.yml
Labels: maintenance

fix error
  pyaedt/modeler/modeler3d.py
Labels: none

Extended net and differential pair (#3352)
  .github/workflows/build_documentation.yml
  _unittest/test_00_EDB.py
  doc/source/EDBAPI/CoreEdb.rst
  doc/source/EDBAPI/NetsEdb.rst
  doc/source/conf.py
  pyaedt/edb.py
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/dotnet/layout.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
  pyaedt/edb_core/nets.py
Labels: documentation, maintenance

merge from main fixed f string for IronPython
  pyaedt/emit_core/emit_constants.py
  pyaedt/generic/settings.py
Labels: none

set "-n 4" instead of "--tx 4*popen"
  .github/workflows/unit_tests.yml
Labels: maintenance

fixed multiple report files
  .github/workflows/unit_tests.yml
Labels: maintenance

Fix design init exception handler
  pyaedt/application/Design.py
Labels: none

Fixed references and moved additional 2 tests files
  .github/workflows/unit_tests.yml
  _unittest_solvers/example_models/T20/Circ_Patch_5GHz.a3dcomp
  _unittest_solvers/example_models/T20/Circ_Patch_5GHz_hex.a3dcomp
  _unittest_solvers/example_models/T20/S Parameter Table 1.csv
  _unittest_solvers/example_models/T20/Sinusoidal.csv
  _unittest_solvers/example_models/T20/array_simple.json
  _unittest_solvers/example_models/T20/differential_pairs.aedb/edb.def
  _unittest_solvers/example_models/T20/differential_pairs.aedt
  _unittest_solvers/example_models/T20/differential_pairs_231.aedb/edb.def
  _unittest_solvers/example_models/T20/differential_pairs_231.aedb/stride/model.index
  _unittest_solvers/example_models/T20/differential_pairs_231.aedt
  _unittest_solvers/example_models/T20/test_cad.nas
  _unittest_solvers/test_20_HFSS.py
  _unittest_solvers/test_26_emit.py
  _unittest_solvers/test_31_Q3D.py
  _unittest_solvers/test_34_TwinBuilder.py
  _unittest_solvers/test_98_Icepak.py
Labels: maintenance

Update error in note
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

Fixed references and moved additional 2 tests files
  _unittest/test_01_Design.py
Labels: none

Fixed references and moved additional 2 tests files
  _unittest/test_14_AedtLogger.py
Labels: none

Fixed references and moved additional 2 tests files
  _unittest/test_01_Design.py
  _unittest/test_14_AedtLogger.py
Labels: none

added __init__.py to _unittest_solvers fixed some bugs
  _unittest/test_02_3D_modeler.py
  _unittest/test_14_AedtLogger.py
  _unittest_solvers/__init__.py
  _unittest_solvers/test_20_HFSS.py
Labels: none

revert changes
  _unittest/test_01_Design.py
  _unittest/test_14_AedtLogger.py
Labels: none

removed release in init
  pyaedt/application/Design.py
Labels: none

fixed support to linux.
  pyaedt/desktop.py
  pyaedt/icepak.py
Labels: none

moved folder NF_Test created T34 example folder
  _unittest/test_28_Maxwell3D.py
  _unittest_solvers/example_models/T34/netlist_small.cir
  _unittest_solvers/example_models/nf_test/data_Ex_ymax.dat
  _unittest_solvers/example_models/nf_test/data_Ex_ymin.dat
  _unittest_solvers/example_models/nf_test/data_Ex_zmax.dat
  _unittest_solvers/example_models/nf_test/data_Ex_zmin.dat
  _unittest_solvers/example_models/nf_test/data_Ey_xmax.dat
  _unittest_solvers/example_models/nf_test/data_Ey_xmin.dat
  _unittest_solvers/example_models/nf_test/data_Ey_zmax.dat
  _unittest_solvers/example_models/nf_test/data_Ey_zmin.dat
  _unittest_solvers/example_models/nf_test/data_Ez_xmax.dat
  _unittest_solvers/example_models/nf_test/data_Ez_xmin.dat
  _unittest_solvers/example_models/nf_test/data_Ez_ymax.dat
  _unittest_solvers/example_models/nf_test/data_Ez_ymin.dat
  _unittest_solvers/example_models/nf_test/data_Hx_ymax.dat
  _unittest_solvers/example_models/nf_test/data_Hx_ymin.dat
  _unittest_solvers/example_models/nf_test/data_Hx_zmax.dat
  _unittest_solvers/example_models/nf_test/data_Hx_zmin.dat
  _unittest_solvers/example_models/nf_test/data_Hy_xmax.dat
  _unittest_solvers/example_models/nf_test/data_Hy_xmin.dat
  _unittest_solvers/example_models/nf_test/data_Hy_zmax.dat
  _unittest_solvers/example_models/nf_test/data_Hy_zmin.dat
  _unittest_solvers/example_models/nf_test/data_Hz_xmax.dat
  _unittest_solvers/example_models/nf_test/data_Hz_xmin.dat
  _unittest_solvers/example_models/nf_test/data_Hz_ymax.dat
  _unittest_solvers/example_models/nf_test/data_Hz_ymin.dat
  _unittest_solvers/test_34_TwinBuilder.py
Labels: none

modified getignore
  .gitignore
Labels: none

fixed support to linux. (#3369)
  pyaedt/desktop.py
  pyaedt/icepak.py
Labels: none

Improved logger and desktop initialization (#3364)
  _unittest/test_01_Design.py
  _unittest/test_14_AedtLogger.py
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/PostProcessor.py
Labels: none

fixed vale
  doc/source/Getting_started/Troubleshooting.rst
Labels: documentation

extracted LayoutForce.aedtz
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/LayoutForce_Layout_APhi.aedb/edb.def
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.attr
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.bodydesc
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.bodydesc_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.circuitelemviz
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.circuitelemviz_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.layerdesc
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.layerdesc_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.project
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.project_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/edb.def
  _unittest/example_models/TMaxwell/LayoutForce.aedt
  _unittest/example_models/TMaxwell/LayoutForce.aedtz
Labels: none

removed ignored file local_config.json from server
  _unittest_solvers/local_config.json
Labels: none

fixed vale
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

fixed vale
  doc/source/Getting_started/Installation.rst
  doc/source/User_guide/index.rst
  doc/source/index.rst
Labels: documentation

fixed minor docs
  doc/source/Getting_started/Troubleshooting.rst
  examples/00-EDB/09_Configuration.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  pyaedt/maxwell.py
Labels: documentation

fixed minor docs
  doc/source/index.rst
Labels: documentation

fixed minor docs
  examples/07-EMIT/ComputeChannelSeparation.py
Labels: none

removed ignored file local_config.json from server restored --tx 4*popen
  .github/workflows/unit_tests.yml
Labels: maintenance

Improve grpc troubleshooting documentation (#3357)
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Troubleshooting.rst
  doc/source/User_guide/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-EDB/09_Configuration.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  examples/07-EMIT/ComputeChannelSeparation.py
  pyaedt/maxwell.py
Labels: documentation

update to v0.6.88
  pyaedt/__init__.py
Labels: none

created a separate job for the solvers unit tests
  .github/workflows/unit_tests_solvers.yml
Labels: maintenance

-n 2 option
  .github/workflows/unit_tests.yml
Labels: maintenance

fixed test_19C_export_touchsthone
  _unittest/test_01_3dlayout_modeler.py
Labels: none

fix examples and update to 2023 R2
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/08_CPWG.py
  examples/00-EDB/09_Configuration.py
  pyaedt/desktop.py
Labels: none

moved test_41_3dlayout_modeler.py under _unittest_solvers
  _unittest_solvers/example_models/T41/Package.aedb/edb.def
  _unittest_solvers/example_models/T41/Sinusoidal.csv
  _unittest_solvers/example_models/T41/demo_flex.aedtz
  _unittest_solvers/example_models/T41/differential_pairs_definition.txt
  _unittest_solvers/example_models/T41/differential_pairs_t41.aedb/edb.def
  _unittest_solvers/example_models/T41/differential_pairs_t41.aedt
  _unittest_solvers/example_models/T41/differential_pairs_t41_231.aedb/edb.def
  _unittest_solvers/example_models/T41/differential_pairs_t41_231.aedb/stride/model.index
  _unittest_solvers/example_models/T41/differential_pairs_t41_231.aedt
  _unittest_solvers/example_models/T41/test_solve.aedb/edb.def
  _unittest_solvers/example_models/T41/test_solve.aedt
  _unittest_solvers/test_41_3dlayout_modeler.py
Labels: none

moved cad files for test_41_3dlayout_modeler.py under _unittest_solvers\example_models
  _unittest_solvers/example_models/cad/DXF/dxf1.dxf
  _unittest_solvers/example_models/cad/DXF/dxf1.xml
  _unittest_solvers/example_models/cad/GDS/gds1.gds
  _unittest_solvers/example_models/cad/GDS/gds1.tech
  _unittest_solvers/example_models/cad/Gerber/gerber1.xml
  _unittest_solvers/example_models/cad/Gerber/gerber1.zip
Labels: none
