Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

FEAT: Filtersolutions Export Modelithics (#5101)
  _unittest/test_45_FilterSolutions/resources/import_tuned_variables.ckt
  _unittest/test_45_FilterSolutions/resources/imported_netlist.ckt
  _unittest/test_45_FilterSolutions/resources/library_parts.cfg
  _unittest/test_45_FilterSolutions/resources/library_parts_test.cfg
  _unittest/test_45_FilterSolutions/test_lumped_export/__init__.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
Labels: examples

FEAT: Create custom array file (.sarr) (#5156)
  _unittest/test_04_SBR.py
  src/ansys/aedt/core/hfss.py
Labels: none

Change order
  src/ansys/aedt/core/hfss.py
Labels: none

Update v0.10.2
  src/ansys/aedt/core/__init__.py
Labels: none

calculator_write implementation
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: none

D1119464: Call Design's save_project correctly
  src/ansys/aedt/core/emit.py
Labels: none

DOCS: added FIlterSolutions to toc tree autosummary and index file.
  doc/source/API/Application.rst
  doc/source/API/index.rst
Labels: none

doc: fix style
  doc/source/User_guide/pyaedt_extensions_doc/icepak/ecad_advanced_import.rst
Labels: none

test: fix test teardown
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/workflows/icepak/ecad_importer.py
Labels: none

doc: add ECAD to vocabulary to fix style
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

import_dxf q3d
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/q3d.py
Labels: none

WIP: Remove unneeded env var
  .github/workflows/ci_cd.yml
Labels: maintenance

FEAT: Force an EMIT save after analysis (#5166)
  src/ansys/aedt/core/emit.py
  src/ansys/aedt/core/emit_core/results/revision.py
Labels: none

test: increase coverage
  _unittest_solvers/example_models/T45/DevicePropertiesReduced.csv
  src/ansys/aedt/core/workflows/icepak/ecad_importer.py
Labels: none

Refactor native components
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

Refactored report classes moved all report files to new post folder added export_config method to reports
  src/ansys/aedt/core/hfss3dlayout.py
Labels: none

Fixed test
  _unittest/test_01_3dlayout_edb.py
Labels: none

Fixed test
  src/ansys/aedt/core/modules/solve_sweeps.py
Labels: none

Fixed test
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/post/post_processor.py
  src/ansys/aedt/core/post/report_templates.py
Labels: none

Fixed test
  _unittest/test_98_Icepak.py
Labels: none

Fixed test
  _unittest/test_98_Icepak.py
Labels: none

Fixed test
  _unittest/test_98_Icepak.py
Labels: none

FIX: Failing projects
  _unittest_solvers/conftest.py
Labels: none

Fixed codacy
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/post/report_templates.py
Labels: none

feat support aedb for siwave
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none

Upgrade example model
  _unittest_solvers/example_models/T26/Cell Phone RFI Desense.aedt
  _unittest_solvers/test_26_emit.py
Labels: none

Fix: Upgrade example model (#5171)
  _unittest_solvers/example_models/T26/Cell Phone RFI Desense.aedt
  _unittest_solvers/test_26_emit.py
Labels: none

DOCS: Fix pyaedt logo in README.md
  README.md
Labels: documentation

DOCS: Fix pyaedt logo in README.md (#5173)
  README.md
Labels: documentation

Add test
  _unittest/example_models/T04/Cassegrain.aedt
  _unittest/example_models/T04/Cassegrain_231.aedt
  _unittest/example_models/T04/custom_array.sarr
  _unittest/example_models/T04/freighter_ship.stl
  _unittest/example_models/T04/test.ffd
  _unittest/test_04_SBR.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

Add test
  _unittest_solvers/test_00_analyze.py
Labels: none

improved expressions
  src/ansys/aedt/core/post/report_templates.py
Labels: none

Fix export far field in SBR
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/hfss.py
Labels: none

Fixed problem in material creation
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

simplified code
  src/ansys/aedt/core/modules/material.py
Labels: none

Fix issue in 2025R1
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/monitor_icepak.py
Labels: none

Fix bug
  src/ansys/aedt/core/hfss.py
Labels: none

removed method _update_material and included in the Material class __init__
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
Labels: none

Fix 3D Component import issue
  _unittest/example_models/T40/SMA_RF_Jack.a3dcomp
  _unittest/test_01_3dlayout_edb.py
  src/ansys/aedt/core/modules/layer_stackup.py
Labels: none

Multizone is crashing in Graphical mode
  _unittest/test_01_3dlayout_edb.py
Labels: none
