Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

REFACTOR: Cleanup rmxprt and pyaedt.modules files (#4869)
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
  pyaedt/rmxprt.py
Labels: none

FIX: Design save project mkdir (#4868)
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: none

Update pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

FEAT: MaxwellMatrix class (#4855)
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Boundary.py
Labels: none

Refactor of Extension documentation Added documentation for Configure_Edb extension
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/_static/extensions/import_nastran_ui.png
Labels: none

REFACTOR: Angle property getter in aedt 2023.2 and below is broken in GRPC and has to be bypassed. (#4867)
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: none

Refactor of Extension documentation Added documentation for Configure_Edb extension
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Refactor of Extension documentation Added documentation for Configure_Edb extension
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
Labels: none

Update doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
Labels: none

typo fix
  doc/source/Getting_started/versioning.rst
Labels: none

REFACTOR: Extension documentation (#4873)
  doc/source/Getting_started/versioning.rst
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/_static/extensions/import_nastran_ui.png
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Contour plot
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
Labels: none

Move ylabel
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
Labels: none

Modify plot matplotlib
  pyaedt/generic/plot.py
Labels: none

Add support for 24R2 behaviour
  pyaedt/modules/Boundary.py
Labels: none

Modify plot matplotlib
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
Labels: none

FEAT_Filtersolutions: Reviewer comments are applied.
  _unittest/test_45_FilterSolutions/resources/resources.py
  _unittest/test_45_FilterSolutions/test_filter/filtersolutions_resource.py
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_parasitics.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_topology.py
  _unittest/test_45_FilterSolutions/test_raise_error.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions.py
  pyaedt/filtersolutions_core/attributes.py
  pyaedt/filtersolutions_core/dll_interface.py
  pyaedt/filtersolutions_core/graph_setup.py
  pyaedt/filtersolutions_core/ideal_response.py
  pyaedt/filtersolutions_core/lumped_nodes_and_leads.py
  pyaedt/filtersolutions_core/lumped_parasitics.py
  pyaedt/filtersolutions_core/lumped_termination_impedance.py
  pyaedt/filtersolutions_core/lumped_topology.py
  pyaedt/filtersolutions_core/multiple_bands_table.py
  pyaedt/filtersolutions_core/transmission_zeros.py
  pyaedt/generic/design_types.py
Labels: examples

added missing images
  doc/source/_static/extensions/configure_edb.png
  doc/source/_static/extensions/configure_edb_way_of_work.png
  examples/07-Circuit/Reports.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/workflows/project/create_report.py
Labels: examples

add advanced fields calc
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/advanced_fields_calculator.rst
  doc/source/_static/extensions/advanced_fields_calc_1.png
  doc/source/_static/extensions/expressions_catalog.png
  doc/source/_static/extensions/tang_stress_tensor.png
  doc/source/_static/extensions/voltage_drop_line.png
Labels: none

FEAT_Filtersolutions: API version updated.
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
Labels: none

Increase mesh initialization performance
  pyaedt/modules/MeshIcepak.py
Labels: none

Add power and radiation properties/setter
  pyaedt/modules/Boundary.py
Labels: none

Improve coverage
  _unittest/test_98_Icepak.py
Labels: none

Add docstrings
  pyaedt/modules/Boundary.py
Labels: none

Improve tests
  _unittest/test_98_Icepak.py
Labels: none

Fix tests
  pyaedt/modules/MeshIcepak.py
Labels: none

Fix assign priorities not getting updated user components information
  pyaedt/modules/MeshIcepak.py
Labels: none

FIX: AEDT port value in create_session (#4870)
  pyaedt/common_rpc.py
Labels: none

Apply suggestions from code review
  examples/07-Circuit/Reports.py
Labels: examples

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

DOCS: Fix vale warning
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  pyaedt/mechanical.py
Labels: none

Apply suggestions from code review
  pyaedt/modules/Boundary.py
Labels: none

Fix docstring message
  pyaedt/modules/Boundary.py
Labels: none

Update pyaedt/modules/Boundary.py
  pyaedt/modules/Boundary.py
Labels: none

Fix docstrings
  pyaedt/modules/Boundary.py
Labels: none

Update documentation
  doc/source/API/Boundaries.rst
Labels: none
