Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, edb

Implemented new VirtualCompliance class to generate automatically report and pass/fail table based on json configurations
  _unittest/conftest.py
  _unittest/test_01_pdf.py
  pyaedt/generic/compliance.py
  pyaedt/generic/pdf.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: testing

added missing files
  _unittest/example_models/compliance/ContourEyeDiagram_Custom.json
  _unittest/example_models/compliance/EyeDiagram_Custom.json
  _unittest/example_models/compliance/general_compliance_template.json
Labels: none

added missing files
  _unittest/example_models/compliance/Sparameter_Custom.json
  _unittest/example_models/compliance/Sparameter_Insertion_Custom.json
  _unittest/example_models/compliance/StatisticalEyeDiagram_Custom.json
Labels: none

fix hide method docstring
  pyaedt/modules/report_templates.py
Labels: none

documentation fix
  .pre-commit-config.yaml
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/index.rst
  doc/source/User_guide/index.rst
  doc/source/_static/custom.css
  doc/source/index.rst
Labels: documentation

Fix Icepak examples
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: none

add .pts file
  _unittest_solvers/example_models/T00/temp_points.pts
Labels: none

sDesktopinstallDirectory is now set also for remote sessions
  pyaedt/desktop.py
Labels: none

improve tests
  _unittest_solvers/test_00_analyze.py
Labels: none

Add version
  examples/04-Icepak/Icepak_3DComponents_Example.py
Labels: none

Add version
  examples/04-Icepak/Icepak_3DComponents_Example.py
Labels: none

improve tests
  _unittest_solvers/test_00_analyze.py
Labels: none

Remove failing part of Icepak example
  examples/04-Icepak/Icepak_3DComponents_Example.py
Labels: none

Added project_info minor improvements
  pyaedt/desktop.py
  pyaedt/generic/AnsysTemplate.json
  pyaedt/generic/compliance.py
  pyaedt/generic/pdf.py
Labels: none

Added project_info minor improvements
  pyaedt/generic/compliance.py
Labels: none

Apply suggestions from code review
  pyaedt/generic/pdf.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: none

Fix UT
  pyaedt/modules/report_templates.py
Labels: none

sDesktopinstallDirectory is now set also for remote sessions (#4183)
  pyaedt/desktop.py
Labels: none

Fix export field UT
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix icepak release
  examples/04-Icepak/Icepak_3DComponents_Example.py
Labels: none

Update pyaedt/modules/PostProcessor.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix UT
  _unittest/test_01_pdf.py
Labels: none

Fix Icepak examples (#4182)
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: none

Update pyaedt/generic/pdf.py
  pyaedt/generic/pdf.py
Labels: none

Update pyaedt/generic/pdf.py
  pyaedt/generic/pdf.py
Labels: none

Update pyaedt/generic/pdf.py
  pyaedt/generic/pdf.py
Labels: none

minor fix
  pyaedt/generic/compliance.py
Labels: none

Fix UT
  pyaedt/generic/compliance.py
Labels: none

minor fix
  pyaedt/modules/report_templates.py
Labels: none

export field file fix (#4163)
  _unittest_solvers/example_models/T00/temp_points.pts
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: none

Update pyaedt/desktop.py
  pyaedt/desktop.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

# TODO : Remove once EDB is extracted from PyAEDT
edb:
- changed-files:
  - any-glob-to-any-file:
    - "examples/00-EDB/*"
    - "examples/01-HFSS3DLayout/EDB_in_3DLayout.py"
    - "examples/01-HFSS3DLayout/Dcir_in_3DLayout.py"
    - "examples/05-Q3D/Q3D_from_EDB.py"
    - "examples/05-Q3D/Q3D_DC_IR.py"
    - "pyaedt/edb_core/**/*"
    - "pyaedt/edb.py"
