Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

export to 3D modeler with keeping net names bug fix
  pyaedt/modules/SolveSetup.py
Labels: none

Skip test 06 if LInux and non graphical
  _unittest_solvers/test_00_analyze.py
Labels: none

Apply suggestions from code review
  doc/source/Getting_started/Contributing.rst
Labels: none

fix __repr__
  pyaedt/application/Design.py
Labels: none

fix for manipulate_design
  pyaedt/application/Design.py
Labels: none

Skip SPSIM in Linux until DLL issue is fixed
  _unittest_solvers/test_00_analyze.py
Labels: none

FIX: Export from 3D layout to 3D modeler with keeping net names bug fix (#4582)
  pyaedt/modules/SolveSetup.py
Labels: none

enhance docstring+fix backward compatiblity manipulation
  pyaedt/modeler/cad/Primitives2D.py
Labels: none

add backward compatiblity test
  _unittest/test_09_Primitives2D.py
Labels: none

FIX: Nightly docs
  .github/workflows/nightly-docs.yml
Labels: maintenance

FIX: PDF creation with xelatex and miktex
  doc/source/Getting_started/About.rst
  doc/source/Resources/aedt_collage.jpg
Labels: none

Doc/4547 keyword conventions (#4559)
  doc/source/Getting_started/Contributing.rst
Labels: none

Skip test 06 if LInux and non graphical
  _unittest_solvers/test_00_analyze.py
Labels: none

Add if to avoid warnings being logged
  pyaedt/modules/MeshIcepak.py
Labels: none

Subdivide settings parsing function in dict and args
  pyaedt/generic/configurations.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Skip SPSIM in Linux until DLL issue is fixed
  _unittest_solvers/test_00_analyze.py
Labels: none

WIP: Fix conflict
  _unittest_solvers/.cov/xml
  _unittest_solvers/test_00_analyze.py
Labels: none

Add array_element_phase() method to analysis_hf.py
  pyaedt/application/analysis_hf.py
Labels: none

Fix Maxwell solver issue
  _unittest_solvers/test_00_analyze.py
Labels: none

Add skip for SPISIM until the issue is fixed
  _unittest_solvers/test_00_analyze.py
Labels: none

CI: Fix upload assets
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Add pdf file compilation
  doc/make.bat
Labels: none

FIX: Allow examples in PDF
  .github/workflows/ci_cd.yml
  doc/source/index.rst
Labels: documentation, maintenance

Replace getactivedesign Replace setactivedesign
  _unittest/test_21_Circuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit_core/results/results.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modules/PostProcessor.py
Labels: none

Fix issues
  _unittest/test_21_Circuit.py
  pyaedt/desktop.py
  pyaedt/maxwell.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Update pyaedt/modules/MeshIcepak.py
  pyaedt/modules/MeshIcepak.py
Labels: none

Update pyaedt/application/Design.py
  pyaedt/application/Design.py
Labels: none

Update pyaedt/application/Design.py
  pyaedt/application/Design.py
Labels: none

Fix docstring
  pyaedt/application/Design.py
Labels: none

Fix active design selection behavior for Emit designs
  pyaedt/emit.py
Labels: none

Remove unused import in emit.py
  pyaedt/emit.py
Labels: none

FIx CIrcuit and LInux compatibility in 2024R1
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit_core/results/results.py
  pyaedt/generic/compliance.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/schematic.py
Labels: none

FIx CIrcuit and LInux compatibility in 2024R1
  _unittest/test_21_Circuit.py
Labels: none

Fix precommit
  _unittest/test_22_Circuit_DynamicLink.py
Labels: none

Skip linux failing tests
  _unittest/test_08_Primitives3D.py
  _unittest/test_21_Circuit.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
Labels: none

FIX: Doc avoid using GIF
  doc/source/conf.py
Labels: documentation

Skip linux failing tests
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
Labels: none

DOC: Avoid examples with GIF
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
Labels: documentation

Skip linux failing tests
  _unittest/test_41_3dlayout_modeler.py
Labels: none
