Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- setup-distutils.py
dependencies:
- requirements.txt
- requirements_docs.txt
- requirements_test.txt

Fixed Solution Data for time varying sweeps values (#1371)
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Design.py
  pyaedt/modules/solutions.py
Labels: none

New version 0.5.1 with wheelhouse fix
  pyaedt/version.txt
Labels: none

edb component getter and setter fixed
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

doc/general edits to prepare for vale linter
  pyaedt/aedt_logger.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/circuit.py
  pyaedt/common_rpc.py
  pyaedt/conftest.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/edb_core/siwave.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/siwave.py
  pyaedt/twinbuilder.py
Labels: none

Try to fix style check error
  pyaedt/q3d.py
Labels: none

Standardize description for aedt_process_ID parameter
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Labels: none

Fix typos
  pyaedt/edb.py
  pyaedt/hfss.py
Labels: none

Fix typo and try one final time to get style check to run
  pyaedt/edb.py
  pyaedt/hfss3dlayout.py
Labels: none

Final attempt to get the style check to run for today
  pyaedt/hfss3dlayout.py
Labels: none

removed a print in the pyaedt init
  pyaedt/__init__.py
Labels: none

removed a print in the pyaedt init
  pyaedt/__init__.py
Labels: none

removed a print in the pyaedt init
  pyaedt/generic/plot.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: none

removed a print in the pyaedt init
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/misc/create_remote_dir.py
  pyaedt/modeler/PrimitivesCircuit.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/rpc/rpyc_services.py
Labels: none

Fix message in unit test_41_3dlayout_modeler.py
  _unittest/test_41_3dlayout_modeler.py
Labels: none

Fix error message in test_20_HFSS.py
  _unittest/test_20_HFSS.py
Labels: none

removed a print in the pyaedt init
  requirements.txt
  setup.py
Labels: maintenance, dependencies

The position argument is the lower-left corner of the rectangle.
  pyaedt/modeler/Primitives3D.py
Labels: none

removed a print in the pyaedt init (#1377)
  pyaedt/__init__.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/misc/create_remote_dir.py
  pyaedt/modeler/PrimitivesCircuit.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/rpc/rpyc_services.py
  requirements.txt
  setup.py
Labels: maintenance, dependencies

fixed copyfile method
  pyaedt/generic/filesystem.py
Labels: none

Use ast.litteral_eval to raise exception if the input is not a valid Python datatype. (#1284)
  pyaedt/generic/general_methods.py
Labels: none

Attempt to fix messages unit tests
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
Labels: none

Edits to hfss.py
  pyaedt/hfss.py
Labels: none

Edit to pyaedt/edb
  pyaedt/edb.py
Labels: none

Edit to pyaedt/desktop
  pyaedt/desktop.py
Labels: none

edit to pyaedt/circuit
  pyaedt/circuit.py
Labels: none

Edit message to standarize PY file and unit test
  pyaedt/hfss.py
Labels: none

test coverage
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

style fix
  pyaedt/dlls/EDBLib/bckup/DataModel.dll
  pyaedt/edb_core/EDB_Data.py
Labels: none

fixed copyfile method (#1381)
  pyaedt/generic/filesystem.py
Labels: none

The position argument is the lower-left corner of the rectangle. (#1380)
  pyaedt/modeler/Primitives3D.py
Labels: none

- New User defined component properties - Native component in SBR+ should be deprecated - Copy solid bodies supporting User defined components
  _unittest/test_08_Primitives3D.py
  _unittest/test_98_Icepak.py
  doc/source/API/Primitives.rst
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  pyaedt/application/Analysis3D.py
  pyaedt/hfss.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/parts.py
Labels: documentation

Update Modeler.py
  pyaedt/modeler/Modeler.py
Labels: none

- Fixed typo
  pyaedt/modeler/Object3d.py
Labels: none

- Fixed codacy
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
Labels: none

doc/general edits to prepare for vale linter (#1373)
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/aedt_logger.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/circuit.py
  pyaedt/common_rpc.py
  pyaedt/conftest.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/edb_core/siwave.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/siwave.py
  pyaedt/twinbuilder.py
Labels: none

unitest
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
Labels: none

unitest
  _unittest/test_00_EDB.py
Labels: none

Update pyaedt/modeler/Object3d.py
  pyaedt/modeler/Object3d.py
Labels: none

Apply suggestions from code review
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/Primitives3D.py
Labels: none

Update pyaedt/modeler/Object3d.py
  pyaedt/modeler/Object3d.py
Labels: none
