Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

Update pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh.py
Labels: none

add docstring
  pyaedt/maxwell.py
Labels: none

Fix codacy
  pyaedt/q3d.py
Labels: none

WIP: Update to main
  src/ansys/aedt/core/modeler/cad/Primitives3D.py
Labels: none

FIX: Wrong import
  src/ansys/aedt/core/modeler/cad/Primitives.py
Labels: none

FIX: Wrong import
  src/ansys/aedt/core/modeler/cad/Primitives.py
Labels: none

improve test
  _unittest/test_28_Maxwell3D.py
Labels: none

improve code
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: none

RENAME: emit core files
  src/ansys/aedt/core/emit.py
  src/pyaedt/emit_core/Couplings.py
Labels: none

REFACTOR: Apply renaming
  _unittest/test_01_Design.py
  _unittest/test_01_general_methods.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest_solvers/test_26_emit.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  pyproject.toml
Labels: maintenance, examples

FIX: File name casing
  src/ansys/aedt/core/application/aedt_file_management.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/emit_core/couplings.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: none

REFACTOR: Apply renaming
  _unittest/test_03_Materials.py
  _unittest/test_43_CableModeling.py
  _unittest/test_98_Icepak.py
  examples/01-HFSS3DLayout/EDB_in_3DLayout.py
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: examples

REFACTOR: Add missing renaming
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/modules/design_xploration.py
  src/pyaedt/modules/SolveSweeps.py
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Functions for Modelitichcs export added
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: examples

FIX: Missing renaming imports
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/icepak.py
Labels: none

DOCS: Update v1.0 breaking changes
  doc/source/release_1_0.rst
Labels: documentation

DOCS: Fix missed modules renaming
  doc/source/API/Boundaries.rst
  doc/source/API/CableModeling.rst
  doc/source/API/MaterialManagement.rst
  doc/source/API/Mesh.rst
  doc/source/API/Optimetrics.rst
  doc/source/API/Post.rst
  doc/source/API/Primitive_Objects.rst
  doc/source/API/Primitives2D.rst
  doc/source/API/Primitives3D.rst
  doc/source/API/Primitives3DLayout.rst
  doc/source/API/PrimitivesCircuit.rst
  doc/source/API/Setup.rst
  doc/source/API/SetupTemplates3DLayout.rst
  doc/source/API/SetupTemplatesCircuit.rst
  doc/source/API/SetupTemplatesHFSS.rst
  doc/source/API/SetupTemplatesIcepak.rst
  doc/source/API/SetupTemplatesMaxwell.rst
  doc/source/API/SetupTemplatesMechanical.rst
  doc/source/API/SetupTemplatesQ3D.rst
  doc/source/API/SetupTemplatesRmxprt.rst
  doc/source/API/SetupTemplatesTwinBuilder.rst
  doc/source/User_guide/pyaedt_file_data/cable.rst
Labels: none

CI: Remove IronPython testing
  .github/workflows/ci_cd.yml
Labels: maintenance

TESTS: Add tests on pyaedt alias warning
  _unittest/test_warnings.py
  src/pyaedt/__init__.py
Labels: none

CI: Remove test ironpython from job needs
  .github/workflows/ci_cd.yml
Labels: maintenance

Plane wave method
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: none

Plane wave unit test
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
  pyaedt/modules/Boundary.py
Labels: none

FIX: Add missing files
  src/pyaedt/misc/fields_calculator.schema.json
  src/pyaedt/workflows/hfss3dlayout/images/large/parametrize.png
  src/pyaedt/workflows/hfss3dlayout/parametrize_edb.py
  src/pyaedt/workflows/icepak/images/large/power_map.png
  src/pyaedt/workflows/icepak/power_map_from_csv.py
  src/pyaedt/workflows/icepak/toolkits_catalog.toml
  src/pyaedt/workflows/project/kernel_converter.py
Labels: none

REFACTOR: Fix pre-commit hook
  _unittest/test_warnings.py
  src/ansys/aedt/core/generic/ibis_reader.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: none

REFACTOR: Fix pre-commit hook
  _unittest/test_warnings.py
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Load and save config added
  _unittest/test_45_FilterSolutions/resources/library_parts.cfg
  _unittest/test_45_FilterSolutions/resources/library_parts_test.cfg
  _unittest/test_45_FilterSolutions/test_lumped_export/__init__.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: none

Unite option
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/SolveSetup.py
Labels: none

DOCS: Extend warnings with renaming changes
  src/pyaedt/__init__.py
Labels: none

DOCS: Extend breaking changes with file renaming
  doc/source/release_1_0.rst
Labels: documentation

Monostatic RCS class
  pyaedt/generic/rcs_visualization.py
Labels: none

Update .gitignore
  .gitignore
Labels: none

Gracefully handle exited processes
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

Fix no cover comments
  src/ansys/aedt/core/generic/general_methods.py
Labels: none

FEAT_Filtersolutions_Export_Modelithics: Import tuned variables added
  _unittest/test_45_FilterSolutions/resources/import_tuned_variables.ckt
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  pyaedt/filtersolutions_core/export_to_aedt.py
Labels: none

DOCS: Fix blocking doc-build warnings
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
Labels: none

Update release_1_0.rst
  doc/source/release_1_0.rst
Labels: documentation

DOCS: Fix blocking doc-build warnings (#5057)
  doc/source/release_1_0.rst
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
Labels: documentation

CHORE: Add warning on python version
  _unittest/test_warnings.py
  src/ansys/aedt/core/__init__.py
Labels: none

Input file
  pyaedt/generic/rcs_visualization.py
Labels: none

Update src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: none
