Repository ansys/pyaedt, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - "doc/source/*"
    - "README.md"
    - "README_CN.md"

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
    - ".flake8"
    - "pyproject.toml"

testing:
- changed-files:
  - any-glob-to-any-file:
    - "_unittest/conftest.py"
    - "_unittest_ironpython/run_unittests.py"
    - "_unittest_ironpython/run_unittests_batchmode.cmd"

examples:
- changed-files:
  - any-glob-to-any-file:
    - "examples/**/*"

# -- Labels based on PR title ------------------------------------------------
'fix':
  - head-branch: ['fix']
  
'enhancement':
  - head-branch: ['feat']

# -- Documentation labels ----------------------------------------------------
'docs':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/**/*.rst']
          - all-globs-to-all-files: ['!doc/source/API/**/*.rst', '!doc/styles/**', '!doc/.vale.ini']

'docs:api':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['doc/source/API/**/*.rst']

'docs:examples':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['examples/**/*.py']

## -- Other labels ------------------------------------------------------------
'code-style':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.pre-commit-config.yaml', 'doc/.vale.ini']

'docker':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['docker/**']

'ci':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['.github/workflows/**']

'tests:unit':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest/**']

'tests:iron':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_ironpython/**']

'tests:solvers':
  - any:
      - changed-files:
          - any-glob-to-any-file: ['_unittest_solvers/**']

# HACK: the following labels are declared with the only purpose of avoiding the
# GitHub labeler bot to remove those. This is a known issue reported in the
# official action/labeler repo https://github.com/actions/labeler/issues/763

'ci:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'docs:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:unit:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:iron:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

'tests:solvers:skip':
  - all:
      - changed-files:
          - all-globs-to-all-files: ['THIS-NEVER-MATCHES-A-FILE']

fixed bugs in dataset creation
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

FEATURE: Close desktop at exit
  src/ansys/aedt/core/desktop.py
Labels: none

New visualization structure
  src/ansys/aedt/core/visualization/advanced/hdm_plot.py
  src/ansys/aedt/core/visualization/advanced/misc.py
Labels: none

Delete post folder
  _unittest/test_21_Circuit.py
  _unittest/test_44_TouchstoneParser.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  src/pyaedt/post/AdvancedPostProcessing.py
  src/pyaedt/post/PostProcessor.py
  src/pyaedt/post/__init__.py
  src/pyaedt/post/com_parameters.py
  src/pyaedt/post/compliance.py
  src/pyaedt/post/farfield_visualization.py
  src/pyaedt/post/monitor_icepak.py
  src/pyaedt/post/near_field_import.py
  src/pyaedt/post/pdf.py
  src/pyaedt/post/plot.py
  src/pyaedt/post/report_file_parser.py
  src/pyaedt/post/report_templates.py
  src/pyaedt/post/solutions.py
  src/pyaedt/post/spisim.py
  src/pyaedt/post/touchstone_parser.py
Labels: none

Revert 2025.1 limitation
  _unittest/test_01_Design.py
  _unittest/test_02_2D_modeler.py
Labels: none

Simplifying/updating existing examples
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  examples/07-TwinBuilder/03-Dynamic_ROM_Creation_And_Visualization.py
  examples/07-TwinBuilder/04-Static_ROM_Creation_And_Visualization.py
  examples/07-TwinBuilder/dyn_exportFromDynToFMU.err
Labels: examples

TESTING: Reproduce bug with pyedb==0.28.0
  pyproject.toml
Labels: maintenance

added unittest
  _unittest/example_models/T03/EngineeringData1.xml
  _unittest/example_models/T03/EngineeringData2.xml
  _unittest/example_models/T03/EngineeringData3.xml
  _unittest/test_03_Materials.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/material_workbench.py
Labels: none

added material_workbench.py in pyaedt folder for back compatibility
  src/pyaedt/modules/material_workbench.py
Labels: none

created docstring for wb_to_aedt_name method
  src/ansys/aedt/core/modules/material.py
Labels: none

created docstring for wb_to_aedt_name method
  src/ansys/aedt/core/modules/material.py
Labels: none

fix: exclude native components from flattening process
  _unittest/test_98_Icepak.py
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

updates existing examples
  examples/07-TwinBuilder/03-Dynamic_ROM_Creation_And_Visualization.py
  examples/07-TwinBuilder/04-Static_ROM_Creation_And_Visualization.py
Labels: examples

Fix UT
  _unittest/test_11_Setup.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_01_pdf.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/advanced/hdm_plot.py
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/workflows/project/create_report.py
  src/ansys/aedt/core/workflows/project/import_nastran.py
  src/pyaedt/visualization/advanced/pdf.py
Labels: none

FEAT: Close desktop at exit (#5183)
  src/ansys/aedt/core/desktop.py
Labels: none

Fix UT
  _unittest/test_20_HFSS.py
  src/ansys/aedt/core/visualization/advanced/misc.py
Labels: none

CI: Use pyedb main branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Add pyaedt PDF
  src/pyaedt/visualization/advanced/pdf.py
  src/pyaedt/visualization/plot/pdf.py
Labels: none

test
  _unittest_solvers/test_45_workflows.py
Labels: none

pyedb dependency
  pyproject.toml
Labels: maintenance

New visualization doc
  doc/source/API/Post.rst
  doc/source/API/Visualization.rst
  doc/source/API/index.rst
  doc/source/API/visualization/post.rst
  doc/source/API/visualization/report.rst
Labels: none

New visualization doc
  doc/source/API/visualization/post.rst
  doc/source/API/visualization/report.rst
Labels: none

FIx XML issue
  _unittest/test_03_Materials.py
Labels: none

CI: Fix missing flag and venv
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Remove extra jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

add "pyedb>=0.27.0; python_version > '3.7'" in installer
  pyproject.toml
Labels: maintenance

DOCS: Python version deprecation breaking change (#5177)
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

Fix Codacy
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  src/ansys/aedt/core/visualization/post/post_circuit.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/field.py
Labels: none

Apply suggestions from code review
  pyproject.toml
Labels: maintenance

FEAT: Import materials from Workbench (#5186)
  _unittest/example_models/T03/EngineeringData1.xml
  _unittest/example_models/T03/EngineeringData2.xml
  _unittest/example_models/T03/EngineeringData3.xml
  _unittest/test_01_GeometryOperators.py
  _unittest/test_01_data_handlers.py
  _unittest/test_01_downloads.py
  _unittest/test_01_report_file_parser.py
  _unittest/test_01_toolkit_icons.py
  _unittest/test_03_Materials.py
  _unittest/test_37_Genetic_Algorithm.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/material_workbench.py
  src/pyaedt/modules/material_workbench.py
Labels: none

Update src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/boundary.py
Labels: none

CI: Schedule dependabot on saturday
  .github/dependabot.yml
Labels: maintenance

DOCS: Fix sphinx unique warnings
  src/ansys/aedt/core/filtersolutions.py
Labels: none

Add Report example
  doc/source/API/Visualization.rst
  doc/source/API/visualization/report.rst
Labels: none

CI: Schedule dependabot on saturday (#5192)
  .github/dependabot.yml
Labels: maintenance

Report and post documentation sections
  doc/source/API/Visualization.rst
  doc/source/API/visualization/post.rst
  doc/source/API/visualization/report.rst
  src/ansys/aedt/core/visualization/post/post_circuit.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
Labels: none

import_dxf q3d
  src/ansys/aedt/core/application/analysis_3d.py
Labels: none

Advanced and plot documentation sections
  doc/source/API/Visualization.rst
  doc/source/API/visualization/advanced.rst
  doc/source/API/visualization/plot.rst
  doc/source/API/visualization/post.rst
  doc/source/Resources/farfield.png
  src/ansys/aedt/core/visualization/post/field_summary.py
Labels: none

DOCS: added FIlterSolutions to toc tree autosummary and index file. (#5172)
  doc/source/API/Application.rst
  doc/source/API/index.rst
  src/ansys/aedt/core/filtersolutions.py
Labels: none

REFACTOR: minor change in GUI
  src/ansys/aedt/core/workflows/project/configure_edb.py
Labels: none
