Repository ansys/pyaedt, pull requests merged in 2022-11, with the labels that each got.

#1907 Add 'testing' label to the automatic labeler.
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
Labels: maintenance

#1906 Ignore deprecation warnings in testing output log.
  pytest.ini
Labels: testing

#1908 Fix documentation warnings and improve docstring consistency.
  pyaedt/application/Analysis.py
  pyaedt/edb.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/configurations.py
  pyaedt/modeler/GeometryOperators.py
  pyaedt/modeler/Model3DLayout.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Primitives3D.py
  pyaedt/modules/PostProcessor.py
Labels: documentation

#1914 Return the correct component when creating an interface port.
  _unittest/test_22_Circuit_DynamicLink.py
  pyaedt/modeler/PrimitivesCircuit.py
Labels: bug, testing

#1915 'testing' label will be added when modifying test configuration files.
  .github/labeler.yml
Labels: maintenance

#1916 Horizontal port enhancement
  _unittest/test_00_EDB.py
  pyaedt/edb_core/hfss.py
Labels: enhancement

#1921 Fix/export siwave dc report
  pyaedt/generic/process.py
Labels: bug

#1926 Aedt logger improvements
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  _unittest/test_14_AedtLogger.py
  pyaedt/__init__.py
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/generic/general_methods.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/log_handler.py
  pyaedt/maxwell.py
  pyaedt/modeler/Modeler.py
  pyaedt/rpc/rpyc_services.py
  pyaedt/siwave.py
Labels: testing

#1932 refactored Setup to support SBR+ and Hfss Auto Sweeps.
  _unittest/test_11_Setup.py
  doc/source/API/Setup.rst
  pyaedt/application/Analysis.py
  pyaedt/hfss.py
  pyaedt/modules/SetupTemplates.py
  pyaedt/modules/SolveSetup.py
Labels: documentation

#1927 HFSS assign symmetry implementation
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
Labels: enhancement

#1935 Various improvement to remote server
  _unittest/conftest.py
  _unittest/test_14_AedtLogger.py
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
  pyaedt/edb_core/edb_data/components.py
  pyaedt/edb_core/edb_data/nets.py
  pyaedt/edb_core/edb_data/padstacks.py
  pyaedt/edb_core/edb_data/primitives.py
  pyaedt/generic/general_methods.py
  pyaedt/rpc/rpyc_services.py
Labels: testing

#1918 Layer stackup improvement
  _unittest/example_models/TEDB/test_mat.json
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/materials.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/stackup.py
Labels: documentation, maintenance, dependencies

#1940 Fixed Points lists
  _unittest/test_08_Primitives3D.py
  doc/source/API/Primitives.rst
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/Primitives3D.py
  pyaedt/modeler/object3dlayout.py
Labels: bug, documentation

#1945 Specify the doc path for the html_context metadata.
  doc/source/conf.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/stackup_3d.py
  pyaedt/q3d.py
Labels: documentation

#1947 Fix link to contribute section in Readme.rst
  README.rst
Labels: documentation

#1965 fixed small bug in create_extent method
  pyaedt/edb.py
Labels: bug

#1975 Convert methods into properties within Emit.
  pyaedt/emit.py
Labels: enhancement

#1976 Fix extent bug
  _unittest/test_14_AedtLogger.py
  pyaedt/edb.py
  pyaedt/generic/general_methods.py
Labels: bug

#1944 Run CPython tests on Linux every day.
  .github/workflows/cpython_linux.yml
Labels: maintenance

#1978 Add example to method "export_field_file_on_grid"
  pyaedt/modeler/Modeler.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#1982 fix cutout extent type enum and logger in edb.py
  pyaedt/edb.py
Labels: bug

#1962 Improve workflow for the portal documentation.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#1988 Solving flake8 issues regarding source import
  .pre-commit-config.yaml
  pyaedt/edb_core/hfss.py
  pyaedt/generic/TouchstoneParser.py
  pyaedt/icepak.py
Labels: maintenance

#1882 Cache content when building the documentation.
  .github/workflows/build_documentation.yml
Labels: maintenance

#1984 Added new methods to identify terminal nets connections plus excitations refactoring
  _unittest/test_00_EDB.py
  doc/source/API/CoreEdb.rst
  pyaedt/__init__.py
  pyaedt/aedt_logger.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/edb_data/sources.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/layout.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/siwave.py
Labels: documentation

#1999 In a workflow, the same identifier cannot be used more than once within the same scope.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2002 Near field setup in HFSS
  _unittest/test_08_Primitives3D.py
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
  pyaedt/modules/Boundary.py
Labels: enhancement

#2008 Write warnings for json documentation building.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2000 implement master slave for both m2d and m3d
  _unittest/example_models/TMaxwell/Transient_StrandedWindings.aedt
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug, enhancement

#2016 Use absolute path when opening a file.
  pyaedt/generic/general_methods.py
Labels: bug

#2017 fix pin group terminal naming and reference
  _unittest/test_00_EDB.py
  examples/00-EDB/09_Configuration.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/siwave.py
Labels: bug

#2019 fixed pins list in circuit when Port in name
  pyaedt/modeler/Object3d.py
Labels: bug

#2023 fix/emit_veritification_fail_changes_S722982: should pass with update…
  _unittest/test_26_emit.py
  pyaedt/emit.py
Labels: bug

#2031 Json doc needs the full documentation to be successful first.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2033 Copy opengl32.dll in the vtk folder of the virtual environment for the json doc.
  .github/workflows/full_documentation.yml
Labels: maintenance

#2036 Change the path of vtk for the json documentation.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2037 Client server improvements
  _setup_common.py
  doc/source/Getting_started/ClientServer.rst
  pyaedt/__init__.py
  pyaedt/common_rpc.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/plot.py
  pyaedt/rpc/pyaedt_client_linux.py
  pyaedt/rpc/pyaedt_client_windows.py
  pyaedt/rpc/rpyc_services.py
  pyaedt/third_party/__init__.py
  pyaedt/third_party/ironpython/__init__.py
  pyaedt/third_party/ironpython/rpyc_27/__init__.py
  pyaedt/third_party/ironpython/rpyc_27/core/__init__.py
  pyaedt/third_party/ironpython/rpyc_27/core/async.py
  pyaedt/third_party/ironpython/rpyc_27/core/async_.py
  pyaedt/third_party/ironpython/rpyc_27/core/brine.py
  pyaedt/third_party/ironpython/rpyc_27/core/channel.py
  pyaedt/third_party/ironpython/rpyc_27/core/consts.py
  pyaedt/third_party/ironpython/rpyc_27/core/netref.py
  pyaedt/third_party/ironpython/rpyc_27/core/protocol.py
  pyaedt/third_party/ironpython/rpyc_27/core/reactor.py
  pyaedt/third_party/ironpython/rpyc_27/core/service.py
  pyaedt/third_party/ironpython/rpyc_27/core/stream.py
  pyaedt/third_party/ironpython/rpyc_27/core/vinegar.py
  pyaedt/third_party/ironpython/rpyc_27/lib/__init__.py
  pyaedt/third_party/ironpython/rpyc_27/lib/colls.py
  pyaedt/third_party/ironpython/rpyc_27/lib/compat.py
  pyaedt/third_party/ironpython/rpyc_27/utils/__init__.py
  pyaedt/third_party/ironpython/rpyc_27/utils/authenticators.py
  pyaedt/third_party/ironpython/rpyc_27/utils/classic.py
  pyaedt/third_party/ironpython/rpyc_27/utils/factory.py
  pyaedt/third_party/ironpython/rpyc_27/utils/helpers.py
  pyaedt/third_party/ironpython/rpyc_27/utils/registry.py
  pyaedt/third_party/ironpython/rpyc_27/utils/server.py
  pyaedt/third_party/ironpython/rpyc_27/utils/teleportation.py
  pyaedt/third_party/ironpython/rpyc_27/version.py
  setup.py
Labels: documentation, maintenance

#1992 feature/add mesh link
  _unittest/example_models/T20/differential_pairs.aedb/edb.def
  _unittest/example_models/T20/differential_pairs.aedt
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_29_Mechanical.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement

#2042 fix process file path command in export dc report
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/generic/process.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#2048 Fix/cable modeling renaming
  pyaedt/modules/CableModeling.py
Labels: bug

#2047 Add Eigenmode option
  pyaedt/hfss.py
Labels: bug

#2050 Symmetry is only available with 'Modal' and 'Eigenmode'.
  pyaedt/hfss.py
Labels: enhancement

#2053 Fixed bug in documentation creation
  doc/source/API/Application.rst
Labels: bug, documentation

#2058 Fix bug in general_methods.py when pyaedt is called as module
  pyaedt/generic/general_methods.py
Labels: bug

#2065 Add NO-NET class type in Primitives3DLayout
  _unittest/test_40_3dlayout_edb.py
  pyaedt/modeler/Primitives3DLayout.py
Labels: bug

#2067 Simulation configuration refactoring
  _unittest/test_00_EDB.py
  doc/source/API/CoreEdb.rst
  examples/00-EDB/09_Configuration.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/layout.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/stackup.py
Labels: documentation

#2064 Icepak method
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: enhancement

#2046 bug_fix add default materials in open_edb method
  .github/workflows/build_documentation.yml
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/materials.py
Labels: maintenance
