Repository ansys/pyaedt, pull requests merged in 2022-06, with the labels that each got.

#1296 Labels are added automatically when a new pull request is created.
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
Labels: maintenance

#1287 objects in bounding box 2d implementation + new tests for 2D_modeler
  _unittest/test_02_2D_modeler.py
  pyaedt/application/Analysis3D.py
  pyaedt/modeler/Model2D.py
Labels: enhancement

#1302 Advanced plot refactoring
  _unittest/example_models/array_simple.aedtz
  _unittest/test_12_PostProcessing.py
  doc/source/API/Post.rst
  pyaedt/application/Analysis.py
  pyaedt/circuit.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
Labels: documentation, enhancement

#1305 Bounding box only accept 4 or 6 elements.
  _unittest/test_02_2D_modeler.py
  pyaedt/modeler/Model2D.py
Labels: enhancement

#1307 Add dictionary context in get_solution_data
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
Labels: bug

#1309 Fixed Overwrite option in FFData
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: bug

#1311 fix to import numpy error
  pyaedt/modeler/stackup_3d.py
Labels: bug

#1315 Follow python guidelines.
  pyaedt/generic/plot.py
  pyaedt/generic/toolkit.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/modules/report_templates.py
Labels: maintenance

#1316 Fix duplicate along line typo
  pyaedt/modeler/Modeler.py
Labels: bug

#1310 Updated CICD to 22R2
  .github/workflows/ironpython.yml
  .github/workflows/ironpython_linux.yml
  _unittest/conftest.py
  _unittest/test_00_grpc.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_26_emit.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_ironpython/run_unittests.py
  _unittest_ironpython/run_unittests_batchmode.cmd
  _unittest_ironpython/run_unittests_batchmode_linux.cmd
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/PrimitivesNexxim.py
Labels: maintenance

#1331 Polyline refactoring
  .github/workflows/ironpython.yml
  .github/workflows/ironpython_linux.yml
  .github/workflows/main.yml
  .github/workflows/unit_tests.yml
  .github/workflows/wheelhouse.yml
  _unittest/test_07_Object3D.py
  _unittest/test_40_3dlayout_edb.py
  pyaedt/modeler/Object3d.py
  pyaedt/modules/LayerStackup.py
Labels: maintenance

#1339 Fixed a bug in assign_material
  pyaedt/application/Analysis3D.py
  pyaedt/modeler/Object3d.py
Labels: bug

#1343 Fixed issue 1266. now plot support no formula to talke only real solution data
  pyaedt/modules/solutions.py
Labels: bug
