Repository ansys/pyaedt, pull requests merged in 2022-08, with the labels that each got.

#1502 Update the introduction page of the documentation.
  README.rst
Labels: documentation

#1507 Set points coordinates for BP curve coreloss.
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Material.py
Labels: enhancement

#1512 Add Litz wire in Maxwell.
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Material.py
Labels: enhancement

#1506 Numpy stopped supporting Python 3.7 since release 1.22.0.
  requirements.txt
  requirements_test.txt
Labels: maintenance, dependencies

#1511 Provide thickness to a new pad stack layer while defining the start layer.
  _unittest/test_16_3d_stackup.py
  _unittest/test_26_emit.py
  pyaedt/modeler/stackup_3d.py
Labels: bug

#1531 Allowing dependabot to update GH Actions
  .github/dependabot.yml
Labels: enhancement, maintenance

#1527 Remove Code_Guidelines section from PyAEDT doc
  doc/source/Resources/ClientServer.rst
  doc/source/Resources/Code_Guidelines.rst
  doc/source/Resources/Contributing.rst
  doc/source/index.rst
Labels: documentation

#1533 Add Vale in the documentation build workflow.
  .github/workflows/ci-build.yml
Labels: documentation, maintenance

#1538 Frequency dependent source in circuit excitation
  _unittest/example_models/frequency_dependent_source.fds
  _unittest/test_22_Circuit_DynamicLink.py
  pyaedt/circuit.py
Labels: bug

#1539 Add insulating boundary for Maxwell3D.
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: enhancement

#1534 Fix arguments to pytest; Ignore coverage file when running from PyCharm (since workingDir=_unittest)
  .github/workflows/unit_tests.yml
  .gitignore
Labels: maintenance

#1548 Dependabot for gh-actions wrongly configured
  .github/dependabot.yml
Labels: bug, maintenance

#1545 Add a badge to mention the Python versions supported.
  README.rst
Labels: documentation, maintenance

#1563 Add documentation for the classes located in 'boundary' module.
  pyaedt/modules/Boundary.py
Labels: bug

#1560 Reorganize some PyAEDT doc
  README.rst
  doc/source/API/index.rst
  doc/source/Contributing.rst
  doc/source/Getting_started/ClientServer.rst
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/index.rst
  doc/source/Resources/User_Guide.rst
  doc/source/User_guide/index.rst
  doc/source/User_guide/mesh.rst
  doc/source/User_guide/modeler.rst
  doc/source/User_guide/optimetrics.rst
  doc/source/User_guide/postprocessing.rst
  doc/source/User_guide/setup.rst
  doc/source/User_guide/variables.rst
  doc/source/index.rst
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/03-Circuit/Create_Netlist.py
  pyaedt/generic/general_methods.py
Labels: documentation

#1578 Update the documentation of the edge length property.
  pyaedt/modeler/Object3d.py
Labels: documentation

#1581 removed the generate_unique_name when a name is provided
  _unittest/test_00_EDB.py
  pyaedt/desktop.py
  pyaedt/edb_core/components.py
Labels: bug

#1585 fixed typo error in unclassified object retrivial
  pyaedt/modeler/Primitives.py
Labels: bug

#1544 Parallelization of the unit tests using pytest-xdist.
  .github/workflows/unit_tests.yml
  _unittest/test_98_Icepak.py
  requirements_test.txt
Labels: maintenance, dependencies

#1597 Create a setup in Hybrid solution type with SBR+ region
  _unittest/test_20_HFSS.py
  pyaedt/application/Analysis.py
  pyaedt/hfss.py
  pyaedt/modules/Boundary.py
Labels: bug

#1595 Add Assign Impedance Boundary to Maxwell 3D.
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: enhancement

#1604 Fix icepak typo with 'C'
  examples/04-Icepak/Sherlock_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  pyaedt/icepak.py
  pyaedt/modules/SetupTemplates.py
Labels: documentation

#1601 Automate the licenses dependencies checking.
  .github/workflows/unit_tests.yml
Labels: maintenance

#1606 Update documentation in the general_methods module.
  pyaedt/generic/general_methods.py
Labels: documentation

#1605 First simple IPY Parallelization
  .github/workflows/ci-build.yml
  .github/workflows/ironpython.yml
  _unittest_ironpython/run_unittests.py
  pyaedt/edb.py
Labels: maintenance

#1529 Cable modeling Implementation
  _unittest/example_models/T22/frequency_dependent_source.fds
  _unittest/example_models/T43/cable_modeling.aedt
  _unittest/example_models/T43/cable_modeling_231.aedt
  _unittest/example_models/T43/cable_modeling_json_files/add_cables_to_bundle.json
  _unittest/example_models/T43/cable_modeling_json_files/add_cables_to_bundle_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove_add_for_cables_to_add_to_bundle.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_invalid_material_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_invalid_material_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_jacket_types_exception.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_straight_wire_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_invalid_material_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_invalid_material_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/update_straight_wire_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/update_twisted_pair_cable_properties.json
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_43_CableModeling.py
  _unittest_ironpython/test_43_CableModeling.py
  pyaedt/__init__.py
  pyaedt/modules/CableModeling.py
Labels: enhancement

#1616 Fix icepak ut 231
  _unittest/example_models/T11/coax_setup_231.aedb/edb.def
  _unittest/example_models/T11/coax_setup_231.aedb/stride/model.index
  _unittest/example_models/T11/coax_setup_231.aedt
  _unittest/example_models/T12/via_gsg_231.aedt
  _unittest/example_models/T30/q2d_q3d_231.aedt
  _unittest/example_models/T31/bondwireq3d_231.aedt
  _unittest/example_models/T31/q2d_q3d_231.aedt
  _unittest/test_08_Primitives3D.py
  _unittest/test_11_Setup.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  _unittest/test_20_HFSS.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  pyaedt/icepak.py
Labels: bug

#1615 Labeller is already managing the labels.
  .github/dependabot.yml
Labels: maintenance

#1617 Allow python script for User Defined Part (UDP)
  _unittest/test_28_Maxwell3D.py
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  pyaedt/modeler/Primitives.py
Labels: bug

#1598 Assign current density and current density terminal implementation - Maxwell2D/3D
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: enhancement

#1620 Method to download full example directory or specific file
  _unittest/test_00_downloads.py
  ignore_words.txt
  pyaedt/examples/downloads.py
Labels: bug

#1626 Fixed bug in padstack layers initialization
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives3DLayout.py
Labels: bug

#1622 Use the gh-pages to deploy the dev doc.
  .github/workflows/nightly-docs.yml
Labels: maintenance

#1621 Implemented getters and setters on 3d layout layer properties
  _unittest/test_41_3dlayout_modeler.py
  examples/02-HFSS/EDB_in_3DLayout.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Primitives.py
  pyaedt/modules/LayerStackup.py
Labels: bug

#1630 Udp_dll_name extension should not end with *.py.dll
  _unittest/test_28_Maxwell3D.py
  pyaedt/modeler/Primitives.py
Labels: enhancement

#1632 Remove licenses check.
  .github/workflows/unit_tests.yml
Labels: maintenance

#1637 Remove JupyterLab from pyaedt requirements
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  setup.py
Labels: maintenance, dependencies

#1635 Added a new Boundary Class for hfss3dlayout.py ports.
  _unittest/test_41_3dlayout_modeler.py
  doc/source/API/Boundaries.rst
  pyaedt/application/Design.py
  pyaedt/hfss3dlayout.py
  pyaedt/modules/Boundary.py
Labels: documentation, enhancement
