Repository ansys/pyaedt, pull requests merged in 2022-07, with the labels that each got.

#1347 Fix bugs in FFDSolutionData
  pyaedt/modules/solutions.py
Labels: bug

#1345 Added a check in the create Field plot method on the face ids.
  pyaedt/modules/solutions.py
Labels: bug

#1314 Fix bounding box extent
  _unittest/example_models/test_107.aedb/edb.def
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/hfss.py
  pyaedt/generic/constants.py
Labels: bug

#1360 Remove plumbum from the third party packages.
  _setup_common.py
  pyaedt/third_party/ironpython/plumbum/__init__.py
  pyaedt/third_party/ironpython/plumbum/_testtools.py
  pyaedt/third_party/ironpython/plumbum/cli/__init__.py
  pyaedt/third_party/ironpython/plumbum/cli/application.py
  pyaedt/third_party/ironpython/plumbum/cli/config.py
  pyaedt/third_party/ironpython/plumbum/cli/i18n.py
  pyaedt/third_party/ironpython/plumbum/cli/i18n/de/LC_MESSAGES/plumbum.cli.mo
  pyaedt/third_party/ironpython/plumbum/cli/i18n/fr/LC_MESSAGES/plumbum.cli.mo
  pyaedt/third_party/ironpython/plumbum/cli/i18n/nl/LC_MESSAGES/plumbum.cli.mo
  pyaedt/third_party/ironpython/plumbum/cli/i18n/ru/LC_MESSAGES/plumbum.cli.mo
  pyaedt/third_party/ironpython/plumbum/cli/image.py
  pyaedt/third_party/ironpython/plumbum/cli/progress.py
  pyaedt/third_party/ironpython/plumbum/cli/switches.py
  pyaedt/third_party/ironpython/plumbum/cli/terminal.py
  pyaedt/third_party/ironpython/plumbum/cli/termsize.py
  pyaedt/third_party/ironpython/plumbum/colorlib/__init__.py
  pyaedt/third_party/ironpython/plumbum/colorlib/__main__.py
  pyaedt/third_party/ironpython/plumbum/colorlib/_ipython_ext.py
  pyaedt/third_party/ironpython/plumbum/colorlib/factories.py
  pyaedt/third_party/ironpython/plumbum/colorlib/names.py
  pyaedt/third_party/ironpython/plumbum/colorlib/styles.py
  pyaedt/third_party/ironpython/plumbum/colors.py
  pyaedt/third_party/ironpython/plumbum/commands/__init__.py
  pyaedt/third_party/ironpython/plumbum/commands/base.py
  pyaedt/third_party/ironpython/plumbum/commands/daemons.py
  pyaedt/third_party/ironpython/plumbum/commands/modifiers.py
  pyaedt/third_party/ironpython/plumbum/commands/processes.py
  pyaedt/third_party/ironpython/plumbum/fs/__init__.py
  pyaedt/third_party/ironpython/plumbum/fs/atomic.py
  pyaedt/third_party/ironpython/plumbum/fs/mounts.py
  pyaedt/third_party/ironpython/plumbum/lib.py
  pyaedt/third_party/ironpython/plumbum/machines/__init__.py
  pyaedt/third_party/ironpython/plumbum/machines/_windows.py
  pyaedt/third_party/ironpython/plumbum/machines/base.py
  pyaedt/third_party/ironpython/plumbum/machines/env.py
  pyaedt/third_party/ironpython/plumbum/machines/local.py
  pyaedt/third_party/ironpython/plumbum/machines/paramiko_machine.py
  pyaedt/third_party/ironpython/plumbum/machines/remote.py
  pyaedt/third_party/ironpython/plumbum/machines/session.py
  pyaedt/third_party/ironpython/plumbum/machines/ssh_machine.py
  pyaedt/third_party/ironpython/plumbum/path/__init__.py
  pyaedt/third_party/ironpython/plumbum/path/base.py
  pyaedt/third_party/ironpython/plumbum/path/local.py
  pyaedt/third_party/ironpython/plumbum/path/remote.py
  pyaedt/third_party/ironpython/plumbum/path/utils.py
  pyaedt/third_party/ironpython/plumbum/typed_env.py
  pyaedt/third_party/ironpython/plumbum/version.py
  pyaedt/third_party/ironpython/rpyc_27/utils/zerodeploy.py
Labels: maintenance

#1365 Change headings to snake case for source/docs folder
  README.rst
  doc/source/API/Application.rst
  doc/source/API/Boundaries.rst
  doc/source/API/ClientServer.rst
  doc/source/API/Common.rst
  doc/source/API/Configuration.rst
  doc/source/API/CoreEdb.rst
  doc/source/API/CoreModules.rst
  doc/source/API/DesktopMessenger.rst
  doc/source/API/MaterialManagement.rst
  doc/source/API/Mesh.rst
  doc/source/API/MultiPartComponent.rst
  doc/source/API/Post.rst
  doc/source/API/Primitives.rst
  doc/source/API/Setup.rst
  doc/source/API/SetupTemplates.rst
  doc/source/API/Stackup3D.rst
  doc/source/API/index.rst
  doc/source/index.rst
Labels: documentation

#1371 Fixed Solution Data for time varying sweeps values
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Design.py
  pyaedt/modules/solutions.py
Labels: bug

#1381 fixed copyfile method
  pyaedt/generic/filesystem.py
Labels: bug

#1391 New method to define monitor point in Icepak for an specific object
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: bug

#1396 Fixed Bug in parse_dim_arg
  pyaedt/modeler/GeometryOperators.py
Labels: bug

#1394 Doc/edit example landing page and EDB examples
  examples/00-EDB/00_EDB_Create_VIA.py
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/07_WPF_Merge_Utility.py
  examples/00-EDB/Readme.txt
  examples/01-Modeling-Setup/Readme.txt
  examples/02-HFSS/Readme.txt
  examples/02-Maxwell/Readme.txt
  examples/03-Circuit/Readme.txt
  examples/04-Icepak/Readme.txt
  examples/05-Q3D/Readme.txt
  examples/06-Multiphysics/Readme.txt
  examples/07-TwinBuilder/Readme.txt
  examples/Readme.txt
Labels: documentation

#1397 Fix component
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: bug

#1390 Fixed bug on material assigment
  pyaedt/application/Analysis3D.py
  pyaedt/desktop.py
  pyaedt/modules/MaterialLib.py
  pyaedt/rpc/rpyc_services.py
Labels: bug

#1401 Edits to Modeler and Setup examples
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/07_WPF_Merge_Utility.py
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
Labels: documentation

#1404 Add ACConduction to Maxwell3D solution types
  pyaedt/application/design_solutions.py
  pyaedt/generic/constants.py
Labels: bug

#1408 Doc/edit HFSS examples
  README.rst
  doc/source/Resources/Code_Guidelines.rst
  doc/source/Resources/Contributing.rst
  doc/source/Resources/Installation.rst
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/02-HFSS/Advanced_Far_Field.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/EDB_in_3DLayout.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS3DLayout_Via.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/02-HFSS/SBR_Doppler_Example.py
  examples/02-HFSS/SBR_Example.py
  examples/02-HFSS/SBR_Time_Plot.py
Labels: documentation

#1414 Doc/edits to maxwell examples
  examples/02-HFSS/HFSS_Choke.py
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell2D_Transient.py
  examples/02-Maxwell/Maxwell3DTeam3.py
  examples/02-Maxwell/Maxwell3DTeam7.py
  examples/02-Maxwell/Maxwell3D_Choke.py
  examples/02-Maxwell/Maxwell_Magnet.py
Labels: documentation

#1405 Fixed Circuit Issue on linux
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/desktop.py
  pyaedt/modeler/Modeler.py
  pyaedt/modules/MaterialLib.py
Labels: bug

#1418 fix nissan example
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
Labels: bug

#1423 Fix create_fieldplot_surface
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: bug

#1430 fixed issue on enable_expression_cache method conv_criteria parameter
  pyaedt/modules/SolveSetup.py
Labels: bug

#1431 harmonized keep_originals arguments
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell3DTeam3.py
  examples/02-Maxwell/Maxwell3DTeam7.py
  pyaedt/modeler/Model2D.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/stackup_3d.py
Labels: bug

#1425 Edits to circuit examples and all subsequent examples
  examples/02-HFSS/Flex_CPWG.py
  examples/02-Maxwell/Maxwell2D_NissanLeaf.py
  examples/02-Maxwell/Maxwell3DTeam3.py
  examples/02-Maxwell/Maxwell3DTeam7.py
  examples/02-Maxwell/Maxwell3D_Choke.py
  examples/02-Maxwell/Maxwell_Magnet.py
  examples/03-Circuit/Circuit_Example.py
  examples/03-Circuit/Circuit_Subcircuit_Example.py
  examples/03-Circuit/Circuit_Transient.py
  examples/03-Circuit/Create_Netlist.py
  examples/03-Circuit/EMIT_Example.py
  examples/03-Circuit/EMIT_HFSS_Example.py
  examples/03-Circuit/Reports.py
  examples/03-Circuit/Touchstone_Management.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
Labels: documentation

#1438 Improved file management between client and server.
  doc/source/API/ClientServer.rst
  pyaedt/application/AEDT_File_Management.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/circuit.py
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/ibis_reader.py
  pyaedt/generic/near_field_import.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/Model3DLayout.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives3D.py
  pyaedt/modeler/PrimitivesCircuit.py
  pyaedt/modeler/PrimitivesNexxim.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
  pyaedt/rpc/local_server.py
  pyaedt/rpc/rpyc_services.py
Labels: documentation

#1443 Fix remote open file
  README.rst
  pyaedt/generic/general_methods.py
  pyaedt/modules/solutions.py
Labels: bug, documentation

#1454 Fixed update_assignment method
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modules/Boundary.py
Labels: bug

#1460 Improve log message when assigning a `Spice` model to a component.
  pyaedt/edb_core/components.py
Labels: bug

#1407 Create resistor on net refactoring
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/siwave.py
  pyaedt/generic/constants.py
Labels: enhancement, dependencies

#1470 fixed bug in unclassified_objects
  _unittest/test_07_Object3D.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
Labels: bug

#1472 Fix 1467
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/Modeler.py
Labels: bug

#1471 Added setter to hole_plating_thickness
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
Labels: bug

#1482 fix anstranslator command line
  pyaedt/edb.py
Labels: bug

#1484 update stackup bug fix
  pyaedt/edb_core/EDB_Data.py
Labels: bug

#1485 Add support for additional features to EDB SimulationConfiguration
  _unittest/test_00_EDB.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/hfss.py
Labels: enhancement
