Repository ansys/pyaedt, pull requests merged in 2022-09, with the labels that each got.

#1640 Fix place_a3dcomp_3d_placement documentation
  pyaedt/edb_core/stackup.py
Labels: documentation

#1644 Update url of the documentation website.
  .github/workflows/main.yml
Labels: maintenance

#1641 Add material properties for lamination in Maxwell.
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Material.py
Labels: enhancement

#1643 Fix an issue with Hybrid Terminal Network setup
  pyaedt/application/Analysis.py
  pyaedt/modeler/Object3d.py
Labels: bug

#1647 Fix 231 a3dcomp
  _unittest/example_models/library/actor_library/bike1_231/bike1_231.json
  _unittest/example_models/library/actor_library/bike1_231/body_231.a3dcomp
  _unittest/example_models/library/actor_library/bike1_231/wheels_front_231.a3dcomp
  _unittest/example_models/library/actor_library/bike1_231/wheels_rear_231.a3dcomp
  _unittest/example_models/library/actor_library/bird1_231/beak_231.a3dcomp
  _unittest/example_models/library/actor_library/bird1_231/bird1_231.json
  _unittest/example_models/library/actor_library/bird1_231/body_231.a3dcomp
  _unittest/example_models/library/actor_library/bird1_231/tail_231.a3dcomp
  _unittest/example_models/library/actor_library/bird1_231/wing_left_231.a3dcomp
  _unittest/example_models/library/actor_library/bird1_231/wing_right_231.a3dcomp
  _unittest/example_models/library/actor_library/person3_231/arm_left_231.a3dcomp
  _unittest/example_models/library/actor_library/person3_231/arm_right_231.a3dcomp
  _unittest/example_models/library/actor_library/person3_231/leg_left_231.a3dcomp
  _unittest/example_models/library/actor_library/person3_231/leg_right_231.a3dcomp
  _unittest/example_models/library/actor_library/person3_231/person3_231.json
  _unittest/example_models/library/actor_library/person3_231/torso_231.a3dcomp
  _unittest/example_models/library/actor_library/vehicle1_231/body_231.a3dcomp
  _unittest/example_models/library/actor_library/vehicle1_231/vehicle1_231.json
  _unittest/example_models/library/actor_library/vehicle1_231/wheels_front_231.a3dcomp
  _unittest/example_models/library/actor_library/vehicle1_231/wheels_rear_231.a3dcomp
  _unittest/example_models/library/environment_library/tunnel1_231/tunnel1_231.a3dcomp
  _unittest/example_models/library/environment_library/tunnel1_231/tunnel1_231.json
  _unittest/test_17_SBR.py
  pyaedt/modules/LayerStackup.py
Labels: bug

#1657 improve change net visibility
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modeler/Primitives3DLayout.py
Labels: enhancement

#1661 For a current, the solid property was disabled for magnetostatic and transientaphi solutions.
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug

#1655 Define axisdir with points explictly
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_from_file_1.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_noname.json
  _unittest/example_models/T43/cable_modeling_json_files/empty.json
  _unittest/example_models/T43/cable_modeling_json_files/import_pwl.doc
  _unittest/example_models/T43/cable_modeling_json_files/import_pwl.txt
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_pwl_source_from_file.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_cable_type.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties_laylength.json
  _unittest/test_20_HFSS.py
  _unittest/test_43_CableModeling.py
  pyaedt/hfss.py
  pyaedt/modules/CableModeling.py
Labels: bug

#1674 Power budget
  _unittest/example_models/T98/PB_test.aedtz
  _unittest/example_models/T98/PB_test_231.aedtz
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/generic/constants.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#1672 Array phase offset
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: enhancement

#1678 Export equivalent circuit Q3D/Q2D
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  pyaedt/q3d.py
Labels: enhancement

#1680 New method to export Circuit log file
  _unittest/test_21_Circuit.py
  pyaedt/circuit.py
Labels: enhancement

#1690 fix issue current density
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/maxwell.py
Labels: bug

#1686 Retry point creation in Primitives3D.
  pyaedt/modeler/Primitives3D.py
Labels: enhancement

#1695 Expose public properties for the material names.
  pyaedt/modules/MaterialLib.py
Labels: enhancement

#1698 Get User Defined Model from Object Oriented Programming
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
Labels: bug

#1700 SolutionData class now is able to support pandas output.
  _unittest/test_12_PostProcessing.py
  doc/source/Getting_started/Installation.rst
  examples/03-Circuit/Circuit_Example.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/Object3d.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
  pyaedt/version.txt
  requirements.txt
  setup.py
Labels: documentation, maintenance, dependencies

#1702 fix create_via method
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modeler/Primitives3DLayout.py
Labels: bug

#1694 Edb stackup refactor
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/stackup.py
Labels: dependencies

#1717 Increate pythonnet to version 3.0.0rc5.
  requirements.txt
  setup.py
Labels: maintenance, dependencies

#1709 Source context option in Far field, create_report and get_far_field_data methods
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#1733 Fixed bug in create_rectangle_in_pad
  pyaedt/edb_core/EDB_Data.py
  pyaedt/modeler/GeometryOperators.py
  requirements.txt
  setup.py
Labels: bug, maintenance, dependencies

#1736 Fixed edit_x_axis_scaling and edit_y_axis_scaling methods
  pyaedt/modules/report_templates.py
Labels: bug

#1740 Return PyAEDT app object from Desktop object
  _unittest/test_01_Design.py
  pyaedt/desktop.py
  pyaedt/siwave.py
Labels: enhancement

#1746 Extending source BC to be applied to objects
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: enhancement

#1749 Import export stackup
  _unittest/example_models/TEDB/galileo_stackup.csv
  _unittest/test_00_EDB.py
  doc/source/API/CoreEdb.rst
  pyaedt/edb.py
  pyaedt/edb_core/stackup.py
Labels: documentation

#1752 new class material
  _unittest/test_00_EDB.py
  doc/source/API/CoreEdb.rst
  examples/00-EDB/00_EDB_Create_VIA.py
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/08_CPWG.py
  pyaedt/edb.py
  pyaedt/edb_core/EDB_Data.py
  pyaedt/edb_core/materials.py
  pyaedt/edb_core/stackup.py
Labels: documentation

#1764 Fix bug in clear messages method
  _unittest/test_01_Design.py
  pyaedt/desktop.py
Labels: bug

#1763 Fix Export results method for Circuit app
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Analysis.py
Labels: bug

#1768 Farfield 3D plot with more than 1 frequency sweep
  pyaedt/modules/solutions.py
Labels: bug

#1767 Updated Pythonnet to 3.0
  requirements.txt
  setup.py
Labels: maintenance, dependencies

#1762 include cpp export eq circuit Q3D
  pyaedt/q3d.py
Labels: enhancement
