Repository ansys/pyaedt, pull requests merged in 2022-04, with the labels that each got.

#1048 Set python packages version for dependabot.
  .github/dependabot.yml
  .gitignore
  requirements.txt
  requirements_docs.txt
  requirements_style.txt
  requirements_test.txt
Labels: CI/CD

#1062 Improve the auto-generated documentation of ParametricSetups in DesignXPloration module.
  doc/source/API/CoreModules.rst
Labels: documentation

#1067 Move Faces method. From an specific object move selected faces
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/Modeler.py
Labels: enhancement

#1105 Fixing Maxwell 3D and optimetrics exceptions
  _unittest/test_28_Maxwell3D.py
  pyaedt/application/design_solutions.py
  pyaedt/modules/DesignXPloration.py
Labels: bug

#1114 Add a wheelhouse to support offline deployment.
  .github/workflows/releases.yml
Labels: CI/CD
