Repository ansys/pyaedt, pull requests merged in 2022-12, with the labels that each got.

#2076 Deprecate method
  pyaedt/application/Design.py
  pyaedt/desktop.py
Labels: bug

#2066 hfss_simulation_setup refactor
  _unittest/test_00_EDB.py
  doc/source/API/CoreEdb.rst
  examples/00-EDB/01_edb_example.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/edb_core/general.py
  pyaedt/edb_core/siwave.py
Labels: documentation

#2088 Fix cutout
  pyaedt/edb.py
  pyaedt/edb_core/nets.py
Labels: bug

#2094 added fix for find_and_fix_disjoint_net
  pyaedt/edb_core/nets.py
Labels: bug

#2095 Fix setup
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
Labels: bug

#2084 Move all requirement files into a single folder.
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/build_documentation.yml
  .github/workflows/cpython_linux.yml
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  .github/workflows/unit_tests.yml
  .pre-commit-config.yaml
  requirements/requirements.txt
  requirements/requirements_docs.txt
  requirements/requirements_test.txt
Labels: maintenance, dependencies

#2104 bug fix insert segment after segmented spline
  pyaedt/modeler/Primitives.py
Labels: bug

#2109 Incorporate the examples in the json documentation.
  .github/workflows/full_documentation.yml
Labels: maintenance

#2024 Fixed bug in Optimetrics parametric analysis (issue #2021)
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/modules/DesignXPloration.py
Labels: bug

#2122 fix a bug in Padstack Instance position whenit is a pin and it has a ComponentTransformation associated to it
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: bug

#2125 Use an Ubuntu agent to deploy the json documentation.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2121 Virtual Mesh Regions support fix
  _unittest/conftest.py
  _unittest/test_98_Icepak.py
  pyaedt/modules/MeshIcepak.py
Labels: bug, testing

#2118 add password for encrypted components
  _unittest/example_models/T08/encrypted_cylinder.a3dcomp
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/Model3D.py
  pyaedt/modeler/Primitives3D.py
Labels: enhancement

#2130 fix bug in Edb stackup when in some cases Outline layer was disappearing after a new layer addon.
  pyaedt/edb_core/stackup.py
Labels: bug

#2139 DOC: enable multi-version documentation
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

#2148 Use the __version__ attribute to set the release and version value.
  .github/workflows/full_documentation.yml
  doc/source/conf.py
Labels: documentation, maintenance

#2149 Hfss3dLayout Modeler getitem now works with multiple input items (Pyaedt Objects or str for netname, vias and geometries)
  doc/source/conf.py
  pyaedt/modeler/Primitives3DLayout.py
Labels: bug, documentation

#2154 Logger message can now support several args.
  pyaedt/aedt_logger.py
Labels: enhancement

#2158 Improve deployment of the json content.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2159 The stable deployment job requires the full_documentation job.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2162 Field solution data not in polyline
  pyaedt/modules/report_templates.py
Labels: bug

#2157 New Circuit Source and Excitation class
  _unittest/example_models/T21/frequency_dependent_source.fds
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  doc/source/API/Boundaries.rst
  pyaedt/application/AnalysisNexxim.py
  pyaedt/circuit.py
  pyaedt/modeler/PrimitivesCircuit.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/CircuitTemplates.py
Labels: bug, documentation, enhancement

#2161 update get/set vars
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  _unittest/test_32_RMxprt.py
  _unittest/test_34_TwinBuilder.py
  _unittest/test_35_MaxwellCircuit.py
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_98_Icepak.py
  pyaedt/application/Variables.py
Labels: bug

#2176 fix spelling mistake
  _unittest/test_20_HFSS.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#2180 Update the links in the contribute section of the documentation.
  doc/source/Contributing.rst
Labels: documentation

#2163 Modify the options for coverage.
  .github/workflows/unit_tests.yml
Labels: maintenance, testing

#2181 Added new method import_from_openstreet_map
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  examples/02-SBR+/SBR_City_Import.py
  pyaedt/modeler/Model3D.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/oms.py
  pyaedt/modules/PostProcessor.py
  requirements/requirements_docs.txt
  requirements/requirements_test.txt
  setup.py
Labels: maintenance, dependencies

#2184 Pytest uses 4 cores.
  .github/workflows/unit_tests.yml
Labels: maintenance, testing

#2186 fix check on plotsettings for cutplanes
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/solutions.py
Labels: bug

#2185 Add project urls.
  _setup_common.py
  setup-distutils.py
  setup.py
Labels: enhancement, maintenance

#2189 Fix test part 1
  _unittest/example_models/T02/Coax_HFSS_t02.aedt
  _unittest/example_models/T02/Coax_HFSS_t02_231.aedt
  _unittest/example_models/T13/Coax_HFSS_t13.aedt
  _unittest/example_models/T13/Coax_HFSS_t13_231.aedt
  _unittest/test_02_3D_modeler.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_13_LoadAEDTFile.py
Labels: bug

#2191 Improved Unit Tests uniqueness
  _unittest/conftest.py
  _unittest/example_models/T41/differential_pairs_t41.aedb/edb.def
  _unittest/example_models/T41/differential_pairs_t41.aedt
  _unittest/example_models/T41/differential_pairs_t41_231.aedb/edb.def
  _unittest/example_models/T41/differential_pairs_t41_231.aedb/stride/model.index
  _unittest/example_models/T41/differential_pairs_t41_231.aedt
  _unittest/example_models/T42/via_gsg_t42.aedt
  _unittest/example_models/T42/via_gsg_t42_231.aedt
  _unittest/test_05_Mesh.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_42_configuration_files.py
Labels: testing

#2187 Refactor the street map imports with HFSS.
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_00_GeometryOperators.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  examples/02-SBR+/SBR_City_Import.py
  examples/08-CableModeling/01-Cable_Modeling_Workflow.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/modeler/Model3D.py
  pyaedt/modules/PostProcessor.py
  setup.py
Labels: enhancement, maintenance, testing

#2195 Update path for documentation artifacts.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2201 implementing healing and simplify options in M2D/M3D
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: enhancement

#2205 Remove useless imports to improve performance.
  pyaedt/generic/DataHandlers.py
  pyaedt/generic/plot.py
  pyaedt/modules/SolveSetup.py
  pyaedt/rpc/rpyc_services.py
Labels: enhancement

#2202 Coverage package is not used anymore.
  .coveragerc
  .github/workflows/cpython_linux.yml
  .github/workflows/unit_tests.yml
Labels: maintenance

#2208 Add new issue template for the enhancements of the API design.
  .github/ISSUE_TEMPLATE/syntax.yml
Labels: enhancement, maintenance

#2197 Improve unit test robustness
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  _unittest/test_01_Design.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_36_Q2D_PostProcessing.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/desktop.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/hfss.py
Labels: maintenance, testing

#2212 Improve check get_expression Variables.py
  pyaedt/application/Variables.py
Labels: bug, enhancement

#2209 Edit the HPC options (CPUs, GPUs...) in the configuration file.
  .github/workflows/unit_tests.yml
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  codecov.yml
  pyaedt/aedt_logger.py
  pyaedt/application/JobManager.py
  pyaedt/dlls/EDBLib/DataModel.dll
  pyaedt/dlls/EDBLib/EdbLib.deps.json
  pyaedt/dlls/EDBLib/EdbLib.dll
  pyaedt/dlls/EDBLib/IPC_2581_DataModel.dll
  pyaedt/dlls/EDBLib/bckup/DataModel.dll
  pyaedt/dlls/EDBLib/netstandard.dll
  pyaedt/log_handler.py
  pyaedt/modules/PostProcessor.py
Labels: bug, maintenance

#2213 Improve export setups configurations
  pyaedt/generic/configurations.py
Labels: enhancement

#2204 Add plane to the modeler and primitives.
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Object3d.py
  pyaedt/modeler/Primitives.py
Labels: enhancement, maintenance, testing

#2207 Remove any usage of unicode and basestring.
  pyaedt/application/AEDT_File_Management.py
  pyaedt/modeler/Model3DLayout.py
  pyaedt/modeler/Modeler.py
Labels: enhancement
