Repository ansys/pyaedt, pull requests merged in 2022-10, with the labels that each got.

#1778 Comment out some description in documentation code snippets.
  doc/source/API/ClientServer.rst
Labels: documentation

#1776 'hybrid' and 'composite' properties value are always updated.
  pyaedt/application/design_solutions.py
Labels: enhancement

#1775 Improved Stackup Class
  _unittest/example_models/T40/SMA_RF_Jack.a3dcomp
  _unittest/test_16_3d_stackup.py
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  examples/02-HFSS/Hfss3DComponent.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/Model3DLayout.py
  pyaedt/modeler/Primitives3DLayout.py
  pyaedt/modeler/stackup_3d.py
  pyaedt/modules/LayerStackup.py
Labels: bug

#1783 Fix post docs
  doc/source/API/Post.rst
  pyaedt/modules/PostProcessor.py
Labels: bug, documentation

#1784 Cable modeling harness
  _unittest/example_models/T43/cable_modeling_json_files/add_cables_to_bundle.json
  _unittest/example_models/T43/cable_modeling_json_files/add_cables_to_bundle_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/add_clock_source.json
  _unittest/example_models/T43/cable_modeling_json_files/add_clock_source_without_name.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_from_file.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_invalid_1.json
  _unittest/example_models/T43/cable_modeling_json_files/add_pwl_source_noname.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove_add_for_cables_to_add_to_bundle.json
  _unittest/example_models/T43/cable_modeling_json_files/cables_to_remove_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/empty.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_1.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_2.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_3.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_4.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_5.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_6.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_clock_source_7.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_add_pwl_source_from_file.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_cable_type.json
  _unittest/example_models/T43/cable_modeling_json_files/invalid_update_clock_source.json
  _unittest/example_models/T43/cable_modeling_json_files/remove_clock_source.json
  _unittest/example_models/T43/cable_modeling_json_files/remove_clock_source_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_invalid_material_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_invalid_material_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_jacket_types_exception.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_missing_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/set_bundle_cable_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/set_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/set_straight_wire_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties_invalid.json
  _unittest/example_models/T43/cable_modeling_json_files/set_twisted_pair_cable_properties_laylength.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_invalid_material_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_invalid_material_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_insulation.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_no_jacket.json
  _unittest/example_models/T43/cable_modeling_json_files/update_bundle_cable_properties_shielding.json
  _unittest/example_models/T43/cable_modeling_json_files/update_clock_source.json
  _unittest/example_models/T43/cable_modeling_json_files/update_pwl_source.json
  _unittest/example_models/T43/cable_modeling_json_files/update_straight_wire_cable_properties.json
  _unittest/example_models/T43/cable_modeling_json_files/update_twisted_pair_cable_properties.json
  _unittest/test_43_CableModeling.py
  doc/source/API/CableModeling.rst
  pyaedt/modules/CableModeling.py
Labels: documentation, enhancement

#1793 Update the documentation of create_ports_on_component_by_nets().
  pyaedt/hfss3dlayout.py
Labels: enhancement

#1795 New Sample waveform method
  examples/03-Circuit/Circuit_AMI.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#1798 Improved documentation and fixed some h3dlayout stackup properties
  doc/source/User_guide/postprocessing.rst
  pyaedt/modeler/Primitives3DLayout.py
  pyaedt/modules/LayerStackup.py
Labels: bug, documentation

#1801 Update the path for .NET core.
  pyaedt/__init__.py
Labels: enhancement

#1804 Wrong float conversion
  _unittest/test_20_HFSS.py
  pyaedt/modeler/Object3d.py
Labels: bug

#1806 Full support to 23R1
  _unittest/example_models/T43/cable_modeling_231.aedt
  _unittest/test_01_Design.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_43_CableModeling.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/Primitives3DLayout.py
  pyaedt/modules/SetupTemplates.py
Labels: bug

#1809 add example and doc - Cable modeling
  _unittest/test_43_CableModeling.py
  doc/source/API/CableModeling.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/08-CableModeling/01-Cable_Modeling_Workflow.py
  pyaedt/modules/CableModeling.py
Labels: documentation, enhancement

#1747 Build json documentation for the developer portal.
  .github/workflows/ci-build.yml
Labels: documentation, maintenance

#1826 improve unit converter
  _unittest/test_00_GeometryOperators.py
  pyaedt/generic/constants.py
Labels: enhancement

#1824 Upgrade numpydoc to 1.5.0.
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/edb_core/components.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/mechanical.py
  pyaedt/modeler/stackup_3d.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/SetupTemplates.py
  pyaedt/modules/report_templates.py
  pyaedt/q3d.py
  requirements_docs.txt
Labels: maintenance, dependencies

#1834 Eddy effects available for Maxwell transient.
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug

#1837 Bump JamesIves/github-pages-deploy-action from 4.4.0 to 4.4.1
  .github/workflows/ci-build.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#1839 Fix minor issue on ironpython
  pyaedt/application/Design.py
Labels: bug

#1847 edbpath variable was not correctly updated after a save as
  pyaedt/edb.py
  pyaedt/generic/process.py
Labels: bug

#1855 Use codecs package in EDB for IronPython.
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: bug

#1836 Q2D Q3D update setup
  _unittest/test_08_Primitives3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  _unittest/test_36_Q2D_PostProcessing.py
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_42_configuration_files.py
  doc/source/API/Setup.rst
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
  pyaedt/modules/SetupTemplates.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/solutions.py
  pyaedt/q3d.py
Labels: documentation, enhancement

#1851 fix export_results
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  pyaedt/application/Analysis.py
Labels: bug

#1859 Q2D/Q3D export touchstone
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_31_Q3D.py
  pyaedt/application/Analysis.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement

#1853 Feature/create region value
  _unittest/test_02_3D_modeler.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  pyaedt/modeler/Modeler.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/Primitives2D.py
Labels: enhancement

#1858 Expose the globalcontext and searchindex files for the dev portal.
  .github/workflows/ci-build.yml
Labels: documentation, maintenance

#1856 Improve the sweeps.
  pyaedt/modules/SetupTemplates.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#1871 Documentation must reference aedt.docs.pyansys.com.
  README.rst
  doc/source/Contributing.rst
  pyaedt/generic/general_methods.py
Labels: documentation

#1878 The documentation for the dev portal is generated during the release process.
  .github/workflows/ci-build.yml
Labels: documentation, maintenance

#1883 Add the edit button in the documentation.
  doc/source/conf.py
Labels: documentation

#1880 The gravity direction for Icepak network block goes from -X to +Z.
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: bug

#1885 Add CableModeling to the API index of the documentation.
  doc/source/API/index.rst
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/configurations.py
  pyaedt/modeler/object3dlayout.py
Labels: documentation

#1884 Add an example for the heat sink in Icepak.
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modeler/Primitives.py
  pyaedt/modeler/PrimitivesMaxwellCircuit.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
Labels: maintenance

#1892 Update Linux Timeout to 2 hours
  .github/workflows/ironpython_linux.yml
Labels: maintenance

#1895 Improve Insert Matrix method in Q3D and Q2D
  _unittest/test_30_Q2D.py
  _unittest/test_31_Q3D.py
  pyaedt/modules/Boundary.py
  pyaedt/q3d.py
Labels: bug

#1898 Fix/refactor 3dcomp
  pyaedt/application/Analysis3D.py
  pyaedt/examples/downloads.py
Labels: bug

#1903 Q3D export from HFSS 3D Layout
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement

#1897 when deleting nets, the corresponding primitives should also be deleted.
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/nets.py
Labels: bug, enhancement

#1902 Fix documentation building warnings.
  pyaedt/aedt_logger.py
  pyaedt/circuit.py
  pyaedt/common_rpc.py
  pyaedt/hfss.py
  pyaedt/modeler/Primitives3D.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/report_templates.py
  pyaedt/q3d.py
Labels: documentation
