Repository ansys/pyaedt, pull requests merged in 2023-11, with the labels that each got.

#3828 Add files related to contributions.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: documentation

#3805 Refact edb load amat
  _unittest/example_models/syslib/Materials.amat
  _unittest/test_00_EDB.py
  doc/source/Getting_started/Troubleshooting.rst
  doc/source/conf.py
  pyaedt/edb_core/materials.py
  pyaedt/generic/LoadAEDTFile.py
  pyproject.toml
Labels: documentation, edb

#3849 Rename variable to avoid ambiguity.
  pyaedt/edb_core/stackup.py
Labels: enhancement, edb

#3844 Fix release documentation github action
  doc/source/conf.py
Labels: documentation, maintenance

#3854 Add is used flag to material
  _unittest/test_03_Materials.py
  pyaedt/modules/Material.py
Labels: enhancement

#3830 Fix documentation style of hdm parser.
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/sbrplus/hdm_parser.py
Labels: maintenance

#3840 Siwave SYZ bug fix and refactor
  _unittest/test_00_EDB.py
  examples/00-EDB/01_edb_example.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/simulation_setup.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/edb_core/siwave.py
  pyaedt/generic/LoadAEDTFile.py
Labels: edb

#3833 create port, probe enhancement
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/sources.py
  pyaedt/edb_core/edb_data/terminals.py
  pyaedt/edb_core/general.py
  pyaedt/edb_core/siwave.py
Labels: edb

#3862 Replace rlc with gap port bug fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: edb

#3858 Create port on pin enhancement
  pyaedt/edb_core/components.py
Labels: edb

#3867 refacto export_touchstone hfss3d
  pyaedt/hfss3dlayout.py
Labels: enhancement

#3869 Improve condition based on Boolean value.
  pyaedt/generic/touchstone_parser.py
  pyaedt/modeler/advanced_cad/oms.py
  pyaedt/modeler/cad/Modeler.py
  pyproject.toml
Labels: maintenance

#3875 Reduce default Roughness nodule radius
  _unittest/test_09_VariableManager.py
  pyaedt/application/Variables.py
  pyaedt/modules/LayerStackup.py
Labels: bug

#3879 Fixed bug in SweepMaterial creation
  _unittest/conftest.py
  _unittest/test_01_Design.py
  _unittest/test_03_Materials.py
  _unittest/test_09_VariableManager.py
  _unittest_solvers/conftest.py
  pyaedt/generic/configurations.py
  pyaedt/icepak.py
  pyaedt/modules/MaterialLib.py
Labels: testing

#3890 siwave syz setup enhancement
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
Labels: edb

#3889 extended_net_bug_fix
  pyaedt/edb_core/edb_data/nets_data.py
Labels: edb

#3891 DOC: Explain how to contribute in details in the CONTRIBUTION.md file.
  CONTRIBUTING.md
Labels: documentation

#3892 Fix touchstone deepcopy issue
  _unittest/test_44_TouchstoneParser.py
  pyaedt/generic/touchstone_parser.py
Labels: bug

#3900 Fix pythoncom issue
  _unittest/test_20_HFSS.py
  _unittest/test_98_Icepak.py
  pyaedt/desktop.py
  pyaedt/generic/configurations.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/modules/Boundary.py
Labels: bug

#3897 Fix bug in disjoint_nets method due to a regression in the net_name setter
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/obj_base.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/layout_validation.py
  pyaedt/modules/SolveSetup.py
Labels: bug, edb

#3905 Solder balls height control with simconfig
  _unittest/example_models/TEDB/ANSYS-HSD_V1.aedb/simsetup.json
  _unittest/example_models/TEDB/ANSYS-HSD_V1.aedb/simsetup_custom_sballs.json
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/hfss.py
Labels: edb

#3924 Improve variations in create_report
  pyaedt/modules/PostProcessor.py
Labels: bug

#3915 Assign FEBI method
  _unittest/test_20_HFSS.py
  doc/styles/Vocab/ANSYS/accept.txt
  pyaedt/application/Design.py
  pyaedt/application/design_solutions.py
  pyaedt/hfss.py
  pyaedt/modules/Boundary.py
Labels: enhancement
