Repository ansys/pyaedt, pull requests merged in 2023-07, with the labels that each got.

#3218 added options to export_field_jpg to export selections of objects, axis, grid, ruler and region
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#3208 Change component info props
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: enhancement

#3227 fix objects segmentation
  pyaedt/modeler/modeler3d.py
Labels: bug

#3228 Add axis in bondwire
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug

#3215 add docstrings and test coverage
  _unittest/example_models/T26/Tutorial 4 - Completed.aedt
  _unittest/test_26_emit.py
  pyaedt/emit.py
  pyaedt/emit_core/Couplings.py
  pyaedt/emit_core/results/results.py
  pyaedt/emit_core/results/revision.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Labels: bug

#3237 added add_script_to_menu method
  _unittest/conftest.py
  _unittest/test_01_Design.py
  _unittest/test_12_1_PostProcessing.py
  pyaedt/desktop.py
  pyaedt/downloads.py
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/misc/install_extra_toolkits.py
Labels: testing

#2981 EDB port renaming and overwriting renaming convention
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/sources.py
  pyaedt/edb_core/padstack.py
Labels: enhancement

#3236 Add impedance multiplier
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: bug

#3233 Update test_26_emit.py
  _unittest/test_26_emit.py
Labels: bug

#3239 Add labels for dependabot PRs.
  .github/dependabot.yml
Labels: maintenance

#3243 Add archive project
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/LayoutForce_Layout_APhi.aedb/edb.def
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.attr
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.bodydesc
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.bodydesc_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.circuitelemviz
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.circuitelemviz_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.layerdesc
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.layerdesc_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.project
  _unittest/example_models/TMaxwell/LayoutForce.aedb/LayoutComponents/LayoutForce_Layout_APhi/nativeCompDrawing/mf_0_comp5/LayoutForce_Layout_APhi.project_save
  _unittest/example_models/TMaxwell/LayoutForce.aedb/edb.def
  _unittest/example_models/TMaxwell/LayoutForce.aedt
  _unittest/example_models/TMaxwell/LayoutForce.aedtz
Labels: bug

#3241 Embed pydesktop plugin
  _unittest/example_models/T98/Fan_op_point_231.aedt
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.asol
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.asol
  _unittest/test_01_Design.py
  _unittest/test_01_downloads.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_20_HFSS.py
  doc/source/_static/diff_via.png
  examples/00-EDB/00_EDB_Create_VIA.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin.py
  pyaedt/generic/grpc_plugin_dll.py
  pyaedt/icepak.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/PostProcessor.py
Labels: documentation

#3261 Joey du dev
  doc/source/_static/bdf.png
  doc/source/_static/ldf.png
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: documentation

#3256 Icepak py aedt mehdi
  doc/source/_static/CSV_Import.png
  examples/04-Icepak/Icepak_CSV_Import.py
Labels: documentation

#3262 Various improvement to error handler to have much more details on the failed caller method, the method which fails and the inner AEDT calls that failed
  _unittest/conftest.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/PrimitivesTwinBuilder.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/Mesh.py
  pyaedt/q3d.py
Labels: testing

#3268 refactored downloads.py
  pyaedt/downloads.py
Labels: bug

#3271 fix interface port pins
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: bug

#3274 show bitmap image option when creating Nport component
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: enhancement

#3280 fixed examples
  doc/source/conf.py
  examples/02-HFSS/Advanced_Far_Field.py.back
  pyaedt/application/Analysis.py
  pyaedt/downloads.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/Boundary.py
Labels: bug, documentation

#3290 Fix get sparameter in circuit
  _unittest/test_21_Circuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/modeler/calculators.py
Labels: bug

#3294 remove aedt_logger from pyaedt init.
  _unittest/conftest.py
  _unittest/example_models/TMaxwell/Transient_StrandedWindings.aedt
  _unittest/test_20_HFSS.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_31_Q3D.py
  pyaedt/__init__.py
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/edb_data/control_file.py
  pyaedt/emit_core/__init__.py
Labels: testing

#3293 expose props for face CS
  _unittest/test_31_Q3D.py
  pyaedt/application/Variables.py
  pyaedt/generic/configurations.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug, enhancement

#3295 Image for MCAD import example.
  doc/source/_static/MCAD.PNG
Labels: documentation

#3302 fixed examples for docs
  _unittest/test_26_emit.py
  examples/07-Circuit/Reports.py
  pyaedt/downloads.py
  pyaedt/emit_core/interference_classification.py
Labels: bug

#3307 Fix the configuration for sphinx extension.
  doc/source/conf.py
Labels: documentation

#3305 Update the project urls.
  pyproject.toml
Labels: maintenance

#3310 Rename method componets_by_nets() to components_by_nets()
  pyaedt/edb_core/nets.py
Labels: enhancement

#3306 Fix coordinate systems get props
  _unittest/test_02_3D_modeler.py
  _unittest/test_98_Icepak.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3323 fix center line to support Arc Height
  _unittest/test_40_3dlayout_edb.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modeler/schematic.py
Labels: bug

#3329 Fix face cs duplicate
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3333 Bug in net_name setter in EDB which was preventing the net reassigment.
  pyaedt/edb_core/dotnet/primitive.py
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: bug

#3332 Edit symbol spicemodel comp circuit
  _unittest/example_models/T21/test.lib
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_3dlayout_modeler.py
  _unittest/test_01_configuration_files.py
  _unittest/test_04_SBR.py
  _unittest/test_21_Circuit.py
  _unittest_ironpython/test_01_3dlayout_edb.py
  _unittest_ironpython/test_01_configuration_files.py
  _unittest_ironpython/test_04_SBR.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: enhancement

#3344 Add virtual environments to .gitignore file.
  .gitignore
Labels: maintenance

#3346 Assign variables before usage when closing Desktop.
  pyaedt/desktop.py
  pyaedt/generic/clr_module.py
Labels: enhancement

#3347 Remove unused method _parse_signal_layer_properties().
  pyaedt/edb_core/edb_data/simulation_configuration.py
Labels: enhancement
