Repository ansys/pyaedt, pull requests merged in 2023-09, with the labels that each got.

#3504 M2 apply skew option
  _unittest/test_27_Maxwell2D.py
  pyaedt/application/Design.py
  pyaedt/maxwell.py
Labels: enhancement

#3506 Fix installation script
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/desktop.py
  pyaedt/misc/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/install_extra_toolkits.py
Labels: bug, documentation

#3509 refresh all ids in assign_mesh_region() - Icepak
  pyaedt/modules/MeshIcepak.py
Labels: bug

#3522 Changed version comparison from "222" to "221"
  pyaedt/generic/general_methods.py
Labels: bug

#3518 Added additional control to rpc connection to avoid errors in PyAEDT
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/common_rpc.py
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modules/MaterialLib.py
  pyaedt/rpc/rpyc_services.py
Labels: bug

#3526 Add tolerance to padding checking
  _unittest/test_09_VariableManager.py
  pyaedt/application/Variables.py
  pyaedt/modeler/modeler3d.py
Labels: bug

#3540 new edb example connector on board
  doc/source/_static/edb_example_12_sma_connector_on_board.png
  examples/00-EDB/12_edb_sma_connector_on_board.py
Labels: documentation

#3543 Fix student version issue which was causing error in version check
  pyaedt/desktop.py
  pyaedt/modeler/cad/components_3d.py
Labels: bug

#3546 fix waveport name assignment
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/ports.py
  pyaedt/edb_core/hfss.py
  pyproject.toml
Labels: bug

#3549 fix plot of non model objects
  pyaedt/modules/PostProcessor.py
Labels: bug

#3548 PhaseCenterPerPort feature
  _unittest/test_20_HFSS.py
  pyaedt/application/Design.py
  pyaedt/hfss.py
Labels: bug

#3558 Build and Upload PDF documentation.
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  doc/Makefile
  doc/source/conf.py
Labels: documentation, maintenance

#3563 merged 2 tests branches in the same ci_cd
  .github/workflows/unit_tests.yml
  .github/workflows/unit_tests_solvers.bkp
Labels: maintenance

#3550 Update interference_gui.py
  examples/07-EMIT/interference_gui.py
Labels: bug

#3568 Ibis reader refactoring
  _unittest/example_models/T15/channel_4.sss
  _unittest/example_models/T15/ibis_ami_example_l32.so
  _unittest/example_models/T15/ibis_ami_example_l64.so
  _unittest/example_models/T15/ibis_ami_example_rx.ami
  _unittest/example_models/T15/ibis_ami_example_rx.ibs
  _unittest/example_models/T15/ibis_ami_example_tx.ami
  _unittest/example_models/T15/ibis_ami_example_tx.ibs
  _unittest/example_models/T15/ibis_ami_example_w32.dll
  _unittest/example_models/T15/ibis_ami_example_w64.dll
  _unittest/test_15_ibs_reader.py
  pyaedt/circuit.py
  pyaedt/generic/ami.json
  pyaedt/generic/ibis_reader.py
  pyaedt/generic/ibis_v7.json
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: bug

#3587 fix: add pdf build comments for documentation
  .github/workflows/build_documentation.yml
  .github/workflows/full_documentation.yml
  doc/make.bat
Labels: bug, maintenance

#3584 Network Bounday nodes fix
  pyaedt/modules/Boundary.py
Labels: bug

#3593 fix import_dxf + tests
  _unittest/example_models/cad/DXF/dxf2.dxf
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_30_Q2D.py
  _unittest/test_44_TouchstoneParser.py
  _unittest/test_98_Icepak.py
  pyaedt/application/Analysis3D.py
Labels: bug

#3557 implement object CS
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: enhancement

#3600 fix split method
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3604 Import latex from ansys-sphinx-theme to allow proper instantiation of LaTeXTranslator.
  doc/source/conf.py
Labels: documentation

#3595 better handling if users cancel file dlgs
  _unittest_solvers/test_26_emit.py
  examples/07-EMIT/interference_gui.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#3566 Bug 3386 patch example update
  _unittest/conftest.py
  _unittest/test_01_general_methods.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_16_3d_stackup.py
  _unittest/test_20_HFSS.py
  examples/02-HFSS/Probe_Fed_Patch.py
  pyaedt/application/Design.py
  pyaedt/generic/DataHandlers.py
  pyaedt/generic/filesystem.py
  pyaedt/hfss.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/Material.py
  pyaedt/modules/MaterialLib.py
Labels: testing

#3606 Add logos for PDF documentation.
  doc/source/conf.py
Labels: documentation

#3608 Fix aedt executable name for student version
  pyaedt/desktop.py
Labels: bug

#3617 Fix GA Bug
  pyaedt/application/Analysis.py
  pyaedt/generic/python_optimizers.py
Labels: bug

#3625 Close #3542. Documentation fix for create_network_block
  pyaedt/icepak.py
Labels: documentation

#3634 Remove Delcross from reference
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/generic/clr_module.py
Labels: bug, documentation

#3636 improved method create_frequency_sweep to support all optional arguments.
  _unittest/test_11_Setup.py
  _unittest_solvers/test_31_Q3D.py
  pyaedt/application/Analysis.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/MeshIcepak.py
  pyaedt/modules/SolveSetup.py
  pyaedt/q3d.py
Labels: bug

#3646 Enable 241 support
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_configuration_files.py
  _unittest/test_11_Setup.py
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  doc/source/Resources/toolkits.png
  examples/01-Modeling-Setup/Optimetrics.py
  pyaedt/application/Analysis.py
  pyaedt/generic/configurations.py
  pyaedt/icepak.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/MeshIcepak.py
Labels: documentation

#3648 added DC conduction example in assign_matrix function documentation
  pyaedt/maxwell.py
Labels: documentation, enhancement

#3650 Update documentation toolkits
  _unittest/test_11_Setup.py
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/template_ribbon.png
  pyaedt/modules/DesignXPloration.py
Labels: documentation

#3651 Fix bug in import PCB in Icepak to support Hfss3d Layout extent
  _unittest/test_98_Icepak.py
  examples/04-Icepak/Sherlock_Example.py
  pyaedt/icepak.py
Labels: bug

#3654 Added possibility to change the z location of a 3d component when placed in 3d Layout
  _unittest/test_01_3dlayout_edb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
Labels: bug

#3649 Linux build
  .github/workflows/cpython_linux.yml
  _unittest/test_00_EDB.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_launch_desktop.py
  _unittest_solvers/test_31_Q3D.py
Labels: maintenance

#3652 Added property to Icepak Edit Design Settings
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: bug

#3613 maint: migrate codespell config to pyproject.toml.
  .pre-commit-config.yaml
  pyaedt/application/Design.py
  pyproject.toml
Labels: maintenance

#3619 fix pdf build
  .github/workflows/build_documentation.yml
  doc/Makefile
  doc/source/conf.py
  doc/source/index.rst
Labels: bug, documentation, maintenance

#3664 doc: Improve documentation for lumped port.
  pyaedt/hfss.py
Labels: documentation

#3655 Fss unitcell simulation
  _unittest/test_01_downloads.py
  examples/02-HFSS/HFSS_FSS_unitcell.py
  pyaedt/downloads.py
Labels: documentation

#3657 EDB Find DC shorts method added
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/nets.py
Labels: enhancement

#3659 Improve documentation home page
  doc/source/Getting_started/About.rst
  doc/source/Getting_started/Quickcode.rst
  doc/source/Getting_started/index.rst
  doc/source/Getting_started/versioning.rst
  doc/source/_static/assets/index_api.png
  doc/source/_static/assets/index_api.svg
  doc/source/_static/assets/index_contribute.png
  doc/source/_static/assets/index_contribute.svg
  doc/source/_static/assets/index_examples.png
  doc/source/_static/assets/index_examples.svg
  doc/source/_static/assets/index_getting_started.png
  doc/source/_static/assets/index_getting_started.svg
  doc/source/_static/assets/index_user_guide.png
  doc/source/_static/assets/index_user_guide.svg
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/index.rst
  examples/00-EDB/03_5G_antenna_example_parametrics.py
  examples/02-HFSS/Create_3d_Component_and_use_it.py
  pyaedt/__init__.py
  pyproject.toml
Labels: documentation

#3665 Added retry to linux cicd
  .github/workflows/cpython_linux.yml
Labels: maintenance

#3670 fixed polygon_data property
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/hfss.py
Labels: bug

#3638 Fix 908974 and 871079
  examples/07-EMIT/interference_gui.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#3680 MAINT: Increase timeout for the full documentation building.
  .github/workflows/full_documentation.yml
Labels: maintenance
