Repository ansys/pyaedt, pull requests merged in 2023-03, with the labels that each got.

#2552 Add color to improve documentation output log.
  .github/workflows/full_documentation.yml
  doc/Makefile
Labels: documentation, maintenance

#2547 fixed support for remote plot export
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/downloads.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/ibis_reader.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
  pyaedt/rpc/rpyc_services.py
  setup.py
Labels: maintenance

#2527 Enhancement/field line traces
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
Labels: enhancement

#2554 Fix/issue2553
  _unittest/test_98_Icepak.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/MeshIcepak.py
Labels: bug

#2546 Enabled 23R1 Unit Tests
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/example_models/T12/Potter_Horn_231.aedtz
  _unittest/test_08_Primitives3D.py
  _unittest/test_10_Advanced_EDB.py
  _unittest/test_17_SBR.py
  _unittest/test_26_emit.py
  _unittest/test_98_Icepak.py
  pyaedt/desktop.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/emit.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modules/SolveSetup.py
Labels: bug, maintenance, testing

#2560 Fix edit definition issue
  pyaedt/modeler/cad/components_3d.py
Labels: bug

#2556 scikit-rf integration
  _unittest/example_models/T40/Galileo_22r2_dcir.aedtresults/Galileo_G87173_204.asol
  _unittest/example_models/T44/differential_microstrip.aedtz
  _unittest/example_models/T44/port_order_1234.s8p
  _unittest/example_models/T44/port_order_1324.s8p
  _unittest/test_00_EDB.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  _unittest/test_44_TouchstoneParser.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/02-HFSS3DLayout/Hfss3DComponent.py
  examples/07-Circuit/Touchstone_Management.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/circuit.py
  pyaedt/downloads.py
  pyaedt/generic/TouchstoneParser.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/PostProcessor.py
  requirements/requirements.txt
  setup.py
Labels: maintenance, dependencies

#2562 Push time excitation
  _unittest/test_21_Circuit.py
  pyaedt/circuit.py
Labels: enhancement

#2568 Example m2d electrostatic field line traces + fix in read material excel
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/modules/MaterialLib.py
Labels: enhancement

#2570 Fixed remote file handling
  pyaedt/desktop.py
  pyaedt/downloads.py
  pyaedt/generic/general_methods.py
Labels: bug

#2575 Fix subprocess
  examples/00-EDB/01_edb_example.py
  pyaedt/generic/process.py
Labels: bug

#2577 Add multiplier to the log plot.
  _unittest/test_12_PostProcessing.py
  pyaedt/generic/plot.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: enhancement

#2574 Improve dependencies permissiveness.
  requirements/requirements.txt
  requirements/requirements_test.txt
  setup.py
Labels: maintenance, dependencies

#2579 Fix method import_materials_from_excel
  pyaedt/modules/MaterialLib.py
Labels: bug

#2581 fixed download_file method for examples
  pyaedt/downloads.py
Labels: bug

#2582 Fix typo GetDesigns in edit_definition
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/modeler3d.py
Labels: bug

#2559 Switch prerelease workflow to Python 3.8
  .github/workflows/unit_test_prerelease.yml
Labels: bug, maintenance

#2583 Variables where appearing by default in both dependent and independent variables list.
  pyaedt/application/Variables.py
Labels: bug

#2580 Increase permissiveness for some dependencies.
  setup.py
Labels: maintenance

#2586 added additional parameters to import_3d_cad method.
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#2587 fixed broken link to contributing pages
  doc/source/API/index.rst
  doc/source/Contributing.rst
  doc/source/EDBAPI/index.rst
Labels: bug, documentation

#2588 Changed way to check if script is running Ironpython inside desktop
  pyaedt/desktop.py
  pyaedt/edb.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/modelerpcb.py
Labels: bug

#2591 Twinbuilder example is failing on build agent because graphic card is missing.
  doc/source/conf.py
  examples/07-TwinBuilder/04-Static_ROM_Creation_And_Visualization.py
Labels: bug, documentation

#2612 Fix dependent variable issue
  pyaedt/application/Variables.py
Labels: bug

#2622 Update README.rst
  README.rst
Labels: documentation

#2624 Fix documentation issue for pre-commit.
  _unittest/test_15_ibs_reader.py
  pyaedt/edb.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/DesignXPloration.py
Labels: maintenance

#2629 Fix variables_to_include argument in create_3dcomponent
  pyaedt/modeler/modeler3d.py
Labels: bug

#2625 Mesh operation for 3D applications refactoring
  _unittest/test_01_Design.py
  _unittest/test_05_Mesh.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_20_HFSS.py
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_98_Icepak.py
  doc/source/API/Mesh.rst
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
Labels: bug, documentation

#2640 fixed default analyze values for num_cores and num_tasks
  pyaedt/application/Analysis.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#2638 Pyaedt applications will check if the file is locked and if the file is already loaded
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/generic/general_methods.py
Labels: bug

#2636 update examples due to some api changes
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
Labels: bug

#2635 implement update trace name
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/report_templates.py
Labels: enhancement

#2643 implemented get_sweep for Hfss and 3D Layout
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#2657 fix domain.set_inteferer call in examples
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
Labels: bug

#2650 decrease analysis time in M3D examples
  examples/03-Maxwell/Maxwell3DTeam3.py
  examples/03-Maxwell/Maxwell3DTeam7.py
Labels: enhancement

#2658 Fix/edb add repr method
  _unittest/test_26_emit.py
  examples/03-Maxwell/Maxwell3DTeam3.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/07-EMIT/ComputeProtectionLevels.py.back
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/edbvalue.py
  pyaedt/emit.py
  pyaedt/emit_core/EmitConstants.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#2655 Improved dostrings and replaced arg_with_dim method with number_with_units for better readability and clarity.
  _unittest/test_09_VariableManager.py
  pyaedt/application/Analysis.py
  pyaedt/application/Variables.py
  pyaedt/edb.py
  pyaedt/edb_core/siwave.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modeler/schematic.py
Labels: documentation

#2669 Update Installation.rst
  doc/source/Getting_started/Installation.rst
Labels: bug, documentation

#2680 automatically assign pin name for component creation in case no name
  pyaedt/edb_core/components.py
Labels: bug

#2689 Replace all os.name checks with is_windows, is_linux booleans
  _unittest/test_01_Design.py
  _unittest/test_21_Circuit.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_ironpython/run_unittests.py
  _unittest_ironpython/test_26_emit.py
  _unittest_ironpython/test_34_TwinBuilder.py
  _unittest_ironpython/test_35_MaxwellCircuit.py
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/downloads.py
  pyaedt/edb.py
  pyaedt/generic/clr_module.py
  pyaedt/generic/process.py
  pyaedt/generic/toolkit.py
  pyaedt/icepak.py
  pyaedt/misc/Console.py_build
  pyaedt/misc/Jupyter.py_build
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/console_setup.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/rpc/rpyc_services.py
  pyaedt/siwave.py
Labels: testing

#2684 Fix linux and prerelease CICD
  .github/workflows/cpython_linux.yml
  .github/workflows/unit_test_prerelease.yml
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
  _unittest/conftest.py
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_01_GeometryOperators.py
  _unittest/test_01_downloads.py
  _unittest/test_01_general_methods.py
  _unittest/test_01_report_file_parser.py
  _unittest/test_01_toolkit_icons.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_26_emit.py
  _unittest/test_32_RMxprt.py
  _unittest/test_34_TwinBuilder.py
  _unittest_ironpython/test_00_Advanced_EDB.py
  _unittest_ironpython/test_01_GeometryOperators.py
  _unittest_ironpython/test_01_downloads.py
  pyaedt/application/Design.py
  pyaedt/edb_core/ipc2581/ipc2581.py
  pyaedt/edb_core/materials.py
Labels: bug, maintenance, testing

#2692 Replace all remaining os.name checks with is_windows, is_linux booleans Ref: #2689
  _unittest/conftest.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_26_emit.py
  _unittest/test_32_RMxprt.py
  _unittest/test_34_TwinBuilder.py
  pyaedt/misc/Run_PyAEDT_Script.py_build
Labels: testing

#2696 Feat/issue 2695
  _unittest/example_models/TEDB/stackup_laminate.xml
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/08_CPWG.py
  pyaedt/edb_core/stackup.py
  pyaedt/hfss3dlayout.py
Labels: enhancement

#2697 various bug fixes to support 23R2
  .github/workflows/cpython_linux.yml
  .github/workflows/ironpython_linux.yml
  .github/workflows/unit_test_prerelease.yml
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/example_models/T40/Galileo_22r2_dcir.aedtresults/Galileo_G87173_204.asol
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  _unittest/test_01_downloads.py
  _unittest/test_01_toolkit_icons.py
  _unittest/test_17_SBR.py
  _unittest/test_20_HFSS.py
  _unittest/test_26_emit.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_42_configuration_files.py
  _unittest/test_98_Icepak.py
  _unittest_ironpython/run_unittests_batchmode.cmd
  _unittest_ironpython/run_unittests_batchmode_linux.cmd
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/downloads.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/emit.py
  pyaedt/generic/filesystem.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modules/MaterialLib.py
Labels: maintenance, testing

#2702 Fix Export Results when Hfss3dLayout project is exported.
  pyaedt/application/Analysis.py
Labels: bug

#2619 Polyline refactoring
  _unittest/example_models/T08/polyline.aedt
  _unittest/example_models/T08/polyline_231.aedt
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/desktop.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/polylines.py
Labels: bug, maintenance, testing

#2706 Add "mil" and "in" and "inches" to units.
  pyaedt/generic/DataHandlers.py
Labels: bug

#2707 Fixed teardown for IronPython unit tests
  _unittest/conftest.py
  pyaedt/generic/filesystem.py
Labels: bug, testing

#2705 Upgrade imageio dependency for the documentation.
  pyproject.toml
Labels: maintenance

#2693 Cylindrical gap treatment - M2D/M3D
  _unittest/example_models/TMaxwell/Motor3D_cyl_gap.aedt
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/Mesh.py
Labels: enhancement

#2709 Update error in constants.BasisOrder
  pyaedt/generic/constants.py
Labels: bug

#2699 variables class under Edb
  _unittest/test_00_EDB.py
  doc/source/EDBAPI/CoreEdb.rst
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/variables.py
Labels: documentation

#2716 Feature/color_by_change_options
  _unittest/test_40_3dlayout_edb.py
  pyaedt/hfss3dlayout.py
Labels: enhancement

#2724 Fix solved variations bug in export_equivalent_circuit method
  README.rst
  _unittest/test_31_Q3D.py
  pyaedt/q3d.py
Labels: bug, documentation

#2722 Added matplotlib plot to Edb stackup.py
  _unittest/test_00_Advanced_EDB.py
  doc/source/EDBAPI/CoreEdb.rst
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/plot.py
Labels: documentation

#2721 Added new Q3D Example
  _unittest/test_00_EDB.py
  _unittest/test_20_HFSS.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_31_Q3D.py
  doc/source/API/Setup.rst
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/08_CPWG.py
  examples/05-Q3D/Q3D_from_EDB.py
  pyaedt/__init__.py
  pyaedt/application/Analysis.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/padstack.py
  pyaedt/hfss.py
  pyaedt/modules/SolveSetup.py
  pyaedt/q3d.py
Labels: documentation

#2731 Improve assign_priority method checking if passed objects are native
  _unittest/test_98_Icepak.py
  pyaedt/modules/MeshIcepak.py
Labels: bug

#2726 refactored to support overlappig layers
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/stackup.py
Labels: bug

#2732 Fix a bug in object creation caused by hystory
  _unittest/example_models/T08/components_flatten_231.aedt
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/elements3d.py
Labels: bug

#2735 Padstack instances were not deleted in delete_nets name because of wrong check
  pyaedt/edb_core/padstack.py
Labels: bug

#2736 Fix Create_polyline to support spline
  _unittest/test_08_Primitives3D.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/modeler/cad/polylines.py
Labels: bug

#2737 Fix winding issue
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug

#2741 infinite loop in history when boolean operations applies
  pyaedt/modeler/cad/elements3d.py
Labels: bug

#2742 Fix Choke _make_winding
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug, maintenance

#2745 Assign current in ElectroDCConduction solution type
  pyaedt/maxwell.py
Labels: bug

#2748 Stop building and uploading the json documentation.
  .github/workflows/full_documentation.yml
Labels: documentation, maintenance

#2746 fixed examples
  _unittest/test_08_Primitives3D.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/MeshIcepak.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#2749 polar_plot_3d_pyvista return Plotter object and fix submit job bug
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Analysis.py
  pyaedt/modules/solutions.py
  pyproject.toml
Labels: bug

#2738 fix emit code
  _unittest/test_26_emit.py
  examples/07-EMIT/ComputeProtectionLevels.py.back
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
  pyaedt/emit.py
  pyaedt/emit_core/EmitConstants.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#2750 Speed up Icepak UT
  _unittest/test_98_Icepak.py
Labels: bug
