Repository ansys/pyaedt, pull requests merged in 2023-04, with the labels that each got.

#2757 fix minor issue on cutout method.
  pyaedt/edb.py
Labels: bug

#2758 Fix 2756
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  examples/00-EDB/00_EDB_Create_VIA.py
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/02_edb_to_ipc2581.py
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/04_edb_parametrized_design.py
  examples/00-EDB/05_Plot_nets.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/00-EDB/08_CPWG.py
  examples/00-EDB/09_Configuration.py
  examples/01-HFSS3DLayout/Dcir_in_3DLayout.py
  examples/01-HFSS3DLayout/EDB_in_3DLayout.py
  examples/05-Q3D/Q3D_from_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/edb_data/sources.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/ipc2581/ecad/cad_data/step.py
  pyaedt/edb_core/ipc2581/ipc2581.py
  pyaedt/edb_core/layout.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/siwave.py
  pyaedt/edb_core/stackup.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#2747 Refactor _make_winding in primitives3D module.
  pyaedt/modeler/cad/Primitives3D.py
Labels: enhancement

#2769 minor_fixes on cutout methods on point lists
  _unittest/test_00_EDB.py
  pyaedt/edb.py
Labels: bug

#2765 Refactor check_numeric_equivalence
  pyaedt/generic/general_methods.py
Labels: enhancement

#2773 Fix rotations axis in create_sbr_radar_from_json
  pyaedt/modeler/advanced_cad/parts.py
Labels: bug

#2772 Improved assign_rlc_model method
  _unittest/test_00_Advanced_EDB.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: bug

#2778 docstrings fix
  examples/05-Q3D/Q3D_from_EDB.py
  pyaedt/edb_core/stackup.py
Labels: bug

#2782 Improve speed of history and box creation
  .github/workflows/ironpython.yml
  _unittest/test_07_Object3D.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/pcb/object3dlayout.py
Labels: maintenance

#2785 add some functions to Revisions and fix some bugs
  _unittest/test_26_emit.py
  pyaedt/emit_core/results/results.py
  pyaedt/emit_core/results/revision.py
Labels: enhancement

#2792 Added property is_enabled with getters and setters in Compontents.
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: enhancement

#2791 fix cutout method that in some cases was causing dc shorts and find_and_fix_disjoint_nets
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/nets.py
Labels: bug

#2793 Refactored Edb documentation
  README.rst
  doc/source/API/Application.rst
  doc/source/API/CableModeling.rst
  doc/source/API/Configuration.rst
  doc/source/API/MaterialManagement.rst
  doc/source/API/Mesh.rst
  doc/source/API/Optimetrics.rst
  doc/source/API/Post.rst
  doc/source/API/Primitive_Objects.rst
  doc/source/API/Primitives2D.rst
  doc/source/API/Primitives3D.rst
  doc/source/API/Primitives3DLayout.rst
  doc/source/API/PrimitivesCircuit.rst
  doc/source/API/Setup.rst
  doc/source/API/SetupTemplates.rst
  doc/source/API/Variables.rst
  doc/source/API/index.rst
  doc/source/EDBAPI/ComponentsEdb.rst
  doc/source/EDBAPI/CoreEdb.rst
  doc/source/EDBAPI/DataEdb.rst
  doc/source/EDBAPI/LayerData.rst
  doc/source/EDBAPI/NetsEdb.rst
  doc/source/EDBAPI/PadstackEdb.rst
  doc/source/EDBAPI/PrimitivesEdb.rst
  doc/source/EDBAPI/SiWave.rst
  doc/source/EDBAPI/SimulationConfigurationEdb.rst
  doc/source/EDBAPI/SimulationEdb.rst
  doc/source/EDBAPI/SourcesEdb.rst
  doc/source/EDBAPI/index.rst
  doc/source/User_guide/index.rst
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  pyaedt/edb.py
  pyaedt/edb_core/materials.py
Labels: documentation

#2795 Refactor rotation around one axis for 3d component.
  pyaedt/modeler/advanced_cad/parts.py
Labels: enhancement

#2799 Fix documentation
  doc/source/EDBAPI/PrimitivesEdb.rst
  examples/00-EDB/03_5G_antenna_example.py
  examples/00-EDB/06_Advanced_EDB.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
  pyaedt/edb.py
  pyaedt/edb_core/stackup.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/SolveSweeps.py
Labels: bug, documentation

#2802 Replace methods get/set_notes() by 'notes' property for emit revision.
  pyaedt/emit_core/results/results.py
  pyaedt/emit_core/results/revision.py
Labels: enhancement

#2803 Wait for batch job to release queue file properly.
  pyaedt/application/Analysis.py
Labels: enhancement

#2806 When Padstack definitions contains layer "Default" the stackup plot was failing.
  examples/00-EDB/00_EDB_Create_VIA.py
  examples/00-EDB/05_Plot_nets.py
  pyaedt/edb_core/stackup.py
  pyaedt/modeler/pcb/object3dlayout.py
Labels: bug

#2805 add icons
  doc/source/Resources/emit_channel_separation.png
  doc/source/Resources/emit_hfss.png
  doc/source/Resources/emit_protection_levels.png
  doc/source/Resources/emit_simple_cosite.png
  examples/07-EMIT/ComputeChannelSeparation.py.back
  examples/07-EMIT/ComputeProtectionLevels.py.back
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
Labels: documentation, enhancement

#2814 Remove codecov from the dependencies.
  pyproject.toml
Labels: maintenance

#2812 Add Circuit schematic to the documentation
  _unittest/test_20_HFSS.py
  doc/source/API/PrimitivesCircuit.rst
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/hfss.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/PostProcessor.py
Labels: documentation

#2800 improve methods and maxwell class
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/maxwell.py
Labels: documentation, maintenance

#2830 Fix elevation bug when adding layers in 3d Layout using imperial units.
  pyaedt/modules/LayerStackup.py
Labels: bug

#2831 When Pyaedt is installed from Button in 23R2 there is no need to launch a new session of Desktop.
  doc/source/Resources/pyaedt_with_IDE.bat
  pyaedt/misc/aedtlib_personalib_install.py
Labels: bug, documentation

#2828 fix extent creation when multiple polygons are generated from the computation.
  pyaedt/edb.py
Labels: bug

#2832 Fix typo in docstring
  doc/source/API/PrimitivesCircuit.rst
  doc/source/API/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyaedt/downloads.py
  pyaedt/icepak.py
Labels: bug, documentation

#2835 Use argparse for toolkit installer; Fix new Desktop session; sync PyAEDT installer files; use tabs
  doc/source/Resources/pyaedt_with_IDE.bat
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt_with_IDE.bat
Labels: documentation

#2833 Update Contributing.rst
  doc/source/Contributing.rst
Labels: documentation

#2763 Refactor VRTFieldPlot.
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
  pyaedt/sbrplus/hdm_parser.py
Labels: enhancement

#2838 Doc/update support email and do an overall edit of the README
  README.rst
Labels: documentation

#2839 Doc: update the switcher ``conf`` to pyansys-action-v4 layout.
  .github/dependabot.yml
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#2846 Install doc dependencies.
  .github/workflows/nightly-docs.yml
Labels: maintenance

#2852 Test cleanup
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  _unittest/test_01_Design.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_11_Setup.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_35_MaxwellCircuit.py
  _unittest/test_36_Q2D_PostProcessing.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_42_configuration_files.py
  pyaedt/modeler/advanced_cad/oms.py
Labels: testing

#2849 Add debug-statements and trailing-whitespace to pre-commit.
  .pre-commit-config.yaml
Labels: maintenance

#2847 Enable control program
  _unittest/example_models/TMaxwell/TimeStepCtrl.aedt
  _unittest/example_models/TMaxwell/timestep_only.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement, maintenance

#2873 Remove create_two_resistor_network_block_depr function
  pyaedt/icepak.py
Labels: bug

#2872 Add a prefix for dependabot commit message.
  .github/dependabot.yml
Labels: maintenance

#2875 Objects segmentation
  _unittest/test_28_Maxwell3D.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/modeler3d.py
Labels: enhancement

#2850 Absolute dimension diel airbox simconfig
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/hfss.py
Labels: enhancement

#2864 Maint: test meilisearch
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

#2890 add additional bool to apply mesh sheets - objects segmentation
  _unittest/test_28_Maxwell3D.py
  pyaedt/modeler/modeler3d.py
Labels: enhancement

#2836 Add pydocstyle to pre-commit config.
  .pre-commit-config.yaml
  pyaedt/generic/general_methods.py
  pyaedt/modules/solutions.py
Labels: maintenance

#2896 Fix pydocstyle warnings.
  .pre-commit-config.yaml
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/LayerStackup.py
  pyaedt/q3d.py
Labels: documentation

#2867 S778257: fix emit for multiple python versions
  .github/workflows/unit_test_prerelease.yml
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_26_emit.py
  examples/07-EMIT/EMIT_Example.py
  pyaedt/emit.py
  pyaedt/emit_core/EmitConstants.py
  pyaedt/emit_core/__init__.py
  pyaedt/emit_core/results/results.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Labels: maintenance, testing

#2897 Remove list as default value in methods' signature.
  pyaedt/mechanical.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: maintenance

#2903 Object segmentation example
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
Labels: documentation

#2905 Improve documentation docstring.
  .pre-commit-config.yaml
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/hfss.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/LayerStackup.py
Labels: documentation

#2918 Remove unnecessary token.
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: documentation, maintenance

#2912 Raise correct exception type.
  pyaedt/generic/configurations.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement

#2913 misc fixes
  _unittest/test_26_emit.py
  pyaedt/emit.py
  pyaedt/emit_core/results/results.py
  pyaedt/emit_core/results/revision.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Labels: bug

#2920 Independent design and project variable refactoring
  _unittest/test_09_VariableManager.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
Labels: bug

#2928 doc: Improve the documentation consistency.
  .pre-commit-config.yaml
  pyaedt/icepak.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/geometry_operators.py
Labels: documentation
