Repository ansys/pyaedt, pull requests merged in 2023-06, with the labels that each got.

#3084 Remove Machine_learning_applied_to_Patch.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
Labels: bug

#3085 Add documentation for the hybrid solution.
  pyaedt/hfss.py
Labels: documentation

#3087 fixed new method intersection_type
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: bug

#3108 Geometry check
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modeler/modelerpcb.py
Labels: enhancement

#3110 EDB Nets class fix for doc
  doc/source/EDBAPI/NetsEdb.rst
Labels: documentation

#3102 Export layout to 3D modeler with keeping net name speed and robustness improvement
  _unittest/test_40_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_42_configuration_files.py
  _unittest_ironpython/run_unittests.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement, testing

#3115 fix linux wheelhouse_linux.yml
  .github/workflows/wheelhouse_linux.yml
  doc/source/Getting_started/Installation.rst
Labels: documentation, maintenance

#3119 fix failing examples
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  examples/00-EDB/09_Configuration.py
  examples/00-EDB/11_post_layout_parameterization.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_from_EDB.py
  pyaedt/downloads.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/simulation_configuration.py
  pyaedt/hfss3dlayout.py
Labels: bug

#3118 MAINT: Remove unnecessary Python 'wheel' package.
  .github/workflows/wheelhouse.yml
Labels: maintenance

#3122 Fix/emit test analyze manually
  _unittest/test_26_emit.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#3126 fix get_objects_by_material for solid objects only
  pyaedt/modeler/cad/Primitives.py
Labels: bug

#3130 Improve launch_aedt robustness to avoid 2 desktop session launched simoultaneously.
  .github/workflows/ironpython.yml
  .github/workflows/unit_tests.yml
  pyaedt/desktop.py
Labels: maintenance

#3135 changed way to compute face center and edge midpoint
  _unittest/test_41_3dlayout_modeler.py
  _unittest_ironpython/run_unittests.py
  pyaedt/modeler/cad/elements3d.py
Labels: testing

#3136 import dxf implementation
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/application/Analysis3D.py
Labels: enhancement

#3142 Updated runner to Python 3.10
  .github/workflows/full_documentation.yml
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/generic/LoadAEDTFile.py
Labels: maintenance, testing

#3146 assign flux tangential implementation
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: enhancement

#3150 unload pythonnet after unittest
  _unittest/conftest.py
  _unittest/test_06_MessageManager.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
Labels: testing

#3147 Fix mesh regions name
  _unittest/test_98_Icepak.py
  pyaedt/modules/MeshIcepak.py
Labels: bug

#3153 Assign layout force
  _unittest/conftest.py
  _unittest/example_models/TMaxwell/LayoutComponent.aedt
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: enhancement, testing

#3152 Update export fan op point test
  _unittest/example_models/T98/Fan_op_point_231.aedt
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/ManagedFiles_Design58.asol
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/ManagedFiles_Design61.asol
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.asol
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_Meshes0_V0.sd/grid_mapping
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_Meshes0_V0.sd/grid_output
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_MON0_V0.sd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.profile
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.fdat
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.iter
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.nc_cas
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.uns_in
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.uns_out
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_S4_V0.restart/current.zinfo
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_SOL5_MON0_V0.sd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_SOL5_V0.Field/fields.nodemap
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_SOL5_V0.Field/fields.resd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point.results/DV16_SOL5_V0.Field/fields.srp
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.asol
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_Meshes0_V0.sd/grid_mapping
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_Meshes0_V0.sd/grid_output
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_MON0_V0.sd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.profile
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.fdat
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.iter
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.nc_cas
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.uns_in
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.uns_out
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_S15_V0.restart/current.zinfo
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_MON0_V0.sd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField29/fields.nodemap
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField29/fields.resd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField29/nodelist.nlst
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField30/fields.nodemap
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField30/fields.resd
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/get_fan_op_point1.results/DV27_SOL16_V0.TransientField30/nodelist.nlst
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000064.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000070.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000077.x_b
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000104.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000104.x_b
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_58/GeometryCache/BodyCache/0000110.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000064.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000070.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000077.x_b
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000104.fct
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000104.x_b
  _unittest/example_models/T98/Fan_op_point_231.aedtresults/mf_61/GeometryCache/BodyCache/0000110.fct
  _unittest/test_98_Icepak.py
Labels: testing

#3163 fix doc for monitor
  pyaedt/modules/monitor_icepak.py
Labels: documentation

#3161 Improved desktop launcher
  examples/05-Q3D/Q3D_Example.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
Labels: bug

#3167 Check for quantities in monitors
  _unittest/test_98_Icepak.py
  pyaedt/modules/monitor_icepak.py
Labels: bug

#3181 Fix pressure unit in assign free opening
  pyaedt/icepak.py
Labels: bug

#3196 Improve desktop launch
  _unittest/conftest.py
  _unittest/test_08_Primitives3D.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives.py
Labels: testing

#3193 Fixes for assign block list input
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
Labels: bug

#3200 Upgrade ipython depending on Python version.
  pyproject.toml
Labels: maintenance

#3199 Fix create_port_on_pins
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: bug

#3204 check_grpc_port was returning false when machine_name was set to ""
  pyaedt/desktop.py
Labels: bug

#3203 Fix create_bondwire
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug
