Repository ansys/pyaedt, pull requests merged in 2023-02, with the labels that each got.

#2408 Fix/issue array pyvista
  pyaedt/modules/solutions.py
Labels: bug

#2405 Fix 2388
  pyaedt/application/Design.py
Labels: bug

#2412 Update the links for the 'contributing' section.
  doc/source/Contributing.rst
Labels: documentation

#2406 Fix 2387
  _unittest/test_00_GeometryOperators.py
  _unittest/test_09_VariableManager.py
  pyaedt/application/Variables.py
  pyaedt/generic/constants.py
Labels: bug

#2372 display wire properties implementation
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/schematic.py
Labels: enhancement

#2430 Upgrade black hook in pre-commit
  .pre-commit-config.yaml
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_11_Setup.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_14_AedtLogger.py
  _unittest/test_28_Maxwell3D.py
  pyaedt/aedt_logger.py
  pyaedt/application/AEDT_File_Management.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/stackup.py
  pyaedt/emit.py
  pyaedt/generic/clr_module.py
  pyaedt/generic/design_types.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/plot.py
  pyaedt/generic/process.py
  pyaedt/generic/python_optimizers.py
  pyaedt/generic/toolkit.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/mechanical.py
  pyaedt/modeler/advanced_cad/actors.py
  pyaedt/modeler/advanced_cad/multiparts.py
  pyaedt/modeler/advanced_cad/oms.py
  pyaedt/modeler/advanced_cad/parts.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/CableModeling.py
  pyaedt/modules/LayerStackup.py
  pyaedt/modules/Material.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SetupTemplates.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/solutions.py
Labels: maintenance, testing

#2431 Upgrade the deploy action to use Node.js 16.
  .github/workflows/full_documentation.yml
Labels: maintenance

#2428 port per pin bug fix
  .github/workflows/unit_tests.yml
  pyaedt/edb_core/components.py
Labels: maintenance

#2434 Collapse navigation always
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
Labels: documentation

#2446 Antenna toolkit
  _unittest/test_44_antenna_toolkit.py
  _unittest_ironpython/test_44_antenna_toolkit.py
  doc/source/API/index.rst
  pyaedt/application/Design.py
  pyaedt/hfss.py
  pyaedt/toolkits/__init__.py
  pyaedt/toolkits/antennas/__init__.py
  pyaedt/toolkits/antennas/common.py
  pyaedt/toolkits/antennas/patch.py
Labels: documentation

#2468 Points property wire
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: enhancement

#2470 try to identify and fix issue on CPython unit tests that randomly dies.
  _unittest/conftest.py
Labels: maintenance, testing

#2407 refactor emit code
  _unittest/test_26_emit.py
  examples/07-EMIT/ComputeChannelSeparation.py
  examples/07-EMIT/ComputeProtectionLevels.py
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
  pyaedt/emit.py
  pyaedt/emit_core/EmitConstants.py
  pyaedt/emit_core/__init__.py
  pyaedt/emit_core/results/__init__.py
  pyaedt/emit_core/results/results.py
  pyaedt/emit_core/results/revision.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Labels: enhancement

#2477 fixed solve_in_batch method
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
Labels: maintenance, testing

#2489 Updated unit test to support 23R2
  .github/workflows/full_documentation.yml
  .github/workflows/ironpython.yml
  .github/workflows/unit_test_prerelease.yml
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_10_Advanced_EDB.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_17_SBR.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_43_CableModeling.py
  _unittest/test_98_Icepak.py
  pyaedt/application/Analysis3D.py
  pyaedt/emit_core/__init__.py
  pyaedt/modeler/cad/Modeler.py
  requirements/requirements.txt
  requirements/requirements_test.txt
Labels: maintenance, dependencies, testing

#2496 Skip deprecated methods from Documentation
  README.rst
  doc/source/API/SetupTemplates.rst
  doc/source/API/SetupTemplatesCircuit.rst
  doc/source/API/SetupTemplatesHFSS.rst
  doc/source/API/SetupTemplatesIcepak.rst
  doc/source/API/SetupTemplatesMaxwell.rst
  doc/source/API/SetupTemplatesRmxprt.rst
  doc/source/API/SetupTemplatesTwinBuilder.rst
  doc/source/Getting_started/Installation.rst
  doc/source/conf.py
  pyaedt/misc/aedtlib_personalib_install.py
Labels: documentation

#2495 Improve rename design - Add save project option
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: bug, enhancement

#2501 return objects for separate and connect bodies
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: enhancement

#2507 D785924: move get_instance_count to revision
  _unittest/test_26_emit.py
  pyaedt/emit_core/results/revision.py
Labels: bug

#2512 Non model in circle
  _unittest/test_07_Object3D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: enhancement

#2521 Consistent input/output from unit_converter, some EMIT fixes
  _unittest/test_26_emit.py
  pyaedt/application/AnalysisEmit.py
  pyaedt/emit.py
  pyaedt/emit_core/results/revision.py
  pyaedt/generic/constants.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
Labels: bug

#2519 Assign insulating to Faces
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug

#2526 Emit examples require 2023.2 which is not available yet.
  examples/07-EMIT/ComputeChannelSeparation.py.back
  examples/07-EMIT/ComputeProtectionLevels.py.back
Labels: documentation

#2534 Fix beamform_2beams() method to compute far field pattern.
  pyaedt/modules/solutions.py
Labels: enhancement

#2520 doc update
  doc/source/Getting_started/Installation.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#2538 changed default value for machine in solve_in_batch command to localhost
  pyaedt/application/Analysis.py
Labels: bug

#2541 Fix objects_in_bounding_box method which was expecting wrong order bounding box
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler2d.py
  pyaedt/modeler/modeler3d.py
Labels: bug

#2542 Fix matplotlib version
  setup.py
Labels: bug, maintenance

#2543 Cover face feature
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug
