Repository ansys/pyaedt, pull requests merged in 2023-12, with the labels that each got.

#3932 Apply mesh sheets obj segmentation
  _unittest/test_28_Maxwell3D.py
  pyaedt/modeler/modeler3d.py
Labels: enhancement

#3938 Fix netlist issues
  _unittest/example_models/T21/netlist_small.cir
  pyaedt/circuit.py
Labels: bug

#3937 fix doc example in set_coreloss_at_frequency
  pyaedt/modules/Material.py
Labels: bug

#3939 Bug fix refresh padsatck def after layer name changed
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: edb

#3910 added "DecadeCount" "OctaveCount" "ExponentialCount" in parametric sw…
  _unittest/test_11_Setup.py
  pyaedt/modules/DesignXPloration.py
Labels: bug

#3971 add solve setup type siwave DC IR
  _unittest/test_01_3dlayout_edb.py
  pyaedt/modules/SolveSetup.py
Labels: enhancement

#3984 Improve Nissan Leaf example
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
Labels: documentation

#3999 MAINT: update ansys action to v5
  .github/workflows/build_documentation.yml
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#3990 Ipc bom
  pyaedt/edb_core/ipc2581/bom/bom.py
  pyaedt/edb_core/ipc2581/bom/bom_item.py
  pyaedt/edb_core/ipc2581/ipc2581.py
Labels: enhancement, edb

#4002 Layout auto parametrization
  _unittest/test_00_EDB.py
  doc/source/_static/parametrized_design.png
  examples/00-EDB/14_edb_create_parametrized_design.py
  pyaedt/edb.py
Labels: enhancement, edb

#4004 Do not use empty list as default parameter value.
  pyaedt/downloads.py
Labels: maintenance

#3997 core loss example
  _unittest/test_01_GeometryOperators.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_03_Materials.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_16_3d_stackup.py
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest/test_98_Icepak.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  pyaedt/modules/Material.py
Labels: documentation

#3985 Fixed Docstring #3970
  doc/source/API/SetupTemplatesMaxwell.rst
  pyaedt/maxwell.py
Labels: bug

#4013 Feat/4011 3dcomp folder
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/modeler3d.py
Labels: enhancement

#4016 Update the documentation of general methods.
  pyaedt/generic/general_methods.py
Labels: documentation
