Repository ansys/pyaedt, pull requests merged in 2023-01, with the labels that each got.

#2222 Improve examples in components_3d module.
  pyaedt/modeler/cad/components_3d.py
Labels: enhancement

#2226 fix update and delete reports
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#2227 Improve component 3D duplication along line.
  _unittest/test_08_Primitives3D.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: enhancement

#2233 Separate doc upload from generation into 2 stages
  .github/workflows/nightly-docs.yml
Labels: documentation, maintenance

#2230 Add blacken-docs to pre-commit.
  .pre-commit-config.yaml
Labels: maintenance

#2235 Improve contributing section of the documentation.
  doc/source/Contributing.rst
Labels: documentation

#2229 Add check-jsonschema to pre-commit.
  .pre-commit-config.yaml
Labels: maintenance

#2239 Implementing pre-commit.ci
  .github/workflows/style.yml
  README.rst
Labels: documentation, maintenance

#2243 Update Documentation and issues links.
  README.rst
Labels: documentation

#2228 refacto / cleaning examples
  examples/01-Modeling-Setup/Configurations.py
  examples/01-Modeling-Setup/HFSS_CoordinateSystem.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/01-Modeling-Setup/Polyline_Primitives.py
  examples/02-HFSS/Advanced_Far_Field.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/Flex_CPWG.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  examples/02-HFSS3DLayout/EDB_in_3DLayout.py
  examples/02-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/02-HFSS3DLayout/Hfss3DComponent.py
  examples/02-SBR+/SBR_City_Import.py
  examples/02-SBR+/SBR_Doppler_Example.py
  examples/02-SBR+/SBR_Example.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam3.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/03-Maxwell/Maxwell_Magnet.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/07-Circuit/Circuit_AMI.py
  examples/07-Circuit/Circuit_Example.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  examples/07-Circuit/Circuit_Transient.py
  examples/07-Circuit/Create_Netlist.py
  examples/07-Circuit/EMIT_HFSS_Example.py
  examples/07-Circuit/Reports.py
  examples/07-Circuit/Touchstone_Management.py
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  examples/08-CableModeling/01-Cable_Modeling_Workflow.py
  pyaedt/modules/PostProcessor.py
Labels: documentation, enhancement

#2248 Scale geometry feature
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: enhancement

#2261 Fix derivatives method typo
  pyaedt/modules/SolveSetup.py
Labels: bug

#2273 Implemented new methods in EDBPrimitives and new class to manage Primitves Arc Data
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  doc/source/EDBAPI/DataEdb.rst
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: documentation, testing

#2276 Add new feature to assign coating method. User can specify an object or face ID
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug, enhancement

#2249 Refactor icepak to follow Python pep guidelines.
  pyaedt/icepak.py
Labels: enhancement

#2277 Improved batch file.
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/pyaedt_with_IDE.bat
Labels: documentation

#2274 Add numpy validation checks for returned value.
  doc/source/conf.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/circuit.py
  pyaedt/edb.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/layer_data.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/primitives_data.py
  pyaedt/edb_core/hfss.py
  pyaedt/edb_core/layout.py
  pyaedt/edb_core/materials.py
  pyaedt/edb_core/nets.py
  pyaedt/edb_core/padstack.py
  pyaedt/edb_core/siwave.py
  pyaedt/edb_core/stackup.py
  pyaedt/emit.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/geometry_operators.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/Material.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/report_templates.py
Labels: documentation

#2280 Minor doc fixes and simplification of code
  _unittest/conftest.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS3DLayout/EDB_in_3DLayout.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam3.py
  examples/03-Maxwell/Maxwell_Magnet.py
  examples/07-Circuit/Circuit_AMI.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  examples/07-Circuit/Circuit_Transient.py
  examples/07-Circuit/EMIT_Example.py
  examples/07-Circuit/Reports.py
Labels: documentation, testing

#2284 Update stackup documentation.
  pyaedt/edb_core/stackup.py
Labels: documentation

#2282 Fix/d753499 fix pyemit tests
  _unittest/test_26_emit.py
  pyaedt/emit.py
Labels: bug

#2294 Documentation Updates
  examples/01-Modeling-Setup/Configurations.py
  examples/02-HFSS/Machine_learning_applied_to_Patch.py
  pyaedt/generic/design_types.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: documentation

#2283 fixed Readme image directly linked ansys.com website
  README.rst
Labels: documentation

#2299 Improve log message when creating a port on component.
  pyaedt/edb_core/components.py
Labels: enhancement

#2296 Monitor class documentation enhancement
  doc/source/API/Post.rst
  pyaedt/generic/configurations.py
  pyaedt/icepak.py
  pyaedt/modules/monitor_icepak.py
Labels: documentation

#2304 fix revision name to get tests passing
  pyaedt/emit.py
Labels: bug

#2308 assign_stationary_wall documentation update
  pyaedt/icepak.py
Labels: documentation

#2302 Update Primitives3D documentation.
  pyaedt/modeler/cad/Primitives3D.py
Labels: documentation

#2311 Downgrade Sphinx version.
  requirements/requirements_docs.txt
Labels: maintenance, dependencies

#2318 Use https link instead of png images.
  doc/source/Resources/aedt.png
Labels: documentation

#2285 Object history implementation
  _unittest/test_07_Object3D.py
  doc/source/API/Primitive_Objects.rst
  doc/source/conf.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/monitor_icepak.py
Labels: documentation, enhancement

#2320 D758967: add domain validity and change a class name
  _unittest/test_26_emit.py
  pyaedt/emit.py
Labels: bug

#2332 Added Desktop Back Compatibility to v221-
  _unittest/test_00_EDB.py
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  requirements/requirements_test.txt
Labels: dependencies

#2328 Fix add parametric study from csv
  pyaedt/modules/DesignXPloration.py
Labels: bug

#2336 Fix/create report point names
  pyaedt/modules/PostProcessor.py
Labels: bug

#2343 Improve pyaedt batch
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/pyaedt_with_IDE.bat
  doc/source/Resources/toolkits.png
  pyaedt/application/Design.py
  pyaedt/desktop.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/clr_module.py
  pyaedt/generic/general_methods.py
  pyaedt/misc/Console.py_build
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/console_setup
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/solutions.py
  requirements/requirements.txt
  setup.py
Labels: documentation, maintenance, dependencies

#2353 Fix pointing to axis
  pyaedt/application/Variables.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/geometry_operators.py
Labels: bug

#2278 New EMIT Examples
  examples/07-Circuit/Readme.txt
  examples/07-EMIT/ComputeChannelSeparation.py
  examples/07-EMIT/ComputeProtectionLevels.py
  examples/07-EMIT/EMIT_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
  examples/07-EMIT/Readme.txt
Labels: enhancement

#2361 Fixed 1 Unit Tests on 23R1
  _unittest/example_models/T13/Coax_HFSS_v231.jpg
  _unittest/test_13_LoadAEDTFile.py
Labels: bug

#2364 Resolve #2363
  _unittest/test_00_GeometryOperators.py
  pyaedt/modeler/geometry_operators.py
Labels: bug

#2351 Feature/edit external circuit schematic netlist
  _unittest/test_35_MaxwellCircuit.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/schematic.py
Labels: enhancement

#2366 Fix unit_converter bug
  pyaedt/generic/constants.py
Labels: bug

#2362 Improved console to avoid that is locked once exit and release desktop
  doc/source/Resources/pyaedt_with_IDE.bat
  doc/source/Resources/toolkits.png
  examples/07-EMIT/ComputeChannelSeparation.py
  examples/07-EMIT/ComputeProtectionLevels.py
  pyaedt/misc/Console.py_build
  pyaedt/misc/Jupyter.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/console_setup
  pyaedt/misc/jupyter_template.ipynb
Labels: documentation

#2369 Improvements to PyAEDT launcher from AEDT
  doc/source/Resources/pyaedt_with_IDE.bat
  pyaedt/misc/Console.py_build
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt_with_IDE.bat
Labels: documentation

#2373 Update ComputeProtectionLevels.py
  examples/07-EMIT/ComputeProtectionLevels.py
Labels: documentation

#2377 Fix typo about CPython.
  pyaedt/misc/console_setup
Labels: maintenance

#2383 Ugrade isort.
  .pre-commit-config.yaml
Labels: maintenance

#2368 Circuit refactoring
  _unittest/test_21_Circuit.py
  examples/07-Circuit/Circuit_Example.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  pyaedt/circuit.py
  pyaedt/edb.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/schematic.py
Labels: maintenance

#2371 Antenna toolkit
  _unittest/test_44_antenna_toolkit.py
  _unittest_ironpython/test_44_antenna_toolkit.py
  doc/source/API/index.rst
  pyaedt/generic/constants.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler3d.py
  pyaedt/toolkits/__init__.py
  pyaedt/toolkits/antennas/__init__.py
  pyaedt/toolkits/antennas/common.py
  pyaedt/toolkits/antennas/patch.py
Labels: documentation, enhancement

#2379 D771064: fix n-1 testing, remove multi interferer domain creation
  _unittest/test_26_emit.py
  pyaedt/emit.py
Labels: bug

#2393 Improve Antenna documentation.
  pyaedt/toolkits/antennas/common.py
Labels: documentation

#2392 update tests and examples based on circuit refacto
  _unittest/test_21_Circuit.py
  _unittest/test_34_TwinBuilder.py
  _unittest/test_35_MaxwellCircuit.py
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: enhancement

#2386 Update 3DComponent parts
  pyaedt/toolkits/antennas/common.py
Labels: bug

#2395 Allow brd import go use a control file
  .github/workflows/unit_tests.yml
  pyaedt/hfss3dlayout.py
Labels: maintenance

#2397 Update emit example due to new powerAtRx result type
  _unittest/test_26_emit.py
  examples/07-EMIT/ComputeProtectionLevels.py
Labels: bug
