Repository ansys/pyaedt, pull requests merged in 2023-10, with the labels that each got.

#3682 Update Optimetrics.py example
  examples/01-Modeling-Setup/Optimetrics.py
Labels: bug

#3700 DOC: Fix codespell maintenance.
  _unittest/test_14_AedtLogger.py
  pyaedt/application/AEDT_File_Management.py
  pyaedt/application/JobManager.py
  pyaedt/circuit.py
  pyaedt/edb_core/components.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/edb_core/stackup.py
  pyaedt/generic/general_methods.py
  pyaedt/icepak.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/Material.py
  pyaedt/modules/PostProcessor.py
Labels: documentation

#3693 Update interference_gui.py
  examples/07-EMIT/interference_gui.py
Labels: bug

#3703 DOC: Fix typo issue raised by codespell.
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modeler/cad/Modeler.py
Labels: documentation

#3709 added retry to unit tests
  .github/workflows/unit_tests.yml
Labels: maintenance

#3677 Add numpydoc pre-commit.
  .pre-commit-config.yaml
  doc/source/conf.py
  pyaedt/application/Variables.py
  pyaedt/emit_core/results/revision.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/Boundary.py
  pyproject.toml
Labels: documentation, maintenance

#3713 EDB - Load amat material file from Aedt
  _unittest/test_00_EDB.py
  doc/source/Getting_started/Quickcode.rst
  doc/styles/Vocab/ANSYS/accept.txt
  ignore_words.txt
  pyaedt/edb_core/materials.py
  pyaedt/edb_core/stackup.py
Labels: documentation

#3715 Create EMIT_HFSS_Example.py
  examples/07-EMIT/EMIT_HFSS_Example.py
Labels: bug

#3733 Implemented uniform points exports into methods export_report_to_csv and export_report_to_file
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#3735 Fix/issue 3720
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3752 remove toolkit template
  doc/source/Getting_started/Installation.rst
Labels: documentation

#3756 Fix analyze method
  examples/06-Multiphysics/MRI.py
  pyaedt/application/Analysis.py
  pyaedt/misc/pyaedt_local_config.acf
Labels: bug

#3754 remove installation from batch
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/pyaedt_with_IDE.bat
Labels: documentation

#3761 CI: Add edb label to labeler
  .github/labeler.yml
Labels: maintenance

#3762 Fix/issue 3758
  _unittest/test_08_Primitives3D.py
  pyaedt/hfss.py
Labels: bug

#3759 Method to create via fence on both sides of the trace
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: edb

#3738 Fix/issue 3527: Fix for with virtual mesh region 3D components are not getting meshed.
  pyaedt/modules/MeshIcepak.py
Labels: bug

#3768 Fillet chamfer docstring update
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
Labels: documentation

#3722 DOC: force intersphinx to use Python 3.11 docs
  doc/source/conf.py
Labels: documentation

#3772 CI: Add edb label to labels.yml
  .github/labels.yml
Labels: maintenance

#3781 Add component name
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
Labels: bug

#3782 Fix/issue 3260
  _unittest_solvers/test_00_analyze.py
  pyaedt/icepak.py
Labels: bug

#3783 clean create_region method
  pyaedt/modeler/cad/Primitives2D.py
Labels: enhancement

#3786 Improve hfss example
  examples/02-HFSS/HFSS_Spiral.py
Labels: maintenance

#3776 solder ball height bug fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: edb

#3787 Fix/issue 3689
  doc/source/Getting_started/Quickcode.rst
  doc/source/Getting_started/Troubleshooting.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: bug, documentation

#3791 fix object cs duplicate
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3796 Clear error when GetFaceCenter fails
  pyaedt/aedt_logger.py
  pyaedt/modeler/cad/elements3d.py
Labels: bug

#3793 fix wrong default parameter values in SIWAVE setup
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
Labels: edb

#3798 Add GRPC port
  pyaedt/misc/Run_PyAEDT_Script.py_build
  pyaedt/misc/Run_PyAEDT_Toolkit_Script.py_build
Labels: enhancement

#3797 gap port enhancement
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/terminals.py
Labels: edb

#3795 terminal enhancement
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/obj_base.py
  pyaedt/edb_core/edb_data/ports.py
  pyaedt/edb_core/edb_data/terminals.py
  pyaedt/edb_core/siwave.py
Labels: edb

#3801 Now PyAEDT Cutout keeps the path as lines after the cutout
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/dotnet/primitive.py
Labels: edb

#3806 CI: remove potential vale warnings
  .github/workflows/build_documentation.yml
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance

#3819 Fix "split" method in Modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3824 Non linear method private
  pyaedt/modules/Material.py
Labels: bug

#3825 Allow navigation with keys in the documentation.
  doc/source/conf.py
Labels: documentation

#3820 Fix issue 3751
  .github/workflows/unit_tests.yml
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: maintenance, edb

#3813 create port enhancement
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/padstacks_data.py
  pyaedt/edb_core/edb_data/ports.py
  pyaedt/edb_core/edb_data/sources.py
  pyaedt/edb_core/edb_data/terminals.py
Labels: edb
