Repository ansys/pyaedt, pull requests merged in 2023-08, with the labels that each got.

#3345 added Troubleshooting.rst to documentation
  doc/source/Getting_started/Troubleshooting.rst
  doc/source/Getting_started/index.rst
  ignore_words.txt
Labels: documentation

#3354 fixed failing examples
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/04-Icepak/Sherlock_Example.py
  examples/07-EMIT/ComputeChannelSeparation.py
  examples/07-EMIT/ComputeInterferenceType.py
  examples/07-EMIT/interference_gui.py
  examples/07-EMIT/interference_gui.ui
Labels: bug

#3352 Extended net and differential pair
  .github/workflows/build_documentation.yml
  _unittest/test_00_EDB.py
  doc/source/EDBAPI/CoreEdb.rst
  doc/source/EDBAPI/NetsEdb.rst
  doc/source/conf.py
  pyaedt/edb.py
  pyaedt/edb_core/dotnet/database.py
  pyaedt/edb_core/dotnet/layout.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
  pyaedt/edb_core/nets.py
Labels: documentation, maintenance

#3369 fixed support to linux generate_fluent_mesh
  pyaedt/desktop.py
  pyaedt/icepak.py
Labels: bug

#3357 Improve grpc troubleshooting documentation
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Troubleshooting.rst
  doc/source/User_guide/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-EDB/09_Configuration.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  examples/07-EMIT/ComputeChannelSeparation.py
  pyaedt/maxwell.py
Labels: documentation

#3380 Support perfect 'E' and 'H' for sheets with eigenmode.
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: enhancement

#3382 Updated to 6 cores
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_01_GeometryOperators.py
  _unittest/test_01_configuration_files.py
  _unittest/test_01_downloads.py
  _unittest/test_01_toolkit_icons.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_03_Materials.py
  _unittest/test_04_SBR.py
  _unittest/test_05_Mesh.py
  _unittest/test_06_MessageManager.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_11_Setup.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_14_AedtLogger.py
  _unittest/test_15_ibs_reader.py
  _unittest/test_16_3d_stackup.py
  _unittest/test_20_HFSS.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_29_Mechanical.py
  _unittest/test_30_Q2D.py
  _unittest/test_32_RMxprt.py
  _unittest/test_34_TwinBuilder.py
  _unittest/test_35_MaxwellCircuit.py
  _unittest/test_36_Q2D_PostProcessing.py
  _unittest/test_37_Genetic_Algorithm.py
  _unittest/test_43_CableModeling.py
  _unittest/test_44_TouchstoneParser.py
  _unittest_solvers/test_26_emit.py
  _unittest_solvers/test_31_Q3D.py
Labels: maintenance, testing

#3384 Add new touchstone format
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: bug

#3378 refacto heal objects
  .github/workflows/cpython_linux.yml
  _unittest/test_07_Object3D.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest_solvers/example_models/T00/Transient_StrandedWindings.aedt
  _unittest_solvers/test_00_analyze.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Modeler.py
Labels: maintenance

#3387 Net classes enhancement
  _unittest/test_00_EDB.py
  doc/source/EDBAPI/NetsEdb.rst
  pyaedt/edb.py
  pyaedt/edb_core/edb_data/nets_data.py
  pyaedt/edb_core/net_class.py
  pyaedt/edb_core/nets.py
Labels: documentation

#3392 Upgrade sphinxcontrib-websupport.
  pyproject.toml
Labels: maintenance

#3388 disabling examples post
  .github/workflows/cpython_linux.yml
  _unittest/conftest.py
  _unittest/test_00_EDB.py
  _unittest/test_01_downloads.py
  _unittest/test_07_Object3D.py
  _unittest/test_12_PostProcessing.py
  examples/07-EMIT/ComputeProtectionLevels.py
  examples/07-EMIT/EMIT_Example.py
  pyaedt/desktop.py
Labels: bug, maintenance, testing

#3401 Fixed an issue in set_core_loss function
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: enhancement

#3402 Add links for doc and cheat sheets
  README.md
  doc/source/index.rst
Labels: documentation

#3403 Fix typo in README
  README.md
Labels: documentation

#3393 Fix Schematic Data handling for Network Objects
  _unittest/example_models/T98/NetworkTest.aedt
  _unittest/test_98_Icepak.py
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/modules/Boundary.py
Labels: bug

#3399 feat: add new sphinx-theme extension with pyaedt for docs link.
  .github/workflows/label.yml
  README.md
  README_CN.md
  _unittest/example_models/T40/connector.a3dcomp
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  doc/source/conf.py
  doc/source/index.rst
  pyaedt/generic/general_methods.py
  pyproject.toml
Labels: documentation, maintenance, testing

#3396 Fix CreateAedtApplication argtypes for 24.1
  _unittest_solvers/test_26_emit.py
  pyaedt/generic/grpc_plugin_dll.py
Labels: bug

#3405 Update index.rst
  doc/source/index.rst
Labels: documentation

#3420 fix custom res col Icepak
  pyaedt/icepak.py
Labels: bug

#3343 id() is a fundamental build-in. Use PEP8 single trailing underscore convention instead.
  pyaedt/hfss.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#3430 fix get_faces_from_materials
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Modeler.py
Labels: bug

#3428 Virtual mesh region fix
  pyaedt/application/Design.py
  pyaedt/modules/MeshIcepak.py
Labels: bug

#3365 Feat: add meilisearch index actions with version compactible.
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: documentation, enhancement, maintenance

#3440 Fix create ellipse
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug

#3439 fix: typo in the ci-cd dev docs indexing
  .github/workflows/nightly-docs.yml
Labels: bug, maintenance

#3457 All variables in 3DComponent creation by default
  pyaedt/modeler/modeler3d.py
Labels: bug

#3455 Fix idf_import losing active design
  pyaedt/icepak.py
Labels: bug

#3461 implement get_face_by_id
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Modeler.py
Labels: enhancement

#3470 fix : upload EDBAPI artifact while indexing
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: bug, maintenance

#3477 doc: Reinstate the downloads badge
  README.md
Labels: documentation

#3406 Fix/issue 3391
  _unittest/test_03_Materials.py
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
  pyaedt/application/Analysis.py
  pyaedt/modules/Material.py
  pyaedt/modules/MaterialLib.py
Labels: bug

#3497 Fix issue with setting Object Priorities on 2D objects in Icepak
  pyaedt/modules/MeshIcepak.py
Labels: bug

#3502 Fixed Analysis.AvailableVariations.variations method
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Analysis.py
Labels: bug
