Repository ansys/pyaedt, pull requests merged in 2024-01, with the labels that each got.

#4019 Feat/4010 pass primitive features
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: enhancement

#4022 Fix typos in docstring.
  examples/00-EDB/08_CPWG.py
  examples/00-EDB/09_Configuration.py
  examples/00-EDB/14_edb_create_parametrized_design.py
  examples/02-HFSS/Create_3d_Component_and_use_it.py
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/05-Q3D/Q3D_from_EDB.py
  examples/06-Multiphysics/MRI.py
  examples/07-EMIT/ComputeInterferenceType.py
  examples/07-EMIT/interference_gui.py
  examples/07-TwinBuilder/04-Static_ROM_Creation_And_Visualization.py
  pyaedt/dlls/PDFReport/ICSharpCode.SharpZipLib.xml
  pyaedt_with_IDE.bat
Labels: documentation

#4015 fix to read mesh operation and mesh region properly for 2024R1
  pyaedt/modules/MeshIcepak.py
Labels: bug

#4038 Cleanup examples (remove unused imports and fix typos)
  doc/source/conf.py
  examples/00-EDB/01_edb_example.py
  examples/00-EDB/10_GDS_workflow.py
  examples/02-SBR+/SBR_Example.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_from_EDB.py
  examples/07-Circuit/Circuit_Example.py
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  examples/07-TwinBuilder/03-Dynamic_ROM_Creation_And_Visualization.py
Labels: bug

#4035 Path length correction
  _unittest/example_models/TEDB/test_path_length.aedb/edb.def
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: edb

#3989 stackup import enhancement
  _unittest/test_00_Advanced_EDB.py
  _unittest/test_00_EDB.py
  pyaedt/edb_core/materials.py
  pyaedt/edb_core/stackup.py
Labels: edb

#4046 Cutout return polygon extent
  _unittest/test_00_EDB.py
  pyaedt/edb.py
Labels: enhancement, edb

#4028 Improve convert via to 3d
  _unittest/example_models/TEDB/padstacks.aedb/edb.def
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/padstacks_data.py
Labels: enhancement, edb

#4052 Component is top
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: enhancement, edb

#4059 set up Edb from json configure file
  _unittest/example_models/TEDB/edb_cfg_example.json
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/configuration.py
  pyaedt/edb_core/edb_data/component_model.py
  pyaedt/edb_core/edb_data/components_data.py
Labels: enhancement, edb

#4061 Create port on pin name selection adjustment
  pyaedt/edb_core/components.py
  pyaedt/modules/SolveSetup.py
Labels: bug, edb

#4068 DOC: Update ansys-sphinx-theme to fix documentation build
  .github/workflows/build_documentation.yml
  pyproject.toml
Labels: maintenance

#4067 Fix native component loading
  _unittest/example_models/T98/one_native_component.aedt
  _unittest/test_98_Icepak.py
  pyaedt/application/Analysis.py
Labels: bug

#4070 Fix Examples documentation
  doc/source/User_guide/intro.rst
  doc/source/User_guide/pyaedt_file_data/project.rst
  examples/00-EDB/03_5G_antenna_example_parametrics.py
  examples/00-EDB/13_edb_create_component.py
  examples/00-EDB/14_edb_create_parametrized_design.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/Flex_CPWG.py
  pyaedt/desktop.py
Labels: bug

#4069 Add q3d dynamic link component
  _unittest/example_models/T34/Q2D_ArmouredCableExample.aedt
  _unittest/example_models/T34/Q2D_ArmouredCableExample_CopyImport.aedt
  _unittest/example_models/T34/Q3D_DynamicLink.aedt
  _unittest/test_34_TwinBuilder.py
  pyaedt/q3d.py
  pyaedt/twinbuilder.py
Labels: enhancement

#4076 Fix examples
  examples/02-HFSS/Array.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  pyaedt/aedt_logger.py
  pyaedt/desktop.py
Labels: bug

#4071 CI: extend full documentation timeout
  .github/workflows/build_documentation.yml
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
Labels: maintenance

#4000 Q2D cable example
  _unittest/test_34_TwinBuilder.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  pyaedt/twinbuilder.py
Labels: documentation

#4079 Edb config json enhancement
  _unittest/example_models/TEDB/ANSYS-HSD_V1.aedb/edb.def
  _unittest/example_models/TEDB/edb_cfg_dc.json
  _unittest/example_models/TEDB/edb_cfg_syz.json
  _unittest/test_00_EDB.py
  pyaedt/edb_core/configuration.py
  pyaedt/edb_core/edb_data/siwave_simulation_setup_data.py
  pyaedt/edb_core/stackup.py
Labels: enhancement, edb

#4083 component.create() metod rlc values and location bug fix
  _unittest/test_00_EDB.py
  pyaedt/edb_core/components.py
Labels: bug, edb

#4087 CI: fix labeler to match v5 structure
  .github/labeler.yml
Labels: maintenance

#4088 Fix ac example
  examples/00-EDB/15_ac_analysis.py
Labels: bug, edb

#4089 CI: fix full documentation upload step
  .github/workflows/build_documentation.yml
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4091 Update full_documentation.yml
  .github/workflows/full_documentation.yml
Labels: maintenance

#4118 MAINT: fix CI by fixing scipy and scikit-rf versions
  _unittest/test_00_EDB.py
  pyaedt/edb_core/layout.py
  pyproject.toml
Labels: maintenance, edb

#4108 fix q2d cable example
  examples/05-Q3D/Q2D_Armoured_Cable.py
Labels: bug

#4086 remove edb json configuration support
  _unittest/example_models/TEDB/edb_cfg_dc.json
  _unittest/example_models/TEDB/edb_cfg_example.json
  _unittest/example_models/TEDB/edb_cfg_syz.json
  _unittest/test_00_EDB.py
  pyaedt/edb.py
  pyaedt/edb_core/configuration.py
  pyaedt/edb_core/edb_data/component_model.py
  pyaedt/edb_core/edb_data/components_data.py
  pyaedt/edb_core/stackup.py
Labels: edb

#4116 TEST: add test on create polygon
  _unittest/test_00_EDB.py
  pyaedt/edb_core/layout.py
Labels: bug, edb

#4120 doc string fix
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: documentation, edb

#4127 Polygon operations added
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/primitives_data.py
Labels: enhancement, edb

#4139 MAINT: use scikit-rf 0.31.0
  pyproject.toml
Labels: bug, maintenance
