Repository ansys/pyaedt, pull requests merged in 2024-09, with the labels that each got.

#5115 DOCS: Add aedt log file in settings
  doc/source/User_guide/settings.rst
Labels: documentation

#5121 FIX: Update jupyter_template.ipynb
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
Labels: bug

#5127 REFACTOR: removed all OrderedDict
  _unittest/test_27_Maxwell2D.py
  doc/source/conf.py
  examples/04-Icepak/Icepak_CSV_Import.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/farfield_visualization.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/spisim.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/design_xploration.py
  src/ansys/aedt/core/modules/layer_stackup.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_3d_layout.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/optimetrics_templates.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solutions.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/modules/solve_sweeps.py
  src/ansys/aedt/core/q3d.py
Labels: examples, documentation

#5117 REFACTOR: Check if material is a parametric design var
  _unittest/test_02_2D_modeler.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: bug

#4935 FEAT: FilterSolutions export
  .gitignore
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_graph_setup.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
  _unittest/test_45_FilterSolutions/test_lumped_export/test_optimization_goals_table.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_nodes_and_leads.py
  _unittest/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
  examples/08-FilterSolutions/Lumped_Element_Response.py
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/lumped_termination_impedance_table.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
Labels: enhancement, examples

#5138 DOCS: Extensions
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/my_custom_extension.png
  doc/source/Resources/my_custom_extension_1.png
  doc/source/Resources/toolkit_manager_1.png
  doc/source/User_guide/extensions.rst
Labels: documentation

#5131 FIX: Allow scale_min and max to be set if not log scale
  _unittest/test_12_1_PostProcessing.py
  src/ansys/aedt/core/modules/advanced_post_processing.py
Labels: bug

#5122 FEAT: Arbitrary wave port extension
  _unittest_solvers/example_models/T45/waveport.aedb/edb.def
  _unittest_solvers/test_45_workflows.py
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/04-Icepak/Icepak_ECAD_Import.py
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
  src/ansys/aedt/core/workflows/hfss3dlayout/images/large/arbitrary_wave_port.png
  src/ansys/aedt/core/workflows/hfss3dlayout/toolkits_catalog.toml
Labels: examples

#5149 FIX: Create cone with same inner and outer radius
  _unittest/test_08_Primitives3D.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: bug

#5146 DOCS: Improve advanced fields calc doc
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: documentation

#5154 DOCS: Fix pypi landing page
  README.md
Labels: documentation

#5151 FIX: Add missed parameter "pass"
  src/ansys/aedt/core/q3d.py
Labels: bug

#5145 FEAT: Assign two way coupling in Mechanical
  _unittest/test_29_Mechanical.py
  src/ansys/aedt/core/mechanical.py
Labels: bug

#5155 DOCS: add advanced fields calc API
  doc/source/API/Post.rst
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: documentation

#5159 FIX: PyAEDT installer compatible from 2022R2
  _unittest/conftest.py
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_02_3D_modeler.py
  doc/source/Resources/pyaedt_installer_from_aedt.py
  src/ansys/aedt/core/workflows/installer/console_setup.py
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
  src/pyaedt/workflows/installer/pyaedt_installer.py
Labels: bug, testing

#5156 FEAT: Create custom array file (.sarr)
  _unittest/test_04_SBR.py
  src/ansys/aedt/core/hfss.py
Labels: enhancement

#5173 DOCS: Fix pyaedt logo in README.md
  README.md
Labels: bug, documentation

#5163 FEAT: Set export touchstone in HFSS
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
Labels: enhancement

#5181 CHORE: Temporary removal of pyedb 0.28.0
  pyproject.toml
Labels: maintenance

#5183 FEAT: Close desktop at exit
  src/ansys/aedt/core/desktop.py
Labels: enhancement

#5177 DOCS: Python version deprecation breaking change
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

#5192 CI: Schedule dependabot on saturday
  .github/dependabot.yml
Labels: maintenance

#5198 DOCS: pyaedt compatibility requirements
  README.md
Labels: enhancement, documentation

#5167 FIX: import_dxf q3d
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/q3d.py
Labels: bug

#5165 FEAT: calculator_write implementation
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/modules/fields_calculator.py
Labels: enhancement

#5200 FIX: Swap object rename order
  src/ansys/aedt/core/modeler/cad/object_3d.py
Labels: bug

#5214 FIX: Wrong call to logging atexit
  src/ansys/aedt/core/desktop.py
Labels: bug

#5211 FIX: make more robust material read when binary info are stored.
  src/ansys/aedt/core/modules/material_lib.py
Labels: bug

#5203 CI: Avoid using self-hosted runners in drafts
  .github/workflows/ci_cd.yml
  .github/workflows/manual_draft.yml
Labels: maintenance

#5219 FIX: Examples repo compatibility
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/advanced_cad/parts.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/eye.py
Labels: bug, examples
