Repository ansys/pyaedt, pull requests merged in 2024-06, with the labels that each got.

#4751 FEAT: Create rings on cone shape
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/modeler3d.py
Labels: enhancement

#4756 FEAT: Auto Identify Net only if conductor exist
  _unittest_solvers/test_31_Q3D.py
  doc/source/Getting_started/ClientServer.rst
  pyaedt/q3d.py
Labels: enhancement

#4760 FEAT: Increment retries of ERL in unittests
  codecov.yml
  pyaedt/generic/spisim.py
Labels: enhancement

#4672 REFACTOR: kwargs
  _unittest/test_02_2D_modeler.py
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  examples/01-Modeling-Setup/Configurations.py
  examples/02-HFSS/Create_3d_Component_and_use_it.py
  examples/02-HFSS/HFSS_Choke.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-SBR+/SBR_Doppler_Example.py
  examples/02-SBR+/SBR_Example.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/03-Maxwell/Maxwell_Magnet.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_Example.py
  examples/05-Q3D/Q3D_from_EDB.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  examples/07-Circuit/Circuit_Transient.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/aedt_logger.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/application/analysis_hf.py
  pyaedt/generic/DataHandlers.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/pdf.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/CableModeling.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
  pyaedt/q3d.py
Labels: examples

#4763 FEAT: Added chamfers and fillet methods to Object3d
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_14_AedtLogger.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/object3d.py
Labels: enhancement

#4767 FIX: LSF
  pyaedt/desktop.py
  pyaedt/generic/settings.py
Labels: bug

#4784 FIX: metadata in pyproject.toml
  pyproject.toml
Labels: bug, maintenance

#4795 FEAT: Allow add specific variation list to export_results
  pyaedt/application/Analysis.py
Labels: bug

#4794 FEAT: Check License feature
  pyaedt/generic/general_methods.py
Labels: enhancement

#4776 REFACTOR: kargs
  _unittest/test_01_Design.py
  _unittest/test_01_configuration_files.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_VariableManager.py
  _unittest/test_20_HFSS.py
  _unittest/test_30_Q2D.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_31_Q3D.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  examples/04-Icepak/Sherlock_Example.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  examples/07-Circuit/Circuit_Subcircuit_Example.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/circuit.py
  pyaedt/generic/configurations.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/modeler/advanced_cad/actors.py
  pyaedt/modeler/advanced_cad/multiparts.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/geometry_operators.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/SolveSetup.py
  pyaedt/twinbuilder.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
Labels: examples

#4803 FEAT: Sort flag in dataset
  _unittest/test_01_Design.py
  pyaedt/application/Analysis.py
  pyaedt/application/Design.py
  pyaedt/application/Variables.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#4804 FIX: desktop non graphical flag
  doc/source/create_documentation.bat
  examples/01-Modeling-Setup/Optimetrics.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/grpc_plugin_dll_class.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#4812 FIX: Project classifier to be PyPI compatible
  pyproject.toml
Labels: bug, maintenance

#4817 FIX: desktop non graphical in multidesktop session
  pyaedt/application/Design.py
  pyaedt/desktop.py
Labels: bug

#4827 FIX: Circuit argument deprecation miss
  pyaedt/circuit.py
Labels: bug

#4762 CHORE: Added support to Python 3.12
  .github/workflows/ci_cd.yml
  _unittest/test_04_SBR.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_26_emit.py
  pyaedt/desktop.py
  pyaedt/emit_core/__init__.py
  pyaedt/generic/filesystem.py
  pyaedt/generic/plot.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/solutions.py
  pyproject.toml
Labels: maintenance

#4829 CI: Fix nightly build missing env var
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4826 FIX: Template file when not custom script is specified
  pyaedt/workflows/installer/extension_manager.py
Labels: bug

#4832 FIX: HFSS argument deprecation miss
  pyaedt/hfss.py
Labels: bug

#4810 FEAT: reduced matrix create_report
  _unittest/test_28_Maxwell3D.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: enhancement

#4819 FIX: global mesh region edit
  pyaedt/modules/MeshIcepak.py
Labels: bug

#4813 FEAT: e field tangential m2d
  _unittest_solvers/example_models/T45/m2d_elec_fields_calc.aedtz
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/expression_catalog.toml
Labels: enhancement

#4834 CHORE: Fix TOML Topic
  pyproject.toml
Labels: bug, maintenance

#4835 CI: Temporary remove assets
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
Labels: maintenance, documentation

#4836 FEAT: stress tensor maxwell
  _unittest_solvers/example_models/T45/m2d_elec_fields_calc.aedtz
  _unittest_solvers/example_models/T45/maxwell_fields_calculator.aedtz
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/expression_catalog.toml
  pyaedt/modules/fields_calculator.py
Labels: enhancement

#4833 REFACTOR: Rpyc services
  pyaedt/misc/misc.py
  pyaedt/rpc/rpyc_services.py
  pyproject.toml
Labels: maintenance

#4839 FIX: context maxwell
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  pyaedt/generic/plot.py
  pyaedt/modules/PostProcessor.py
Labels: bug, examples

#4850 DOCS: Add extensions documentation
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkits_ribbon.png
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/import_nastran_ui.png
  doc/source/User_guide/pyaedt_extensions_doc/project.rst
  doc/source/create_documentation.bat
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation
