Repository ansys/pyaedt, pull requests merged in 2024-07, with the labels that each got.

#4863 DOCS: Fix title to follow google headings
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance, documentation

#4868 FIX: Design save project mkdir
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: bug

#4867 REFACTOR: Angle property getter in aedt 2023.2 and below is broken in GRPC and has to be bypassed.
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: bug

#4870 FIX: AEDT port value in create_session
  pyaedt/common_rpc.py
Labels: bug

#4884 DOCS: Added visualization to documentation
  doc/source/API/Post.rst
  doc/source/API/Visualization.rst
  doc/source/API/index.rst
  pyaedt/generic/plot.py
  pyaedt/generic/touchstone_parser.py
  pyproject.toml
Labels: maintenance

#4881 FIX: Vale usage and its integration in CICD
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  _unittest/test_01_configuration_files.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_98_Icepak.py
  doc/.vale.ini
  doc/source/User_guide/pyaedt_extensions_doc/commandline.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/styles/.gitignore
  doc/styles/Google/AMPM.yml
  doc/styles/Google/Acronyms.yml
  doc/styles/Google/Colons.yml
  doc/styles/Google/Contractions.yml
  doc/styles/Google/DateFormat.yml
  doc/styles/Google/Ellipses.yml
  doc/styles/Google/EmDash.yml
  doc/styles/Google/EnDash.yml
  doc/styles/Google/Exclamation.yml
  doc/styles/Google/FirstPerson.yml
  doc/styles/Google/Gender.yml
  doc/styles/Google/GenderBias.yml
  doc/styles/Google/HeadingPunctuation.yml
  doc/styles/Google/Headings.yml
  doc/styles/Google/Latin.yml
  doc/styles/Google/LyHyphens.yml
  doc/styles/Google/OptionalPlurals.yml
  doc/styles/Google/Ordinal.yml
  doc/styles/Google/OxfordComma.yml
  doc/styles/Google/Parens.yml
  doc/styles/Google/Passive.yml
  doc/styles/Google/Periods.yml
  doc/styles/Google/Quotes.yml
  doc/styles/Google/Ranges.yml
  doc/styles/Google/Semicolons.yml
  doc/styles/Google/Slang.yml
  doc/styles/Google/Spacing.yml
  doc/styles/Google/Spelling.yml
  doc/styles/Google/Units.yml
  doc/styles/Google/We.yml
  doc/styles/Google/Will.yml
  doc/styles/Google/WordList.yml
  doc/styles/Google/meta.json
  doc/styles/Vocab/ANSYS/reject.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  pyaedt/modules/Boundary.py
  pyaedt/workflows/installer/console_setup.py
  pyaedt/workflows/misc.py
Labels: maintenance

#4885 DOCS: Fix Docstring and Examples for stackup_3d loc advanced_cad
  pyaedt/modeler/advanced_cad/stackup_3d.py
Labels: documentation

#4874 REFACTOR: added missing images
  doc/source/API/Visualization.rst
  doc/source/_static/extensions/configure_edb.png
  doc/source/_static/extensions/configure_edb_way_of_work.png
  examples/07-Circuit/Reports.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/workflows/project/create_report.py
Labels: examples

#4898 FIX: replaced argument output_dir with output_file for method export_field_file
  _unittest/test_27_Maxwell2D.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#4903 FEAT: `clear_linked_data` method to Icepak
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/icepak.py
Labels: enhancement

#4908 FEAT: set thermal modifier and spatial modifier to None
  _unittest/test_03_Materials.py
  pyaedt/modules/Material.py
Labels: enhancement

#4905 BUILD: Remove imageio from requirements
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyaedt/workflows/templates/jupyter.py_build
  pyaedt/workflows/templates/pyaedt_console.py_build
  pyaedt/workflows/templates/pyaedt_utils.py
  pyaedt/workflows/templates/run_extension_manager.py_build
  pyaedt/workflows/templates/run_pyaedt_script.py_build
  pyaedt/workflows/templates/run_pyaedt_toolkit_script.py_build
  pyaedt/workflows/templates/run_pyedb_toolkit_script.py_build
  pyproject.toml
Labels: bug, maintenance

#4912 FIX: plotter show exiting plotting session
  pyaedt/generic/plot.py
  pyaedt/modules/solutions.py
  pyaedt/sbrplus/plot.py
Labels: bug

#4906 BUILD: Update version of pyvista
  .github/workflows/ci_cd.yml
  _unittest/test_04_SBR.py
  _unittest/test_12_PostProcessing.py
  pyproject.toml
Labels: maintenance

#4914 DOCS: Adding Circuit-HFSS-Icepak coupling example
  examples/06-Multiphysics/Circuit-HFSS-Icepak-coupling.py
Labels: examples, documentation

#4913 FIX: Export configuration and AEDT crash
  _unittest/test_01_Design.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_98_Icepak.py
  doc/source/_static/extensions/edb_config_setup.png
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/generic/configurations.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/monitor_icepak.py
  pyproject.toml
Labels: bug, maintenance

#4923 FIX: read mesh settings
  pyaedt/modules/MeshIcepak.py
Labels: bug

#4926 FIX: Object field summary method
  pyaedt/modules/AdvancedPostProcessing.py
Labels: bug

#4932 FIX: flatten_3d_components variable handling
  pyaedt/application/Analysis3D.py
Labels: bug

#4937 FEAT: Added new method for creating ibis circuit schematic starting from a list of pins in the schematic
  _unittest/test_21_Circuit.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/circuit.py
  pyaedt/generic/ibis_reader.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/schematic.py
Labels: enhancement, examples

#4929 REFACTOR: Refacto args
  _unittest/test_02_3D_modeler.py
  _unittest/test_07_Object3D.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_09_Primitives2D.py
  _unittest/test_11_Setup.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_98_Icepak.py
  examples/01-Modeling-Setup/Optimetrics.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/solutions.py
  pyaedt/workflows/project/kernel_converter.py
Labels: maintenance, examples

#4948 FEAT: Improved rmxprt robustness
  _unittest/example_models/T32/assm_test.aedt
  _unittest/test_32_RMxprt.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/application/Analysis.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/Design.py
  pyaedt/rmxprt.py
Labels: bug, examples

#4951 FEAT: added import and export method to Rmxprt class
  _unittest/test_32_RMxprt.py
  _unittest_solvers/example_models/T00/assm_test.aedt
  _unittest_solvers/test_00_analyze.py
  examples/03-Maxwell/RMxprt.py
  pyaedt/rmxprt.py
Labels: examples

#4952 FIX: added check in desktop_release
  pyaedt/desktop.py
Labels: bug

#4956 FEAT: Change symbol pin
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: enhancement

#4959 FEAT: Minimum magnetic field position
  pyaedt/misc/expression_catalog.toml
Labels: enhancement

#4957 FEAT: Symbolic link removed it
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: enhancement

#4961 FIX: properties in rmxprt.py to make it back compatible with 23R2.
  pyaedt/modeler/cad/elements3d.py
  pyaedt/rmxprt.py
Labels: bug

#4968 FEAT: Add missed option in ExportToFile
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#4971 FIX: Sweep type not setted up at creation
  pyaedt/hfss3dlayout.py
Labels: bug

#4977 FIX: Pyvista not included in doc-no-examples dependencies
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Dipole.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyaedt/q3d.py
  pyaedt/sbrplus/hdm_parser.py
  pyaedt/sbrplus/plot.py
  pyproject.toml
Labels: maintenance, examples, documentation
