Repository ansys/pyaedt, pull requests merged in 2024-02, with the labels that each got.

#4166 Update readme and broken links
  .pre-commit-config.yaml
  README.md
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/index.rst
  doc/source/User_guide/index.rst
Labels: bug, documentation

#4174 issue_4170_bug_resolution
  pyaedt/modules/Material.py
Labels: bug

#4172 test design types and boundaries
  _unittest/test_27_Maxwell2D.py
  pyaedt/application/Design.py
Labels: bug

#4175 fix boundary delete
  pyaedt/modules/Boundary.py
Labels: bug

#4182 Fix Icepak examples
  examples/04-Icepak/Icepak_3DComponents_Example.py
  examples/04-Icepak/Icepak_CSV_Import.py
  examples/04-Icepak/Icepak_ECAD_Import.py
Labels: bug

#4146 added method to AnsysReport to retrieve design Info
  _unittest/test_12_PostProcessing.py
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/edb_core/stackup.py
  pyaedt/emit.py
  pyaedt/generic/design_types.py
  pyaedt/generic/pdf.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/maxwellcircuit.py
  pyaedt/mechanical.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
  pyaedt/twinbuilder.py
Labels: edb

#4181 DOC: Update documentation
  .pre-commit-config.yaml
  doc/source/Getting_started/Contributing.rst
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/index.rst
  doc/source/User_guide/index.rst
  doc/source/_static/custom.css
  doc/source/index.rst
Labels: bug, documentation

#4168 remove illegal character from variable name before variable creation
  pyaedt/edb.py
Labels: edb

#4191 Fix create fieldplot surface
  _unittest/test_12_1_PostProcessing.py
  examples/03-Maxwell/Maxwell2D_NissanLeaf.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#4189 Add toml support
  _unittest/example_models/report_json/EyeDiagram_Report.toml
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_43_CableModeling.py
  _unittest_solvers/test_00_analyze.py
  examples/01-Modeling-Setup/Configurations.py
  examples/02-HFSS/Array.py
  examples/07-Circuit/Reports.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/generic/DataHandlers.py
  pyaedt/generic/compliance.py
  pyaedt/generic/configurations.py
  pyaedt/generic/general_methods.py
  pyaedt/hfss.py
  pyaedt/maxwell.py
  pyaedt/modeler/advanced_cad/actors.py
  pyaedt/modeler/advanced_cad/multiparts.py
  pyaedt/modules/CableModeling.py
  pyaedt/modules/MaterialLib.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
  pyproject.toml
Labels: maintenance

#4207 fix delete single pin rlc
  pyaedt/edb_core/components.py
Labels: bug, edb

#4211 CI: track changes in examples
  .github/labeler.yml
  .github/labels.yml
Labels: maintenance

#4206 Add tdr report
  _unittest/test_12_PostProcessing.py
  _unittest_solvers/example_models/T01/compliance/general_compliance_template.json
  pyaedt/edb.py
  pyaedt/generic/compliance.py
  pyaedt/generic/pdf.py
  pyaedt/modules/report_templates.py
Labels: edb

#4229 Maxwell impedance BC can now be assigned to faces as well, improved docstring
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug

#4233 New feature from 24.1 - via_mesh_plating
  _unittest/test_00_EDB.py
  pyaedt/edb_core/edb_data/hfss_simulation_setup_data.py
Labels: testing, edb

#4241 export_to_3d_design_with_via_hole
  pyaedt/edb.py
Labels: edb

#4235 fix freq sweep and deprecate q3d method
  _unittest_solvers/test_31_Q3D.py
  pyaedt/modules/SolveSetup.py
  pyaedt/q3d.py
Labels: bug

#4231 set solve_inside to False for pec, added a unit test
  _unittest/test_28_Maxwell3D.py
  pyaedt/application/Analysis3D.py
Labels: bug

#4263 Design dataset 'delete' function fixed
  _unittest/test_01_Design.py
  pyaedt/application/Variables.py
Labels: bug

#4267 change button text cir comp
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: maintenance

#4262 Update MIT license URL.
  README.md
  README_CN.md
Labels: documentation

#4275 Remove WPF method in PyAEDT
  pyaedt/generic/toolkit.py
  pyaedt/generic/wpf_template.xaml
Labels: bug

#4277 Refactored IcepakPostProcessor to include advanced features with pyvista and numpy
  pyaedt/application/Analysis3D.py
  pyaedt/icepak.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#4280 CI: Fix documentation workflow
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/full_documentation.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4281 MAINT: Depecrate python version 3.7
  _unittest/test_warnings.py
  pyaedt/__init__.py
Labels: maintenance

#4285 CI: Update workflows runs-on
  .github/workflows/full_documentation.yml
  .github/workflows/ironpython.yml
  .github/workflows/unit_tests.yml
  .github/workflows/unit_tests_solvers.bkp
Labels: maintenance

#4290 Add custom LSF
  pyaedt/desktop.py
  pyaedt/generic/settings.py
Labels: bug

#4221 refacto examples
  _unittest/test_12_1_PostProcessing.py
  _unittest_solvers/test_00_analyze.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/03-Maxwell/Maxwell3D_Segmentation.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/03-Maxwell/Maxwell_Magnet.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_Example.py
  examples/05-Q3D/Q3D_from_EDB.py
  examples/06-Multiphysics/MRI.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/PostProcessor.py
Labels: examples

#4056 Feat/issue 4053
  _unittest/example_models/T08/cylinder_geometry_creation.csv
  _unittest/example_models/T08/cylinder_geometry_creation_missing_values.csv
  _unittest/example_models/T08/cylinder_geometry_creation_wrong_keys.csv
  _unittest/example_models/T08/primitives_file.json
  _unittest/example_models/T08/prism_geometry_creation.csv
  _unittest/example_models/T08/prism_geometry_creation_missing_values.csv
  _unittest/example_models/T08/prism_geometry_creation_wrong_keys.csv
  _unittest/test_08_Primitives3D.py
  doc/source/Resources/primitive_example.json
  doc/source/User_guide/pyaedt_file_data/primitives.rst
  pyaedt/generic/configurations.py
  pyaedt/modeler/cad/Primitives.py
Labels: enhancement

#4279 New dev version
  codecov.yml
  pyaedt/__init__.py
  pyaedt/generic/design_types.py
  pyaedt/generic/process.py
  pyaedt/siwave.py
  pyproject.toml
Labels: maintenance

#4298 Add lazy load flag
  _unittest/test_launch_desktop.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3D.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisMaxwellCircuit.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisRMxprt.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/generic/settings.py
Labels: enhancement
