Repository ansys/pyaedt, pull requests merged in 2024-08, with the labels that each got.

#4976 FEAT: implemented new method get_all_report_quantities
  _unittest/test_12_1_PostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#4978 FIX: GeometryModeler.create_air_region()
  _unittest/test_02_3D_modeler.py
  pyaedt/modeler/cad/Primitives.py
Labels: bug

#4984 DOCS: pyvista issue in Array example
  _unittest/test_12_PostProcessing.py
  _unittest/test_46_FarField.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  examples/02-HFSS/Array.py
  examples/04-Icepak/Icepak_3DComponents_Example.py
  pyaedt/generic/farfield_visualization.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modeler/modeler3d.py
  pyaedt/sbrplus/plot.py
Labels: examples, documentation

#4998 FEAT: Add expression as a dict [Fields calculator]
  _unittest_solvers/test_45_workflows.py
  pyaedt/misc/fields_calculator.schema.json
  pyaedt/modules/fields_calculator.py
Labels: enhancement

#5005 FEAT: Add input_dir to License Feature method
  pyaedt/generic/general_methods.py
Labels: bug

#5015 FIX: Set emissivity value in surface material
  _unittest/test_98_Icepak.py
  pyaedt/modules/MaterialLib.py
Labels: bug

#5017 CI: Update dependabot configuration
  .github/dependabot.yml
Labels: maintenance

#5018 FIX: Set default GPUs to 0
  pyaedt/application/Analysis.py
  pyaedt/misc/pyaedt_local_config.acf
Labels: bug

#4843 DOCS: Add v1.0 expected breaking changes
  doc/source/index.rst
  doc/source/release_1_0.rst
Labels: documentation

#4759 CHORE: Deprecate python 3 7
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/ci_cd.yml
  README.md
  README_CN.md
  doc/source/Getting_started/ClientServer.rst
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
Labels: maintenance, documentation

#5010 FIX: Separation of faces and objects in assign voltage method
  _unittest/test_28_Maxwell3D.py
  pyaedt/maxwell.py
Labels: bug

#5024 FEAT: Get available number of increments
  pyaedt/generic/general_methods.py
Labels: enhancement

#5027 DOCS: Temporary comment analyze part in example
  examples/04-Icepak/Sherlock_Example.py
Labels: examples, documentation

#5032 FIX: Linux licenseclient path
  doc/source/User_guide/postprocessing.rst
  pyaedt/generic/general_methods.py
Labels: bug

#5006 FIX: Using excitation type "winding" instead of "winding group"
  _unittest/test_27_Maxwell2D.py
  pyaedt/maxwell.py
  pyaedt/modules/Boundary.py
Labels: bug

#5038 FEAT: Create equationbased surface
  _unittest/test_08_Primitives3D.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: enhancement

#5057 DOCS: Fix blocking doc-build warnings
  doc/source/release_1_0.rst
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
Labels: documentation

#5051 FEAT: Plane wave
  _unittest/test_20_HFSS.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/boundary.py
Labels: enhancement

#5044 FEAT: Assign floating excitation for m2d and m3d
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/boundary.py
Labels: enhancement

#4864 REFACTOR: PCB Component
  _unittest/test_98_Icepak.py
  doc/source/API/Boundaries.rst
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modules/boundary.py
Labels: enhancement

#5069 FIX: PyEDB Path class name refactor
  src/ansys/aedt/core/modules/solve_setup.py
Labels: bug

#5074 CHORE: Update pyedb dependency
  pyproject.toml
Labels: maintenance

#5073 TEST: Fix alias deprecation warning
  _unittest/test_warnings.py
  src/ansys/aedt/core/__init__.py
  src/pyaedt/__init__.py
Labels: testing

#5063 CHORE: Update v0.11.dev0
  doc/source/release_1_0.rst
  src/ansys/aedt/core/__init__.py
Labels: documentation

#5041 FEAT: add mesh skin depth for maxwell 2d
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  src/ansys/aedt/core/modules/mesh.py
Labels: enhancement

#5054 FEAT: Unite option in export Q3D and HFSS
  _unittest/test_41_3dlayout_modeler.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: bug

#5081 CI: Fix deploy stable docs index
  .github/workflows/ci_cd.yml
Labels: maintenance, testing

#5084 CHORE: Import tomllib from python 3.12
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
Labels: bug, maintenance

#5086 FIX: h3d plot dc field
  src/ansys/aedt/core/modules/post_processor.py
Labels: bug

#5090 FIX: Solve setup in optimetrics
  _unittest_solvers/test_00_analyze.py
  src/ansys/aedt/core/application/analysis.py
Labels: bug

#5089 DOCS: Use new ansys-sphinx-theme
  doc/source/conf.py
  pyproject.toml
Labels: maintenance, documentation

#5092 REFACTOR: Settings from YAML configuration file
  _unittest/test_utils.py
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/settings.py
Labels: maintenance

#5098 FIX: Cast GetChildNames("Groups") to list
  _unittest/example_models/T12/template.rpt
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modules/post_processor.py
  src/ansys/aedt/core/modules/report_templates.py
Labels: bug

#5045 FEAT: Q3D mutual coupling
  _unittest_solvers/example_models/T31/coupling.aedtz
  _unittest_solvers/test_31_Q3D.py
  src/ansys/aedt/core/q3d.py
Labels: enhancement

#5102 FEAT: CreateReportFromTemplate inside create_report_from_configuration
  _unittest/test_12_PostProcessing.py
  src/ansys/aedt/core/modules/post_processor.py
Labels: enhancement

#5103 FEAT: Add paste option
  src/ansys/aedt/core/modules/post_processor.py
Labels: enhancement

#5105 DOCS: Add missing settings section
  doc/source/User_guide/index.rst
Labels: documentation

#5108 DOCS: Fix release_1_0.rst
  doc/source/release_1_0.rst
Labels: bug, documentation
