Repository ansys/pyaedt, pull requests merged in 2024-10, with the labels that each got.

#5218 FEAT: LOG messages
  examples/04-Icepak/Icepak_ECAD_Import.py
  src/ansys/aedt/core/aedt_logger.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/grpc_plugin_dll_class.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
Labels: examples

#5229 FIX: Remove unused lines
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
Labels: bug

#5224 CI: Trigger workflow on ready for review event
  .github/workflows/ci_cd.yml
Labels: maintenance

#5230 FIX: Get variables with "sweep" enabled
  _unittest/test_09_VariableManager.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5237 FEAT: New class to create Virtual Compliance file from existing reports configuration files.
  _unittest_solvers/test_01_pdf.py
  doc/source/API/visualization/post.rst
  examples/07-Circuit/Virtual_Compliance.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/eye.py
  src/ansys/aedt/core/visualization/report/standard.py
Labels: examples

#5233 FIX: Defining Modelithics attributes change
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: bug

#5245 FEAT: Add SML component in Twin Builder
  _unittest/example_models/T34/Thermal_ROM_SML.sml
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
Labels: enhancement

#5247 REFACTOR: Populate pyvista Plotter with initial data, enabling further customization before rendering
  src/ansys/aedt/core/visualization/plot/pyvista.py
Labels: enhancement

#5260 CI: Upgrade artifact actions
  .github/workflows/ci_cd.yml
Labels: maintenance

#5266 FIX: Trap topology condition update for multiband filters
  _unittest/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  _unittest/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  src/ansys/aedt/core/filtersolutions_core/multiple_bands_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
Labels: bug

#5264 FIX: Case where only a prerelease is installed on system
  src/ansys/aedt/core/desktop.py
Labels: bug

#5265 FEAT: add twinbuilder apis
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modeler/circuits/primitives_twin_builder.py
  src/ansys/aedt/core/twinbuilder.py
Labels: enhancement

#5268 CI: Update artifact action on every workflows
  .github/workflows/manual_draft.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#5262 REFACTOR: Renaming filter into filter_order
  _unittest/test_45_FilterSolutions/test_filter/test_attributes.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
Labels: bug

#5270 FIX: FilterSolutions unittest typo update
  _unittest/test_45_FilterSolutions/test_lumped_export/test_export_to_aedt.py
Labels: bug

#5274 FIX: Remove confusing/erroneous info message
  src/ansys/aedt/core/modules/material_lib.py
Labels: bug

#5279 CI: Fix conflict in artifact action version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
Labels: maintenance

#5271 FEAT: method to add notes on design
  _unittest/test_01_Design.py
  src/ansys/aedt/core/application/design.py
Labels: enhancement

#5275 FIX: Select "user specified settings" setting more reliably
  src/ansys/aedt/core/modules/mesh_icepak.py
Labels: bug

#5288 DOCS: Add disclaimer to pyaedt installer
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: documentation

#5290 FIX: Remove Konsole from the terminal list
  src/ansys/aedt/core/workflows/templates/pyaedt_utils.py
Labels: bug

#5293 DOCS: Add steps to install toolkit
  doc/source/Getting_started/Installation.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#5276 FIX: FilterSolutions graph min and max not working
  _unittest/test_45_FilterSolutions/test_filter/test_dll_interface.py
  _unittest/test_45_FilterSolutions/test_filter/test_ideal_response.py
  src/ansys/aedt/core/filtersolutions_core/dll_interface.py
  src/ansys/aedt/core/filtersolutions_core/ideal_response.py
Labels: bug

#5299 FIX: Field plot
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5303 CI: Bump doc-style action version
  .github/workflows/ci_cd.yml
Labels: maintenance

#5305 DOCS: Fix user guide circuit example
  doc/source/User_guide/intro.rst
Labels: bug

#5301 CHORE: Improve pre-commit PR title
  .pre-commit-config.yaml
Labels: maintenance

#5297 FEAT: New class ReportPlotter to handle all matplotlib plot
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_46_FarField.py
  doc/source/API/visualization/plot.rst
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/solution_data.py
Labels: enhancement

#5312 FIX: Replace a function from wrong position
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: bug

#5311 FIX: cutout extension
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
Labels: bug

#5315 CI: Bump ansys actions version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/Makefile
  doc/source/conf.py
Labels: maintenance, documentation

#5321 FIX: typo in output_dir argument of method hfss\validate_full_design
  src/ansys/aedt/core/hfss.py
Labels: bug

#5333 FIX: Typo correction
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
Labels: bug

#5298 FEAT: calculator export
  _unittest_solvers/test_45_workflows.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
Labels: enhancement

#5330 FIX: Eigenmode Edit source
  _unittest/example_models/T20/source_eigen.csv
  _unittest/test_20_HFSS.py
  _unittest/test_41_3dlayout_modeler.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/workflows/hfss/push_excitation_from_file.py
  src/ansys/aedt/core/workflows/hfss3dlayout/push_excitation_from_file_3dl.py
Labels: bug

#5337 CHORE: Improve code coverage
  _unittest/test_02_3D_modeler.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: testing

#5323 FEAT: Add Twinbuilder excitation comp - 2025.1
  _unittest/example_models/T34/Q2D_ArmouredCableExample_CopyImport.aedt
  _unittest/example_models/T34/TB_excitation_model.aedt
  _unittest/test_34_TwinBuilder.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/twinbuilder.py
Labels: enhancement

#5300 FIX: Fix hardcoded APPDATA in extension manager
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkit_installer_from_aedt.py
  src/ansys/aedt/core/workflows/installer/extension_manager.py
Labels: bug

#5346 FIX: Wrong import in touchstone parser
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
Labels: bug

#5343 CI: Remove needs from manual_draft workflow
  .github/workflows/manual_draft.yml
Labels: maintenance

#5348 CI: Remove needs to doc-build
  .github/workflows/nightly-docs.yml
Labels: maintenance

#5357 FIX: Remove f-string from IronPython script
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: bug

#5361 FEAT: Add disclaimer to the extension manager
  src/ansys/aedt/core/workflows/installer/extension_manager.py
  src/ansys/aedt/core/workflows/templates/run_pyaedt_toolkit_script.py_build
  src/pyaedt/workflows/templates/run_pyaedt_toolkit_script.py_build
Labels: enhancement

#5341 DOCS: improving documentation of add mesh link
  src/ansys/aedt/core/modules/solve_setup.py
Labels: documentation
