Repository ansys/pyaedt, pull requests merged in 2024-04, with the labels that each got.

#4425 Various maintainability fixes.
  examples/03-Maxwell/Maxwell_Control_Program.py
  examples/07-Circuit/Circuit_Transient.py
  examples/07-EMIT/interference_gui.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug, examples

#4439 Change deprecated attibute
  pyaedt/modules/solutions.py
Labels: bug

#4437 Fix/issue 4427
  pyaedt/generic/configurations.py
Labels: bug

#4445 remove __import__
  pyaedt/desktop.py
  pyaedt/generic/configurations.py
Labels: bug

#4449 Fix/examples bug
  examples/02-HFSS/Probe_Fed_Patch.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
Labels: bug, examples

#4446 Add multiple faces option to impedance boundary
  _unittest/test_20_HFSS.py
  pyaedt/hfss.py
Labels: bug

#4455 Add name in create sbr antenna method
  _unittest/test_04_SBR.py
  pyaedt/hfss.py
Labels: enhancement

#4278 Add parameter transparency to material appearance - issue 4252
  _unittest/test_03_Materials.py
  examples/02-HFSS/HFSS_Choke.py
  pyaedt/modules/Material.py
Labels: enhancement, examples

#4461 Fix Create region method
  examples/02-HFSS/Probe_Fed_Patch.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: bug, examples

#4410 Post-processing refactoring
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  _unittest/test_98_Icepak.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_01_pdf.py
  doc/source/API/Post.rst
  doc/source/User_guide/postprocessing.rst
  examples/01-HFSS3DLayout/HFSS3DLayout_Via.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_Dipole.py
  examples/02-HFSS/HFSS_FSS_unitcell.py
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/02-SBR+/SBR_Example.py
  examples/02-SBR+/SBR_Time_Plot.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell2D_Transient.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Sherlock_Example.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_DC_IR.py
  examples/05-Q3D/Q3D_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/06-Multiphysics/MRI.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  examples/07-Circuit/Circuit_AMI.py
  examples/07-TwinBuilder/01-RC_Circuit_Example.py
  pyaedt/circuit.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/pdf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/mechanical.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/object3d.py
  pyaedt/modeler/geometry_operators.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/object3dlayout.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/solutions.py
Labels: maintenance, examples

#4458 Create circuit schematics
  _unittest/example_models/T21/SSN_custom.s6p
  _unittest/example_models/T21/pcieg5_32gt.ami
  _unittest/example_models/T21/pcieg5_32gt.ibs
  _unittest/test_21_Circuit.py
  _unittest_solvers/test_00_analyze.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/circuit.py
  pyaedt/generic/pdf.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: examples

#4463 Refactor function handler
  .github/workflows/unit_tests.yml
  _unittest/conftest.py
  _unittest/test_12_PostProcessing.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/generic/settings.py
Labels: maintenance, testing

#4435 Update docstring for Hfss.create_boundary
  pyaedt/hfss.py
Labels: bug

#4436 Fix/issue 3913
  _unittest/test_01_Design.py
  pyaedt/application/Design.py
Labels: bug

#4457 fix for mesh regions
  pyaedt/modules/MeshIcepak.py
Labels: bug

#4469 FIX: Only one component per pins is created.
  _unittest/test_01_3dlayout_edb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
Labels: bug

#4471 Refactored Mesh class arguments
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_01_Design.py
  _unittest/test_05_Mesh.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_98_Icepak.py
  examples/02-HFSS/HFSS_Choke.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/04-Icepak/Icepak_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/Mesh3DLayout.py
  pyaedt/modules/MeshIcepak.py
Labels: examples

#4472 fixed bug in VirtualCompliance class
  pyaedt/generic/compliance.py
Labels: bug

#4468 Fix pdf
  .github/workflows/build_documentation.yml
  doc/Makefile
  doc/make.bat
  doc/source/User_guide/modeler.rst
  doc/source/conf.py
  pyproject.toml
Labels: bug, documentation, maintenance

#4477 replaced assignment in all mesh arguments
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_98_Icepak.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell3D_Choke.py
  examples/04-Icepak/Icepak_Example.py
  examples/06-Multiphysics/Hfss_Icepak_Coupling.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/MeshIcepak.py
Labels: examples

#4470 Maxwell refactoring arguments
  _unittest/example_models/T03/iron_pyaedt.amat
  _unittest/example_models/T03/material_sample.amat
  _unittest/example_models/T13/material_sample.amat
  _unittest/example_models/syslib/Materials.amat
  _unittest/test_12_PostProcessing.py
  _unittest/test_20_HFSS.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_35_MaxwellCircuit.py
  _unittest_solvers/test_00_analyze.py
  examples/03-Maxwell/Maxwell2D_DCConduction.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/03-Maxwell/Maxwell3DTeam7.py
  examples/03-Maxwell/Maxwell3D_Team3_bath_plate.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/generic/configurations.py
  pyaedt/hfss.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/mechanical.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/SolveSweeps.py
  pyaedt/q3d.py
  pyaedt/rmxprt.py
Labels: enhancement, maintenance, examples

#4482 DOC: Fix pdf download
  .github/workflows/build_documentation.yml
  doc/source/_static/assets/download/README.md
  doc/source/_static/assets/index_api.png
  doc/source/_static/assets/index_api.svg
  doc/source/_static/assets/index_contribute.png
  doc/source/_static/assets/index_contribute.svg
  doc/source/_static/assets/index_examples.png
  doc/source/_static/assets/index_examples.svg
  doc/source/_static/assets/index_getting_started.png
  doc/source/_static/assets/index_getting_started.svg
  doc/source/_static/assets/index_user_guide.png
  doc/source/_static/assets/index_user_guide.svg
Labels: documentation, maintenance

#4479 MAINT: Validate our pre-commit.ci configuration
  .pre-commit-config.yaml
Labels: maintenance

#4486 DOC: Fix related to PDF assets
  .github/workflows/build_documentation.yml
  doc/Makefile
  doc/source/conf.py
Labels: documentation, maintenance

#4480 assignment + docstrings - PostProcessor refacto
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  _unittest_solvers/test_00_analyze.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  examples/03-Maxwell/Maxwell2D_PMSynchronousMotor.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/06-Multiphysics/MRI.py
  examples/06-Multiphysics/Maxwell3D_Icepak_2Way_Coupling.py
  examples/07-Circuit/Reports.py
  pyaedt/generic/compliance.py
  pyaedt/modules/AdvancedPostProcessing.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement, maintenance, examples

#4485 Add some pyaedt emit documentation
  doc/source/User_guide/emit_modeler.rst
  doc/source/User_guide/index.rst
  examples/07-EMIT/EMIT_HFSS_Example.py
  pyaedt/emit.py
  pyaedt/emit_core/results/revision.py
Labels: examples

#4484 replaced default HFSS Solution type to Terminal for version >= 2024.1
  _unittest/test_12_PostProcessing.py
  _unittest/test_16_3d_stackup.py
  _unittest/test_20_HFSS.py
  _unittest/test_launch_desktop.py
  _unittest_ironpython/run_unittests.py
  pyaedt/application/Design.py
  pyaedt/application/design_solutions.py
Labels: testing

#4488 Use isinstance() rather than type() for a typecheck.
  _unittest/test_01_GeometryOperators.py
  _unittest/test_02_2D_modeler.py
  _unittest/test_02_3D_modeler.py
  _unittest/test_08_Primitives3D.py
  _unittest/test_12_PostProcessing.py
  pyaedt/application/Design.py
  pyaedt/generic/DataHandlers.py
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/generic/general_methods.py
  pyaedt/mechanical.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/geometry_operators.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/LayerStackup.py
  pyaedt/modules/Mesh.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/report_templates.py
  pyaedt/modules/solutions.py
Labels: bug

#4490 MAINT: Fix various code issues like the direct iteration over dictionaries.
  _unittest_solvers/test_31_Q3D.py
  pyaedt/emit_core/results/revision.py
  pyaedt/generic/compliance.py
  pyaedt/generic/ibis_reader.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesEmit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modeler/pcb/Primitives3DLayout.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: bug

#4483 TESTS: Update test not working with AEDT on linux
  _unittest/test_08_Primitives3D.py
  _unittest/test_21_Circuit.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
Labels: bug

#4491 DOC: Fix typo in bottom edge function description
  pyaedt/modeler/cad/object3d.py
Labels: documentation

#4493 FIX: Do not use mutable arguments in method signatures.
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesMaxwellCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: maintenance

#4497 DOC: Fix PDF download button
  .github/workflows/build_documentation.yml
  .github/workflows/nightly-docs.yml
  doc/source/_static/assets/download/.gitignore
Labels: bug, maintenance

#4498 Enhancement to parametric heatsink function
  pyaedt/icepak.py
Labels: bug

#4495 fix point_in_polygon method when the asum was a multiple of 2*phi
  pyaedt/modeler/geometry_operators.py
Labels: bug

#4502 fixed generate_mesh function documentation:
  pyaedt/modules/Mesh.py
Labels: bug

#4506 Fix/examples
  examples/02-HFSS/HFSS_Spiral.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/07-Circuit/Circuit_AMI.py
  pyaedt/circuit.py
Labels: bug, examples

#4508 CI: Fix nightly docs
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4247 EMI Receiver first commit
  _unittest/example_models/T12/EMI_RCV_241.aedtz
  _unittest/test_12_1_PostProcessing.py
  _unittest/test_12_PostProcessing.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/report_templates.py
Labels: enhancement

#4511 Update downloads.py
  pyaedt/downloads.py
Labels: documentation

#4509 Feat/edb component
  _unittest/test_08_Primitives3D.py
  pyaedt/desktop.py
  pyaedt/generic/desktop_sessions.py
  pyaedt/generic/general_methods.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
Labels: enhancement

#4513 Fix example
  examples/07-Circuit/Circuit_AMI.py
Labels: bug, examples

#4530 remove desktop object from logger during release phase
  pyaedt/desktop.py
Labels: bug

#4523 FIX: Add the missing 3D solution types in the assign_insulating function.
  pyaedt/maxwell.py
Labels: bug

#4525 Match headings in left nav pane and card titles
  doc/source/User_guide/index.rst
  doc/source/User_guide/intro.rst
Labels: documentation

#4521 Added ic_mode flag in hfss3dlayout.py initialization and as a property with getter and setter
  _unittest/test_launch_desktop.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/Design.py
  pyaedt/generic/design_types.py
  pyaedt/hfss3dlayout.py
Labels: enhancement

#4535 Refactoring arguments in Material Class
  _unittest/test_03_Materials.py
  _unittest/test_13_LoadAEDTFile.py
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell_Transformer_Coreloss.py
  pyaedt/modeler/advanced_cad/stackup_3d.py
  pyaedt/modules/Material.py
  pyaedt/modules/MaterialLib.py
Labels: examples

#4538 Refactoring circuit.py Class
  _unittest/test_12_PostProcessing.py
  _unittest/test_21_Circuit.py
  _unittest_solvers/test_00_analyze.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  examples/07-Circuit/Circuit_Siwave_Multizones.py
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/circuit.py
Labels: maintenance, examples

#4544 fixed method arguments in Q3d
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  examples/05-Q3D/Q2D_Armoured_Cable.py
  examples/05-Q3D/Q2D_Example_CPWG.py
  examples/05-Q3D/Q2D_Example_Stripline.py
  examples/05-Q3D/Q3D_Example.py
  pyaedt/q3d.py
Labels: examples

#4540 MAINT: Update time of the nightly-docs
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4545 fixed method arguments in Mechanical
  _unittest/test_29_Mechanical.py
  examples/06-Multiphysics/Hfss_Mechanical.py
  pyaedt/application/Variables.py
  pyaedt/mechanical.py
Labels: examples

#4537 Refactoring hfss3dlayout.py Class
  _unittest/test_01_3dlayout_edb.py
  _unittest/test_41_3dlayout_modeler.py
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/04-Icepak/Icepak_ECAD_Import.py
  pyaedt/application/Analysis3D.py
  pyaedt/hfss3dlayout.py
Labels: examples

#4539 refactoring SolveSetup.py
  _unittest/test_27_Maxwell2D.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  _unittest_solvers/test_31_Q3D.py
  examples/02-HFSS/Array.py
  examples/02-HFSS/HFSS_eigenmode.py
  examples/02-HFSS/Waveguide_Filter.py
  examples/04-Icepak/Icepak_Example.py
  examples/04-Icepak/Sherlock_Example.py
  examples/06-Multiphysics/MRI.py
  pyaedt/application/Analysis.py
  pyaedt/modules/DesignXPloration.py
  pyaedt/modules/SolveSetup.py
Labels: examples

#4553 fixed assignment error
  pyaedt/modules/SolveSetup.py
Labels: bug

#4558 REFACT: fIx issue in examples
  examples/01-HFSS3DLayout/Hfss3DComponent.py
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: bug, examples

#4562 REFACT: Add deprecation waning in Q3D sink methods
  _unittest/test_30_Q2D.py
  _unittest_solvers/test_31_Q3D.py
  pyaedt/q3d.py
Labels: bug

#4570 fixed plot vectors
  pyaedt/generic/general_methods.py
  pyaedt/generic/plot.py
Labels: bug

#4564 Fix default setups
  doc/source/API/SetupTemplatesIcepak.rst
  pyaedt/modules/SetupTemplates.py
Labels: bug

#4573 Update the doc landing page per Issue #4524
  doc/source/index.rst
Labels: documentation

#4576 fixed creater_fieldplot_layers on dielectric plots
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/modules/PostProcessor.py
Labels: bug

#4578 REFACT: Add SurfaceOnly
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modules/solutions.py
Labels: bug, examples

#4579 fix export field plot streamline
  _unittest/test_28_Maxwell3D.py
  examples/03-Maxwell/Maxwell2D_Electrostatic.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: bug, examples

#4582 FIX: Export from 3D layout to 3D modeler with keeping net names bug fix
  pyaedt/modules/SolveSetup.py
Labels: bug

#4559 Doc/4547 keyword conventions
  doc/source/Getting_started/Contributing.rst
Labels: documentation

#4594 FIX: HFSS keyword argument deprecation
  pyaedt/hfss.py
Labels: bug

#4602 REFACT: Revert constant
  pyaedt/modules/SolveSetup.py
Labels: bug

#4589 REFACT: Fix Circuit in linux 2024 R1
  _unittest/test_08_Primitives3D.py
  _unittest/test_21_Circuit.py
  _unittest/test_22_Circuit_DynamicLink.py
  _unittest/test_28_Maxwell3D.py
  _unittest/test_41_3dlayout_modeler.py
  _unittest_solvers/test_00_analyze.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/application/aedt_objects.py
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/emit_core/results/results.py
  pyaedt/generic/compliance.py
  pyaedt/generic/design_types.py
  pyaedt/generic/spisim.py
  pyaedt/hfss3dlayout.py
  pyaedt/icepak.py
  pyaedt/maxwell.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/schematic.py
  pyaedt/modules/PostProcessor.py
Labels: bug
