Repository ansys/pyaedt, pull requests merged in 2024-11, with the labels that each got.

#5372 BUILD: Update ansys theme version
  .github/workflows/ci_cd.yml
  .github/workflows/nightly-docs.yml
  doc/source/conf.py
  pyproject.toml
Labels: maintenance, documentation

#5331 FIX: Remove the clipboard isolation env variable in the kernel_converter script
  src/ansys/aedt/core/workflows/project/kernel_converter.py
Labels: bug

#5374 FIX: Assign impedance to sheet in Eigenmode
  src/ansys/aedt/core/hfss.py
  tests/system/general/test_20_HFSS.py
Labels: bug

#5349 TEST: Improve touchstone parser coverage
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  tests/conftest.py
  tests/integration/test_touchstone_data.py
  tests/system/general/test_44_TouchstoneParser.py
Labels: testing

#5383 FIX: Check valid name and file
  src/ansys/aedt/core/workflows/installer/extension_manager.py
Labels: bug

#5392 FIX: Pyaedt installer in linux
  doc/source/Resources/pyaedt_installer_from_aedt.py
  src/ansys/aedt/core/workflows/installer/extension_manager.py
  src/ansys/aedt/core/workflows/templates/pyaedt_utils.py
  src/ansys/aedt/core/workflows/templates/run_extension_manager.py_build
Labels: bug

#5393 FEAT: Display units option in X and Y axis
  src/ansys/aedt/core/visualization/report/common.py
  tests/system/general/test_12_1_PostProcessing.py
Labels: enhancement

#5367 FIX: close UI by click X should not trigger parametrization
  src/ansys/aedt/core/workflows/hfss3dlayout/parametrize_edb.py
Labels: bug

#5395 CI: Change flags in codecov
  .github/workflows/ci_cd.yml
Labels: maintenance

#5386 FEAT: Update wireframe method
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/material_lib.py
  tests/system/general/test_08_Primitives3D.py
Labels: enhancement

#5352 FEAT: Circuit current probe
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  tests/system/general/test_21_Circuit.py
Labels: enhancement, maintenance

#5414 FIX: Fix hardcoded path
  src/ansys/aedt/core/workflows/templates/run_extension_manager.py_build
  src/ansys/aedt/core/workflows/templates/run_pyaedt_toolkit_script.py_build
Labels: bug

#5427 FEAT: Material appearance
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  tests/system/general/test_07_Object3D.py
  tests/system/general/test_08_Primitives3D.py
Labels: enhancement

#5425 FIX: FilterSolutions Sphinx Update
  doc/source/API/Application.rst
  doc/source/API/FilterSolutions.rst
  doc/source/API/index.rst
  src/ansys/aedt/core/filtersolutions.py
Labels: bug

#5419 FIX: Create chamfer
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  tests/system/general/test_07_Object3D.py
  tests/system/general/test_08_Primitives3D.py
Labels: bug

#5432 DOCS: export_field_plot and export_model_obj documentation improvement
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5437 DOCS: Fix python code error in visualization report
  doc/source/API/visualization/report.rst
  src/ansys/aedt/core/visualization/report/field.py
Labels: documentation

#5405 FEAT: RCS class
  .github/workflows/ci_cd.yml
  doc/source/API/visualization/advanced.rst
  doc/source/API/visualization/post.rst
  doc/source/_static/rcs_visualization_pyaedt.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
  tests/integration/test_monostatic_rcs_data.py
  tests/system/general/example_models/T48/RCS.aedtz
  tests/system/general/example_models/T49/geometry/Polyline1.obj
  tests/system/general/example_models/T49/geometry/Polyline1_1.obj
  tests/system/general/example_models/T49/geometry/Polyline1_2.obj
  tests/system/general/example_models/T49/rcs_data.h5
  tests/system/general/example_models/T49/rcs_metadata.json
  tests/system/general/example_models/T49/rcs_metadata_fake.json
  tests/system/general/test_48_RCS_export.py
  tests/system/general/test_49_RCS_data_plotter.py
  tests/unit/test_monostatic_rcs_data.py
  tests/unit/test_monostatic_rcs_exporter.py
Labels: enhancement, maintenance

#5442 FEAT: fix create_polyline for angular arc + update docs
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  tests/system/general/test_08_Primitives3D.py
Labels: bug

#5449 FEAT: Import data table in HFSS solution
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/workflows/customize_automation_tab.py
  tests/system/general/example_models/T20/table_header.csv
  tests/system/general/example_models/T20/table_no_header.csv
  tests/system/general/test_20_HFSS.py
Labels: enhancement

#5396 DOCS: Add PyAEDT cheat sheet
  .github/workflows/ci_cd.yml
  doc/source/cheatsheet/.gitignore
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  pyproject.toml
Labels: maintenance, documentation

#5468 FIX: Check _object_names_to_ids keys are the same than existing object names
  src/ansys/aedt/core/modeler/cad/primitives.py
  tests/system/general/test_07_Object3D.py
Labels: bug

#5465 FEAT: maxwell electrostatic matrix
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/standard.py
  tests/system/general/test_28_Maxwell3D.py
Labels: enhancement

#5471 FIX: Modeler objects were not correctly updated in some cases.
  src/ansys/aedt/core/modeler/cad/primitives.py
Labels: bug

#5477 CI: Fix windows nightly build
  .github/workflows/nightly-docs.yml
Labels: maintenance

#5473 FEAT: implement resistive sheet
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modules/boundary.py
  tests/system/general/test_28_Maxwell3D.py
  tests/unit/conftest.py
  tests/unit/test_maxwell_3d.py
Labels: enhancement, testing

#5453 CI: Add template for pull request
  .github/pull_request_template.md
Labels: maintenance

#5484 FIX: corrected the way we identify the nets automatically from the sources.
  src/ansys/aedt/core/visualization/post/post_3dlayout.py
Labels: bug

#5490 FIX: Edit sources from file in HFSS 3DLayout inversed order
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/images/large/push.png
  tests/system/general/test_41_3dlayout_modeler.py
Labels: bug

#5491 FIX: Duplicate modeler PCB
  src/ansys/aedt/core/modeler/modeler_pcb.py
  tests/system/general/test_41_3dlayout_modeler.py
Labels: bug

#5492 FIX: eddy current sweep Maxwell
  src/ansys/aedt/core/modules/solve_setup.py
  tests/system/general/test_28_Maxwell3D.py
Labels: bug

#5509 CI: Update env variable to not use Delcross
  .github/workflows/ci_cd.yml
Labels: maintenance
