Repository ansys/pyaedt, pull requests merged in 2024-05, with the labels that each got.

#4618 TESTS: Temporary disabling SPISIM test with linux
  _unittest_solvers/test_00_analyze.py
Labels: testing

#4623 Transformer leakage inductance calculation example
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: examples

#4611 DOC: Fix blank area
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance

#4624 TESTS: Limit skip to AEDT 2024.1
  _unittest_solvers/test_00_analyze.py
Labels: testing

#4625 DOC: Fix typo in Maxwell transformer example.
  examples/03-Maxwell/Maxwell2D_Transformer_LL.py
Labels: documentation, examples

#4615 Fix export to q3d
  examples/05-Q3D/Q3D_DC_IR.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modules/SolveSetup.py
Labels: bug, examples

#4593 FEAT: Toolkit installer
  _unittest/test_01_Design.py
  _unittest/test_01_toolkit_icons.py
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/desktop.py
  pyaedt/generic/general_methods.py
  pyaedt/misc/aedtlib_personalib_install.py
  pyaedt/misc/images/gallery/PyAEDT.png
  pyaedt/misc/install_extra_toolkits.py
  pyaedt/modeler/modeler3d.py
  pyaedt/workflows/__init__.py
  pyaedt/workflows/circuit/__init__.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/emit/__init__.py
  pyaedt/workflows/hfss/__init__.py
  pyaedt/workflows/hfss/images/large/antenna.png
  pyaedt/workflows/hfss/toolkits_catalog.toml
  pyaedt/workflows/hfss3dlayout/__init__.py
  pyaedt/workflows/hfss3dlayout/export_to_3D.py
  pyaedt/workflows/hfss3dlayout/images/large/cad3d.png
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/icepak/__init__.py
  pyaedt/workflows/images/large/logo.png
  pyaedt/workflows/images/large/pyansys.png
  pyaedt/workflows/installer/__init__.py
  pyaedt/workflows/installer/console_setup.py
  pyaedt/workflows/installer/create_report.py
  pyaedt/workflows/installer/images/large/console.png
  pyaedt/workflows/installer/images/large/jupyter.png
  pyaedt/workflows/installer/images/large/run_script.png
  pyaedt/workflows/installer/images/large/toolkit_manager.png
  pyaedt/workflows/installer/jupyter_template.ipynb
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/installer/toolkits_catalog.toml
  pyaedt/workflows/maxwell2d/__init__.py
  pyaedt/workflows/maxwell3d/__init__.py
  pyaedt/workflows/maxwell3d/images/large/magnet_segmentation.png
  pyaedt/workflows/maxwell3d/toolkits_catalog.toml
  pyaedt/workflows/mechanical/__init__.py
  pyaedt/workflows/project/__init__.py
  pyaedt/workflows/project/create_report.py
  pyaedt/workflows/project/images/large/cad3d.png
  pyaedt/workflows/project/images/large/pdf.png
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyaedt/workflows/q2d/__init__.py
  pyaedt/workflows/q3d/__init__.py
  pyaedt/workflows/simplorer/__init__.py
  pyaedt/workflows/templates/Jupyter.py_build
  pyaedt/workflows/templates/PyAEDT_Console.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Script.py_build
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
  pyaedt/workflows/templates/Run_Toolkit_Manager.py_build
  pyaedt/workflows/templates/__init__.py
Labels: enhancement

#4628 Fix Q3D example
  examples/05-Q3D/Q2D_Armoured_Cable.py
Labels: bug, examples

#4284 CI: Refact and extend CI/CD workflows to leverage ansys actions
  .github/workflows/build_documentation.yml
  .github/workflows/ci_cd.yml
  .github/workflows/cpython_linux.yml
  .github/workflows/full_documentation.yml
  .github/workflows/ironpython.yml
  .github/workflows/nightly-docs.yml
  .github/workflows/unit_tests.yml
  .github/workflows/unit_tests_solvers.bkp
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
  CONTRIBUTING.md
  doc/Makefile
  doc/make.bat
  doc/source/Getting_started/About.rst
  doc/source/Resources/aedt_collage.jpg
  doc/source/User_guide/pyaedt_file_data/project.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance

#4631 CI: Fix nightly-docs needs
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4633 CI: Add examples to nightly doc build
  .github/workflows/nightly-docs.yml
Labels: maintenance

#4634 REFACTOR: Fix installer
  _unittest/test_01_Design.py
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss3dlayout/toolkits_catalog.toml
  pyaedt/workflows/installer/pyaedt_installer.py
  pyaedt/workflows/installer/toolkit_manager.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyaedt/workflows/templates/Run_PyAEDT_Toolkit_Script.py_build
Labels: bug

#4635 DOCS: installer documentation
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkit_manager_1.png
  doc/source/Resources/toolkit_manager_2.png
  doc/source/Resources/toolkits_ribbon.png
  doc/source/Resources/wheelhouse_installation.png
Labels: documentation

#4644 DOCS: Add download PDF button for release
  doc/source/conf.py
Labels: documentation

#4643 DOCS: Fix vale report on doc style
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance

#4648 CHORE: Update pyedb dependency
  pyproject.toml
Labels: maintenance

#4651 CHORE: allow latest PyEDB version
  pyproject.toml
Labels: maintenance

#4656 FIX: Field calculation when no Phase is provided.
  pyaedt/modules/PostProcessor.py
Labels: bug

#4654 REFACTOR: Touchstone name with "."
  _unittest/example_models/T21/SSN_1.5_ssn.s6p
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
Labels: bug

#4658 FIX: grid points import where e letter is already part of the nas file
  pyaedt/modeler/modeler3d.py
Labels: bug

#4665 REFACTOR: SPISIM linux subprocess
  _unittest_solvers/test_00_analyze.py
  pyaedt/generic/spisim.py
  pyaedt/generic/touchstone_parser.py
Labels: bug

#4667 FIX: Circuit crash due to IBIS Model without diff pin
  pyaedt/generic/ibis_reader.py
Labels: bug

#4626 FEAT: Improve antenna array processing and plotting
  _unittest/test_12_PostProcessing.py
  pyaedt/application/analysis_hf.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modules/solutions.py
Labels: maintenance

#4668 FEAT: enforce touchstone model passive
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: enhancement

#4676 FIX: added CPyRAM support
  pyaedt/application/Analysis.py
  pyaedt/modeler/modeler3d.py
Labels: bug

#4684 FEAT: Add layout boundaries
  _unittest/test_41_3dlayout_modeler.py
  pyaedt/application/Design.py
  pyaedt/modules/Boundary.py
Labels: enhancement

#4679 FIX: improved the way wires are mapped and managed in Circuit
  _unittest/test_21_Circuit.py
  pyaedt/application/Analysis.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/object3dcircuit.py
Labels: maintenance

#4690 FIX: Skin depth deprecation warning bug
  pyaedt/modules/Mesh.py
Labels: bug

#4695 FIX: Assign conducting plate bug
  pyaedt/icepak.py
Labels: bug

#4709 DOCS: Update readme
  README.md
Labels: documentation

#4711 CHORE: Prefix dependabot's pull requests with "CHORE".
  .github/dependabot.yml
Labels: maintenance

#4698 FEAT: added options to decimate and to group when importing nastran file.
  _unittest/example_models/T20/sphere.stl
  _unittest/test_20_HFSS.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/project/toolkits_catalog.toml
  pyproject.toml
Labels: maintenance

#4706 FIX: Function handler to return False
  _unittest/test_utils.py
  pyaedt/generic/general_methods.py
Labels: bug

#4696 FEAT: improve edit_external_circuit
  pyaedt/maxwell.py
Labels: enhancement

#4732 FEAT: added windowing to fft computetion
  pyaedt/generic/general_methods.py
  pyaedt/hfss.py
  pyaedt/hfss3dlayout.py
Labels: bug

#4721 CHORE: Add security policy.
  SECURITY.md
Labels: enhancement

#4722 FIX: submit_job improvement to allow the possibility to pass a server path
  pyaedt/desktop.py
Labels: bug

#4739 FEAT: replaced fast-simplification with decimate_pro alghoritm from pyvista
  _unittest/test_20_HFSS.py
  pyaedt/modeler/modeler3d.py
  pyaedt/modules/solutions.py
  pyproject.toml
Labels: maintenance

#4743 FIX: bug on multidesktop in case of connection to existing sessions.
  pyaedt/desktop.py
Labels: bug

#4742 CHORE: Extend wheelhouse with installer target
  .github/workflows/ci_cd.yml
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
Labels: maintenance

#4747 FIX: Tkinter issue
  _unittest/test_01_Design.py
  _unittest/test_06_MessageManager.py
  _unittest/test_launch_desktop.py
  _unittest_solvers/example_models/T45/TB_test.aedt
  _unittest_solvers/example_models/T45/report.aedtz
  _unittest_solvers/example_models/T45/twin_circuit.aedt
  _unittest_solvers/test_45_workflows.py
  codecov.yml
  pyaedt/desktop.py
  pyaedt/icepak.py
  pyaedt/workflows/customize_automation_tab.py
  pyaedt/workflows/hfss/push_excitation_from_file.py
  pyaedt/workflows/hfss3dlayout/export_to_3d.py
  pyaedt/workflows/misc.py
  pyaedt/workflows/project/import_nastran.py
  pyaedt/workflows/twinbuilder/convert_to_circuit.py
Labels: bug

#4749 FEAT: Added preview to stl files in import_nastran extension
  pyaedt/generic/general_methods.py
  pyaedt/workflows/project/import_nastran.py
Labels: bug
