Repository ansys/pyaedt, pull requests merged in 2024-12, with the labels that each got.

#5527 BUILD: Update requirement of osmnx to greater than 1.1.0 and lower than 2.1
  pyproject.toml
  src/ansys/aedt/core/modeler/advanced_cad/oms.py
Labels: maintenance

#5542 FEAT: Rescale property in model units
  src/ansys/aedt/core/modeler/cad/primitives.py
  tests/system/general/test_07_Object3D.py
Labels: enhancement

#5531 FIX: Loading default settings value
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
  src/ansys/aedt/core/generic/settings.py
  tests/system/general/test_utils.py
  tests/unit/test_utils.py
Labels: bug

#5552 DOCS: Fix numpy docstyle errors.
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/advanced_cad/actors.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/calculators.py
  src/ansys/aedt/core/modeler/circuits/primitives_emit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/modules/boundary.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/modules/solve_sweeps.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/advanced/misc.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/plot/pdf.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  src/ansys/aedt/core/visualization/post/field_data.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/monitor_icepak.py
  src/ansys/aedt/core/visualization/post/post_3dlayout.py
  src/ansys/aedt/core/visualization/post/post_circuit.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
  src/ansys/aedt/core/visualization/post/solution_data.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/visualization/report/standard.py
  src/ansys/aedt/core/workflows/customize_automation_tab.py
  src/ansys/aedt/core/workflows/icepak/power_map_from_csv.py
  src/ansys/aedt/core/workflows/installer/console_setup.py
  src/ansys/aedt/core/workflows/installer/pyaedt_installer.py
  src/ansys/aedt/core/workflows/misc.py
  src/ansys/aedt/core/workflows/templates/pyaedt_utils.py
Labels: documentation

#5548 BUILD: Modify TOML dependency
  pyproject.toml
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/modules/material_lib.py
  tests/unit/test_utils.py
Labels: maintenance

#5523 FEAT: DXF import updates
  src/ansys/aedt/core/application/analysis_3d.py
  tests/system/general/example_models/cad/DXF/dxf_r12.dxf
  tests/system/general/test_20_HFSS.py
Labels: maintenance

#5549 FEAT: Improve extensions quality
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/circuit/import_schematic.rst
  doc/source/User_guide/pyaedt_extensions_doc/circuit/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/choke_designer.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/push_excitation.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/cutout.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/export_3d.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/export_layout.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/parametrize_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/push_excitation.rst
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/User_guide/pyaedt_extensions_doc/twinbuilder/convert_to_circuit.rst
  doc/source/User_guide/pyaedt_extensions_doc/twinbuilder/index.rst
  doc/source/_static/extensions/arbitrary_waveport_ui.png
  doc/source/_static/extensions/create_power_map_ui.png
  doc/source/_static/extensions/cutout_ui.png
  doc/source/_static/extensions/export_3d_ui.png
  doc/source/_static/extensions/export_layout_ui.png
  doc/source/_static/extensions/import_nastran_ui.png
  doc/source/_static/extensions/import_schematic_ui.png
  doc/source/_static/extensions/kernel_convert_ui.png
  doc/source/_static/extensions/parametrize.png
  doc/source/_static/extensions/power_map_ui.png
  doc/source/_static/extensions/push_excitation.png
  src/ansys/aedt/core/workflows/circuit/import_schematic.py
  src/ansys/aedt/core/workflows/hfss/choke_designer.py
  src/ansys/aedt/core/workflows/hfss/push_excitation_from_file.py
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/export_layout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/export_to_3d.py
  src/ansys/aedt/core/workflows/hfss3dlayout/generate_arbitrary_wave_ports.py
  src/ansys/aedt/core/workflows/hfss3dlayout/parametrize_edb.py
  src/ansys/aedt/core/workflows/hfss3dlayout/push_excitation_from_file_3dl.py
  src/ansys/aedt/core/workflows/icepak/power_map_from_csv.py
  src/ansys/aedt/core/workflows/misc.py
  src/ansys/aedt/core/workflows/project/advanced_fields_calculator.py
  src/ansys/aedt/core/workflows/project/import_nastran.py
  src/ansys/aedt/core/workflows/project/kernel_converter.py
  tests/system/solvers/test_45_workflows.py
Labels: enhancement

#5560 FIX: plot formula
  src/ansys/aedt/core/visualization/post/solution_data.py
Labels: bug

#5565 DOCS: Improve extension consistancy
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/circuit/import_schematic.rst
  doc/source/User_guide/pyaedt_extensions_doc/circuit/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/choke_designer.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/push_excitation.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/arbitrary_wave_port.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/cutout.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/export_3d.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/export_layout.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/parametrize_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss3dlayout/push_excitation.rst
  doc/source/User_guide/pyaedt_extensions_doc/icepak/create_power_map.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/import_nastran.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/source/User_guide/pyaedt_extensions_doc/twinbuilder/convert_to_circuit.rst
Labels: documentation

#5561 FIX: export eq circuit- model name
  src/ansys/aedt/core/q3d.py
  tests/system/general/test_30_Q2D.py
  tests/system/solvers/test_31_Q3D.py
Labels: bug

#5555 REFACTOR: Loading dotnet runtime
  doc/source/release_1_0.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/generic/clr_module.py
  tests/unit/test_clr_module.py
Labels: documentation

#5557 BUILD: Bump numpy version to>=1.20.0,<2.3
  pyproject.toml
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/post/solution_data.py
Labels: maintenance

#5576 FIX: Temporary avoid attrs v24.3.0
  pyproject.toml
Labels: bug, maintenance

#5571 FIX: Allow non graphical mode for Import GDSII in 3D
  src/ansys/aedt/core/application/analysis_3d.py
  tests/system/general/test_20_HFSS.py
Labels: bug

#5575 DOCS: Remove numpy docstyle error
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_circuit_netlist.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/emit_core/couplings.py
  src/ansys/aedt/core/emit_core/results/results.py
  src/ansys/aedt/core/emit_core/results/revision.py
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/generic/filesystem.py
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/advanced_cad/oms.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/primitives_emit.py
  src/ansys/aedt/core/modeler/geometry_operators.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/modules/boundary/maxwell_boundary.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/q3d.py
  src/ansys/aedt/core/twinbuilder.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: documentation

#5574 FEAT: Icepak analysis class
  doc/source/Getting_started/ClientServer.rst
  doc/source/Getting_started/versioning.rst
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_icepak.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/post/field_summary.py
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/post_3dlayout.py
  src/ansys/aedt/core/visualization/post/post_circuit.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/visualization/report/emi.py
  src/ansys/aedt/core/visualization/report/eye.py
  src/ansys/aedt/core/visualization/report/standard.py
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/parametrize_edb.py
  src/ansys/aedt/core/workflows/project/configure_edb.py
  src/ansys/aedt/core/workflows/project/kernel_converter.py
  tests/system/general/test_08_Primitives3D.py
Labels: documentation

#5583 FIX: Allow Optimetrics multi goals
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/load_aedt_file.py
  src/ansys/aedt/core/modules/design_xploration.py
  tests/system/general/test_11_Setup.py
Labels: bug

#5596 FIX: Maxwell icepak example
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modules/mesh.py
Labels: bug

#5581 FIX: assign_em_losses in mechanical.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/visualization/plot/pyvista.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5595 FIX: Object oriented name update
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modules/boundary/common.py
  src/ansys/aedt/core/modules/boundary/hfss_boundary.py
  src/ansys/aedt/core/modules/boundary/layout_boundary.py
  src/ansys/aedt/core/modules/boundary/maxwell_boundary.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/rmxprt.py
  src/ansys/aedt/core/visualization/post/solution_data.py
  src/ansys/aedt/core/visualization/report/common.py
  tests/system/general/test_01_configuration_files.py
  tests/system/general/test_07_Object3D.py
  tests/system/general/test_20_HFSS.py
  tests/system/general/test_98_Icepak.py
  tests/system/solvers/test_00_analyze.py
  tests/system/solvers/test_31_Q3D.py
Labels: bug

#5599 FIX: PyAEDT installer with wheelhouse
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: bug

#5600 FIX: Icepak Mesh Binary Tree
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/modules/boundary/common.py
  src/ansys/aedt/core/modules/boundary/hfss_boundary.py
  src/ansys/aedt/core/modules/boundary/layout_boundary.py
  src/ansys/aedt/core/modules/boundary/maxwell_boundary.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/visualization/report/common.py
Labels: bug
