Repository ansys/pyaedt, pull requests merged in 2024-03, with the labels that each got.

#4297 TESTS: Refact warnings filtering
  pyaedt/application/Analysis3D.py
  pyaedt/application/Design.py
  pyaedt/circuit.py
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/generic/plot.py
  pyaedt/hfss.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyproject.toml
  pytest.ini
Labels: maintenance, testing

#4293 fix view and plot label in plot_field_from_fieldplot
  _unittest/test_12_1_PostProcessing.py
  pyaedt/generic/plot.py
  pyaedt/modules/AdvancedPostProcessing.py
Labels: bug

#4316 Disable EMIT tests 2024R1
  _unittest_solvers/test_26_emit.py
Labels: maintenance

#4317 Circuit vpwl
  _unittest/test_21_Circuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
Labels: maintenance

#4328 docs: Remove any specifics about AEDT vs EDB API.
  doc/source/API/index.rst
Labels: documentation

#4322 Created Virtual Compliance example
  _unittest/test_21_Circuit.py
  doc/source/_static/virtual_compliance_class.png
  doc/source/_static/virtual_compliance_configs.png
  doc/source/_static/virtual_compliance_eye.png
  doc/source/_static/virtual_compliance_scattering1.png
  doc/source/_static/virtual_compliance_scattering2.png
  doc/source/_static/virtual_compliance_usage.png
  examples/07-Circuit/Virtual_Compliance.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Design.py
  pyaedt/generic/compliance.py
  pyaedt/generic/ibis_reader.py
  pyaedt/generic/spisim.py
  pyaedt/hfss3dlayout.py
  pyaedt/modeler/circuits/PrimitivesCircuit.py
  pyaedt/modeler/circuits/PrimitivesNexxim.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modules/SetupTemplates.py
Labels: examples

#4329 Move dotnet dependencies
  .github/workflows/wheelhouse.yml
  .github/workflows/wheelhouse_linux.yml
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
Labels: maintenance, examples

#4332 maint: Remove references to old files that were removed.
  .flake8
  .pre-commit-config.yaml
  codecov.yml
Labels: maintenance

#4340 Fix angle in degrees example
  examples/07-TwinBuilder/02-Wiring_A_Rectifier.py
Labels: bug, examples

#4062 Enhancement/temp dep&transient bc
  _unittest/test_98_Icepak.py
  pyaedt/icepak.py
  pyaedt/modules/Boundary.py
Labels: enhancement

#4349 delete unclassified
  _unittest/test_07_Object3D.py
  pyaedt/modeler/cad/Primitives.py
Labels: bug

#4350 MAINT: Update pyedb deps
  pyproject.toml
Labels: maintenance

#4356 MAINT: Fix wrong version of pyedb
  pyproject.toml
Labels: maintenance

#4361 Remove the exception details -as e- when not needed.
  pyaedt/icepak.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/elements3d.py
  pyaedt/modeler/cad/polylines.py
  pyaedt/modules/Boundary.py
  pyaedt/modules/MaterialLib.py
Labels: enhancement

#4372 CI: Update license
  .github/workflows/cpython_linux.yml
  .github/workflows/full_documentation.yml
  .github/workflows/ironpython.yml
  .github/workflows/nightly-docs.yml
  .github/workflows/unit_tests.yml
Labels: maintenance

#4368 MAINT: Remove install target full
  README.md
  README_CN.md
  doc/source/Resources/PyAEDTInstallerFromDesktop.py
  pyproject.toml
Labels: documentation, maintenance

#4370 Call API only when Polyline
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/polylines.py
Labels: bug

#4366 Lazy load of parametrics, setups and optimizations
  _unittest/test_11_Setup.py
  pyaedt/application/Analysis.py
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/AnalysisTwinBuilder.py
  pyaedt/application/Design.py
  pyaedt/modules/SolveSetup.py
Labels: bug

#4379 CI: Fix nightly documentation build
  .github/workflows/nightly-docs.yml
Labels: bug, maintenance

#4369 MAINT: Update dependencies with ranges
  _unittest_solvers/test_26_emit.py
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#4360 fixed region definition for RZ designs
  _unittest/test_09_Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: bug

#4390 Add export option to export_file and export_on_grid
  _unittest_solvers/test_00_analyze.py
  pyaedt/modules/PostProcessor.py
Labels: enhancement

#4384 Lazy load on objects
  _unittest/conftest.py
  _unittest/test_98_Icepak.py
  pyaedt/application/Design.py
  pyaedt/generic/LoadAEDTFile.py
  pyaedt/generic/settings.py
  pyaedt/modeler/cad/Modeler.py
  pyaedt/modeler/cad/Primitives.py
  pyaedt/modeler/cad/Primitives3D.py
  pyaedt/modeler/cad/components_3d.py
  pyaedt/modules/PostProcessor.py
  pyaedt/modules/SolveSetup.py
  pyaedt/modules/solutions.py
Labels: maintenance, testing

#4395 Unused import
  pyaedt/application/Design.py
Labels: bug

#4401 Update pyproject.toml
  pyproject.toml
Labels: bug, maintenance

#4397 Do not use empty list as parameter's default value.
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
Labels: maintenance

#4396 Remove unused variables.
  pyaedt/circuit.py
  pyaedt/desktop.py
  pyaedt/modeler/circuits/object3dcircuit.py
  pyaedt/modeler/modelerpcb.py
  pyaedt/modeler/schematic.py
Labels: maintenance

#4411 Fix com Desktop Launch
  pyaedt/desktop.py
  pyaedt/generic/configurations.py
Labels: bug

#4408 Fix/plot animated field
  pyaedt/modules/AdvancedPostProcessing.py
Labels: bug

#4413 create_region fix for 2d extractor
  _unittest/test_09_Primitives2D.py
  pyaedt/modeler/cad/Primitives2D.py
Labels: bug

#4418 Remove unnecessary f-string.
  pyaedt/generic/compliance.py
  pyaedt/generic/touchstone_parser.py
  pyaedt/modeler/cad/Primitives3D.py
Labels: bug

#4424 Fix for subregion with multiple objects
  _unittest/test_98_Icepak.py
  pyaedt/modeler/cad/Primitives.py
Labels: bug

#4432 MAINT: Update pyedb requirement
  pyproject.toml
Labels: maintenance

#4417 Do not redefine built-in.
  pyaedt/application/Analysis3DLayout.py
  pyaedt/application/AnalysisNexxim.py
  pyaedt/application/Variables.py
Labels: bug
