Repository ansys/pyaedt, pull requests merged in 2025-05, with the labels that each got.

#6052 FIX: Adding close desktop function
  doc/changelog.d/6052.fixed.md
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  tests/system/solvers/test_45_FilterSolutions/test_desktop_types.py
  tests/system/solvers/test_45_FilterSolutions/test_export_to_aedt/test_export_to_aedt.py
Labels: bug

#6099 DOCS: Add docstring to some classes in constants.py
  doc/changelog.d/6099.documentation.md
  src/ansys/aedt/core/generic/constants.py
Labels: documentation

#6018 FEAT: FRTM class
  doc/changelog.d/6018.added.md
  doc/source/API/visualization/advanced.rst
  doc/source/_static/frtm_doppler.gif
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/visualization/advanced/frtm_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  tests/system/visualization/example_models/FRTM/dummy.csv
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV832.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV838.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV842.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV843.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV844.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV845.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV846.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV847.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV848.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV849.frtm
  tests/system/visualization/example_models/FRTM/with_index/Setup1_Sweep_DV850.frtm
  tests/system/visualization/example_models/FRTM/with_index/index.csv
  tests/system/visualization/example_models/FRTM/without_index/DV832_S1531_V1536_Data.transient/RxSignal.frtm
  tests/system/visualization/test_FRTM_data_plotter.py
Labels: enhancement

#6116 CI: Extend smoke tests with py313
  .github/workflows/ci_cd.yml
  doc/changelog.d/6116.maintenance.md
  doc/source/Getting_started/Installation.rst
  pyproject.toml
Labels: maintenance

#6130 FIX: Change units in non linear properties
  doc/changelog.d/6130.fixed.md
  src/ansys/aedt/core/modules/material.py
  tests/system/general/test_03_Materials.py
Labels: bug

#6012 FIX: improvements in circuit config
  doc/changelog.d/6012.fixed.md
  src/ansys/aedt/core/generic/configurations.py
Labels: maintenance

#6132 FIX: Output variable with differential pairs
  doc/changelog.d/6132.fixed.md
  src/ansys/aedt/core/application/analysis.py
  tests/system/general/test_21_Circuit.py
  tests/system/solvers/test_00_analyze.py
Labels: bug

#6112 CI: Add vulnerability checking
  .github/workflows/ci_cd.yml
  SECURITY.md
  doc/changelog.d/6112.maintenance.md
Labels: maintenance

#6139 FIX: Fix equivalent circuit export
  doc/changelog.d/6139.fixed.md
  src/ansys/aedt/core/q3d.py
  tests/system/solvers/test_31_Q3D.py
Labels: bug

#6135 FIX: Add blocking to optimetrics analyze method
  doc/changelog.d/6135.fixed.md
  src/ansys/aedt/core/modules/design_xploration.py
Labels: bug

#6133 FIX: Add mesh link wrong source design solution selection
  doc/changelog.d/6133.fixed.md
  src/ansys/aedt/core/modules/solve_setup.py
  tests/system/general/test_29_Mechanical.py
Labels: bug

#6147 FIX: fields documentation extension
  doc/changelog.d/6147.fixed.md
  doc/source/User_guide/extensions.rst
Labels: bug

#6155 CI: Fix missing call to actions/doc-build
  .github/workflows/ci_cd.yml
  doc/changelog.d/6155.maintenance.md
Labels: maintenance

#6156 FIX: Correct unit for h-field in set_non_linear() for bh curve definition
  doc/changelog.d/6156.fixed.md
  src/ansys/aedt/core/modules/material.py
  tests/system/general/test_03_Materials.py
Labels: bug

#6115 REFACTOR: Extension manager compatible with toolkits
  doc/changelog.d/6115.miscellaneous.md
  doc/source/Getting_started/Installation.rst
  doc/source/Getting_started/Troubleshooting.rst
  doc/source/Resources/toolkit_manager_2.png
  doc/source/Resources/toolkit_manager_3.png
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/kernel_convert.rst
  doc/source/index.rst
  src/ansys/aedt/core/extensions/circuit/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/hfss/images/large/antenna.png
  src/ansys/aedt/core/extensions/hfss/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/hfss3dlayout/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/icepak/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/installer/extension_manager.py
  src/ansys/aedt/core/extensions/maxwell2d/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/maxwell3d/images/large/magnet_segmentation.png
  src/ansys/aedt/core/extensions/maxwell3d/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/project/images/large/cloud.png
  src/ansys/aedt/core/extensions/project/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/templates/run_pyaedt_toolkit_executable.py_build
  src/ansys/aedt/core/extensions/twinbuilder/toolkits_catalog.toml
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  tests/system/visualization/example_models/T46/array_simple_231.aedtz
  tests/system/visualization/test_46_FarField.py
Labels: documentation

#6169 CI: Update dependabot cfg and codeowners
  .github/CODEOWNERS
  .github/dependabot.yml
  doc/changelog.d/6169.maintenance.md
Labels: maintenance

#6165 FIX: Fix small bug in VirtualCompliance which prevented the save of the reports
  doc/changelog.d/6165.fixed.md
  src/ansys/aedt/core/visualization/post/compliance.py
Labels: bug

#6143 FEAT: Add circuit extension
  doc/changelog.d/6143.added.md
  doc/source/User_guide/pyaedt_extensions_doc/circuit/circuit_configuration.rst
  doc/source/_static/extensions/circuit_config_ui.png
  doc/source/_static/extensions/circuit_config_workflow.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
  ignore_words.txt
  src/ansys/aedt/core/extensions/circuit/circuit_configuration.py
  src/ansys/aedt/core/extensions/circuit/images/large/circuit_config.png
  src/ansys/aedt/core/extensions/circuit/toolkits_catalog.toml
  tests/system/visualization/conftest.py
  tests/system/visualization/example_models/T45/circuit_config.json
  tests/system/visualization/test_45_workflows.py
Labels: maintenance

#6189 FIX: fixed add_pyaedt_to_aedt
  doc/changelog.d/6189.fixed.md
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/toolkit_installer_from_aedt.py
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/extensions/customize_automation_tab.py
  src/ansys/aedt/core/extensions/installer/pyaedt_installer.py
  src/ansys/aedt/core/extensions/templates/pyaedt_console.py_build
  src/ansys/aedt/core/extensions/templates/pyaedt_utils.py
Labels: bug

#6180 FIX: Check if property key exist in boundary for configuration file
  doc/changelog.d/6180.fixed.md
  src/ansys/aedt/core/generic/configurations.py
Labels: bug

#6190 CI: Minor changes to update jobs name
  .github/workflows/ci_cd.yml
  doc/changelog.d/6190.maintenance.md
Labels: maintenance

#6204 FIX: fix a bug in the reduce method
  doc/changelog.d/6204.fixed.md
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
Labels: bug
