Repository ansys/pyaedt, pull requests merged in 2025-02, with the labels that each got.

#5716 CI: Fix permission to release
  .github/workflows/ci_cd.yml
Labels: maintenance

#5659 FEAT: Identify coupling 5649
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  tests/system/general/example_models/T44/_causality.txt
  tests/system/general/example_models/T44/_fwslog.txt
  tests/system/general/test_44_TouchstoneParser.py
Labels: enhancement

#5731 FIX: Missed f-string in export_results
  src/ansys/aedt/core/application/analysis.py
Labels: bug

#5646 FEAT: Add distributed filters substrate
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/distributed_substrate.py
  src/ansys/aedt/core/filtersolutions_core/distributed_topology.py
  tests/system/general/test_45_FilterSolutions/test_distributed_filter/test_distributed_substrate.py
Labels: enhancement, testing

#5602 FEAT: Added new Solution Type "DCBiasedEddyCurrent" into Maxwell3D 25R1
  src/ansys/aedt/core/application/design_solutions.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/modules/setup_templates.py
Labels: bug

#5739 FEAT: Add SE documentation
  doc/source/User_guide/extensions.rst
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/workflows/hfss/shielding_effectiveness.py
Labels: enhancement

#5741 FEAT: Wave port integration line
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solve_setup.py
  tests/system/general/test_20_HFSS.py
  tests/system/general/test_28_Maxwell3D.py
Labels: enhancement

#5740 FIX: layout editor from circuit designer is loaded when layouteditor is called
  src/ansys/aedt/core/application/aedt_objects.py
Labels: bug

#5742 FIX: add set_touchstone_model to Hfss3dLayout
  src/ansys/aedt/core/modeler/modeler_pcb.py
  tests/system/general/test_01_3dlayout_edb.py
Labels: bug

#5745 FIX: Do not check license on CI CD
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/general_methods.py
Labels: bug

#5713 FIX: Fix delete port
  src/ansys/aedt/core/hfss3dlayout.py
  tests/system/general/test_41_3dlayout_modeler.py
Labels: bug

#5683 FIX: Enable field plotting with discrete sweep
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/modules/solve_sweeps.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/field.py
  tests/system/general/example_models/T12/Potter_Horn_242.aedtz
  tests/system/general/test_11_Setup.py
  tests/system/general/test_12_PostProcessing.py
  tests/system/general/test_20_HFSS.py
Labels: bug, maintenance

#5762 CI: Temporary deselect FilterSolutions testing
  .github/workflows/ci_cd.yml
Labels: maintenance

#5764 FIX: update native component properties from user defined component
  src/ansys/aedt/core/modeler/cad/components_3d.py
  tests/system/general/test_98_Icepak.py
Labels: bug

#5733 FEAT: Add distributed filters geometry
  doc/source/API/FilterSolutions.rst
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/__init__.py
  src/ansys/aedt/core/filtersolutions_core/distributed_geometry.py
  src/ansys/aedt/core/filtersolutions_core/distributed_substrate.py
  src/ansys/aedt/core/filtersolutions_core/distributed_topology.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/graph_setup.py
  src/ansys/aedt/core/filtersolutions_core/ideal_response.py
  src/ansys/aedt/core/filtersolutions_core/lumped_nodes_and_leads.py
  src/ansys/aedt/core/filtersolutions_core/lumped_parasitics.py
  src/ansys/aedt/core/filtersolutions_core/lumped_topology.py
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_geometry.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_dll_interface.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_ideal_response.py
Labels: enhancement

#5772 FEAT: Add distributed filters radial page parameters
  doc/source/API/FilterSolutions.rst
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/distributed_radial.py
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_radial.py
Labels: enhancement

#5755 REFACTOR: Use Mixin to create boundary
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/mixins.py
  src/ansys/aedt/core/modules/boundary/icepak_boundary.py
  src/ansys/aedt/core/q3d.py
  tests/system/general/test_27_Maxwell2D.py
  tests/system/general/test_28_Maxwell3D.py
  tests/system/general/test_98_Icepak.py
  tests/unit/conftest.py
  tests/unit/test_maxwell_3d.py
Labels: testing

#5779 CHORE: Fix night doc build
  .github/workflows/nightly-docs.yml
Labels: maintenance

#5770 FEAT: Improve RCS plotter class
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
  tests/integration/test_monostatic_rcs_data.py
  tests/system/general/test_48_RCS_export.py
  tests/system/general/test_49_RCS_data_plotter.py
  tests/unit/test_monostatic_rcs_exporter.py
Labels: enhancement

#5780 FIX: RCS export unit test
  tests/unit/test_monostatic_rcs_exporter.py
Labels: bug

#5768 FEAT: refactoring and implementation to export C matrix
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/aedt_versions.py
  src/ansys/aedt/core/generic/design_types.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/post/farfield_exporter.py
  src/ansys/aedt/core/visualization/post/rcs_exporter.py
  tests/system/general/example_models/TMaxwell/export_matrix.aedtz
  tests/system/general/test_27_Maxwell2D.py
  tests/system/general/test_28_Maxwell3D.py
Labels: enhancement

#5789 FIX: Errors in main unresolved conflicts solve_setup.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: bug

#5785 FEAT: Add distributed filters parasitics parameters to the FilterSolutions API
  doc/source/API/FilterSolutions.rst
  src/ansys/aedt/core/filtersolutions.py
  src/ansys/aedt/core/filtersolutions_core/distributed_parasitics.py
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/capacitor_ls_1n.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/capacitor_q_100.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/capacitor_rp_1000.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/capacitor_rs_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/inductor_cp_1n.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/inductor_q_100.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/inductor_rp_1000.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/inductor_rs_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/line_even_conductance_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/line_even_resistance_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/line_min_segment_lengths_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/line_odd_conductance_1.ckt
  tests/system/solvers/test_45_FilterSolutions/resources/Distributed/line_odd_resistance_1.ckt
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_parasitics.py
Labels: enhancement, testing

#5802 FEAT: Add distributed filters parameters to export to desktop page.
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
  tests/system/solvers/conftest.py
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_geometry.py
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_radial.py
  tests/system/solvers/test_45_FilterSolutions/test_distributed_filter/test_distributed_topology.py
  tests/system/solvers/test_45_FilterSolutions/test_export_to_aedt/test_export_to_aedt.py
Labels: enhancement, testing

#5781 FIX: comput power loss
  src/ansys/aedt/core/visualization/post/post_3dlayout.py
Labels: bug

#5815 FEAT: Update export page to give error for properties not in common for lumped and distributed export pages
  tests/system/solvers/test_45_FilterSolutions/test_export_to_aedt/test_export_to_aedt.py
Labels: enhancement

#5814 FIX: Launch extension from a CPython process instead of Ironpython process
  src/ansys/aedt/core/workflows/hfss/shielding_effectiveness.py
  src/ansys/aedt/core/workflows/templates/run_pyaedt_toolkit_script.py_build
Labels: bug

#5820 FIX: Remove site --system-site-packages
  src/ansys/aedt/core/workflows/customize_automation_tab.py
Labels: bug

#5821 FEAT: Skip license check setting
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/settings.py
Labels: enhancement

#5797 REFACTOR: refactoring of analysis.py and general_methods.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/circuit_netlist.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/emit.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/maxwellcircuit.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  src/ansys/aedt/core/modeler/cad/components_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/modeler/pcb/primitives_3d_layout.py
  src/ansys/aedt/core/modeler/schematic.py
  src/ansys/aedt/core/modules/boundary/hfss_boundary.py
  src/ansys/aedt/core/modules/layer_stackup.py
  src/ansys/aedt/core/modules/material_lib.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_3d_layout.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/q3d.py
  src/ansys/aedt/core/rmxprt.py
  src/ansys/aedt/core/twinbuilder.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/field_summary.py
  src/ansys/aedt/core/visualization/post/monitor_icepak.py
  src/ansys/aedt/core/visualization/post/post_circuit.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  tests/system/general/test_01_3dlayout_edb.py
  tests/system/general/test_09_VariableManager.py
  tests/system/general/test_21_Circuit.py
  tests/system/solvers/test_00_analyze.py
Labels: enhancement

#5829 FIX: Get_antenna_data when frequencies are not passed as a list
  src/ansys/aedt/core/hfss.py
  tests/system/solvers/test_00_analyze.py
Labels: bug

#5839 REFACTOR: Clean analysis_3d file
  doc/source/User_guide/pyaedt_file_data/reports.rst
  src/ansys/aedt/core/__init__.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_3d_layout.py
  src/ansys/aedt/core/generic/file_utils.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/q3d.py
  tests/system/general/test_01_3dlayout_edb.py
  tests/system/general/test_01_Design.py
  tests/system/general/test_08_Primitives3D.py
  tests/system/solvers/test_00_analyze.py
Labels: bug
