Repository ansys/pyaedt, pull requests merged in 2025-01, with the labels that each got.

#5617 DOCS: Update ParametricSetups docstring
  src/ansys/aedt/core/modules/design_xploration.py
Labels: documentation

#5607 DOCS: Fix some typos in the installation guide.
  doc/source/Getting_started/Installation.rst
Labels: documentation

#5558 FIX: Mesh assignment update for 24R2 new APIs
  src/ansys/aedt/core/modules/mesh_icepak.py
  tests/system/general/test_98_Icepak.py
Labels: bug

#5606 DOCS: Fix numpy docstyle.
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/analysis_maxwell_circuit.py
  src/ansys/aedt/core/application/analysis_twin_builder.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/design_solutions.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/downloads.py
  src/ansys/aedt/core/emit_core/couplings.py
  src/ansys/aedt/core/emit_core/emit_constants.py
  src/ansys/aedt/core/emit_core/results/revision.py
  src/ansys/aedt/core/filtersolutions_core/attributes.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/lumped_nodes_and_leads.py
  src/ansys/aedt/core/filtersolutions_core/lumped_parasitics.py
  src/ansys/aedt/core/filtersolutions_core/lumped_termination_impedance_table.py
  src/ansys/aedt/core/filtersolutions_core/lumped_topology.py
  src/ansys/aedt/core/filtersolutions_core/multiple_bands_table.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
  src/ansys/aedt/core/generic/aedt_versions.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/generic/data_handlers.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/ibis_reader.py
  src/ansys/aedt/core/generic/load_aedt_file.py
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  src/ansys/aedt/core/modeler/cad/elements_3d.py
  src/ansys/aedt/core/modeler/cad/modeler.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/cad/polylines.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_emit.py
  src/ansys/aedt/core/modeler/geometry_operators.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/modeler/pcb/primitives_3d_layout.py
  src/ansys/aedt/core/modules/boundary/hfss_boundary.py
  src/ansys/aedt/core/modules/material.py
  src/ansys/aedt/core/modules/material_workbench.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/q3d.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/twinbuilder.py
  src/ansys/aedt/core/visualization/advanced/sbrplus/hdm_parser.py
  src/ansys/aedt/core/visualization/post/spisim.py
  src/ansys/aedt/core/visualization/post/spisim_com_configuration_files/com_parameters.py
  src/ansys/aedt/core/workflows/misc.py
Labels: documentation

#5579 REFACTOR: Improve readability vulnerability handling
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/modeler/geometry_operators.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
  src/ansys/aedt/core/modeler/pcb/object_3d_layout.py
  src/ansys/aedt/core/modeler/pcb/primitives_3d_layout.py
  src/ansys/aedt/core/modules/material_workbench.py
  src/ansys/aedt/core/rpc/rpyc_services.py
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  src/ansys/aedt/core/visualization/post/spisim.py
Labels: testing

#5636 FEAT: Improve freq domain tdr adding maximum_time and step_time parameters - issue #5635
  src/ansys/aedt/core/visualization/report/standard.py
  tests/system/general/test_12_PostProcessing.py
Labels: enhancement

#5638 FIX: Move onetwork_data_explorer to AedtObjects
  src/ansys/aedt/core/application/aedt_objects.py
  src/ansys/aedt/core/circuit.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
Labels: bug

#5639 FEAT: ISAR plot
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  tests/system/general/example_models/T49/rcs_metadata.json
  tests/system/general/example_models/T49/rcs_metadata_fake.json
  tests/system/general/test_49_RCS_data_plotter.py
Labels: enhancement

#5601 CHORE: refacto maxwell test
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/solve_setup.py
  tests/system/general/conftest.py
  tests/system/general/example_models/TMaxwell/Motor3D_cyl_gap.aedt
  tests/system/general/example_models/TMaxwell/PlanarTransformer.aedt
  tests/system/general/example_models/TMaxwell/PlanarTransformer_231.aedt
  tests/system/general/example_models/TMaxwell/Transient_StrandedWindings.aedt
  tests/system/general/test_08_Primitives3D.py
  tests/system/general/test_27_Maxwell2D.py
  tests/system/general/test_28_Maxwell3D.py
  tests/system/general/test_29_Mechanical.py
  tests/unit/test_maxwell_3d.py
Labels: testing

#5619 FIX: HFSS Setup error #5618
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modules/setup_templates.py
  src/ansys/aedt/core/workflows/hfss/choke_designer.py
  tests/system/general/test_20_HFSS.py
  tests/system/solvers/test_00_analyze.py
Labels: bug

#5632 FIX: 5620 far field data
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  tests/system/solvers/test_00_analyze.py
Labels: bug

#5654 FIX: Use Get3DComponentDefinitionNames to obtain 3DComponent instances
  src/ansys/aedt/core/modules/boundary/layout_boundary.py
  src/ansys/aedt/core/modules/mesh_icepak.py
Labels: bug

#5652 FIX: default intrinsics
  src/ansys/aedt/core/modules/solve_setup.py
Labels: bug

#5631 FEAT: Add min version decorator
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/application/variables.py
  src/ansys/aedt/core/emit_core/couplings.py
  src/ansys/aedt/core/generic/checks.py
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/generic/errors.py
  src/ansys/aedt/core/generic/general_methods.py
  src/ansys/aedt/core/generic/grpc_plugin_dll_class.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modules/boundary/layout_boundary.py
  src/ansys/aedt/core/modules/mesh.py
  src/ansys/aedt/core/modules/mesh_icepak.py
  src/ansys/aedt/core/visualization/post/field_data.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  tests/system/solvers/test_00_analyze.py
  tests/unit/test_utils.py
Labels: enhancement

#5626 FIX: Fixes to get_object_material_properties method
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/modules/material_lib.py
  tests/system/general/test_03_Materials.py
  tests/system/general/test_98_Icepak.py
Labels: bug

#5666 FIX: Convert near field list name order
  src/ansys/aedt/core/visualization/advanced/misc.py
Labels: bug

#5669 REFACTOR: Improved tests
  pyproject.toml
  tests/system/general/test_01_3dlayout_edb.py
  tests/system/general/test_12_1_PostProcessing.py
Labels: maintenance

#5673 FIX: Load numpy lazily
  src/ansys/aedt/core/q3d.py
Labels: bug

#5697 BUILD: Avoid new attrs release
  pyproject.toml
Labels: maintenance

#5694 CI: Release using trusted publisher
  .github/workflows/ci_cd.yml
Labels: maintenance

#5701 FIX: Use GPRC API by default in Jupyter template
  src/ansys/aedt/core/workflows/installer/jupyter_template.ipynb
Labels: bug

#5705 DOCS: Add Numpy issues
  doc/source/Getting_started/Troubleshooting.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#5640 FEAT: Added support for 25R1 EMI Receiver component RBW and RBW Factor feat…
  src/ansys/aedt/core/visualization/report/emi.py
  tests/system/general/test_12_PostProcessing.py
Labels: enhancement

#5672 FEAT: Shielding effectiveness extension
  doc/source/User_guide/pyaedt_extensions_doc/hfss/shielding.rst
  doc/source/_static/extensions/shielding_ui.png
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  src/ansys/aedt/core/modules/boundary/common.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/workflows/hfss/images/large/shielding.png
  src/ansys/aedt/core/workflows/hfss/shielding_effectiveness.py
  src/ansys/aedt/core/workflows/hfss/toolkits_catalog.toml
  tests/system/general/test_20_HFSS.py
  tests/system/solvers/test_45_workflows.py
Labels: enhancement

#5707 FIX: Removed support to SMRT.py
  pyproject.toml
  src/ansys/aedt/core/modeler/advanced_cad/oms.py
  src/ansys/aedt/core/modeler/modeler_3d.py
  tests/unit/test_utm_latitude_longitude.py
Labels: maintenance

#5712 REFACTOR: Add schematics Page option on create_gnd/create_wire
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
Labels: maintenance

#5708 FEAT: Assign voltage to edges in Maxwell 2D
  src/ansys/aedt/core/maxwell.py
  tests/system/general/test_27_Maxwell2D.py
Labels: bug
