Repository ansys/pyaedt, pull requests merged in 2025-03, with the labels that each got.

#5876 FIX: FilterSolutions document correction
  doc/source/API/FilterSolutions.rst
Labels: bug

#5612 DOCS: Add the changelog feature
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/5612.documentation.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: maintenance, documentation

#5880 FEAT: Add excitations by type for Circuit interface ports
  doc/changelog.d/5880.added.md
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  tests/system/general/test_21_Circuit.py
  tests/system/general/test_22_Circuit_DynamicLink.py
Labels: enhancement

#5817 FEAT: Identify port in get coupling in range
  doc/changelog.d/5817.added.md
  src/ansys/aedt/core/visualization/advanced/touchstone_parser.py
  tests/system/visualization/example_models/T44/HSD_PCIE_UT.aedb/edb.def
  tests/system/visualization/example_models/T44/HSD_PCIE_UT.aedb/stride/model.index
  tests/system/visualization/example_models/T44/HSD_PCIE_UT_main_cutout.s16p
  tests/system/visualization/example_models/T44/_causality.txt
  tests/system/visualization/example_models/T44/_fwslog.txt
  tests/system/visualization/test_44_TouchstoneParser.py
Labels: enhancement

#5888 FIX: Back compatibility with Example repository
  doc/changelog.d/5888.fixed.md
  src/ansys/aedt/core/application/__init__.py
  src/ansys/aedt/core/application/analysis.py
  src/ansys/aedt/core/generic/constants.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/mechanical.py
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_2d.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modeler/circuits/primitives_nexxim.py
  src/ansys/aedt/core/modules/design_xploration.py
  src/ansys/aedt/core/modules/solve_setup.py
Labels: bug, maintenance

#5891 CI: Remove nightly unit test pre-release
  .github/workflows/unit_test_prerelease.yml
  doc/changelog.d/5891.maintenance.md
Labels: maintenance

#5895 CI: Add mandatory token to github release step
  .github/workflows/ci_cd.yml
  doc/changelog.d/5895.maintenance.md
Labels: maintenance

#5893 FIX: Update imported traces to trace property
  doc/changelog.d/5893.fixed.md
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/standard.py
  tests/system/visualization/test_12_1_PostProcessing.py
  tests/system/visualization/test_12_PostProcessing.py
Labels: bug

#5899 CI: Ensure bot uses upper case
  .github/workflows/ci_cd.yml
  doc/changelog.d/5899.maintenance.md
Labels: maintenance

#5900 CI: Fix release workflow
  .github/workflows/ci_cd.yml
  doc/changelog.d/5900.maintenance.md
Labels: maintenance

#5854 FIX: Licensingclient path update for version 252
  doc/changelog.d/5854.fixed.md
  doc/source/Resources/pyaedt_settings.yaml
  src/ansys/aedt/core/generic/file_utils.py
  src/ansys/aedt/core/generic/settings.py
Labels: bug

#5843 FIX: Unstable test fix due to FilterSolutions DLL
  doc/changelog.d/5843.fixed.md
  src/ansys/aedt/core/filtersolutions_core/dll_interface.py
  src/ansys/aedt/core/filtersolutions_core/export_to_aedt.py
  src/ansys/aedt/core/filtersolutions_core/lumped_topology.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_dll_interface.py
Labels: bug, maintenance

#5906 CI: Add attestation to release notes
  .github/workflows/ci_cd.yml
  doc/changelog.d/5906.maintenance.md
Labels: maintenance

#5757 FEAT: Enhance native API coverage common.py
  doc/changelog.d/5757.added.md
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/eye.py
  tests/system/visualization/example_models/T12/m2d_trace_export_table.aedtz
  tests/system/visualization/test_12_1_PostProcessing.py
Labels: enhancement

#5916 REFACTOR: Delete ML patch class
  doc/changelog.d/5916.miscellaneous.md
  pyproject.toml
  src/ansys/aedt/core/misc/patch_svr_model_100MHz_1GHz.joblib
  src/ansys/aedt/core/misc/patch_svr_model_1GHz_10GHz.joblib
  src/ansys/aedt/core/modeler/advanced_cad/stackup_3d.py
  tests/system/general/test_16_3d_stackup.py
Labels: maintenance

#5915 FIX: Choke designer issues
  doc/changelog.d/5915.fixed.md
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/workflows/hfss/choke_designer.py
Labels: bug

#5923 FIX: issue 5864. Solve inside ON for Network objects
  doc/changelog.d/5923.fixed.md
  src/ansys/aedt/core/icepak.py
Labels: bug

#5922 FIX: Prevent solution invalidation in `create_fieldplot_volume`
  doc/changelog.d/5922.fixed.md
  src/ansys/aedt/core/application/design.py
Labels: bug

#5935 FIX: colormap names in folder settings
  doc/changelog.d/5935.fixed.md
  src/ansys/aedt/core/visualization/post/field_data.py
  tests/system/general/test_98_Icepak.py
Labels: bug

#5942 FIX: RCS postprocessing
  doc/changelog.d/5942.fixed.md
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/visualization/advanced/rcs_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  tests/system/visualization/test_48_RCS_export.py
Labels: bug

#5939 REFACTOR: add arg coefficient in core loss mat
  doc/changelog.d/5939.miscellaneous.md
  src/ansys/aedt/core/modules/material.py
Labels: bug

#5928 FIX: "Time" removed from intrinsincs keys in Steady State simulations
  doc/changelog.d/5928.fixed.md
  src/ansys/aedt/core/visualization/post/fields_calculator.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  tests/system/general/example_models/T98/maxT.aedtz
  tests/system/general/test_98_Icepak.py
Labels: bug

#5947 FIX: Fixed IBIS differential buffer creation
  doc/changelog.d/5947.fixed.md
  src/ansys/aedt/core/generic/ibis_reader.py
Labels: bug

#5949 BUILD: Add setuptools bound to avoid PEP639 issues
  doc/changelog.d/5949.dependencies.md
  pyproject.toml
Labels: maintenance

#5943 REFACTOR: pathlib refactor multi-files
  doc/changelog.d/5943.miscellaneous.md
  src/ansys/aedt/core/maxwellcircuit.py
  src/ansys/aedt/core/modeler/cad/object_3d.py
  src/ansys/aedt/core/modeler/modeler_pcb.py
  src/ansys/aedt/core/q3d.py
  tests/system/general/test_01_3dlayout_edb.py
  tests/system/general/test_36_Q2D_PostProcessing.py
  tests/system/visualization/test_12_PostProcessing.py
Labels: enhancement

#5964 FIX: Fix get insertion loss
  doc/changelog.d/5964.fixed.md
  src/ansys/aedt/core/application/analysis_hf.py
  tests/system/general/test_21_Circuit.py
Labels: bug

#5962 DOCS: Clean up changelog issues
  doc/changelog.d/5612.documentation.md
  doc/changelog.d/5757.added.md
  doc/changelog.d/5817.added.md
  doc/changelog.d/5842.miscellaneous.md
  doc/changelog.d/5879.added.md
  doc/changelog.d/5880.added.md
  doc/changelog.d/5881.fixed.md
  doc/changelog.d/5884.dependencies.md
  doc/changelog.d/5885.dependencies.md
  doc/changelog.d/5887.miscellaneous.md
  doc/changelog.d/5888.fixed.md
  doc/changelog.d/5891.maintenance.md
  doc/changelog.d/5893.fixed.md
  doc/changelog.d/5895.maintenance.md
  doc/changelog.d/5903.maintenance.md
  doc/changelog.d/5904.added.md
  doc/changelog.d/5906.maintenance.md
  doc/changelog.d/5908.fixed.md
  doc/changelog.d/5909.added.md
  doc/changelog.d/5910.miscellaneous.md
  doc/changelog.d/5915.fixed.md
  doc/changelog.d/5916.miscellaneous.md
  doc/changelog.d/5917.miscellaneous.md
  doc/changelog.d/5920.added.md
  doc/changelog.d/5922.fixed.md
  doc/changelog.d/5923.fixed.md
  doc/changelog.d/5927.fixed.md
  doc/changelog.d/5935.fixed.md
  doc/changelog.d/5939.miscellaneous.md
  doc/changelog.d/5942.fixed.md
  doc/changelog.d/5962.documentation.md
  doc/source/changelog.rst
Labels: documentation

#5972 FIX: Compatibility with Python 3.8
  doc/changelog.d/5972.fixed.md
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5966 FEAT: Move It extension
  doc/changelog.d/5966.added.md
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/move_it.rst
  doc/source/_static/extensions/move_it_ui.png
  src/ansys/aedt/core/modeler/cad/primitives.py
  src/ansys/aedt/core/workflows/hfss/images/large/move_it.png
  src/ansys/aedt/core/workflows/hfss/move_it.py
  src/ansys/aedt/core/workflows/hfss/toolkits_catalog.toml
  tests/system/visualization/test_45_workflows.py
Labels: enhancement

#5979 FIX: make get_field_extremum more resilient
  doc/changelog.d/5979.fixed.md
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#5974 CI: Update vale logic to leverage reviewdog20
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/changelog.d/5974.maintenance.md
Labels: maintenance
