Repository ansys/pyaedt, pull requests merged in 2025-07, with the labels that each got.

#6351 FIX: fixed the way to retrieve non_graphical variable
  doc/changelog.d/6351.fixed.md
  src/ansys/aedt/core/modeler/schematic.py
Labels: bug

#6352 CHORE: Update minimum python version
  README.md
  doc/changelog.d/6352.maintenance.md
  doc/source/Getting_started/ClientServer.rst
  doc/source/Getting_started/Installation.rst
  doc/source/release_1_0.rst
  pyproject.toml
  src/ansys/aedt/core/examples/downloads.py
  tests/integration/test_monostatic_rcs_data.py
  tests/unit/extensions/test_via_design.py
Labels: maintenance, documentation

#6358 FEAT: Assign wave port in Driven Terminal
  doc/changelog.d/6358.added.md
  src/ansys/aedt/core/hfss.py
  tests/system/general/test_20_HFSS.py
Labels: enhancement

#6378 FIX: Symbolstyle return value
  doc/changelog.d/6378.fixed.md
  src/ansys/aedt/core/visualization/report/common.py
Labels: bug

#6384 DOCS: Fix extension contribution code snippets
  doc/changelog.d/6384.documentation.md
  doc/source/Getting_started/Contributing.rst
Labels: documentation

#6383 FIX: Refactoring of component_array creation
  doc/changelog.d/6383.fixed.md
  doc/source/Resources/pyaedt_settings.yaml
  doc/source/User_guide/settings.rst
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/modeler/cad/component_array.py
  tests/system/general/example_models/T20/Circ_Patch_5GHz_232.a3dcomp
  tests/system/general/example_models/T20/RectProbe_ATK_251.a3dcomp
  tests/system/general/example_models/T20/array_simple.json
  tests/system/general/example_models/T20/array_simple_232.json
  tests/system/general/test_20_HFSS.py
  tests/system/solvers/test_00_analyze.py
Labels: bug

#6150 DOCS: improving documentation of Maxwell class
  doc/changelog.d/6150.documentation.md
  src/ansys/aedt/core/maxwell.py
Labels: documentation

#6407 CI: Temporary fix for vtk-osmesa
  .github/workflows/ci_cd.yml
  .github/workflows/manual_draft.yml
  doc/Makefile
  doc/changelog.d/6407.maintenance.md
  doc/make.bat
Labels: maintenance

#6418 FIX: Subprocess call doesn't accept check
  doc/changelog.d/6418.fixed.md
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: bug

#6372 REFACTOR: Point cloud extension and tests
  doc/changelog.d/6372.miscellaneous.md
  src/ansys/aedt/core/extensions/misc.py
  src/ansys/aedt/core/extensions/project/points_cloud.py
  src/ansys/aedt/core/extensions/templates/template_get_started.py
  tests/system/extensions/test_45_extensions.py
  tests/system/extensions/test_move_it.py
  tests/system/extensions/test_points_cloud.py
  tests/system/extensions/test_template_extension.py
  tests/unit/extensions/test_extension_common.py
  tests/unit/extensions/test_move_it.py
  tests/unit/extensions/test_points_cloud.py
  tests/unit/extensions/test_template_extension.py
Labels: enhancement

#6423 FEAT: add vector fields names in extension
  doc/changelog.d/6423.added.md
  src/ansys/aedt/core/extensions/maxwell3d/fields_distribution.py
  src/ansys/aedt/core/extensions/maxwell3d/vector_fields.json
Labels: enhancement

#6436 FIX: Import CAD with None value in control file
  doc/changelog.d/6436.fixed.md
  src/ansys/aedt/core/hfss3dlayout.py
Labels: bug

#6458 FIX: edb import
  doc/changelog.d/6458.fixed.md
  src/ansys/aedt/core/edb.py
  tests/system/extensions/test_cutout.py
Labels: bug

#6454 FIX: Fix indentation when loading EMIT revision
  doc/changelog.d/6454.fixed.md
  src/ansys/aedt/core/emit_core/results/revision.py
Labels: bug

#6456 TEST: Temporary skip test in linux 2025R2
  doc/changelog.d/6456.test.md
  tests/system/extensions/test_via_design.py
Labels: testing

#6448 FIX: Fix a typo error which was preventing optislang setup to be populated.
  doc/changelog.d/6448.fixed.md
  src/ansys/aedt/core/modules/design_xploration.py
  tests/system/general/test_11_Setup.py
Labels: bug
