Repository ansys/pyaedt, pull requests merged in 2025-08, with the labels that each got.

#6486 FIX: Export model obj usage of relative path
  doc/changelog.d/6486.fixed.md
  src/ansys/aedt/core/visualization/post/post_common_3d.py
Labels: bug

#6428 FEAT: add create ports by nets function
  doc/changelog.d/6428.added.md
  src/ansys/aedt/core/hfss3dlayout.py
  tests/system/general/test_01_3dlayout_edb.py
Labels: enhancement

#6331 FEAT: Add submit job class
  doc/changelog.d/6331.added.md
  doc/changelog.d/6349.miscellaneous.md
  doc/changelog.d/6398.miscellaneous.md
  doc/changelog.d/6399.miscellaneous.md
  doc/source/Resources/pyaedt_settings.yaml
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/generic/scheduler.py
  src/ansys/aedt/core/generic/settings.py
  src/ansys/aedt/core/misc/Job_Settings_Template.txt
  tests/unit/test_scheduler.py
  tests/unit/test_utils.py
Labels: enhancement

#6468 DOCS: documentation improvement of create_report method
  doc/changelog.d/6468.documentation.md
  src/ansys/aedt/core/visualization/post/common.py
Labels: documentation

#6367 REFACTOR: Pathlib in multiple files
  doc/changelog.d/6367.miscellaneous.md
  src/ansys/aedt/core/application/analysis_3d.py
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/generic/file_utils.py
  src/ansys/aedt/core/hfss.py
  src/ansys/aedt/core/hfss3dlayout.py
  src/ansys/aedt/core/icepak.py
  src/ansys/aedt/core/internal/filesystem.py
  src/ansys/aedt/core/internal/grpc_plugin_dll_class.py
  src/ansys/aedt/core/internal/load_aedt_file.py
  src/ansys/aedt/core/maxwell.py
  src/ansys/aedt/core/maxwellcircuit.py
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  src/ansys/aedt/core/modules/solve_setup.py
  src/ansys/aedt/core/visualization/advanced/farfield_visualization.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  tests/system/extensions/test_points_cloud.py
  tests/system/general/test_27_Maxwell2D.py
  tests/system/general/test_98_Icepak.py
  tests/system/solvers/conftest.py
  tests/system/solvers/test_00_analyze.py
  tests/system/solvers/test_01_pdf.py
  tests/system/visualization/test_12_1_PostProcessing.py
  tests/system/visualization/test_12_PostProcessing.py
  tests/system/visualization/test_46_FarField.py
  tests/unit/test_generic_filesystem.py
Labels: testing

#6489 DOCS: improving primitives maxwell circuit documentation
  doc/changelog.d/6489.documentation.md
  src/ansys/aedt/core/modeler/circuits/primitives_maxwell_circuit.py
Labels: documentation

#6483 FIX: Icepak boundary update is missing
  doc/changelog.d/6483.fixed.md
  src/ansys/aedt/core/generic/configurations.py
Labels: bug

#6521 DOCS: improving Maxwell circuit documentation
  doc/changelog.d/6521.documentation.md
  src/ansys/aedt/core/maxwellcircuit.py
Labels: documentation

#6571 FIX: Move test_via_design_examples_success to unit tests
  doc/changelog.d/6571.fixed.md
  tests/system/extensions/test_via_design.py
  tests/unit/extensions/test_via_design.py
Labels: bug

#6577 FIX: configure layout test
  doc/changelog.d/6577.fixed.md
  src/ansys/aedt/core/extensions/project/resources/configure_layout/template.py
Labels: bug
