Repository ansys/pyaedt, pull requests merged in 2025-04, with the labels that each got.

#5892 REFACTOR: Improve API and security in Desktop
  doc/changelog.d/5892.miscellaneous.md
  doc/source/User_guide/index.rst
  doc/source/User_guide/security_consideration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/desktop.py
  src/ansys/aedt/core/icepak.py
  tests/system/general/conftest.py
  tests/unit/test_desktop.py
Labels: testing

#5993 FIX: Copy Design #5623
  doc/changelog.d/5993.fixed.md
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/desktop.py
  tests/system/general/test_01_Design.py
Labels: bug

#5997 BUILD: Update install targets and dependencies
  doc/changelog.d/5997.dependencies.md
  doc/source/Getting_started/Installation.rst
  doc/source/Resources/pyaedt_installer_from_aedt.py
  pyproject.toml
  src/ansys/aedt/core/workflows/project/version_manager.py
Labels: maintenance

#6002 BUILD: Temporary add bound to wheel
  doc/changelog.d/6002.dependencies.md
  pyproject.toml
Labels: maintenance

#5999 CI: Add dependabot cooldown for pip
  .github/dependabot.yml
  doc/changelog.d/5999.maintenance.md
Labels: maintenance

#6001 DOCS: Add log and nosec in checked subprocess calls
  doc/changelog.d/6001.documentation.md
  doc/source/Resources/pyaedt_installer_from_aedt.py
  doc/source/Resources/toolkit_installer_from_aedt.py
Labels: documentation

#6011 FIX: adding missing argument for 2d electrostatic balloon BC
  doc/changelog.d/6011.fixed.md
  src/ansys/aedt/core/maxwell.py
  tests/system/general/test_27_Maxwell2D.py
Labels: bug

#5931 FIX: Insert row fix for tables
  doc/changelog.d/5931.fixed.md
  src/ansys/aedt/core/filtersolutions_core/lumped_termination_impedance_table.py
  src/ansys/aedt/core/filtersolutions_core/multiple_bands_table.py
  src/ansys/aedt/core/filtersolutions_core/optimization_goals_table.py
  src/ansys/aedt/core/filtersolutions_core/transmission_zeros.py
  tests/system/solvers/test_45_FilterSolutions/test_export_to_aedt/test_optimization_goals_table.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_multiple_bands_table.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_transmission_zeros.py
  tests/system/solvers/test_45_FilterSolutions/test_lumped_filter/test_lumped_termination_impedance_table.py
Labels: bug

#6021 FEAT: extensions link
  doc/changelog.d/6021.added.md
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/workflows/maxwell3d/transformer_loss_distribution.py
  src/ansys/aedt/core/workflows/project/points_cloud.py
Labels: enhancement

#6024 REFACTOR: pathlib refactor primitives_circuit.py
  doc/changelog.d/6024.miscellaneous.md
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
Labels: enhancement, maintenance

#6032 BUILD: Remove patch on build
  .github/workflows/ci_cd.yml
  doc/changelog.d/6032.dependencies.md
  pyproject.toml
Labels: maintenance

#6031 BUILD: Refactor install targets
  doc/changelog.d/6031.dependencies.md
  pyproject.toml
Labels: maintenance

#6023 FIX: Compliance contour BER check
  doc/changelog.d/6023.fixed.md
  src/ansys/aedt/core/visualization/post/compliance.py
Labels: bug

#6000 CI: Pin actions version and avoid dependabot autorun
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/manual_draft.yml
  doc/changelog.d/6000.maintenance.md
Labels: maintenance

#6043 FIX: Improve extension unit tests using ANSYS-HSD_V1 file
  doc/changelog.d/6043.fixed.md
  src/ansys/aedt/core/workflows/hfss/choke_designer.py
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
  src/ansys/aedt/core/workflows/hfss3dlayout/post_layout_design_toolkit.py
  src/ansys/aedt/core/workflows/hfss3dlayout/via_clustering_extension.py
  src/ansys/aedt/core/workflows/project/configure_edb.py
  tests/system/visualization/test_45_workflows.py
Labels: bug

#6027 FEAT: populate named expressions and improve doc
  doc/changelog.d/6027.added.md
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/maxwell/fields_distribution.rst
  doc/source/User_guide/pyaedt_extensions_doc/maxwell/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/maxwell/transformer_loss_distribution.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/point_cloud_generator.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/points_cloud_generator.rst
  doc/source/_static/extensions/fields_distribution.png
  doc/source/_static/extensions/fields_distribution_browse.png
  doc/source/_static/extensions/fields_distribution_pop_up.png
  doc/source/_static/extensions/transformer_loss_distribution.png
  src/ansys/aedt/core/workflows/hfss/toolkits_catalog.toml
  src/ansys/aedt/core/workflows/maxwell3d/fields_distribution.py
  src/ansys/aedt/core/workflows/project/points_cloud.py
  tests/system/visualization/example_models/T45/hv_terminal.pts
  tests/system/visualization/test_45_workflows.py
Labels: enhancement

#5937 FIX: Exception error for multiple design
  doc/changelog.d/5937.fixed.md
  src/ansys/aedt/core/filtersolutions.py
  tests/system/solvers/test_45_FilterSolutions/test_filter/test_attributes.py
  tests/system/solvers/test_45_FilterSolutions/test_raise_error.py
Labels: bug

#6066 FIX: fix extension manager + add missing icon fields distribution
  doc/changelog.d/6066.fixed.md
  src/ansys/aedt/core/workflows/maxwell2d/toolkits_catalog.toml
  src/ansys/aedt/core/workflows/maxwell3d/fields_distribution.py
  src/ansys/aedt/core/workflows/maxwell3d/images/large/fields_distribution.png
  src/ansys/aedt/core/workflows/maxwell3d/toolkits_catalog.toml
  tests/system/visualization/test_45_workflows.py
Labels: enhancement

#6071 FIX: Return value of download_icepak_3d_component
  doc/changelog.d/6071.fixed.md
  src/ansys/aedt/core/examples/downloads.py
Labels: bug

#6077 FEAT: Add assignment argument to plane wave
  doc/changelog.d/6077.added.md
  src/ansys/aedt/core/hfss.py
  tests/system/general/test_20_HFSS.py
Labels: enhancement

#6079 FIX: Speedup extension cutout
  doc/changelog.d/6079.fixed.md
  src/ansys/aedt/core/workflows/hfss3dlayout/cutout.py
Labels: bug

#6083 FIX: Only force download file if specified
  doc/changelog.d/6083.fixed.md
  src/ansys/aedt/core/examples/downloads.py
Labels: bug

#6088 FIX: Fix locale error that happens after matplotlib plot is created
  doc/changelog.d/6088.fixed.md
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
Labels: bug

#6091 FIX: Remove dummy project fixture
  doc/changelog.d/6091.fixed.md
  tests/system/general/test_27_Maxwell2D.py
  tests/system/general/test_28_Maxwell3D.py
Labels: bug

#6092 FIX: Schematic name argument optional in edit_external_circuit method
  doc/changelog.d/6092.fixed.md
  src/ansys/aedt/core/maxwell.py
  tests/system/general/test_35_MaxwellCircuit.py
Labels: bug

#6078 DOCS: Update priority level in doctree removal
  doc/changelog.d/6078.documentation.md
  doc/source/conf.py
Labels: maintenance, documentation
