Repository ansys/pyaedt, pull requests merged in 2025-06, with the labels that each got.

#6223 FIX: edit_external_circuit move lists
  doc/changelog.d/6223.fixed.md
  src/ansys/aedt/core/maxwell.py
Labels: bug

#6231 DOCS: Fix docstrings to comply with numpydoc style.
  doc/changelog.d/6231.documentation.md
  src/ansys/aedt/core/extensions/hfss/move_it.py
  src/ansys/aedt/core/visualization/post/field_summary.py
  src/ansys/aedt/core/visualization/post/post_3dlayout.py
  src/ansys/aedt/core/visualization/post/post_icepak.py
  src/ansys/aedt/core/visualization/post/post_maxwell.py
Labels: documentation

#6227 REFACTOR: Import nastran extension and tests
  .github/workflows/ci_cd.yml
  doc/changelog.d/6227.miscellaneous.md
  src/ansys/aedt/core/extensions/misc.py
  src/ansys/aedt/core/extensions/project/import_nastran.py
  src/ansys/aedt/core/visualization/advanced/misc.py
  tests/system/extensions/test_45_extensions.py
  tests/system/extensions/test_import_nastran.py
  tests/unit/extensions/test_import_nastran.py
Labels: maintenance

#6232 CI: Update labeler permissions
  .github/workflows/label.yml
  doc/changelog.d/6232.maintenance.md
Labels: maintenance

#6237 FEAT: Toggle net type in Q3D
  doc/changelog.d/6237.added.md
  src/ansys/aedt/core/q3d.py
  tests/system/solvers/test_31_Q3D.py
Labels: enhancement

#6246 FIX: Import graphic dependencies if needed
  doc/changelog.d/6246.fixed.md
  src/ansys/aedt/core/application/design.py
  src/ansys/aedt/core/q3d.py
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/post_common_3d.py
  src/ansys/aedt/core/visualization/post/solution_data.py
  tests/system/solvers/test_31_Q3D.py
Labels: bug

#6250 FIX: EMI Receiver report
  doc/changelog.d/6250.fixed.md
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/post/compliance.py
  src/ansys/aedt/core/visualization/report/emi.py
Labels: bug

#6221 FEAT: FRTM new methods and DOA new features
  doc/changelog.d/6221.added.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/visualization/advanced/doa.py
  src/ansys/aedt/core/visualization/advanced/frtm_visualization.py
  src/ansys/aedt/core/visualization/plot/matplotlib.py
  tests/system/visualization/test_FRTM_data_plotter.py
  tests/system/visualization/test_doa.py
Labels: enhancement

#6222 FEAT: via design extension
  doc/changelog.d/6222.added.md
  doc/source/User_guide/extensions.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/configure_edb.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/index.rst
  doc/source/User_guide/pyaedt_extensions_doc/project/via_design.rst
  doc/source/_static/extensions/via_design.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/aedt/core/extensions/misc.py
  src/ansys/aedt/core/extensions/project/images/large/via_design_icon.png
  src/ansys/aedt/core/extensions/project/resources/via_design/package_diff.toml
  src/ansys/aedt/core/extensions/project/resources/via_design/pcb_diff.toml
  src/ansys/aedt/core/extensions/project/resources/via_design/pcb_rf.toml
  src/ansys/aedt/core/extensions/project/resources/via_design/via_design_pcb_diff.png
  src/ansys/aedt/core/extensions/project/resources/via_design/via_design_pkg_diff.png
  src/ansys/aedt/core/extensions/project/resources/via_design/via_design_rf.png
  src/ansys/aedt/core/extensions/project/toolkits_catalog.toml
  src/ansys/aedt/core/extensions/project/via_design.py
  tests/system/extensions/test_via_design.py
  tests/unit/extensions/test_advanced_fields_calculator.py
  tests/unit/extensions/test_import_nastran.py
  tests/unit/extensions/test_template_extension.py
  tests/unit/extensions/test_via_design.py
Labels: enhancement

#6280 FIX: Refactor Move IT extension with ExtensionCommon
  doc/changelog.d/6280.fixed.md
  src/ansys/aedt/core/extensions/hfss/move_it.py
  src/ansys/aedt/core/extensions/misc.py
  tests/system/extensions/test_45_extensions.py
  tests/system/extensions/test_move_it.py
  tests/unit/extensions/test_extension_common.py
  tests/unit/extensions/test_move_it.py
Labels: enhancement

#6295 DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/6295.documentation.md
Labels: maintenance

#6299 FIX: Parametrics fix in add_from_file for Maxwell
  doc/changelog.d/6299.fixed.md
  src/ansys/aedt/core/modules/design_xploration.py
  tests/system/general/test_11_Setup.py
Labels: bug

#6305 DOCS: Add space between badges.
  README.md
  doc/changelog.d/6305.documentation.md
Labels: documentation

#6303 DOCS: Add guide line on how to develop an extension
  doc/changelog.d/6303.documentation.md
  doc/source/Getting_started/Contributing.rst
Labels: documentation

#6312 CHORE: Skip not stable EMIT tests
  doc/changelog.d/6312.maintenance.md
  tests/system/solvers/test_26_emit.py
Labels: bug

#6324 FIX: Dotnet use runtime spec
  doc/changelog.d/6324.fixed.md
  src/ansys/aedt/core/internal/clr_module.py
Labels: bug

#6332 FIX: Skip Move on Circuit if it is running on linux in non-graphical mode
  doc/changelog.d/6332.fixed.md
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/schematic.py
  tests/system/general/test_21_Circuit.py
Labels: bug
