Repository ansys/pyaedt, pull requests merged in 2025-09, with the labels that each got.

#6583 BUILD(pip): Update ansys-sphinx-theme range from <1.6 to <1.7
  doc/changelog.d/6583.dependencies.md
  pyproject.toml
Labels: maintenance

#6592 BUILD(ci): Bump ansys/actions into v10.0.15
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/nightly-docs.yml
  doc/changelog.d/6592.dependencies.md
Labels: maintenance

#6598 FIX: via design extension
  doc/changelog.d/6598.fixed.md
  src/ansys/aedt/core/extensions/project/resources/via_design/package_diff.toml
  src/ansys/aedt/core/extensions/project/resources/via_design/pcb_diff.toml
  src/ansys/aedt/core/extensions/project/resources/via_design/pcb_rf.toml
Labels: bug

#6600 FIX: circuit config fixes
  doc/changelog.d/6600.fixed.md
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  tests/system/extensions/example_models/T45/circuit_config.json
Labels: maintenance

#6605 FIX: Aligned ports to the same plane
  doc/changelog.d/6605.fixed.md
  src/ansys/aedt/core/modeler/cad/primitives_3d.py
  tests/system/general/test_08_Primitives3D.py
Labels: bug

#6610 FIX: Fixed configurations.py for circuit import when no port_names is passed
  doc/changelog.d/6610.fixed.md
  src/ansys/aedt/core/generic/configurations.py
  src/ansys/aedt/core/modeler/circuits/object_3d_circuit.py
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
  src/ansys/aedt/core/modeler/schematic.py
Labels: bug

#6617 CI: Improve visualization failure handling
  .github/workflows/ci_cd.yml
  doc/changelog.d/6617.maintenance.md
Labels: maintenance

#6618 FEAT: Added test iframe to the docs
  doc/changelog.d/6618.added.md
  doc/source/Getting_started/Installation.rst
  doc/source/User_guide/pyaedt_extensions_doc/hfss/move_it.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: enhancement

#6640 DOCS: fix doc link
  doc/changelog.d/6640.documentation.md
  doc/source/User_guide/extensions.rst
Labels: bug

#6636 FIX: page connector
  doc/changelog.d/6636.fixed.md
  src/ansys/aedt/core/modeler/circuits/primitives_circuit.py
Labels: bug

#6647 FIX: moved fpdf2 and rpyc in optional dependencies
  doc/changelog.d/6647.fixed.md
  pyproject.toml
Labels: maintenance

#6653 FIX: fixed bug in variations which prevented eye diagram plot
  doc/changelog.d/6653.fixed.md
  src/ansys/aedt/core/visualization/post/common.py
  src/ansys/aedt/core/visualization/report/common.py
  src/ansys/aedt/core/visualization/report/eye.py
  tests/system/general/test_21_Circuit.py
Labels: bug

#6672 CI: Temporary fix doc-build
  .github/workflows/ci_cd.yml
  doc/changelog.d/6672.maintenance.md
Labels: maintenance

#6697 DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/6697.documentation.md
Labels: maintenance

#6696 FIX: Add -- to uv to pass options to pip
  doc/changelog.d/6696.fixed.md
  doc/source/Resources/pyaedt_installer_from_aedt.py
Labels: bug

#6690 FEAT: Panels update automatically after update
  doc/changelog.d/6690.added.md
  src/ansys/aedt/core/extensions/installer/version_manager.py
Labels: enhancement
